[2015-05-13 16:22] #858 closed

[2015-05-13 16:54] danjjohnson commented on #854
Moved to extension repo.

[2015-05-13 16:54] #854 closed

[2015-05-14 09:19] danjjohnson opened #861 "Teacher product selection"
Using Product Vendors, when a teacher creates/edits a course, they can only select from WooCommerce products they have created themselves.

They should also be able to select products created by other users, if they are a vendor admin for that product.

[2015-05-14 09:28] danjjohnson opened #862 "Teacher archive"
The author archive page for teachers currently displays like a blog archive - http://cld.wthms.co/18Drl

It needs to look like a course archive page.

Change "Author Archive | [Teacher name]" to "All courses by [Teacher name]"

Make sure the courses are displayed the same as they are on the course archive page - http://cld.wthms.co/153Ed (except I guess we don't need the course author, as we are o

[2015-05-14 09:30] danjjohnson opened #863 "Email notification on course deletion"
When I delete a course by a teacher, the site admin gets an email saying the course was created.

[2015-05-15 18:10] viniciusrtf opened #864 "Can't activate beta1"
This was my attempt to test 1.8.0-beta1.

Downloaded and installed 1.8.0-beta1 in a fresh WordPress 4.2.2, with default theme.

$ wp plugin activate sensei

PHP Fatal error:  Call to undefined method Sensei_Teacher::activate_role() in /var/www/sensei180b1/wp-content/plugins/sensei/woothemes-sensei.php on line 78
Fatal error: Call to undefined method Sensei_Teacher::activate_role() in /var/www/sens

[2015-05-16 00:56] danieldudzic commented on #857
Bump: _https://woothemes.zendesk.com/agent/tickets/294443_

[2015-05-18 06:26] dwainm commented on #864
@viniciusrtf sorry about that one. Please find the updated bet here: https://github.com/woothemes/sensei/releases/tag/version%2F1.8.0-beta3

[2015-05-18 09:47] dwainm commented on #857
@danieldudzic sorry for the delay. This will be looked at as port of the 1.8.0 release. Still working on a major issue currently but will get to this before release 1.8.0.

[2015-05-18 11:17] danjjohnson opened #865 "Fatal error on learner profile page"
Call to a member function get_learner_full_name() on a non-object in www.sensei-test.dev/wp-content/plugins/woothemes-sensei/classes/class-woothemes-sensei-learner-profiles.php on line 79

[2015-05-18 11:27] stuartduff opened #866 "Analysis > Learners paginaion missing"
The pagination on the learner analysis screen **Analysis > Learners** is not displaying when there is more than 20 learners.

Screenshot: http://cld.wthms.co/14SQp

[2015-05-18 11:33] danjjohnson commented on #577
@dwainm any chance we could add the "Grades quiz automatically" option to bulk edit and quick edit?

[2015-05-18 11:35] dwainm commented on #577
@danjjohnson I didn't add it because automatic grading also depends on the question types so a global switch would be misleading.

[2015-05-18 11:37] danjjohnson opened #867 "Module restriction issues"
- [x] Teachers can still see modules from other users in the course edit screen, if they were created before updating.
- [x] Teachers can see courses by other users in Courses > Order Modules.

[2015-05-18 17:02] stuartduff opened #868 "Clicking the Manage Learners button throws up some PHP errors"
When you goto **Sensei > Learner Management** and click a **Manage Learners** button I get these PHP errors popping up.

Screenshot: http://cld.wthms.co/182db

[2015-05-18 17:04] stuartduff opened #869 "Clicking the Grading button throws up some PHP errors"
When you goto **Sensei > Learner Management** and click a **Grading** button I get these PHP errors popping up.

Screenshot: http://cld.wthms.co/1dYZx

[2015-05-18 17:08] stuartduff opened #870 "Course categories link redirects to main Lessons menu item."
When you click the **Course Categories** menu link in the **Courses** section it seems to show the **Course Categories** but highlights the **Lessons** menu item like this below.

Screenshot: http://cld.wthms.co/N97i

[2015-05-18 17:14] stuartduff opened #871 "Lesson quick edit could do with some UI love."
The lesson quick edit could maybe do with some UI love :)

Screenshot: http://cld.wthms.co/15YG1

[2015-05-19 08:10] danjjohnson commented on #867
@dwainm - Teachers now can't see modules from other users in the course edit screen, but they can still see other users' courses in Courses > Order Modules.

Also, when I first updated, a teacher could not see the modules in his own course (because he didn't create them), but when I assigned the course to admin and then back to the teacher, I could see my modules. This is fine, just wanted to let

[2015-05-19 09:03] dwainm commented on #848
@danjjohnson this one should go with all the admin UI updates we'd like to make :)

[2015-05-19 19:30] danieldudzic opened #873 "Progress bar issue with Modules plugin active"
_Sensei Modules plugin active_

This happens on a course page with modules: http://cld.wthms.co/11nax

It goes away when you deactivate the Modules plugin.

[2015-05-19 19:42] danieldudzic opened #874 "Course progress widget breaks and produces notices"
With `WP_DEBUG` set to `TRUE`:

* Modules plugin active: http://cld.wthms.co/kAIz

* Modules plugin deactivated: http://cld.wthms.co/1kygr

With `WP_DEBUG` set to `FALSE`:

* Modules plugin active: http://cld.wthms.co/10gM6

* Modules plugin deactivated: http://cld.wthms.co/13puK

[2015-05-19 20:30] danieldudzic opened #875 "New course email notification for admin gets sent twice"
Screen: http://cld.wthms.co/1eAv4

[2015-05-19 21:34] danieldudzic opened #876 "The menu doesn't stay expanded for Messages item"
On the Messages screen, all Sensei items should still be visable and the Sensei menu should be expanded ( without having to access the fly-out menu ): http://cld.wthms.co/1cyLV

This also is happening for the "Certificate Templates" item, but I'm not sure whether this is due to the fact that it's being added via an extension. Possible bug too.

[2015-05-19 21:37] danieldudzic opened #877 "Invalid menu highlight for the Add New Course screen"
Currently the "All Courses" is being highlighted, instead of "Add New": http://cld.wthms.co/1huB5

[2015-05-19 21:40] danieldudzic opened #878 "Invalid menu highlight for the Course Categories screen"
Currently it highlights the "Lessons" menu: http://cld.wthms.co/152gq

Should highlight the **Courses > Course Categories** instead.

[2015-05-19 21:55] danieldudzic opened #879 "Invalid menu highlight for the Edit Course screen"
Screenshot: http://cld.wthms.co/17bSs

[2015-05-20 10:02] TinyGiantStudios opened #880 "Quiz answers are not escaped properly"
Link to ticket: https://woothemes.zendesk.com/agent/tickets/295227

In this instance, all ```"``` and ```'``` are appended with a ```\``` when viewed in the backend.

Details of installation:

* WP 4.2.2
* Anti-spam: by webvitaly – 3.5
* BadgeOS: by LearningTimes – 1.4.4
* BadgeOS Sensei Add-On: by Credly – 1.0.2
* Sensei Certificates: by WooThemes – 1.0.9
* Sensei Course Progress: by WooThemes –

[2015-05-20 15:08] danjjohnson commented on #874
Thanks @danieldudzic - the extensions haven't been updated for 8 yet, but there is an issue for this here - https://github.com/woothemes/sensei-course-progress/issues/13

[2015-05-20 15:08] #874 closed

[2015-05-20 15:20] danjjohnson commented on #875
I can't replicate this. @dwainm ?

[2015-05-20 15:44] danjjohnson opened #881 "Typos"
http://cld.wthms.co/1cxpd

[2015-05-21 06:20] dwainm commented on #844
@danjjohnson I can't replicate this one. Course content shows up immediately when user starts taking course.

[2015-05-21 06:21] dwainm commented on #846
Done :)

[2015-05-21 06:22] dwainm commented on #847
Quiz is still being used on the front end. If you set the setting to false the quiz redirects to the lesson. While Sensei is dependant on the quiz post type we will have to keep this enabled.

[2015-05-21 09:58] danjjohnson commented on #844
Not seeing this either @danieldudzic - any more info on how to replicate this? What was your checkout process?

[2015-05-21 10:40] mattyza commented on #847
This is on the quiz type taxonomy though. That should be false, while the
quiz post type remains public.

The taxonomy doesn't need to have a public true unless we use the archive
page, AFAIK.

On Thursday, May 21, 2015, Dwain Maralack <notifications@github.com> wrote:

--
Matt Cohen
Chief Product Officer, WooThemes

http://woothemes.com/
http://matty.co.za/

Ask me questions via Clarity: https://

[2015-05-21 12:00] danjjohnson commented on #871
@dwainm for now I'd say just remove the vertical separator line and increase the margin there instead.

Also reduce the vertical space between the options, and keep the headings consistent.

See the markup and styling of Products quick edit for reference - http://cld.wthms.co/eCX

[2015-05-21 12:07] dwainm commented on #847
Right :) sorry I was looking at the post type @mattyza

[2015-05-21 20:36] dwainm commented on #867
@danjjohnson  I've merged int he limit branch. It is all part of release-1-8-0. Please update your main 1.8.0 branch and test again.

[2015-05-22 14:27] TinyGiantStudios commented on #880
Hosting details as follows:

* Hosting company: https://www.siteground.com
* Package : GoGeek Package
* MySQL version - Database client version: libmysql - 5.1.73
* PHP version - 5.3.29

[2015-05-22 16:12] stuartduff opened #883 "Disable private message setting makes certain custom menus items not display"
Got an interesting one here:)

If you create a custom menu in WordPress with sub menu items and the parent item link is left blank like the screenshot below the menu displays. if Sensei is activated and has the setting  **Disable the private message functions between learners and teachers.** enabled in the settings panel however the menu does not display at all.

Screenshot: http://cld.wthms.co/11

[2015-05-23 01:19] danieldudzic commented on #866
@dwainm I have a customer that has done some debugging on this, and found an easy fix.

I see that you have already pushed some commits, but feel free to have a look, if you are interested: https://woothemes.zendesk.com/agent/tickets/297130

[2015-05-24 15:11] dwainm commented on #865
Thank you! Fixed in release-1-8-0 branch.

[2015-05-24 15:11] dwainm commented on #856
Thank you! Fixed in release-1-8-0 branch.

[2015-05-24 15:12] dwainm commented on #868
Thank you Stu ! Fixed in release-1-8-0 branch.

[2015-05-24 15:13] dwainm commented on #869
Fixed in release-1-8-0 branch.

[2015-05-24 15:13] dwainm commented on #870
Thank you! Fixed in 1.8.0

[2015-05-24 15:15] dwainm commented on #871
UI Update, Thanks @stuartduff  :)

![screen shot 2015-05-24 at 5 14 27 pm](https://cloud.githubusercontent.com/assets/1713474/7788385/6465773e-0238-11e5-861f-3d2e966a68d3.png)

[2015-05-24 15:30] dwainm commented on #862
@danjjohnson This is needed, but there is not enough time to create a solution that replicates the course archive page on the teacher archive in time for 1.8.0.

The very basic solution works: the courses is on the teacher archive. I'm moving this to 1.9 as it falls under UI improvements planned for 1.9.

[2015-05-25 03:45] TinyGiantStudios opened #884 "Reference non-existing class"
Link to ticket: https://woothemes.zendesk.com/agent/tickets/297234

According to the customer:
---
I added a few debug statements into files
- class-woothemes-sensei-analysis.php
- class-woothemes-sensei-analysis-overview.php

and found out the problem is in function prepare_items, line 151 of class-woothemes-sensei-analysis-overview.php.

When you click the search button ```$_GET['s']``` is set t

[2015-05-25 05:55] dwainm commented on #884
Hi Riaan,

Please ask the user to confirm their findings here, by sending them a copy of this zip file:
https://github.com/woothemes/sensei/releases/tag/version%2F1.8.0-beta3

[2015-05-25 07:18] dwainm commented on #879
Fixed in 1.8.0 . Thanks @danieldudzic

[2015-05-25 07:18] #879 closed

[2015-05-25 07:19] dwainm commented on #877
Fixed in 1.8.0

[2015-05-25 07:19] #877 closed

[2015-05-25 07:21] dwainm commented on #878
fixed :)

[2015-05-25 07:21] #878 closed

[2015-05-25 07:21] dwainm commented on #876
Fixed in 1.8.0

[2015-05-25 07:21] #876 closed

[2015-05-25 07:27] dwainm commented on #873
Thanks @danieldudzic, this can only be fixed in the modules extension and we will not update this extension going forward as all the funcitonality is moved into Sensei. Users will have to disable modules to avoid this notice.

cc @TinyGiantStudios @stuartduff @danjjohnson

[2015-05-25 07:27] #873 closed

[2015-05-25 07:30] dwainm commented on #875
@danieldudzic @danjjohnson could not confirm this. I only get one email. @stuartduff  would you mind testing this just so we're 100% there is no bug here.

[2015-05-25 08:58] stefanocastelli opened #885 "translating sensei"
hi,
i'm translating sensei into italian, and i found the work-in-progress 50% translated pot file in transifex, and i'm adding the missing lines.
the header infos of the plugin (woothemes-sensei.php) in the latest release (1.7.7) need to be updated (i'm using it on a 4.2.2 wordpress installation) and needs a couple of lines to be added: i mean the textdomain and path definition:

/*
Plugin Name: S

[2015-05-25 10:25] danjjohnson commented on #885
Thanks @stefanocastelli - This will be added in v1.8

[2015-05-25 10:25] #885 closed

[2015-05-25 11:21] danjjohnson opened #886 "Add New Course menu highlighting"
When you click Add New Course, the All Courses menu item is highlighted.

http://cld.wthms.co/1fm1S

[2015-05-25 11:26] danjjohnson opened #887 "Group course items and module items together"
Can we move the 'Modules' menu item down so it's just above the 'Order Modules' menu item.

That way we will have all the Course items together, followed by the Module items.

http://cld.wthms.co/19h6p

So the order should be:

----> All Courses
----> Add New
----> Course Categories
----> Order Courses
----> Modules
----> Order Modules

[2015-05-25 11:32] danjjohnson commented on #871
Thanks @dwainm - minor tweak here - can we have the inputs aligned on the left, like they are for products? http://cld.wthms.co/1gPGB

[2015-05-25 11:41] danjjohnson opened #888 "Grading error when course has no lessons"
In learner management, if I click the Grading button on a course with no lessons, I get a db error - http://cld.wthms.co/10hOg

[2015-05-25 11:48] danjjohnson commented on #867
@dwainm The "Add Module" link still doesn't work for me (for Teachers and Admins). No console errors, it just doesn't do anything - http://cld.wthms.co/1gQnd

[2015-05-25 11:52] danjjohnson commented on #867
@dwainm When I added a module via the Modules page (as admin) I got a lot of warnings and notices - http://cld.wthms.co/1jarC

[2015-05-25 12:02] danjjohnson opened #889 "Error assigning course to teacher"
When I try to assign a course to a teacher I get the following - http://cld.wthms.co/xhSP

(Although the course does get assigned)

[2015-05-25 12:02] #864 closed

[2015-05-25 12:20] danjjohnson commented on #851
@dwainm now in Courses > Order Modules (as admin), it displays all the duplicated modules from when you assign the course to different teachers - http://cld.wthms.co/168uu

Not sure if this is a problem or not. What do you think?

[2015-05-25 12:42] dwainm commented on #851
@danjjohnson these will show as new modules are created when assigned to a teacher. So each teacher has their own. This is very transparent way to show the admin how the modules are allocated.

[2015-05-25 12:43] dwainm commented on #889
@danjjohnson the latest commits pushed solved this issue.

[2015-05-25 12:43] #889 closed

[2015-05-25 12:49] dwainm commented on #851
Juste to more clear @danjjohnson our soultion to the problem is module duplication  and I want Admins to know this :)

[2015-05-25 12:51] dwainm commented on #867
@danjjohnson the reason this didn't work was that the JS was not minified. I've minified it and it now works. Please make sure you have the latest minified files as in this commit:  https://github.com/woothemes/sensei/commit/0964d50d381fd2000e3fb6e3a25352f04f534972

[2015-05-25 12:57] dwainm commented on #887
+1 @danjjohnson

[2015-05-25 12:57] danjjohnson commented on #851
Makes sense, thanks @dwainm

[2015-05-25 13:22] danjjohnson opened #890 "Module duplicated for admin user"
Test case:

- Log in as admin
- Create a new Course and publish
- Add a module - "Module X" - to the course, and update the course
- Assign the Course to a teacher (a new module is created - "Module X (Teacher name" )
- Assign the Course back to the admin user who created it (another new module is created - "Module X")

The original Module X has the slug /module-x/
The new Module X (Teacher name)

[2015-05-25 14:51] danieldudzic opened #891 "Case sensitive grading"
A customer has requested for a way to make the grading case sensitive:

Example of how it currently works:

Dwain has suggested the following ways to implement this:

* Filter
* Option per question
* Global option that apply to all questions.

_Link to the ticket: https://woothemes.zendesk.com/agent/tickets/296064_

[2015-05-25 15:01] dwainm commented on #857
@danieldudzic After looking at this some more I'll need more time for testing and diagnosis. Please tell the user that this is important to us but it will not be ready for the 1.8.0 release. We will start looking at this bug immediately after 1.8.0.

[2015-05-26 05:47] danjjohnson commented on #891
@dwainm always best to avoid adding an option unless absolutely necessary.

For now I'd say we enable this via a filter. If there's a lot of demand for it, we can add a global option.

I think an option per question is probably overkill at this stage.

[2015-05-26 07:21] danjjohnson commented on #505
@warrendholmes can you create the equivalent of this json file for Sensei extensions?

http://d3t0oesq8995hv.cloudfront.net/woocommerce-addons.json

Or let me know who to ask? Thanks!

[2015-05-26 08:16] danjjohnson commented on #841
@dwainm I'm still getting the issue where learners seem to be removed after clicking "Remove from Course", but on refresh they are still there.

[2015-05-26 09:25] davidpagepsycle commented on #884
The search variable is defined in the latest branch (see https://github.com/woothemes/sensei/blob/release-1-8-0/classes/class-woothemes-sensei-list-table.php#L47) on Sensei_List_Table which the 4 tables above inherit from, but not in the beta3 zip download.

[2015-05-26 09:25] davidpagepsycle opened #893 "Cannot over ride default auto grading logic"
Prior to v1.7.4 the default value to the filter 'sensei_pre_grade_question_auto' was false ( see https://github.com/woothemes/sensei/blob/version/1.7.3/classes/class-woothemes-sensei-utils.php#L665-L666 ) which meant that the auto grade logic for built in question types (such as gap-fill) could be overwritten, as a return of a correct grade (1+) or an in-correct grade (0) would cause the built in

[2015-05-26 09:28] dwainm commented on #884
Thanks @davidpagepsycle I'll be tagging 1.8rc1 tonight. It will be part of that.

@TinyGiantStudios,  After tagging it tonight, you'll find it in this list: https://github.com/woothemes/sensei/releases

Please rather send the rc1 zip.

[2015-05-26 12:33] danjjohnson commented on #880
@TinyGiantStudios we're having trouble replicating this.

Do you know if the user previously updated from 1.6.9 or lower?

If so, were their quizzes (and questions/answers) saved before updating?

Can you ask them to test by creating a new test lesson/quiz with new questions, and see if the issue still occurs.

[2015-05-26 14:43] dwainm commented on #883
Very interesting catch @stuartduff  :)

This is related to this issue: https://github.com/woothemes/sensei/issues/766  . the functionality will have to be changed completely to make sure this bug doesn't happen. I'll leave this open and move it to 1.9 so we can look at both issues in conjunction.

[2015-05-26 15:03] dwainm commented on #861
@danjjohnson  this seems to happen even with Sensei disabled. Could you confirm this?

@roykho is there anything else we should do to ensure that the teacher role can access vendor products and create their own?

[2015-05-26 15:10] roykho commented on #861
@dwainm - not too sure about the current version but in the rebuild, the product itself will have post metas that determine the users responsible for the product.  Because one product can have one vendor but with multiple users.  For example one vendor can have a admin and a manager.

[2015-05-27 06:46] danjjohnson opened #894 "Modules error for teachers"
When logged in as a teacher, you can go to Courses > Modules, but you get the "Cheatin are we?" permissions error - http://cld.wthms.co/1kEDF

[2015-05-27 10:20] danjjohnson opened #895 "Update all scripts and stylesheets to use the current version"
This is hardcoded in many places e.g. https://github.com/woothemes/sensei/blob/release-1-8-0/classes/class-woothemes-sensei-admin.php#L301 (1.7.0)

[2015-05-27 20:26] #731 closed

[2015-05-27 20:26] #732 closed

[2015-05-27 20:26] #838 closed

[2015-05-27 20:26] #846 closed

[2015-05-27 20:26] #750 closed

[2015-05-27 20:26] #841 closed

[2015-05-27 20:26] #847 closed

[2015-05-27 20:26] #851 closed

[2015-05-27 20:26] #853 closed

[2015-05-27 20:26] #856 closed

[2015-05-27 20:26] #860 closed

[2015-05-27 20:26] #863 closed

[2015-05-27 20:26] #865 closed

[2015-05-27 20:26] #866 closed

[2015-05-27 20:26] #867 closed

[2015-05-27 20:26] #868 closed

[2015-05-27 20:26] #869 closed

[2015-05-27 20:26] #870 closed

[2015-05-27 20:26] #871 closed

[2015-05-27 20:26] #881 closed

[2015-05-27 20:26] #886 closed

[2015-05-27 20:26] #887 closed

[2015-05-27 20:26] #888 closed

[2015-05-27 20:26] #890 closed

[2015-05-27 20:26] #894 closed

[2015-05-27 21:50] danieldudzic opened #896 "Using array_push for merging wrong and right answers"
1 => 'foo',
2 => ARRAY (
1 => 'bar',
2 => 'blues'
),
)

You want:

array_push($question_wrong_answers,$v);

1 => 'foo',
2 => 'bar',
3 => 'blues'
)

Not sure, if this is a legit issue, but, I'll leave that to you, Sensei devs.

_Link to the ticket: https://woothemes.zendesk.com/agent/tickets/298530_

[2015-05-28 07:35] danjjohnson commented on #738
@dwainm this is still an issue on new installs.

[2015-05-28 07:36] dwainm commented on #738
@danjjohnson will look at this one now.

[2015-05-28 07:37] danjjohnson commented on #505
@dwainm When Sensei 1.8 is first installed and the welcome page is displayed, the 'Sensei' and 'Questions' menu items are not visible (but Courses and Lessons are).

http://cld.wthms.co/1bc76

[2015-05-28 09:30] davidpagepsycle commented on #896
Quite correct, in some ways.

Array_push is used on 4 of the template files, boolean, multi-line, single-line, and multiple choice. Neither multi-line or single-line use the variables $question_wrong_answers or $question_right_answer, so those lines (and the use of array_push) can be removed.

For boolean only $question_right_answer is used, so again lines with $question_wrong_answers can be remov

[2015-05-28 09:42] danjjohnson commented on #896
@danieldudzic can you relay this to the customer please?

[2015-05-28 10:31] dwainm opened #898 "Upgrade doesn't show plugin welcome screen"
When updating Sensei with  the Helper it doesn't show the welcome splash screen.

[2015-05-28 12:58] dwainm commented on #850
Fixed in 1.8.0

[2015-05-28 12:58] #850 closed

[2015-05-28 13:00] dwainm commented on #844
@danieldudzic closing this as isue seems to only occur on this client's site. Feel free to open if you have more information.

[2015-05-28 13:00] #844 closed

[2015-05-28 13:00] #712 closed

[2015-05-28 13:00] davidpagepsycle opened #899 "Scaling issue with new Teacher filtering ability on Admin -> Courses screen"
Specifically the problem is with course_teacher_filter_options(). It gets all users, then for each user checks if they have the 'edit_courses' capability. The problem with this is that for say 4000 users, that's a single query to get all users, then within WP_User_Query WP does a separate query against every user to update that users' meta cache. I'm seeing over 4,800 queries on the Courses page d

[2015-05-28 13:00] #577 closed

[2015-05-28 13:00] #459 closed

[2015-05-28 13:00] #457 closed

[2015-05-28 13:00] dwainm commented on #457
Part of 1.8.0

[2015-05-28 13:00] dwainm commented on #459
Part of 1.8.0

[2015-05-28 13:00] dwainm commented on #577
Part of 1.8.0

[2015-05-28 13:01] dwainm commented on #712
minified in 1.8.0

[2015-05-28 15:54] dwainm opened #901 "Main Class Properties declare"
- Declare all Sensei sub-objects as properties in the main class so that IDE can pick up on it.

[2015-05-28 21:23] jakecaputo opened #902 "Add Filters to the_progress_statement() and the_progress_meter()"
As they stand now, it doesn't look like there's any way to manipulate these or change where the output placement whatsoever.

[2015-05-29 09:38] danjjohnson opened #904 "Course created email sent twice"
When a teacher creates a new course, the email to admin is being sent twice.

[2015-05-30 15:29] dwainm opened #905 "Depricat lesson_quizzes function"
The lesson_quizzes function should be removed and replaced with lesson_quiz_id function. This is easier to understand and read.

 Keep the original but call the new function.

[2015-06-01 06:56] dwainm opened #906 "Modules cannot add courses from the Modules section"
Move from Modules Extension
---
@stuartduff : The ability to add courses from the Modules sections seems to be broken and no courses or similar are displaying.

Screenshot: http://cld.wthms.co/EfKi

This has been reported by a customer and the same issue is happening on my support installations too as per the screenshot above.

[2015-06-01 07:08] dwainm opened #907 "Add Module column to All Lessons table"
Add Module column to All Lessons table (and Screen Options)

From https://github.com/woothemes/sensei-modules/issues/51

[2015-06-01 08:20] danjjohnson opened #908 "Course progress bar missing"
On courses with modules, the course progress bar is missing from the single course page.

[2015-06-01 08:39] dwainm opened #909 "Remove all code todo's"
1.8.1 all todo’s should be removed and possibly converted into issues on Github. No todo’s must be shipped out to the user.  Also add note to guidelines.

[2015-06-01 08:49] dwainm opened #910 "Allow admin to remove user from course when the user has purchased the course"
Can’t delete user from course when the user has purchased the course. Because the user has the order on his name the only way to remove him completely is to delete the order or move to trash. The hook should only fire on order change not on init or redirects. If the user is removed by admin although the order. This is something that needs to be dealt with careful.

[2015-06-01 08:53] dwainm opened #911 "Confirm : How many times does Sensei add it hooks per WP load cycle."
Sensei is loaded multiple times. Step through to see how many times The sensei Classes are loaded and how many times new of each class is called. Maybe on ajax calls as well? maybe on track backs

[2015-06-01 08:54] dwainm opened #912 "Errors on frontend for non-logged in users."
Make sure no notices show up on front end templates before release 1.8

[2015-06-01 09:00] dwainm opened #913 "Direct link to manage course learner from edit course page"
On the edit course screen there should be a link to manage learners for that course to give admin fewer clicks.

[2015-06-01 09:01] dwainm opened #914 "Double forward slash when loading templates"
Template overide in sensei has double forward slash:  example: /srv/www/wordpress-trunk/wp-content/plugins/woothemes-sensei//templates/single-course.php see the code here: error could be here/classes/class-woothemes-sensei-frontend.php:304

[2015-06-01 09:03] dwainm opened #915 "Remove closing php tags from templates"
Go through all templates and remove closing php tag

[2015-06-01 09:05] dwainm opened #916 "Learner Mangement shouldn't link to edit course screen"
Sensei learner management. Clicking on the course should take you tot he learner management and not the course edit screen.

I think there must be a subscript for editing like in the normal all courses:
manage learners || edit course

[2015-06-01 11:40] davidpagepsycle commented on #902
There is a filter of 'sensei_course_completion_statement' which wraps the progress statement (completed X of Y lessons), but not one for the meter content. However, changing the output and it's placement for both is already possible.

For example on the singular course screen, both of these are output as actions hooked onto 'sensei_course_single_meta', which causes them to show before the main con

[2015-06-01 14:25] danjjohnson opened #917 "Quiz settings reset on update"
If you are using 1.7.7, and you have a lesson with the settings:

"randomize question order" and
"grade quiz automatically"

enabled, when you update to 1.8 those settings are reset to default (unselected).

https://woothemes.zendesk.com/agent/tickets/299764

[2015-06-02 07:28] danjjohnson commented on #917
In fact, the settings won't even save after updating. If you select them and update the lesson, they get deselected again.

@dwainm would be good to get this fixed today before you go on leave.

[2015-06-02 09:09] dwainm commented on #884
@TinyGiantStudios any feedback on this one?

[2015-06-02 09:55] danjjohnson commented on #908
False alarm :)

[2015-06-02 09:55] #908 closed

[2015-06-02 09:56] #906 closed

[2015-06-02 09:56] #912 closed

[2015-06-02 09:56] #917 closed

[2015-06-02 11:32] davidpagepsycle opened #919 "Translation within course->get_progress_statement()"
The problem lies in the lines https://github.com/woothemes/sensei/blob/master/classes/class-woothemes-sensei-course.php#L1544-L1549. The pluralisation is added after the translation has been made. It's possible that the translated word "lesson" doesn't have an "s" added to the end to become plural. For example what if "lesson" was translated to "activity", the message would end up with "activitys"

[2015-06-02 15:18] stuartduff opened #921 "Courses seem to be displaying in the incorrect order"
When viewing New Courses in the Courses Overview page and also within the Course Component widget the ordering is back to front with the oldest course displaying first at the top.

Screenshot of courses: http://cld.wthms.co/ZKGB

Screenshot of order and date in the admin: http://cld.wthms.co/tlPP

[2015-06-02 15:57] danjjohnson commented on #880
@TinyGiantStudios any update here?

[2015-06-02 17:31] Rakhmanov opened #922 "Admin menu titles disappear with translation."
Problem is inside the https://github.com/woothemes/sensei/blob/master/classes/class-woothemes-sensei-posttypes.php#L517.
This code displays blank menu heading.

Changing __ to _x solves the problem.

[2015-06-03 12:10] stuartduff opened #923 "Course Results Course Lessons Template Has A Possible Display Issue"
In the file templates/course-results/course-lessons.php line 109 this code below is used.

[code]

Possibly the the right variable to be counted should be $lessons, otherwise the title "Other Lessons" will always be shown, even with no lessons under it.

[2015-06-03 13:07] thiagolcks commented on #899
In my case the admin course list just stops to load after the hook restrict_manage_posts, so I can't manage the courses. In this project we have more than 21k users. It would be great to have a lighter way to get the list of teachers without getting all users from database.

For now I'm going to remove this action, but if you have a better solution I would love to know.

[2015-06-03 14:40] TinyGiantStudios commented on #880
Have sent through questions; User has since reported the following:

---

"It probably has something to do with 'Magic Quotes'. I upgraded to php 5.4.40 which does not have thsi anymoren and also disabled 'magic quotes'"

[2015-06-03 15:14] danjjohnson opened #924 "Change "in progress" label for courses"
Some people are reporting their learners being confused by the "in progress" indicator on courses:

http://cld.wthms.co/103Cz

The combination of the icon and wording makes people think something is loading and has got stuck.

We should change the icon to something that doesn't look like a spinner, and possibly change the wording to "Course in Progress"

[2015-06-03 16:49] danjjohnson commented on #880
@davidpagepsycle FYI ^

@TinyGiantStudios does this mean they are no longer having an issue with this after upgrading php and disabling Magic Quotes?

[2015-06-03 18:37] danjjohnson commented on #861
@dwainm no I'm only seeing this issue when editing a course, in the WooCommerce Product metabox.

Where are you seeing the same thing with Sensei disabled?

[2015-06-04 06:19] TinyGiantStudios commented on #884
@dwainm - Waiting for feedback from customer :)

[2015-06-04 10:53] davidpagepsycle opened #925 "Use of 'numberposts' breaks quizzes with large number of questions"
We had quizzes with more than 10 questions, updating to Sensei 1.8 caused only the first 10 to show both frontend and in the admin.

Tracked it down to a change within Lesson->lesson_quiz_questions() where the first get_posts() query was changed to a "new WP_Query()" instead (see https://github.com/woothemes/sensei/blob/master/classes/class-woothemes-sensei-lesson.php#L2658 ), except the arguments

[2015-06-04 12:18] danjjohnson opened #929 "Change all instance of 'numberposts' to 'posts_per_page'"
Ref: https://github.com/woothemes/sensei/issues/925

[2015-06-04 13:22] stuartduff opened #930 "Ability to change course and lesson author is no longer present in v1.8.2"
Close out, Dan clarified for me.

[2015-06-04 13:33] danjjohnson commented on #930
To clarify for anyone else confused, admins can still change the course author, but this is now done via the "Teacher" metabox.

You can no longer edit the lesson author. Instead the lesson author will always be the same as that of the course it belongs to.

This is so that a teacher can always view/edit all the lessons in their courses.

[2015-06-04 13:33] #930 closed

[2015-06-04 15:03] danjjohnson commented on #921
@dwainm the default does seem to be oldest first, which doesn't seem right.

If you go to Courses > Order Courses and change the order and save, then that order will be used, but I think the default should be newest first.

[2015-06-04 16:45] mikejolley opened #931 "Author Archive Query Filter is Too Broad"
`
 add_filter( 'pre_get_posts', array( $this, 'add_courses_to_author_archive' ) );
`

The above filter changes the post type of the query if:

`
$query->is_author()
`

**This runs for any query (custom or otherwise) which specifies a post author**. This is too broad.

To see it breaking things, install WP Job Manager and use the [job_dashboard] shortcode. This shows a user all their own listings.

[2015-06-04 19:09] thiagolcks commented on #931
It's breaking the Sensei Certificates plugin as well. In the course page the certificate is not being shown because the **add_courses_to_author_archive** filter is changing the query:
[code]
File sensei-certificates/classes/class-woothemes-sensei-certificates.php line 806.

[2015-06-05 07:01] danjjohnson commented on #922
@Rakhmanov where is the blank menu heading?

Can you provide a screenshot of this issue?

[2015-06-05 07:46] #919 closed

[2015-06-05 07:47] #925 closed

[2015-06-05 10:56] danjjohnson commented on #923
Ref: https://github.com/woothemes/sensei/blob/master/templates/course-results/course-lessons.php#L109

[2015-06-05 11:19] danjjohnson commented on #923
@stuartduff looks like you're right there. @dwainm can you take a look?

Compare to this for reference - https://github.com/woothemes/sensei/blob/25123bfcca97211226031bf41767b5f841348634/classes/class-sensei-modules.php#L1514

[2015-06-05 14:14] stuartduff opened #933 "Module Re-ordering does not seem to function"
The module re-ordering does not seem to function when testing v1.8.3 for myself or the customer and I tested this with Sensei as the only plugin enabled.

Screenshot: http://cld.wthms.co/17RBJ

it seems related to this javascript error.

Screenshot: http://cld.wthms.co/yh8d

[2015-06-05 14:17] Rakhmanov commented on #922
This is mystery, i was searching for the problem 4 hours, finally found. And cant reproduce it again.
Maybe because of the changes making to the translation file, which I translate daily. Can close this issue.

[2015-06-05 14:17] #922 closed

[2015-06-05 14:57] stuartduff opened #934 "View Certificate Link Not Dislaying"
In the latest version of Sensei the View Certificate button no longer seems to display for users when they have completed a course and been awarded a certificate completion on any location.

Screenshot course archive: http://cld.wthms.co/16jbK

All of the settings are enabled for the certificates to display in the Sensei settings and the issue has only seemed to have occurred after the v1.8 from a

[2015-06-05 15:06] danjjohnson commented on #934
See #931 for an explanation of the cause

[2015-06-08 06:18] dwainm commented on #931
Thanks @mikejolley @thiagolcks I'll fix this one in the next minor release.

[2015-06-08 06:22] dwainm commented on #896
Closing this as it is not an issue.

[2015-06-08 06:22] #896 closed

[2015-06-08 06:24] dwainm commented on #592
Closing this as there is a trello card open for this: https://trello.com/c/FODQqAMl/17-reviewing-quiz-logic

[2015-06-08 06:24] #592 closed

[2015-06-08 07:27] dwainm commented on #792
Added in 1.8.0

[2015-06-08 07:27] #792 closed

[2015-06-08 08:35] #777 closed

[2015-06-08 08:42] dwainm opened #935 "Move the Main Sensei class into the base WooThemes-Sensei.php file"
Remove the need for another class for the main Sensei Object as this object scope will decrease as we move functionality into separate, more appropriate classes.

[2015-06-08 10:48] TinyGiantStudios commented on #880
Client feedback as follows:

---
Created new lesson with 'quotes' and "quotes" in the content.
No problem anymore! :)
My actions: update to latest version of PHP and disable 'smart quotes'.

[2015-06-08 14:22] dwainm commented on #880
Very good to know the solution to this one @TinyGiantStudios . @danjjohnson If this comes up again we know what to advise :)

@danieldudzic @stuartduff FYI if anyone else has this issue in future.

[2015-06-08 17:28] dwainm commented on #931
This is fixed and will be in 1.8.4.
- Only filter for users with the teacher role
- Also merge with existing post types instead of overwriting them
- There is also a new filter if users want change the query further

[2015-06-09 00:30] danieldudzic opened #936 "post_types query filter issue"
_Link to the ticket: https://woothemes.zendesk.com/agent/tickets/301711_

cc: @dwainm

[2015-06-09 03:16] jobst opened #937 "Multiple Choice random order (Bug?)"
The line numbers below refer to Sensei 1.7.7

The questions that I used for the problem description below do NOT have set the flag randomize, it is set to NOT randomize.

In /templates/single-quiz/question_type-multiple-choice.php on line 87 you check whether random order is set in post_meta for a particular post-->ID.

If the string is set (i.e. 'on') then you randomize, which is correct.

If not

[2015-06-09 06:37] dwainm commented on #936
@danieldudzic actually solved in https://github.com/woothemes/sensei/issues/931 :) The fix will be out in 1.8.4

Would you mind sending the user the new function code and ask him to check this works for him: https://gist.github.com/anonymous/008e083ae858d4862cbe

[2015-06-09 13:36] stuartduff opened #938 "Contact Teacher buttons only seens to display on Course"
The Contact Teacher button used to display on the Course, Lesson and Quiz.

It now only seems to be displaying on the Course but not on the lesson nor the quiz.

Screenshot Course: http://cld.wthms.co/1019z

Screenshot Lesson: http://cld.wthms.co/1jCCw

[2015-06-09 15:21] dwainm commented on #938
Thanks Stu, This will be looked at in the next bug fix release.

[2015-06-09 15:24] dwainm commented on #937
Hi Jobst,

Thanks for this. It makes sense. I will look at this for the next Bug fix release.

[2015-06-09 15:28] dwainm commented on #931
@mikejolley @thiagolcks This fix is going into 1.8.4. Would you mind taking a look at the fix on this branch:

https://github.com/woothemes/sensei/tree/release-1-8-4

[2015-06-09 15:29] dwainm commented on #899
@davidpagepsycle   @thiagolcks This fix is going into 1.8.4. Would you mind taking a look at the fix on this branch:

https://github.com/woothemes/sensei/tree/release-1-8-4

[2015-06-09 15:29] dwainm commented on #857
@danieldudzic

Please send the user a copy of this branch for testing:
https://github.com/woothemes/sensei/tree/release-1-8-4

The issues should now be fixed.

[2015-06-09 15:41] davidpagepsycle commented on #899
That is certainly better.

Still getting an increase of 340 queries, which is down to get_users() collating the meta data for every user of each role result. If `$user_query_args` is modified to add "`  'fields' => array( 'ID', 'display_name' ) `" then it will only return those 2 fields, saving many user meta data calls.

[2015-06-09 15:46] davidpagepsycle commented on #929
@dwainm Seeing an issue with this change. Changing the many instances of -1 to 500 will break many aspects of Sensei, such as the Analysis pages and their CSV outputs, or Course->course_count() or all the various update routines.

[2015-06-09 15:47] dwainm commented on #899
Thanks @davidpagepsycle only taking what we need as a good idea.

I've update the code to fetch only the ID and the display_name.

[2015-06-09 15:49] dwainm commented on #929
@davidpagepsycle I see what you mean. I'll revert that change and change all 500's to -1. We can look at this in future on a cases by case basis.

[2015-06-10 11:23] stuartduff commented on #933
@danieldudzic @TinyGiantStudios Apparently using the Modules extension allows re-ordering as a workaround for the time being until an update is released.

[2015-06-10 18:48] #899 closed

[2015-06-10 18:48] #929 closed

[2015-06-10 18:48] #931 closed

[2015-06-10 18:48] #857 closed

[2015-06-10 18:51] dwainm commented on #936
@danieldudzic this fix will go out tomorrow morning.

[2015-06-10 18:51] #936 closed

[2015-06-11 12:45] danieldudzic opened #940 "Pagination issues with Sensei shortcodes"
Therefore I can never find 21st, 22nd, 23rd or more couses at anywhere.

_Link to the ticket: https://woothemes.zendesk.com/agent/tickets/301579_

[2015-06-12 01:33] drewhume opened #941 "auto-grading not working for gap fill"
Hey there -
The Gap Fill questions aren't allowing me to select the auto-grade function. It's not a big deal as I can phrase everything into multiple choice (and that works fine) but I just wanted to let you know because it says in the forums here that gap fill should be included in the auto-grade function.

[2015-06-12 14:33] stuartduff opened #942 "Teacher Role Can Add Modules But Not Edit Them"
When logged into the system as a Teacher and in the Teacher dashboard you can add a new Module via the Course edit screen, You cannot however modify any of the modules which you have added as a teacher like their names or delete them if you made a mistake etc.

Screenshot: http://cld.wthms.co/15ruE

[2015-06-12 23:51] danieldudzic opened #943 "Grading calculation/rounding display error"
_Screenshots:_

* https://www.dropbox.com/s/zgbou3a84lsk5lh/Grade-Admin1.png?dl=0
* https://www.dropbox.com/s/fso44wo6aug385g/Grade-Admin2.png?dl=0
* https://www.dropbox.com/s/e77murcsohdvvdz/Grade-UserScreen.png?dl=0

_Link to the ticket: https://woothemes.zendesk.com/agent/tickets/303692_

[2015-06-15 12:07] danjjohnson opened #944 "Shortcodes"
http://ideas.woothemes.com/forums/191508-sensei/suggestions/6861332-shortcodes-for-all-the-things

http://ideas.woothemes.com/forums/191508-sensei/suggestions/4776404-display-course-categories-as-a-shortcode-just-lik

[2015-06-15 13:23] danjjohnson commented on #944
**Current:**
[newcourses] – displays the latest courses
[featuredcourses] – displays the courses marked as featured
[freecourses] – displays courses that do not require payment to take
[paidcourses] – displays courses that require payment to take
[usercourses] – displays the user’s active/completed courses, or a login/register form if they are not logged in.

**Suggested:**
Keep the above for thos

[2015-06-15 16:38] danjjohnson commented on #942
Good point. @dwainm do you think we should give teachers access to the Courses > Modules page, but only allow access to their own modules of course?

[2015-06-15 16:41] danjjohnson commented on #943
In my opinion, we should have the grading calculation use rounding, rather than displaying decimal places.

[2015-06-16 15:21] danjjohnson opened #945 "Lesson Preview setting can't be deactivated"
Once the lesson is set to 'Lesson Preview', you can't disable that setting.

https://woothemes.zendesk.com/agent/tickets/304754

[2015-06-16 15:22] stuartduff opened #946 "Lesson Preview Checkbox Cannot Be Disabled"
If you enable a lesson as a preview lesson and want to then disable that checkbox it's not possible to do so as after updating it is re-checked and activated again.

This is happening on a customers install and on both of my support installs of v1.8.4 when cross testing across multiple installations.

Screenshot: http://cld.wthms.co/167SA

[2015-06-16 15:41] danjjohnson commented on #946
Duplicate of #945

[2015-06-16 15:41] #946 closed

[2015-06-16 15:54] stuartduff commented on #941
This issue has also been confirmed by another customer and myself on my support installs too.

[2015-06-16 20:43] mikeyarce commented on #933
Also if you click here:
![screen shot 2015-06-16 at 1 42 17 pm](https://cloud.githubusercontent.com/assets/3220162/8194001/8d2bcab8-142d-11e5-88c7-87ed8a436964.png)
You get this:
![screen shot 2015-06-16 at 1 42 59 pm](https://cloud.githubusercontent.com/assets/3220162/8194014/a1fa101c-142d-11e5-87d5-94c1441ed84f.png)
it tries to go here: `wp-admin/edit.php?post_type=lesson&page=module-order&cours

[2015-06-17 03:17] Rakhmanov opened #948 "Course not adding with Variable Product"
When ordering Course attached to one of the variation in Variable Product it does not activate in the student's account.

https://github.com/woothemes/sensei/pull/947

[2015-06-17 04:18] Rakhmanov opened #949 "Course list Links for Variable"
In the admin's course list - column Woocommerce Products, displays the name and link to the linked product in store. When this product is Variable then link is going to the variation, which is system post and you unable to edit it. Fix is to link this variation to the main product on which page you can actually edit them. #950

[2015-06-17 09:14] dwainm commented on #943
@danieldudzic when 1.8.5 is out the user can change this using this code:

[code]

It changes the precision point with a new filter that in 1.8.5

Please wait until we release it before letting the user know.

[2015-06-17 09:20] danjjohnson commented on #934
@stuartduff looks like this was fixed in 1.8.4, can you confirm?

[2015-06-17 09:22] dwainm commented on #934
@stuartduff also note that you must run 1.0.10 of the certificate extension.

[2015-06-17 09:22] dwainm commented on #933
Issue fixed :)

@mikeyarce I've also update those links to point to course post type.

[2015-06-17 15:07] stuartduff opened #952 "TextArea on questions seems to put any text on a single line"
When writing a text reply in the textarea for questions any content seems to be crammed onto a single line after submission of the quiz.

This happens for normal text and any code too.

For example this below.

[code]

Becomes.

[code]

[2015-06-18 16:54] #933 closed

[2015-06-18 16:54] #938 closed

[2015-06-18 16:54] #943 closed

[2015-06-18 16:54] #945 closed

[2015-06-19 07:00] dwainm opened #953 "Sensei handles course and module completion ."
The completion data for Courses and Modules is stored independently from it's lessons. It is only linked in the code at certain points in the user's process.

This is wrong because there should be a single source of truth: if all lessons are completed, so should the course and modules they belong to.

The code should not check the completion on the course or on the module, but rather each lesson t

[2015-06-19 09:33] davidpagepsycle commented on #953
Very true. I noticed that for Modules that the 'completeness' of them is stored as user meta, which can massively increase data for each user, quite bad for large sites. After all on WP.com and VIP storing user meta data is practically a no-go.

With the Course completeness it's stored separately and updated every time a lesson changes specifically so that the system doesn't have to check all less

[2015-06-19 09:41] dwainm commented on #953
@davidpagepsycle challenging one here. Currently the integrity of the users course and module status is questionable. There must be simple way to improve the integrity while keeping it efficient.

[2015-06-19 09:55] davidpagepsycle commented on #953
@dwainm The module completeness/statuses I believe (correct me if I'm wrong), are only shown within the Course overview (singular course page) and Module taxonomy archive page. On each of those the code is looping through the lessons of the module, so there's the option of not storing anything regarding the completeness and simply calculate it at those points.

For Courses the code to calculate it

[2015-06-19 09:59] danjjohnson commented on #953
@davidpagepsycle that's exactly what is happening in some cases. Seems to be when updating from pre-1.7 to 1.8+

[2015-06-19 10:05] davidpagepsycle commented on #953
@danjjohnson Ah, well the major upgrade conversion was a 2 step process. Create all the new lessons statuses based on the older 3 entries, then once that is fully complete, create the new course statuses based on the lesson ones. Maybe it's a case of not fully completing the first before starting the second?

[2015-06-19 10:29] dwainm commented on #942
@danjjohnson I'm sure this is possible. If not, I'll have to create a custom "Courses>Modules" page just for teachers.

[2015-06-19 10:35] #901 closed

[2015-06-19 10:35] #787 closed

[2015-06-19 10:35] #895 closed

[2015-06-22 16:38] peppesapienza commented on #952
And sometimes happen this, maybe to random user:

![Image](http://s13.postimg.org/3squedzfb/Schermata_2015_06_22_alle_18_31_37.png)

[2015-06-23 16:38] dwainm opened #956 "Empty brackets in module name when changing course owner from admin to admin"
When moving a course from one admin to another admin users the course is somehow duplicated and the modules are not handled correctly. The course loses the module and this will need to be re-assigned.

reported by @michaeltieso (kudos)

[2015-06-24 03:22] TinyGiantStudios opened #957 "Visual Composer breaks when Sensei is active"
Link to ticket: https://woothemes.zendesk.com/agent/tickets/306654

Have seen a few reports where Visual Composer breaks as soon as Sensei is activated. The developers behind VC mentioned the following:

Uncaught TypeError: jQuery(...).ajaxChosen is not a function in https://www.customerURL.com/wp-content/plugins/woothemes-sensei/assets/js/modules-admin.min.js?ver=1.8.1

[2015-06-24 10:26] TinyGiantStudios commented on #957
Customer updated ticket with login details;

Using Sensei 1.8.5.

[2015-06-24 18:14] stuartduff opened #958 "Redirect logged out users who access a message to login"
Currently when a logged out user accesses the url of a message some of the content is displayed.

Screenshot: http://d.pr/i/lyEI

it might be better if we redirect any requests to a message url from a logged out user to a login screen so as this page is completely hidden until you are logged into WordPress.

[2015-06-24 19:18] Rakhmanov commented on #957
Its due misstype from update, where loading JS. I have made pull request that fixes it.
https://github.com/woothemes/sensei/pull/954

[2015-06-25 03:37] dwainm opened #959 "Round function expects 2 arguments before PHP 5.3"
In utils class round function, we call PHP round with 3 arguments.

This causes a Warning to appear for people running an older version.

[2015-06-25 03:46] dwainm opened #960 "Manage users courses on user edit screen / new user screen"
To new users it is not clear how one should add learner to your site and to a course.

We could add a note with a link to the WP-Create learner .

As part of this we could also hook into the new user screen and allow admins to add new users directly to a course.

[2015-06-25 07:22] danjjohnson commented on #960
Not sure what this means.

+1

[2015-06-26 08:09] NSStringMe commented on #958
+1 I have also created a support ticket on woothemes with problems regarding how this is implemented, and issues it may cause.

https://www.woothemes.com/my-account/tickets/?id=306875

[2015-06-26 11:17] rusuandreirobert commented on #957
It's not only VC, it's almost any JS plugin on the page, and it effects all the pages.
This error doesn't come up on Sensei specific pages tough, so it's pretty funny.

Will this come in the next update ? Because the fast way was to modify the core.

[2015-06-26 16:37] dwainm commented on #958
+1 for this one. It will be in version 1.9

[2015-06-26 17:09] dwainm commented on #957
@TinyGiantStudios @Rakhmanov @TinyGiantStudios this fix is already pulled int release 1.9, but in case users need the fix immediately they can use this plugin version in the mean time: https://github.com/woothemes/sensei/releases/tag/175-quick-fix

[2015-06-27 08:27] solhuebner commented on #958
:+1:

[2015-06-27 08:35] solhuebner commented on #913
:+1:

[2015-06-27 08:36] solhuebner commented on #915
:+1:

[2015-06-27 08:36] solhuebner commented on #916
Good point

[2015-06-27 08:37] solhuebner commented on #934
@stuartduff is this fixed then?

[2015-06-27 08:38] solhuebner commented on #940
Seeing forward to 1.9

[2015-06-27 08:39] solhuebner commented on #942
Would be a good feature!

[2015-06-27 08:41] solhuebner commented on #893
:+1: to fix

[2015-06-27 08:44] solhuebner commented on #891
I think a filter for now may be good but an option per question may be a nice addition in the long run

[2015-06-27 08:51] solhuebner commented on #733
:+1: for getting this into 1.9

[2015-06-27 08:52] solhuebner commented on #720
:+1: as this is a great idea!

[2015-06-27 08:55] danjjohnson commented on #956
@dwainm @michaeltieso I'm not seeing the issue when simply assigning a course to another admin user. Is there more to it than that?

It also didn't lose the modules, but the modules weren't duplicated for the new course teacher.

[2015-06-27 09:43] danjjohnson opened #961 "Issue with modules when importing courses"
If you import a course (e.g. from the Sensei dummy data) and assign the courses to a new user, the modules are still assigned to the original author.

[2015-06-27 17:49] Rakhmanov opened #962 "Line Questions without Grading. #enhancement"
I purpose adding the questions with 0 points.
- user can continue the learning without Teacher, while still responding to questions in the lesson.

This is useful for opinionated responses for single line and multi line.
Hide complete lesson button, because still remain questions. Yet still not require passing grade because questions give 0 points. Right now, when create a question multiple line o

[2015-06-28 22:48] andrewmunsell opened #964 "Allow for "with_front" property of the rewrite rules for custom post types to be toggled"
Right now, my permalink structure is a hardcoded /blog/%POSTNAME%, meaning that by default Sensei will create URLs like /blog/course/foo-bar-- not ideal.

However, by flipping with_front to false, Sensei correctly uses the URL pattern /course/foo-bar while still allowing me to maintain my /blog/%POSTNAME% URLs.

If filters are used instead of hardcoded booleans, Sensei will behave as expected (and

[2015-06-29 13:40] stuartduff opened #965 "Select A Course text on modules is not localized"
The Select A course text at line 882 of the class-sensei-modules.php file is not localized within the file.

Screenshot: http://d.pr/i/1df69

Screenshot of text location in the admin: http://d.pr/i/1cGw6

[2015-06-30 18:45] michaeltieso commented on #956
Looks like the issue may have resolved itself this time. I was able to reproduce this several times before. I also made sure I changed the user before updating. Here's what modules look like for me now:

![screenshot](http://cld.wthms.co/ERMV/4iG09va1+)

Won't be able to work on the site anymore past today unfortunately though (COI)

[2015-06-30 19:23] stuartduff opened #966 "Add a way for admins to export learner data from Learner Management"
When clicking Sensei > Learner Management > Manage learners you can see the learners of a course and it would be nice to be able to bulk download the data for those learners like emails addresses etc

We could maybe add filters so the admin could filter exactly which data they would like exported so if the only want email addresses that's all they get.

Original Suggestion: #309559-zd-woothemes

[2015-07-02 16:21] danjjohnson opened #969 "Improve tabs appearance on My Courses on mobile."
http://ideas.woothemes.com/forums/191508-sensei/suggestions/8487391-don-t-use-tabs-in-the-ui-because-it-sucks-on-mobi

[2015-07-02 19:25] danjjohnson commented on #962
Yes, this seems to be a simple way to enable auto-grading on a quiz with open-ended questions, if they don't require feedback from a teacher.

@dwainm any thoughts? Can you think of any unforeseen complications?

[2015-07-02 19:29] danjjohnson commented on #964
Thanks for the PR @andrewmunsell :)

@dwainm we can add this to v1.9

[2015-07-03 08:46] danjjohnson commented on #956
Hmmm, we still shouldn't have those empty brackets. Will need to investigate this further.

[2015-07-03 09:16] danjjohnson opened #970 "Add course completion screen"
See https://github.com/woothemes/sensei-certificates/issues/73

**UPDATED July 29, 2021 to add requirements**

### Describe the solution you'd like
Add  a new _Course Completion Page_ setting to _Sensei LMS_ > _Settings_ > _General_, similar to the existing _Course Archive Page_ and _My Courses Page_ settings:

![course-completion-page](https://user-images.githubusercontent.com/1190420/126209626-5

[2015-07-03 11:23] danjjohnson opened #971 "LaTeX doesn't work in questions with WP LaTeX plugin"
Using the WP LaTeX plugin by Automattic, latex does not work in questions.

It only works if you use the Beautiful Math module of Jetpack.

https://woothemes.zendesk.com/agent/tickets/310282

[2015-07-03 14:26] danjjohnson opened #972 "Teachers directed to frontend on login"
When teachers log in, they are directed to the site homepage.

They should be directed to wp-admin

[2015-07-03 16:17] danjjohnson opened #973 "Can't move lessons between modules"
From the Lessons > Order Lessons screen, you can only reorder lessons within their current module.

You should be able to drag a lesson from one module to another (I actually thought this was already possible).

[2015-07-05 13:56] SG1006 opened #974 "Uploading Question bank using a Excel file"
All,

I am trying to find out if there is an option to upload a bunch of multiple questions using a text file or csv or excel file format. I can add one question at a time manually , however i am looking to upload using a file.

Thanks
SG1006

[2015-07-06 11:00] stuartduff opened #976 "User Cannot Select Course When Creating A New Module"
When creating a new module a user cannot select a course from the **Search for and select the courses that this module will belong to.** section.

Screenshot: http://d.pr/i/1kpG

Screenshot of my support install: http://d.pr/i/15e94

I can recreate this on a customer site and also on my own support installations.

[2015-07-06 15:17] danjjohnson commented on #974
Hi @SG1006 - Currently there is no way to upload questions via a file, only manually at this stage I'm afraid.

[2015-07-06 15:17] #974 closed

[2015-07-07 09:35] rob-jt opened #977 "Can see learner management if course is a draft"
For the client i'm working for, i need to have this ability. I'm guessing i need to update the filter: 'sensei_learners_main_column_data', but i can not find where it is set.

[2015-07-07 18:02] TinyGiantStudios commented on #941
Link to ticket: https://woothemes.zendesk.com/agent/tickets/305949

On @danjjohnson suggestion: Seems like gap fill questions are again being prevented from allowing to be auto-completed.

[2015-07-08 04:23] dwainm commented on #941
@TinyGiantStudios this one should be part of 1.8.5 :

https://github.com/woothemes/sensei/commit/95c312e469778c61baf1fd8da98f6b56ee76339f

[2015-07-08 07:01] danjjohnson commented on #941
Should be @dwainm but it's still not working in 1.8.5 on my test site. Can you take a look?

[2015-07-08 07:06] danjjohnson opened #978 "Question type contains author name"
When adding a question in a lesson, the author name is added to the question type - http://cld.wthms.co/1bzJ8/3teSVark

[2015-07-08 07:16] danjjohnson commented on #941
@dwainm @TinyGiantStudios on further testing it only seems to happen if the last question you added is a gap fill.

So as a temporary workaround, they should be able to add a new multi-choice question, which will enable them to select auto-grading, then they can delete that extra question and it should still work.

[2015-07-08 11:39] TinyGiantStudios commented on #959
Link to ticket: https://woothemes.zendesk.com/agent/tickets/311484

Anything we can suggest in the meantime?

[2015-07-09 16:03] bwoody74 commented on #957
Hi dwainm I was told on a woothemes  support ticket that I raised to contact you here - I have the same issue with Visual Composer and Sensei 1.8.5 - Visual Composer works fine and the minute Sensei is activated Visual Composer no longer works - deactivate Sensei and it works again.

Stuart asked me to reply to the thread on Github Dwain our Sensei developer should be able to help with this as I d

[2015-07-09 16:34] nah2015 commented on #957
Hello Dwain, I have been having the same issue in regards to Visual Composer and was also referred to this quick fix.  Unfortunately when I upload it and activate it, my Wordpress admin goes completely blank and none of the pages load.  Just a completely white page.

Any insight as to what I'm doing wrong here?

[2015-07-09 19:00] nah2015 commented on #957
Just wanted to say I have since resolved my issues with the quick fix.  Looking forward to the next release.

[2015-07-09 22:32] TinyGiantStudios opened #979 "chosen.js error on lesson » quiz questions » update"
Link to ticket: https://woothemes.zendesk.com/agent/tickets/308196 (it's a massive ticket)

When adding answer feedback directly from within the lesson (screenshot at: http://cld.wthms.co/1jomG/IZB8ZPn9), hitting the "Update" button under the **Quiz Settings** meta box, as well as under the **Publish** meta box, does absolutely nothing.

Console shows the following error:

[code]

---
Is this rela

[2015-07-09 23:21] danieldudzic opened #980 "Invalid prompt message when trying to leave the Add Question page"
After creating a new question, you get this prompt when trying to leave the page: http://cld.wthms.co/1cde8/385BLK1e

*"The changes you made will be lost if you navigate away from this page."*

_Link to the ticket: https://woothemes.zendesk.com/agent/tickets/312272_

[2015-07-10 12:44] danjjohnson opened #982 "Answers disappear after adding a question"
If you add a question via Questions > Add New, once you publish the question, the answers disappear. - http://cld.wthms.co/1darc/3askQCj4

@dwainm possibly related to #980 ?

[2015-07-10 12:48] danjjohnson commented on #976
@dwainm chosen.js again! This seems to have been fixed and broken again so many times!

No box at all for me - http://cld.wthms.co/13COh/BVCipzEo

@stuartduff as usual the workaround is to add the module when creating the course instead.

[2015-07-10 13:52] danjjohnson commented on #979
@tinygiantstudios most likely, if it relates to chosen.js

Has he tried the quick fix here? https://github.com/woothemes/sensei/releases/tag/175-quick-fix

[2015-07-13 07:36] TinyGiantStudios commented on #952
I'm seeing the same as @peppesapienza

Also - link to customer ticket: https://woothemes.zendesk.com/agent/tickets/313047 where this is reported.

[2015-07-13 09:03] bwoody74 commented on #957
I just installed the quick fix that is linked above and visual composer and sensei now seem to be working ok together - I will update if I discover any issues. I did notice that there are a quite a lot of files in the quick fix that are not in the core sensei plugin normally so I removed these prior to using the fix as I presume they are test items from the dev.
The files and directories I removed

[2015-07-13 12:41] jobthomas opened #983 "Language mistake in string"
Accassible > Accessible

![http://cld.wthms.co/1g45Q/1PfmouBG](http://cld.wthms.co/1g45Q/1PfmouBG+)

Mange > Manage

![http://cld.wthms.co/Wn6H/3PkRW5IS](http://cld.wthms.co/Wn6H/3PkRW5IS+)

[2015-07-13 13:17] danjjohnson commented on #983
Thanks @jobthomas :)

[2015-07-13 13:17] #983 closed

[2015-07-13 14:25] TinyGiantStudios commented on #979
Have suggested the quick fix; Will provide more feedback if applicable...

[2015-07-14 07:23] danjjohnson opened #985 "Special character not required"
https://github.com/woothemes/sensei/blob/8ea89c9e7f252d459115029be1d4bc8d4956ce42/classes/class-woothemes-sensei-frontend.php#L1974

Couldn&#8217;t should be Couldn't - does not need &#8217; which causes some issues with translation.

[2015-07-14 08:46] TinyGiantStudios opened #987 "set_site_transient vs. set_transient bug"
Link to ticket: https://woothemes.zendesk.com/agent/tickets/311738

Customer reports:

This causes the site to be slowed significantly due to memory.

---
Further conversation with Dwain highlighted the following:

As a temp workaround, the following plugin can be used to clear transients: https://wordpress.org/plugins/artiss-transient-cleaner/

[2015-07-14 10:58] dwainm commented on #987
Thank you @TinyGiantStudios

[2015-07-15 08:21] dwainm opened #988 "Remove apply_filters for text changes"
Example: apply_filters( 'sensei_mark_as_complete_text', __( 'Mark as Complete', 'woothemes-sensei' ) )

The text can also be changed by using translation plugins. I think going forward text must only be changeable through translation.

[2015-07-15 09:08] dwainm commented on #988
Get some more insight from other devs before implementing this.

[2015-07-15 10:37] danjjohnson opened #989 "Typo - quesiton should be question"
https://github.com/woothemes/sensei/blob/e12dfda09e66ba8dc12bdbd9c815ca5da358e465/classes/class-woothemes-sensei-updates.php#L66

[2015-07-16 13:14] dwainm commented on #743
Proposed structure Objectives/Tasks:
- [ ] Some templates already in shortcodes which should be used a base
- [ ] Refactor course results to be better structured with less logic in templates.
- [ ] Use as much of Core as possible avoiding extra custom tags as far as possible. Relying mainly on template tags like: the_content() the_title.
- [ ] Remove specific hooks/filter and replace them with gen

[2015-07-17 05:42] Rakhmanov opened #994 "Woocommerce Variable Products! Urgent"
Woocommerce Variable Products and product_id:
When buying a variable product with course, link does not appear in email or the order details.
Also it would mean functionality does not exist anywhere where only dealing with product_id.

So far I have encountered:
	class-woothemes-sensei-frontend:
	remove_active_course()
	course_link_from_order()
	activate_purchased_courses() //not sure

	class-woot

[2015-07-17 06:45] #959 closed

[2015-07-17 06:45] #985 closed

[2015-07-17 06:45] #987 closed

[2015-07-17 06:45] #989 closed

[2015-07-17 14:40] danjjohnson opened #995 "[1.9] - invalid argument on [sensei_course_categories]"
@dwainm I'm getting the following warning when using [sensei_course_categories]:

Warning: Invalid argument supplied for foreach() in /wp-content/plugins/woothemes-sensei/includes/shortcodes/class-sensei-shortcode-course-categories.php on line 123

[2015-07-17 14:47] danjjohnson opened #996 "[1.9] [sensei_user_courses] wrong buttons displayed"
On [sensei_user_courses] active courses have a View Results button, and completed courses have a "Mark as complete" button.

There's also a markup issue on the "mark as complete" button http://cld.wthms.co/16vMD/1JqtRml8

[2015-07-19 08:32] dwainm commented on #996
Copy that @danjjohnson  :) [testing slack integration]

[2015-07-19 22:20] andrewmunsell opened #997 "Non-Published Courses Not Visible in Lesson Filter in Admin Panel"
On the Lessons list in the admin panel, the list of filters allows for admins to filter the lessons on the page by their course. However, non-published courses do not show up in this list.

This is not desirable because in the lesson view, you can *see* the lessons that belong to these courses but you can't actually select them as filters.

[2015-07-20 10:54] jameskoster commented on #743
Most of the points here look good I think, and moving logic out of templates is definitely the right direction to move in. Here's a bit of a braindump on the structure:

I'd keep the original naming format for things like loop.php, content.php, single.php etc. Like how we do with WooCommerce (archive-product.php, single-product.php) etc. It provides context and is inline with how wp core template

[2015-07-20 11:03] dwainm commented on #743
@jameskoster thanks man, you're input helps a lot. I'll take this into consideration.

[2015-07-21 10:19] dwainm commented on #957
Thank you all. This issue is Solved with the latest release 1.8.6

[2015-07-21 10:19] #957 closed

[2015-07-22 13:17] mahangu opened #1000 "[1.9] [sensei_teachers] shortcode will not list any teachers if user's 'First Name' or 'Last Name' fields are not set"
When using the shortcode -

`[sensei_teachers include="" exclude=""]`

the shortcode will not output any text in the `<a>` tag if the user with the 'Teacher' role has not been set a First Name or Last Name.

![jpknr0zrui-3000x3000](https://cloud.githubusercontent.com/assets/10125810/8825980/b0c11d90-30a0-11e5-9d76-9d4cb4e833b1.png)

Steps to reproduce:
- Create new user, and set their role to 'Tea

[2015-07-22 13:27] mahangu opened #1001 "[1.9] the [sensei_teachers] shortcode breaks unless both include="" and exclude="" are passed to it"
The `[sensei_teachers] ` shortcode breaks when used without both the `include=""` and `exclude=""` attributes.

![ndnje2_zam-2000x2000](https://cloud.githubusercontent.com/assets/10125810/8826270/d8039c8c-30a2-11e5-9c34-bee19d82f26c.png)

Currently:
- Passing only one of the attributes breaks the shortcode.
- Passing no attributes breaks the shortcode.

Steps to reproduce:
- Create a user with the

[2015-07-22 13:55] SiR-DanieL opened #1002 "Update languages"
Do you regularly pull languages from Transifex as for WooCommerce?
A customer asked how to update them from the contributions on Transifex, can you make sure to update them please?

Thanks!

[2015-07-22 14:12] mahangu commented on #1000
It looks like the issue is in `/includes/shortcodes/class-sensei-shortcode-teachers.php`, on line 234/235.

` $user_public_name = $user->first_name . ' ' . $user->last_name;`
        `if( empty( $user_public_name ) ){`

We manually insert a space in $user_public_name, and so empty() returns false.

[2015-07-22 14:17] dwainm commented on #1002
Hi @SiR-DanieL , we have a makepot script that we run for each release, but we do not pull in any languages.

@danjjohnson should we start doing this now?

@SiR-DanieL how would one pull in languages ? Also how does one update transifex when introducing new strings?

[2015-07-22 14:30] SiR-DanieL commented on #1002
I know we have a secondary repository only for language files. There's a script that uses Transifex shell commands to pull all the languages files updated at the moment when you run it.

Then the rest is done by the language updater class, but that should be different for Sensei since you don't use that, but you could simply pull all the files, and move them in the languages folder.

Both pull/upd

[2015-07-22 14:33] danjjohnson commented on #1002
Sounds great, we should definitely do this!

@dwainm I'll look into this next week :)

[2015-07-22 14:36] SiR-DanieL commented on #1002
maybe @claudiosmweb could give you some tips about how we do it in WooCommerce.

[2015-07-22 15:02] claudiosmweb commented on #1002
In WooCommerce we had trouble translating be heavier than anything and we were very heavy, so we transferred to a separate repository.

If you do not have the same problem, it would be only a matter of use:

[code]

And then create the .mo files using `msgfmt` or set it for gulp with https://www.npmjs.com/search?q=gulp-gettext

For generate the .pot files have this too: https://www.npmjs.com/packa

[2015-07-22 15:13] dwainm commented on #1002
@claudiosmweb seeing that translations is such a big thing I think we should keep it in a separate repo as well.  We'll look in to this in further detail. We might call on you for that PR when we're ready :P

[2015-07-22 15:18] claudiosmweb commented on #1002
@dwainm Then we can do the same as I did with WooCommerce.

This is the class that does the "magic": https://github.com/woothemes/woocommerce/blob/master/includes/class-wc-language-pack-upgrader.php

I can help implement it on Sensei, just let know when :)

[2015-07-23 04:44] chvillanuevap opened #1004 "Incorrect HTML (div inside p) in class-woothemes-sensei-frontend.php"
In `sensei/classes/class-woothemes-sensei-frontend.php`, lines 1576 and 1589, there is a `div` tag inside a `p` tag. This is invalid HTML, and the browser is parsing it as `<p></p><div></div><p></p>`.

The `p` tag should be removed.

[2015-07-23 07:21] TinyGiantStudios commented on #941
Settings as follows:
* Reset disabled
* Auto grade enabled

When the quiz is **not** passed, gap fill questions are ***not*** displaying any feedback at all.

Screenshot at: http://cld.wthms.co/kzA6/2c0HcOwV

[2015-07-23 21:11] jakecaputo opened #1007 "Add Media on Questions not working"
I've tried this in two environments and I'm getting the same error.

Trying to add media to a Question triggers the following error.

![screen shot 2015-07-23 at 4 09 31 pm](https://cloud.githubusercontent.com/assets/1224293/8862312/43f7dc48-3155-11e5-8f79-20416fad2566.png)

[2015-07-23 21:19] jakecaputo commented on #1007
And I should point out that this works fine on Lesson pages, just not on the Add New Question pages.

[2015-07-24 10:55] danjjohnson commented on #714
This is happening again for me in v1.8.6 and current 1.9 release branch http://cld.wthms.co/15quv/5dTV7Goc

[2015-07-24 12:55] dwainm commented on #714
@danjjohnson can't replicate this on the 1.9 branch. Please update your branch and confirm. Also disable all plugins except for Sensei to confirm it :P

[2015-07-25 05:26] andrewmunsell commented on #997
The change was merged, so I'm going to go ahead and close the issue.

[2015-07-25 05:26] #997 closed

[2015-07-25 23:55] andrewmunsell opened #1012 "Disabling "Users must be logged in to view Course and Lesson content" makes paid course content visible to everyone"
Right now, when I de-select the option "Users must be logged in to view Course and Lesson content", I expect that it would enable *free* course content to be visible to non-logged in users. Also, I would expect that any paid content would still require the user to be logged in to verify they purchased the content.

However, disabling this option makes *all* content completely visible, including co

[2015-07-27 09:35] danjjohnson commented on #1012
@andrewmunsell I can see the logic here, and I don't see any harm in changing the setting. @dwainm what do you think?

[2015-07-27 10:26] danjjohnson commented on #997
Thanks @andrewmunsell

In future, if you use any of the following keywords in your PR:

close
closes
closed
fix
fixes
fixed
resolve
resolves
resolved

followed by the issue number, the issue will close automatically once the release branch is merged into master.

[2015-07-28 15:00] danjjohnson commented on #648
@davidpagepsycle we are still getting the odd user having issues with slashes before apostrophes. The currently affected user is on PHP 5.3.29 if that makes a difference. We are trying to confirm whether they have "Magic Quotes" enabled or not.

Is there any other info that could help us figure out what's causing this for some people?

cc: @TinyGiantStudios

[2015-07-29 19:27] claudiosmweb opened #1016 "WooThemes_Sensei_List_Table need update to support WordPress 4.3"
Hey guys, since this changes https://github.com/WordPress/WordPress/commit/4c0c7fd7 we have issues like:

![screenshot from 2015-07-29 16 21 23](https://cloud.githubusercontent.com/assets/1264099/8967650/8c625202-360e-11e5-9c67-83dfc15e005d.png)

![screenshot from 2015-07-29 16 21 54](https://cloud.githubusercontent.com/assets/1264099/8967649/8c5ff1a6-360e-11e5-9e32-096569936335.png)

I fix some i

[2015-07-30 10:16] TinyGiantStudios commented on #982
If you're seeing this happen, the temp workaround would be to add a question by going to the indivial lesson and adding it from there...

[2015-07-31 11:53] TinyGiantStudios commented on #982
Another link to a ticket: https://woothemes.zendesk.com/agent/tickets/319257

That customer's developer also added the following:

---

Hey so I couldn't let this go, I investigated on my own time and found the technical cause. The "terms" used by some Sensei things are for example:

* essay-paste (WooThemes)
* Guitar (WooThemes)
* multi-line (WooThemes)
* multiple-choice (WooThemes)
* [etc]

And

[2015-07-31 14:04] danjjohnson commented on #982
Related: #978

[2015-07-31 14:27] danjjohnson commented on #978
I'm not 100% sure what causes this to happen in some cases, but it seems to be related to importing Sensei content (including users). That seems to cause the question types to use the name of the imported user, e.g. `multiple-choice (WooThemes)`

[2015-07-31 14:59] danjjohnson commented on #1016
Thanks @claudiosmweb a PR would be awesome :)

[2015-07-31 15:13] danjjohnson commented on #977
I don't think this should be enabled by default, but @dwainm may be able to advise on where to find the appropriate filter.

[2015-07-31 15:25] danjjohnson commented on #971
@davidpagepsycle any idea what would cause this not to work? I thought they were basically the same plugin?

[2015-08-03 03:50] TinyGiantStudios opened #1017 "Public Certificate Permissions"
Link to ticket: https://woothemes.zendesk.com/agent/tickets/320273

Customer reports:

---
Certain users within our system (anyone without the manage_options capability) are unable to view certificates, even though we have the public certificates option enabled: http://imgur.com/vUechmz

I checked the logic for viewing certificates, and it seems like the issue may be here:
[code]
If ```$grant_acce

[2015-08-03 10:24] danjjohnson commented on #961
Related to #978

[2015-08-03 10:36] danjjohnson commented on #956
I'm unable to replicate this issue in testing. @dwainm can you confirm if this is an issue for you?

[2015-08-03 10:42] danjjohnson commented on #949
@Rakhmanov caould you open a new PR for this one please?

[2015-08-03 11:09] davidpagepsycle commented on #971
@danjjohnson mmm, nope, completly different. [Sensei checks](https://github.com/woothemes/sensei/blob/master/classes/class-woothemes-sensei.php#L1247) if the global function that the JetPack module activates is available, if so it adds that function to the 2 filters on Sensei questions/answers, namely 'sensei_question_title' and 'sensei_answer_text'. Fairly simple.

However WP LaTeX supports both

[2015-08-03 11:14] davidpagepsycle commented on #648
@danjjohnson Is it possible that some content is before the Sensei changes, thus has slashes stored in the database which aren't needed? We effectively built all our content after the code changes were done. I don't think Magic Quotes would make any affect as WP standardises all variables upon submission, effectively having Magic Quotes on all the time.

[2015-08-03 12:42] danjjohnson commented on #648
I believe this is happening for some people on new questions, not just existing data.

[2015-08-03 14:38] danjjohnson commented on #648
Seems it may have been a php version issue. Awaiting confirmation.

[2015-08-03 15:08] Rakhmanov commented on #949
I think @dwainm already merged it 1.9 branch. https://github.com/woothemes/sensei/commit/7fc45c46dbe2bd94d0317b18bc5fa4f86687628e

[2015-08-03 16:18] danjjohnson commented on #949
Thanks @Rakhmanov :)

[2015-08-03 16:21] danjjohnson commented on #904
Testing this again. It seems to be sending the email to admin once when the teacher submits the course for review, and the same email to admin again when the admin publishes the course. The second email is not required.

[2015-08-03 16:24] danjjohnson commented on #898
@dwainm Would be good to get this fixed for 1.9

[2015-08-03 16:28] danjjohnson commented on #884
Confirmed by the customer this was fixed in 1.8 :)

[2015-08-03 16:28] #884 closed

[2015-08-03 16:31] #880 closed

[2015-08-03 16:34] danjjohnson commented on #875
I confirmed this, and accidentally opened a duplicate issue - #904

I'll close this one.

[2015-08-03 16:34] #875 closed

[2015-08-03 16:44] danjjohnson commented on #714
Still getting this on latest 1.9 branch, with only Sensei activated - http://cld.wthms.co/1izDM/37s2DTVo

Needs investigating.

[2015-08-03 16:47] danjjohnson commented on #1007
@jakecaputo none of us here are able to replicate this (although I am getting a different error - https://github.com/woothemes/sensei/issues/714 )

Do you have any other plugins that could be conflicting?

[2015-08-03 16:49] danjjohnson commented on #676
@dwainm should this link show on the Order page, or only on the 'thank you' (order confirmation) page?

[2015-08-03 16:51] #648 closed

[2015-08-03 16:57] jakecaputo commented on #1007
Dang.

I shut off all plugins and I've tried with Twenty Fifteen and Twenty Fourteen active, still get the same error.

[2015-08-03 16:57] danjjohnson commented on #576
Closing this as it's currently being explored on Trello here - https://trello.com/c/BWpE2BCY/79-add-a-course-to-multiple-products

[2015-08-03 16:57] #576 closed

[2015-08-03 17:01] danjjohnson commented on #505
@kloon maybe this is more your area? ^^

[2015-08-03 17:03] jakecaputo commented on #1007
I take that back. It's Gravity Forms that's the conflict with **those** errors.

However, with everything off, it still doesn't work and I get this error: "wp.media is undefined"

![screen shot 2015-08-03 at 11 58 29 am](https://cloud.githubusercontent.com/assets/1224293/9042942/a0f4f324-39d7-11e5-9cf4-acb424b7d1e8.png)

[2015-08-04 08:00] kloon commented on #505
@danjjohnson done :) http://d3t0oesq8995hv.cloudfront.net/sensei-addons.json

[2015-08-04 08:33] danjjohnson opened #1019 "Accurate Lesson Start Time records"
As far as I can tell, the Lesson start time in analysis never shows the actual time the learner started the lesson.

If the lesson has a quiz and you save the quiz before submitting, then it will show the save time. Otherwise it will be the same as the lesson completion time.

@davidpagepsycle @dwainm can you confirm/deny this?

If so, does it make sense to even display that time, as it's misleadi

[2015-08-04 09:39] davidpagepsycle commented on #1019
@danjjohnson Yes, the start time and end time of most lessons and even quizzes will be identical. If a quiz is saved before submitting, or the quiz is restarted the times will be different.

To be a true start time the 'sensei_lesson_status' comment entry would need to be created at the point of the user first viewing the lesson. However, if the lesson had a quiz it'd say only create the entry upo

[2015-08-04 10:57] danjjohnson commented on #1017
@TinyGiantStudios can you move this to the sensei-certificates repo please?

[2015-08-04 11:42] danjjohnson commented on #971
Thanks @davidpagepsycle

We'll leave it how it is for now, and refer people here if they want to use WP LaTeX. We can reassess later depending on demand.

[2015-08-04 11:42] #971 closed

[2015-08-04 11:51] danjjohnson commented on #1007
@jakecaputo ok thanks, we'll need to look into this further.

[2015-08-04 11:51] danjjohnson commented on #505
Thanks @kloon :)

[2015-08-05 11:26] danieldudzic opened #1021 "Separate the markup from the logic for the Sensei details in the WooCommerce Email"
https://github.com/woothemes/sensei/blob/8ea89c9e7f252d459115029be1d4bc8d4956ce42/classes/class-woothemes-sensei.php#L1112

_Link to the ticket: https://woothemes.zendesk.com/agent/tickets/316978_

[2015-08-05 14:33] danieldudzic opened #1022 "Course progress is lost if the user accidentally purchases a course second time"
This doesn't sound like a popular scenario, but I can definitly see how someone can purchase the same course twice accidentally.

_Link to the ticket: https://woothemes.zendesk.com/agent/tickets/316935_

[2015-08-05 16:14] danjjohnson commented on #1022
This seems like a real edge case. If you're already taking a course, then you can't buy it again from the course page. The only way it could happen is if you purchased it again from the product page. @danieldudzic can you confirm that this is how it happened, as I don't know of another way.

Perhaps then what we would need is a check on the product page. If it's linked to a course, and the user is

[2015-08-05 19:00] danieldudzic commented on #1022
Yes, I believe that's how the course was purchased ( twice ).

Sounds like a good solution to me. :+1:

[2015-08-06 02:28] GraphicFlavours opened #1023 "Re-submit quiz"
we find it frustrating that you have to reset the quiz and delete all your answers before re-submiting the quiz again. it will be much easier for the users to be able to correct the answer and resubmit the quiz without deleting the answers. this is especially important when there are more than 6 questions in the quiz. any suggestions how to fix this issue while keeping 100% pass mark?

[2015-08-06 13:59] danjjohnson opened #1024 "Course details repeated in order complete email"
If an order gives access to more than one course, the heading "Course details" is repeated for each course - http://cld.wthms.co/1alqE/1zlw9Anx

We should add all courses under a single heading.

[2015-08-06 15:02] danjjohnson commented on #969
@dwainm I think rather than try to make the tabs look decent on small screens, we should probably disable the tabs below 768px, so on smaller screens it just displays Active Courses, followed by Completed Courses.

[2015-08-07 12:04] mahangu commented on #978
Tested this extensively across multiple versions of Sensei/WordPress, and was not able to replicate it. It's possibly an old bug (that is now fixed) that we still see due to this erroneous data being imported into our test installs via our dummy data files.

![dummy_data](https://cloud.githubusercontent.com/assets/10125810/9134036/38260d20-3d1e-11e5-8778-7a7a132d6478.png)

@danjjohnson found that

[2015-08-07 15:44] danjjohnson commented on #924
@dwainm @mattyza any preference? http://cld.wthms.co/1f0BW/11Hyi8iR

Couldn't find anything more appropriate on FontAwesome.

[2015-08-07 15:46] dwainm commented on #924
@danjjohnson maybe the same icon that represents courses in the admin?

[2015-08-07 15:46] dwainm commented on #924
If not that then 1 or 3 for me.

[2015-08-07 15:48] mattyza commented on #924
@danjjohnson I'd vote for 3.

[2015-08-08 04:55] Rakhmanov commented on #924
How about hourglass icon? May be the full one or half empty/half fool. These are too generic, and have no relevance to in process.

[2015-08-10 09:28] mahangu commented on #1021
As a temporary workaround, this user can use WooCommerce's `woocommerce_email_after_order_table` action to hook in their own function, and replace Sensei's default `sensei_woocommerce_email_course_details` function for this action by removing it via remove_action().

Example - https://cloudup.com/ciuBNhiwjrs

If they don't want to write a mini plugin from scratch to do this, they can consider usin

[2015-08-12 03:06] danieldudzic opened #1030 "WP Toolbar hidden for Teachers when WooCommerce active"
The WP Toolbar isn't showing up on the front-end for Teachers when WooCommerce is active.

1) WordPress + Sensei 1.8.6 + WooCommerce 2.4.1

2) Create a new user with the role Teacher - WP toolbar will not appear on the frontend for this user

3) Dectivate WooCommerce - WP toolbar now visible on frontend for the same user

Temp solution by @mahangu:

[code]

_Link to the ticket: https://woothemes.z

[2015-08-13 09:18] danieldudzic opened #1032 "Insufficient Teacher capabilities in regards to Lesson comments"
Currently Teachers receive New Lesson Comment email notifications, that include comment moderation links ( http://cld.wthms.co/1m3V/46Yc5dSY ).

At the same time the Teacher role lacks the `manage_comments` capability, which renders those links broken. This is confusing for the users.

Shouldn't Teachers have the ability to moderate their Lesson's comments? ( seems obvious to me )

_Link to the ti

[2015-08-14 15:49] RiaanKnoetze commented on #1017
Sorry about that :)

[2015-08-14 15:49] #1017 closed

[2015-08-15 14:17] ragulka opened #1034 "Allow filtering course excerpts"
I can see that based on https://github.com/woothemes/sensei/issues/91, excerpts are not allowed to be auto-generated, which makes sense if the content may contain sensitive details about the course.

However, the excerpt is simply outputted by doing `echo $post->post_excerpt`, which does not allow applying any filters to the excerpt. My initial idea was that we could simply apply the `get_the_exce

[2015-08-17 11:12] Mani147 commented on #850
Thanks, issue resolved :)

[2015-08-17 15:02] dwainm commented on #960
I've updated the issue title to reflect exactly what we shoul do here

[2015-08-17 15:10] dwainm commented on #934
@RiaanKnoetze @danieldudzic any other tickets on this issue? I think this is resolved but need a second opinnion on it.

[2015-08-17 15:34] dwainm commented on #962
@danjjohnson  @Rakhmanov I see this as allowing a question to be tagged as "non-gradeable". This will mean that any question type should be allowed to be  "skipped"or "feedback" or "not for grading".

If a question is marked as this it will be submitted to the teacher while till allowing the rest to be autogradable.

In this case, a quiz can only be auto gradable if all questions are auto gradable

[2015-08-17 16:38] dwainm opened #1035 "We should include some default styling on the teacher list. I'll take a look at that."
This is for the teacher shortcode which is geared for 1.9 release. @danjjohnson this is an issue fyi as the other issues was merged in already.

[2015-08-17 16:39] dwainm commented on #976
@danjjohnson chosen will be gone from 1.9 forward so we wont have this issues again. Select2 ftw!

[2015-08-18 14:13] davidpagepsycle commented on #962
@dwainm Been thinking about this, as questions that don't need grading have come up, and I think the concept of a zero graded question has better logic than having to tag questions as 'not for grading' yet them still having a question grade of 1 (by default). I do agree that any question type should allow a grade of zero though, and to effectively bypass the autograding of the question.

Happy to

[2015-08-18 15:54] dwainm commented on #962
@davidpagepsycle I can see how zero grading will be much simpler to integrate  with the existing code base. Please give this a shot.

This will likely go into version 2.0 so when you're ready I'll create the branch which you can submit the PR into. For this please branch off the current version 1.9.0.

[2015-08-18 16:57] RiaanKnoetze opened #1036 "Super slow admin due to update queries"
Link to ticket: https://woothemes.zendesk.com/agent/tickets/323937

Sensei was running several **insanely** HUGE queries on every single admin page load. The updates should check but not run much further. It seems this happens on every admin WordPress load.

@dwainm suggested the following temp fix to be placed in the **functions.php**:

[code]

[2015-08-18 17:02] RiaanKnoetze commented on #1036
Another ticket: https://woothemes.zendesk.com/agent/tickets/325029

[2015-08-18 19:30] dwainm commented on #1036
Thanks @RiaanKnoetze , this wil be looked at after the templates system over haul. It seems we'll be pushing out 1.8.7 as there are quite a few bugs open: https://github.com/woothemes/sensei/labels/bug

[2015-08-19 09:21] RiaanKnoetze commented on #934
@dwainm - I haven't seen one in ages...

[2015-08-20 13:51] mahangu commented on #904
Due to a misclick above, I submitted the wrong PR.

#1041 is the correct one

[2015-08-21 14:33] RiaanKnoetze opened #1042 "Multiple correct answers breaks in auto grading"
Link to ticket: https://woothemes.zendesk.com/agent/tickets/323721

When a user creates a quiz with multiple correct answers (we've tested 2 to 10), the quiz will always be marked as a fail in the backend, despite the answer actually being correct.

Screenshot at: http://cld.wthms.co/obNL/h6TAl6Nl

[2015-08-21 14:56] davidpagepsycle commented on #1042
Ah, the idea of the multiple correct answers within a multiple choice question was that **all** the correct answers need to be selected for the overall question to be marked as correct.

Thus a question such as "what odd numbers are less than 10?" with "1,2,3,4,5,6,7,8,9" requires "1,3,5,7,9" to be selected. Leave a number out and it's all wrong.

This comes down to https://github.com/woothemes/se

[2015-08-24 06:56] dwainm commented on #934
closing this issue as it is fixed.

[2015-08-24 06:56] #934 closed

[2015-08-24 09:37] dwainm commented on #904
Fixed in https://github.com/woothemes/sensei/compare/release-1-8-7?expand=1

[2015-08-24 09:37] #904 closed

[2015-08-24 12:45] dwainm commented on #1012
Bug confirmed fix added here: https://github.com/woothemes/sensei/pull/1043

[2015-08-24 12:45] #1012 closed

[2015-08-24 13:45] dwainm commented on #1032
@danieldudzic teacher own lessons and courses and for this reason they should be able to manage comments for them. We will fix this as part of the 1.8.7 release.

[2015-08-24 14:07] dwainm commented on #1030
Fixed here: https://github.com/woothemes/sensei/pull/1031 will go out with Release 1.9

[2015-08-24 14:07] #1030 closed

[2015-08-24 15:04] dwainm commented on #1034
Fixed and merged into release 1.9 here: https://github.com/woothemes/sensei/pull/1037

[2015-08-24 15:04] #1034 closed

[2015-08-25 06:35] dwainm commented on #1024
fixed here: https://github.com/woothemes/sensei/pull/1028

[2015-08-25 06:35] #1024 closed

[2015-08-25 06:35] dwainm commented on #1024
this will also be in the next release (1.8.7)

[2015-08-25 07:58] dwainm commented on #978
Fixed : https://github.com/woothemes/sensei/pull/1020

[2015-08-25 07:58] #978 closed

[2015-08-25 08:39] RiaanKnoetze opened #1044 "Sensei admin UI failing responsiveness"
Link to ticket: https://woothemes.zendesk.com/agent/tickets/327052

When viewing certain Sensei pages in the backend, the table based items aren't really responsive and administration is pretty difficult.

Screenshots: http://cld.wthms.co/17Jbt/2CllfyXB and http://cld.wthms.co/1hDLf/F5gdtyCK

[2015-08-25 08:55] dwainm commented on #1044
@RiaanKnoetze definitely someting for 2.0 admin revamp. Please let the user know that we'll be looking at this then.

[2015-08-25 09:23] dwainm commented on #1036
@RiaanKnoetze this issue is fixed. Please ask the user to confirm this for us. The fix is in the release branch: https://github.com/woothemes/sensei/tree/release-1-8-7

[2015-08-25 09:23] #1036 closed

[2015-08-25 10:00] dwainm commented on #1004
Fixed: will be included in version 1.9 : https://github.com/woothemes/sensei/pull/1018

[2015-08-25 10:00] #1004 closed

[2015-08-25 10:02] dwainm commented on #982
Fixed in 1.9.0 https://github.com/woothemes/sensei/pull/1026

[2015-08-25 10:04] #944 closed

[2015-08-27 05:49] danjjohnson commented on #924
An hourglass has the same problem as a spinner, in that it suggests something is loading, which is the reason people are getting confused. I think we'll go with number 3 here, which suggests a list of lessons http://cld.wthms.co/1f0BW/11Hyi8iR

[2015-08-27 07:08] danjjohnson commented on #1042
Closing this as it's not a bug.

[2015-08-27 07:08] #1042 closed

[2015-08-27 09:34] dwainm commented on #948
Fixed: https://github.com/woothemes/sensei/pull/1014 thank you for the PR @Rakhmanov

[2015-08-27 09:34] #948 closed

[2015-08-27 10:27] dwainm commented on #956
@michaeltieso I was not able to replicate this on the latest version (release-1-9 branch ). I belive this issue is resolved with the latest changes.

[2015-08-27 10:27] #956 closed

[2015-08-27 10:34] dwainm commented on #861
@danjjohnson I see this issue when simply looking at products under WC. I didn't look at the drop down as the issue was apparent in WC products admin screen. As vendor I could only see products I created.

[2015-08-27 10:37] dwainm commented on #910
This will only be fixed in 1.9. Merged here: https://github.com/woothemes/sensei/pull/1011

[2015-08-27 12:07] danieldudzic opened #1048 "Improving Sensei templates markup ( .entry => .entry-content )"
<div class="entry">
<h1>…</h1>
<div class="entry-content">
…
[code]

_Link to the ticket: https://woothemes.zendesk.com/agent/tickets/322595_

[2015-08-27 12:25] dwainm commented on #861
This is an issue with vendors. Will close as it will be fixed in Vendors 2.0.

[2015-08-27 12:25] #861 closed

[2015-08-27 12:27] dwainm commented on #949
Already in 1.9.0 Thanks @Rakhmanov

[2015-08-27 12:27] #949 closed

[2015-08-27 13:15] dwainm commented on #923
Will be  fixed in the next relase (1.8.7): https://github.com/woothemes/sensei/commit/b1f6ea1563ca6351f594f580ffef09f8e9d620c7

[2015-08-27 13:15] #923 closed

[2015-08-31 14:26] RiaanKnoetze opened #1050 "Single lesson footer navigation is back to front"
Link to ticket: https://woothemes.zendesk.com/agent/tickets/327727

At the bottom of each lesson is a nav bar that allows the user to the next / previous course in line. These are displaying in the wrong order.

Screenshot Backend: http://cld.wthms.co/1lh3s/cTEmYopw
Screenshot Frontend: http://cld.wthms.co/1l0Wu/PVuzh4mt

Based on the screenshots above, when we're on the "Create Course Content" le

[2015-08-31 16:45] #587 closed

[2015-08-31 16:45] #965 closed

[2015-08-31 16:45] #995 closed

[2015-08-31 16:45] #1000 closed

[2015-08-31 16:45] #1001 closed

[2015-08-31 17:09] dwainm opened #1051 "New way to contribute"
FYI:  http://develop.woothemes.com/sensei/2015/08/31/new-development-workflow/

@danjjohnson @mattyza @danieldudzic @RiaanKnoetze @mikeyarce @davidpagepsycle @mahangu @Rakhmanov @andrewmunsell @ragulka @claudiosmweb @grey-rsi

[2015-08-31 17:09] #1051 closed

[2015-08-31 17:13] dwainm commented on #940
@danieldudzic this will be fixed for 1.9 as the Shortcodes will get revamped then. So This will not be included the next bug fix release.

[2015-09-01 08:21] danjjohnson opened #1053 "Potential Issue with Product Bundles"
User reported that when buying a product bundle containing several Sensei courses, it does not give access to all the included courses, they have to be added manually.

This was fixed previously: https://github.com/woothemes/sensei/issues/347

Ticket: https://woothemes.zendesk.com/agent/tickets/325510

[2015-09-01 10:34] dwainm commented on #979
Fixed will go out as part of release 1.8.7

[2015-09-01 10:34] #979 closed

[2015-09-01 11:16] dwainm commented on #941
Fixed here: https://github.com/woothemes/sensei/commit/192e4122ebc3394e134cf11f0856bfee93698806 . This will be release along wiht 1.8.7.

[2015-09-01 11:16] #941 closed

[2015-09-01 11:19] dwainm commented on #976
@stuartduff @danjjohnson this is fixed in the release-1-8-7 branch. It will be sent out soon :)

[2015-09-01 11:19] #976 closed

[2015-09-01 13:20] dwainm commented on #980
Fix will be released in 1.8.7

[2015-09-01 13:20] #980 closed

[2015-09-01 13:37] dwainm commented on #972
Fixed here: https://github.com/woothemes/sensei/pull/1049 , will be in 1.6.7

[2015-09-01 13:37] #972 closed

[2015-09-01 14:01] dwainm commented on #914
fixed here: https://github.com/woothemes/sensei/commit/66e0a318beb01330b031cae6daae98461b38ad3c

Will also be included in version 1.8.7

[2015-09-01 14:01] #914 closed

[2015-09-01 14:15] dwainm commented on #1032
Fixed here: https://github.com/woothemes/sensei/pull/1047

[2015-09-01 14:27] dwainm commented on #745
fixed a long time ago : https://github.com/woothemes/sensei/pull/758

[2015-09-01 14:27] #745 closed

[2015-09-01 15:57] dwainm commented on #738
Fixed here: https://github.com/woothemes/sensei/commit/87f60e542c8e6d5ed678a3ecc64a7f3b7c2ad3e1 .

@RiaanKnoetze would you mind confirm this bug fix on a fresh install? The fix is in the release-1-8-7 branch.

[2015-09-01 15:57] #738 closed

[2015-09-02 13:03] dwainm commented on #1016
Fixed: https://github.com/woothemes/sensei/commit/6ad944ce1a2184cf40301c30bb50dc1e9f5b978e

[2015-09-02 13:03] #1016 closed

[2015-09-02 14:08] dwainm commented on #1053
Fixed: https://github.com/woothemes/sensei/commit/a1667d39fb239a922f09c450690c3afd4fe3ba8d

@danjjohnson please note this doesn't support variations within bundles. If it's bundles it must be simple products bundled. cc @RiaanKnoetze

[2015-09-02 14:08] #1053 closed

[2015-09-02 16:47] dwainm commented on #953
@davidpagepsycle I think for now if we can simply update the front end to show the user a move acurrate view we will have already made progress. The admin data may be not be accurate but we can look at this in future case. For now I'll move this to be part of 1.9 and then simply update the frontend code to use the lessons to determine the course and module completness.

[2015-09-03 05:43] dwainm opened #1054 "Module and course completion not accurate in admin"
The completion data for Courses and Modules is stored independently from it's lessons. It is only linked in the code at certain points in the user's process.

This is wrong because there should be a single source of truth: if all lessons are completed, so should the course and modules they belong to.

The code should not check the completion on the course or on the module, but rather each lesson t

[2015-09-03 06:38] dwainm commented on #958
I couldn't replicate this issue locally. In the latest version this issue doesn't show. Here's what I see:
<img width="673" alt="screen shot 2015-09-03 at 8 32 41 am" src="https://cloud.githubusercontent.com/assets/1713474/9651942/010c1bc8-5217-11e5-92ae-9789a09a0d35.png">

[2015-09-03 07:41] danjjohnson commented on #958
@dwainm I think it depends what theme you use. See https://woothemes.zendesk.com/agent/tickets/306875

[2015-09-03 08:37] davidpagepsycle commented on #953
@dwainm Note that every time a user completes a single lesson the corresponding course does re-calculate it all, looking at every lesson. If all lessons are "complete" yet the course isn't, then the user resetting a single lesson and remarking as complete would fix it.

[2015-09-03 08:37] davidpagepsycle commented on #1054
@dwainm I agree on the module completion, that is only ever shown on the frontend, so could be easily switched to be calculated based on it's lessons. Especially since the modules are generally shown with a list of its lessons and showing the status of each.

But switching the course one to effectively be the same within the admin is a concern. There's a far larger amount of data shown, especially

[2015-09-03 12:00] dwainm commented on #883
Fixed: https://github.com/woothemes/sensei/commit/c8a39bebf0e0935ad20ccfdd6bb66b21c4efd0b2

[2015-09-03 12:00] #883 closed

[2015-09-03 12:01] dwainm commented on #937
Fixed: https://github.com/woothemes/sensei/commit/7edb2134aa8e1d374201e3b568fec9159417ee54

[2015-09-03 12:01] #937 closed

[2015-09-03 12:18] dwainm commented on #588
fixed: https://github.com/woothemes/sensei/commit/1dd8156c384b42186192c989067858039f0a3b6d

[2015-09-03 12:18] #588 closed

[2015-09-03 12:37] dwainm commented on #605
@danjjohnson Not sure if we should change our classes here as  we'll break all clients site and themes who have used this.

What happens here is that WC booking loads the jquery ui css which targets the same classes that we currently have.  So the only way to truly fix it is if we use different classes what are you thoughts?

( moving this out of 1.8.7 for now )

[2015-09-03 13:28] dwainm commented on #921
The courses page is getting an overhaul in v 1.9. I'll move this bug over ther and will see if it is still an issue after the revamp.

[2015-09-03 14:17] dwainm commented on #952
fixed: https://github.com/woothemes/sensei/commit/716b856e96f85679dcf7b1ade8a0fea9a8857b66

[2015-09-03 14:17] #952 closed

[2015-09-04 16:52] dwainm commented on #953
@davidpagepsycle I understand. It is the resetting step I want to eliminate completely.

[2015-09-07 09:04] davidpagepsycle commented on #953
@dwainm It's possible there is something that is creating/updating a lesson status without then doing 1 of the 3 actions ('sensei_user_lesson_end', 'sensei_user_lesson_reset', 'sensei_user_quiz_grade') that the Course uses to re-calc itself. That would cause the disconnect between the 2.

[2015-09-07 14:00] danjjohnson opened #1055 "Multiple db records created when visiting My Courses page"
See ticket: https://woothemes.zendesk.com/agent/tickets/329243

When visiting the My Courses page, duplicate entries are being created in the db.

See video in ticket for full details.

May be related to WPML.

[2015-09-07 16:30] #982 closed

[2015-09-08 20:56] BurlesonBrad opened #1057 "I'll bet y'all hate it when I tinker, but.... Where's the certificates?"
before we start, yes allow_url_fopen is on
![certificates](https://cloud.githubusercontent.com/assets/6208757/9746957/826fe514-5640-11e5-8364-0976f7571c91.png)
I decided to give Sensei a go round, and then ran over to snag a copy of the Certificates as well. Now, according to the docs and this screenshot: http://docs.woothemes.com/wp-content/uploads/2013/12/sample-template.png
![sample-certificate

[2015-09-09 07:22] danjjohnson commented on #1057
Hey @BurlesonBrad

I'm unable to replicate this on a new installation with Sensei 1.8.7 and Sensei Certificates 1.0.11

http://cld.wthms.co/S4bR/4yO1gW0C

I'd suggest opeining a support ticket at https://www.woothemes.com/my-account/create-a-ticket/ so we can look into it for you.

[2015-09-09 08:18] danjjohnson opened #1058 "File upload has wrong filepath on multisite subsite"
When a file is uploaded to a File Upload question on a subsite of a multisite network, the path to the file in the Grading page is wrong, with the /site/[site-id]/ duplicated in the URL.

[2015-09-09 08:26] danjjohnson commented on #1058
Reference for fix: https://core.trac.wordpress.org/ticket/28970

Ticket report: https://woothemes.zendesk.com/agent/tickets/322600

[2015-09-09 14:41] BurlesonBrad commented on #1057
![chriscert](https://cloud.githubusercontent.com/assets/6208757/9764719/3036d424-56d6-11e5-8872-6b9813ad6260.png)
Weird: the hosting genius says it's not showing up for him either.
Ok, I'll open a ticket.  Seeing as how...
1. I was just 'testing' the git version,
2. and haven't actually paid for a "support license"
3. and the Woo Queue seems is probably full enough
...I honestly had to check my co

[2015-09-09 15:28] danjjohnson commented on #1057
@BurlesonBrad maybe try rolling back to v1.8.6 and see if that makes a difference? https://github.com/woothemes/sensei/releases/tag/version%2F1.8.6

[2015-09-09 15:38] BurlesonBrad commented on #1057
Wow. I just put it up on bradgriffin.me which is running Koster's Highwind.
1. Sensei Declared? Yep.
2. Plugins disabled (then re-enabled) to rule out plugin conflict? Yes.
3. furl set to on? Absolutely --> https://bradgriffin.me/dans-dojo.php

*...and I'm still getting a goose egg... in both Certificates as a menu item _and_ Certificates on the  Lesson's meta box*

[2015-09-10 02:54] BurlesonBrad commented on #1057
dang. I was hoping https://github.com/woothemes/sensei/releases/tag/version%2F1.8.8 from @dwainm
Oh well, a ticket it is. Sorry.

[2015-09-10 08:02] dwainm commented on #1057
@BurlesonBrad not all user make use of certificates but I'll be looking at that today.

[2015-09-10 12:58] BurlesonBrad commented on #1057
It's not that I was or wasn't ...."like attempting to use them"...
Heck the things aren't appearing at all, and that's what kinda had me worried.
I spun up storefront, 2012, WPExplorer's Total Theme, multisite, not networked, double checked that fopen was enabled, disabled all plugins, reinstalled Sensei, reinstalled Certificates, FTP-ed 'em, installed 'em via plugin-install.php in the admin area,

[2015-09-10 13:51] dwainm commented on #1057
@BurlesonBrad I couldn't replicate this on my side either. I think the permissions are not setup correctly. I'll do some more testing around this.

[2015-09-10 14:16] dwainm commented on #1057
@BurlesonBrad We've tried this on multiple installs without being able to replicate this. Please setup a site and create a ticket then provide the login details there. Also reference this issus.

If the Ninja can replicated it there they will follow up on this ticket. Till this can be confirmed I'll close the issue here on Github.

[2015-09-10 14:16] #1057 closed

[2015-09-10 16:07] BurlesonBrad commented on #1057
mental note: when downloading Sensei to play with it, perhaps recommend it, maybe even tie some things together, .......or anything else: ***ALWAYS*** rename the folder to (nothing more than)
/sensei
not /sensei-master
not /sensei-version number
not /anything-else
Standby while I give myself a DeNozzo / Gibbs headslap.
.
.
.
Ok, we're good.

[2015-09-11 05:05] juanvillegas opened #1063 "Suggestion regarding "action" buttons (ie: complete test)"
Hey guys,

just noticed something that "feels" wrong to me regarding how the "actions" are sent to the server.

How I came up with this: a client had problems with the "Complete lesson" buttons in his page after updating Sensei. His site is in Dutch. After going through some code, I noticed that when you click the "Complete lesson" button, Sensei sends the text value of the button as the "action"

[2015-09-11 05:17] juanvillegas commented on #1023
+1 would be great.

[2015-09-11 05:22] juanvillegas commented on #988
I've just created a similar issue. I believe that the correct way would be not triggering actions based on the "display value" of a button, but rather by reading some parameter from the url. ie: path_to_woo_sensei/?action=complete_lesson&nonce=nonce_here

[2015-09-12 19:04] danieldudzic commented on #1022
Any updates on this? @danjjohnson

[2015-09-14 01:10] mahangu commented on #1063
Thanks for reporting this! These forms definitely break when the strings are changed without using `add_filter()`.

Related to #988

[2015-09-14 14:49] danjjohnson opened #1066 "URL issue after installing Sensei pages"
After installing the Sensei pages on a fresh install, the URL contains "wp-admin/" twice, e.g:

[code]

User reported this giving a 404: https://woothemes.zendesk.com/agent/tickets/332852

I confirmed the URL issue on my local, but didn't get a 404

[2015-09-14 19:47] stuartduff opened #1067 "Admin bar not displaying for Teacher role"
When viewing the site as a Teacher the Admin bar is not displaying on my test sites.

Show toolbar is enabled from the User settings: http://d.pr/i/EDki

When I change to the user and browse the site when logged in as a Teacher the toolbar is not displaying.

Screenshot: http://d.pr/i/HKbS

All other roles like Editor, Author etc are displaying the admin bar, I tested this on the Twenty Twelve the

[2015-09-14 20:51] dwainm opened #1068 "Scrutinizer: autoloader: wrong property type declaration"
see https://scrutinizer-ci.com/g/woothemes/sensei/inspections/8d33149e-e84d-4684-a762-cec10f82cf49/issues/files/includes/class-sensei-autoloader.php?status=new&orderField=path&order=asc#inspectioncomment-1354504231

[2015-09-14 20:54] dwainm opened #1069 "Scrutinizer: wrong php open tag"
using <? and not <?php which is not recommended

see https://scrutinizer-ci.com/g/woothemes/sensei/issues/master/files/includes/class-woothemes-sensei-course.php?selectedLabels%5B0%5D=5&orderField=path&order=asc#inspectioncomment-1330925057

[2015-09-14 21:42] dwainm opened #1070 "Testing improvements"
- [ ] Test new WordPress versions removing older version no longer supported
- [ ] Remove depricated PHP version ( only test from 5.6 and upwards )
- [ ] Add test for each class just to make sure there are no major issues when classes are loaded

[2015-09-15 07:17] danjjohnson commented on #1032
A couple more details on this issue here:

•	That the teacher does get in the email is not function yet, I do se the lesson but not the comment on the page. It is function good when I do log in as admin.

•	There is no comment in the left side bar like when you are admin.

https://woothemes.zendesk.com/agent/tickets/334634

[2015-09-15 07:20] danjjohnson opened #1071 "Fatal error on course page in some cases"
https://woothemes.zendesk.com/agent/tickets/332844

[2015-09-15 07:44] danjjohnson commented on #1023
Thank you @GraphicFlavours

This would affect the workflow for all existing users, so it isn't something we could implement without careful consideration.

As such, it's not an issue, it's just the way Sensei currently works, as many users don't want learners to be able to resubmit the quiz.

Please submit feature requests like this on our ideas board, where other users can vote/comment on them: h

[2015-09-15 07:44] #1023 closed

[2015-09-15 14:04] danjjohnson commented on #1057
@BurlesonBrad oh yeah, the folder name needs to be either /sensei/ or /woothemes-sensei/

Well spotted :)

[2015-09-15 14:27] dwainm commented on #1057
@danjjohnson @BurlesonBrad  the sname sensei-master is generated by Github : <repo-name> - <branch-name> .

I also suggest you download the releases as this gives you a more accurate version to test with: https://github.com/woothemes/sensei/releases

[2015-09-15 14:33] danjjohnson commented on #1022
Awaiting feedback from @dwainm

[2015-09-16 05:34] mahangu opened #1072 "Add option to send a notification when a learner starts/completes a lesson"
At the moment, we have the following notification/email options for Teachers.

![screen shot 2015-09-16 at 10 58 53 am](https://cloud.githubusercontent.com/assets/10125810/9897095/1aeb3a38-5c62-11e5-9b7f-9e16089f0b21.png)

Since we already have the necessary hooks in place for this, it would be pretty trivial to add the option of sending notifications when a learner starts / completes a lesson.

W

[2015-09-16 05:47] mahangu commented on #921
Course Order also does not control how courses display on Course Category Pages.

[2015-09-16 07:46] mahangu opened #1073 "Filter $register_link so the user can specify which registration link to use"
Currently, in `Sensei->frontend->sensei_course_meta()`, we decide on the value of `$register_link` based on whether the user has specified a My Courses page in Settings.

If the user has a My Courses page set in Settings, `$register_link` uses `$my_courses_url`.

However, there are certain instances (like a feature request that came in today), where a user could have a My Courses page, and still w

[2015-09-16 08:11] danjjohnson commented on #1072
Completing a lesson, yes we could do that.

We've discussed previously how there isn't a timestamp for starting a lesson, so I don't think we could do that unless we add a "start lesson" button or something (which I don't think is a good idea).

If we add "A learner completes a lesson" as a default option it will result in a lot more emails, so if we do add it, we should make it disabled by defaul

[2015-09-16 08:13] mahangu commented on #1067
This is most likely related to #1030, and is fixed in #1031.

The fix is slated for release with 1.9, and should be fixed now if you checkout master.

[2015-09-16 08:13] #1067 closed

[2015-09-16 11:50] mahangu commented on #1072
I'm still looking into it, but I think this could be done by hooking into `sensei_user_lesson_start`?

And yes, sending emails on lesson start/complete should definitely be turned off by default.

[2015-09-16 14:51] RiaanKnoetze commented on #1042
Hey @danjjohnson - Just wanted to check to find out why this isn't a bug? Surely a multiple choice question should have the ability to multiple correct answers?

An example question for this scenario would be:
Pick something that is right:
a. right
b. right
c. right
d. wrong
e. wrong

In that instance, choosing a - c would be correct and this shouldn't be auto-graded as a fail.

[2015-09-16 16:05] davidpagepsycle commented on #1042
@RiaanKnoetze At the moment the exiting multiple choice question shows as radio buttons if only 1 answer is correct, or as checkboxes if multiple need to be selected. Maybe this is a chance for adding an option that says how many right answers are required? Defaulting to all. The frontend could switch back to radio buttons if needed, and/or display a message something like "select X answers".

[2015-09-16 16:31] danjjohnson commented on #1042
Yes, @RiaanKnoetze - it's essentially the difference between:
a) Select ANY correct answer, and
b) Select ALL correct answers.

Currently we only allow for (b).

In the case of (a), if it's a survey-style question, or "scale of 1-10", as @davidpagepsycle said, it shouldn't be graded, and instead should use the zero-grade option coming in 1.9.

Have we had people wanting to use a graded question wi

[2015-09-17 07:14] RiaanKnoetze commented on #1042
Cool, I understand better now and I'm glad about the zero-graded option.

As for popularity: It's the only one I've come across, which does make it an edge-case :)

[2015-09-17 07:53] danjjohnson commented on #1042
Ok. If we get a lot more, we can look into adding the other option.

[2015-09-17 12:09] RiaanKnoetze commented on #1050
@dwainm @danjjohnson - Any news on this bug?

[2015-09-17 12:35] dwainm commented on #1050
@RiaanKnoetze thanks for the ping. I missed this as it wasn't tagged as a bug or needs feedback. If you ping us we can tag it :)

[2015-09-17 12:36] dwainm commented on #1050
I'll send fix this up for 1.9 or if there is another release before that.

[2015-09-17 13:02] dwainm commented on #1032
I'll take a look at this as part of the bugs for 1.9.

[2015-09-18 05:14] mahangu opened #1075 "Add Question Stats under Sensei > Analysis"
At the moment, our Sensei > Analysis page contains breakdowns of Learners, Lessons and Courses, but it could also be useful to have data on Questions, such as how and where they were used, and who has answered them, for example.

This is a feature request that came in today, and I can see how it would be useful, especially in setups where Questions are shared across Lessons and Courses.

[2015-09-18 07:55] #1073 closed

[2015-09-18 08:30] #1058 closed

[2015-09-18 09:15] #1063 closed

[2015-09-21 16:04] danieldudzic commented on #1022
Ping @dwainm

[2015-09-21 19:16] dankinchen commented on #1066
I get this issue as well. When you deactivate and then reactivate this you get the opportunity to install pages again (although I already have), when I press the skip button that is when I get this issue.

[2015-09-22 05:51] mahangu commented on #1072
You're absolutely right, @danjjohnson. There doesn't seem to be away to hook into `sensei_user_lesson_start` here, because the hook is also triggered when lessons end.

However, it appears that we can use `sensei_user_lesson_end` to send out an email when a user completes a lesson. PR forthcoming!

[2015-09-22 16:07] Rakhmanov commented on #994
Merged, closing issue.

[2015-09-22 16:07] #994 closed

[2015-09-24 09:54] mahangu opened #1081 "Course access with expired subscription"
Possibly related to #825. When a subscription's status changes to `Expired`, the learner still has access to the course.

The WooCommerce > Subscriptions admin screen shows -
<img width="1367" alt="screen shot 2015-09-24 at 3 02 54 pm" src="https://cloud.githubusercontent.com/assets/10125810/10070004/63ec50ca-62cd-11e5-9e4b-df01ffe1a34e.png">

Also, the Sensei > Learner Management > (course) > Lea

[2015-09-24 13:06] danjjohnson commented on #1081
Thanks for the detailed report @mahangu :)

[2015-09-24 13:42] danjjohnson commented on #1081
Ok, from a quick look at the code, it looks like we run `sensei_woocommerce_subscription_ended` when a subscription is either:

- expired
- reaches end of prepaid term
- cancelled
- put on hold

This should remove the user from the course, but it doesn't appear to be doing so.

@dwainm when you get chance, can you check if there's an issue with the `sensei_woocommerce_subscription_ended` function?

[2015-09-24 13:46] danjjohnson commented on #825
I think this is related to #1081

As mentioned there, learners should be removed from the course when the subscription is either:

- expired
- reaches end of prepaid term
- cancelled
- put on hold

Currently this function doesn't seem to be working, as the learners are not being removed, but assuming we fix that, I'd suggest that we should remove "cancelled" from that list. When a subscription is

[2015-09-24 16:38] MindyPostoff commented on #825
@danjjohnson Double-check this functionality with Subscriptions 2.0. There's new support for the end of prepaid terms for subs, and this will likely affect how this works with Sensei.

What you mentioned, though, sounds perfect to me  :)

[2015-09-25 03:11] mahangu opened #1083 "Lesson end message gives grade despite skipping quiz"
If a learner clicks the `Complete Lesson` button on a lesson with a quiz that is not mandatory, they still get this status message when the lesson completes -

`Congratulations! You have passed this lesson's quiz achieving 100%.`

Shouldn't the status message read like this instead?

`Congratulations! You have completed this lesson.`

Ticket here - https://woothemes.zendesk.com/agent/tickets/33817

[2015-09-25 03:47] mahangu commented on #1083
It appears that when a quiz is not attempted, we store the `grade` meta_key for it with a value of `100`.

Perhaps we should store this as `false` instead, and then check for that value in the logic in `WooThemes_Sensei_Utils::sensei_user_quiz_status_message()`?

[2015-09-25 07:51] danjjohnson commented on #1083
Would be interested to hear @davidpagepsycle's thoughts on this.

[2015-09-25 10:52] danjjohnson commented on #1002
@claudiosmweb we now have a repo at https://github.com/woothemes/sensei-language-packs

Let us know if you need anything else :)

[2015-09-25 15:47] davidpagepsycle commented on #1083
@danjjohnson, @mahangu Mmm, yes, tricky.

This stems from [sensei_start_lesson()](https://github.com/woothemes/sensei/blob/master/includes/class-woothemes-sensei-utils.php#L752) having the option to be able to mark as complete a lesson that is being started. Marking as complete forces a pass if the corresponding quiz on the [lesson has questions](https://github.com/woothemes/sensei/blob/master/inc

[2015-09-26 12:49] claudiosmweb commented on #1002
#1080 is ready for tests :)

[2015-09-27 16:53] Kpk1l opened #1084 "Sensei and Theme Compatibility"
Hi. I have a wordpress theme but I don't know how to make it compatible with the plugin. Can you help me please?
This is the page.php file

<?php

get_header();

?>

<?php chem_get_part_tagline( chem_get_the_ID() ); ?>

<?php chem_show_breadcrumbs(); ?>

	<section class="<?php echo apply_filters( 'chem_part_content_classes', 'chem-part_content' ); ?>">

		<?php

		if ( chem_has_sidebar() ){
			//

[2015-09-27 23:12] dwainm commented on #1084
Hi @Kpk1l please contact our support here: https://support.woothemes.com/hc/en-us

[2015-09-27 23:12] #1084 closed

[2015-09-27 23:14] dwainm commented on #1002
great job @claudiosmweb will test this out soon.

[2015-09-28 13:19] stuartduff opened #1085 "Learners section description / exerpt all display the same with Yoast SEO enabled"
Hey Guys,

If you enabled Yoast SEO the course descriptions / excepts all display the same text even if a description and excerpt are added to each course

Screenshost: http://d.pr/i/fH2r

All other sections like course archives etc seem to display the correct text when cross testing for you.

[2015-09-28 13:43] PederSongedal commented on #1085
I did try to change the text, and resave the course but it did not help.

[2015-09-28 19:38] juanvillegas commented on #1017
Sorry but can you post a link to that repo please? I don't seem to be able to find it on Google..

[2015-09-28 21:42] dwainm commented on #1017
It is not public @juanvillegas not sure if this is something we could do @danjjohnson as the plugin is free ?

[2015-09-28 22:04] juanvillegas commented on #1017
Ah hah! Sorry I thought it was. Well I'm having the same problem, as we need our certificates to be public for all users. For now, we set the user_option to true manually with mysql. Maybe a filter would fit there?

Aside from that, that ```if``` as it is seem wrong to me, first and second conditions are redundant?

[2015-09-30 07:02] mahangu commented on #1085
Thanks for the bug report! However, this issue does not appear to have anything to do with Yoast SEO. I was able to reproduce it without that plugin installed.

If you still see Yoast SEO related issues, could you please detail the steps to reproduce them?

I believe the main problem here (Course excerpts not being outputted correctly on learner profile pages) is fixed in the PR that follows, but

[2015-09-30 07:32] mahangu opened #1087 "Discussion metabox does not show in Lesson add/edit screen until Settings are saved once"
On a fresh install of Sensei, the Discussion metabox does not automatically show up on a Add New / Edit Lesson screen -

![screen shot 2015-09-30 at 12 43 46 pm](https://cloud.githubusercontent.com/assets/10125810/10186806/8b45cd6a-6771-11e5-8e90-77475a658530.png)

You need to go to Sensei > Settings and hit Save Changes for the Discussion metabox to begin showing up on the Add New / Edit Lesson s

[2015-09-30 08:01] RiaanKnoetze opened #1089 "Category Archive View is not displayed in the same order as set under Courses > Order Courses"
Link to ticket: https://woothemes.zendesk.com/agent/tickets/339182

Customer reports that when viewing the courses according to the categories, it is not following the same order as set under Courses > Order Courses in the backend.

Following a chat with @dwainm, that order *should* be respected even in archive view.

At the moment it seems that order specified under Courses > Order Courses is onl

[2015-09-30 11:40] PederSongedal commented on #1085
I do only get this problem when I do have Yoast SEO active, when I do deactivate it everything is function fine. Se video for more info:

https://vimeo.com/140911470
Password: Sensei

I do hop your PR is fixing it and I while have a look at it a bitt later.

[2015-09-30 11:55] mahangu commented on #1085
Thanks for the video. :+1:  Will have a look!

[2015-10-01 12:17] danjjohnson commented on #916
@dwainm @mahangu I'm not sure it makes sense to have the same link in the course title and the "Manage Learners" button, but we don't want to remove the button, as people will miss it.

What if we remove the link from the title entirely, and just have an "Edit course" link appear below the title on hover? Thoughts?

[2015-10-01 16:08] danjjohnson commented on #1017
I will see if we can make the repos public for our free extensions. In the meantime, I've copied your comment into the issue there for reference.

[2015-10-02 02:00] mahangu commented on #916
@danjjohnson @dwainm Would removing the title link, and adding an 'Edit Course' or 'Edit Content' button next to the other buttons in the `actions` column work?

I realise that may overcrowd `actions`column with buttons, but it does put all the actions a user can take in one section of the UI.

[2015-10-02 08:15] danjjohnson commented on #960
Thanks @mahangu - I think we definitely need to think about the UI here, because if a site has a lot of courses, that list of checkboxes could get very long.

[2015-10-02 10:08] mahangu commented on #960
@danjjohnson yes, I see what you mean!

I tried a dropdown first, but it felt slow and cumbersome, especially when adding a user to more than one or two courses. Even with ajax, it would mean a lot of clicks.

Is there some way we can experiment with displaying the checkboxes in a more intuitive way for longer Course lists?

[2015-10-02 10:33] danjjohnson commented on #960
Will give this some thought for the next release.

[2015-10-02 15:57] danjjohnson commented on #1083
So if I understand correctly: If there is a quiz, but a pass is not required, then if you complete the lesson without answering any questions you get:

`Congratulations! You have passed this lesson's quiz achieving 100%.`

But if you answer 1 question and then complete the lesson, you get:

`Congratulations! You have completed this lesson.`?

I like the idea of not showing the 'Complete Lesson' bu

[2015-10-02 21:26] #913 closed

[2015-10-05 07:46] RiaanKnoetze opened #1096 "Creating quiz when lesson is created?"
Link to ticket: https://woothemes.zendesk.com/agent/tickets/340900

Customer is reporting that they're seeing Google search results for quizes, even though they haven't created any.

Following a discussion with @danjjohnson, it became apparent that quizes were being created on lesson creation and not specifically when adding a new quiz. And these quizes are also indexable.

My question is two-fold

[2015-10-05 07:47] RiaanKnoetze commented on #1096
@danjjohnson also suggested the following interim fix:

---

The quizzes can be deleted by going to /wp-admin/edit.php?post_type=quiz
(there’s no link for that though, they’ll need to type it in manually)
They could noindex them all using Yoast, but that’s not ideal.

[2015-10-05 10:07] danjjohnson commented on #1096
@dwainm specifically, I think the question we need to ask is: Do we need to create a quiz whenever a lesson is created, or could we wait until a question is added to the lesson before creating a quiz?

I know we're planning to get rid of the quiz post type eventually, so it may not be worth doing anything until then?

[2015-10-05 10:38] mahangu commented on #1096
This appears to be intentional, as we currently check for questions in the quiz template and display `There are no questions for this Quiz yet. Check back soon.` if no questions are found -

https://github.com/woothemes/sensei/blob/master/templates/single-quiz/quiz-questions.php#L46

I see how this could be an issue though, so I'm pushing a possible fix, which may work as an interim measure until

[2015-10-05 10:56] davidpagepsycle commented on #1096
Note that whenever creating/updating a lesson the code checks if there are any questions, if so it adds a meta field to the lesson of '_quiz_has_questions' (see https://github.com/woothemes/sensei/blob/master/includes/class-woothemes-sensei-lesson.php#L426-L433 ). This allows a quick way of checking for quiz existence rather than having to go through a WP_Query.

[2015-10-05 11:18] mahangu commented on #1096
@davidpagepsycle Sorry, yes, that's far more efficient. Thanks for the code review! Updated PR.

[2015-10-05 11:23] danjjohnson commented on #734
@mahangu your PR works for me. Would be nice to show some confirmation that the course progress has been reset, even if it's just a notice that disappears after a few seconds.

[2015-10-05 12:54] dwainm commented on #1096
For now I'd like to leave functionality as is. In future questions and lessons will be tied directly. For now, deleting quizzes post type is the way to go. Closing this as there is already an issue open for this: https://github.com/woothemes/sensei/issues/460

[2015-10-05 12:54] #1096 closed

[2015-10-05 15:08] danjjohnson commented on #916
I actually think it may be better to get rid of the `actions` column entirely, as it's not very "WordPress", and instead add all the actions as sub-links on hover and have the course title link to "Manage Learners" rather than "Edit Course".

Perhaps leave the buttons there too initially, and then remove them in a future update.

Any thoughts?

[2015-10-07 11:43] danjjohnson commented on #613
Not seeing an issue here any more since we moved the contact teacher button to the top.

[2015-10-07 11:43] #613 closed

[2015-10-07 13:06] mahangu opened #1100 "Logged out users being denied full access to lessons despite global access setting"
Since 1.8.7, logged out users are being denied access to full lessons, despite Sensei -> Settings -> 'Users must be logged in to view Course and Lesson content' being unticked, and WooCommerce being disabled.

As far as I can tell, it's due to this commit -

https://github.com/woothemes/sensei/commit/496ec996daa4c8baa5b0cb077e7b528e120e2471

**Steps to reproduce**
1) Create a new Course

2) Create

[2015-10-07 14:04] danjjohnson commented on #719
On inspection I only found 2 inline styles on the frontend :)

One is for the course progress bar, which depends on php to calculate the width from the percentage, and the other is to hide the spam trap on the register form.

Neither of these should cause trouble for users wanting to apply their own styles to their theme, so I'm counting this as completed.

cc: @dwainm

[2015-10-07 14:04] #719 closed

[2015-10-07 14:21] danjjohnson commented on #1035
I think eventually we can add extra info to the teacher list, like a Gravatar, mini-bio, and number of courses.

Until we do that, we probably shouldn't mess with the styling as it will undoubtedly have to change. Going to move this to a future milestone.

[2015-10-09 08:57] kkarpieszuk opened #1103 "Introduce mail internationalisation API (WPML)"
Hi guys,

I am Konrad from WPML Compatibility team. I think you expected me after conversation with Amit, my supervisor :)

We found that there is a big problem with sending emails in correct language: they are always send in language of currently displayed page - many times this is not what recipient expects (for example: with Sensei, English administrator displays English dashboard and sends not

[2015-10-09 10:19] danjjohnson commented on #1103
Thanks @kkarpieszuk

Assigning this to @dwainm for review.

[2015-10-09 11:18] RiaanKnoetze commented on #1089
@mahangu Anything I should report to the customer?

[2015-10-09 12:54] danjjohnson commented on #1089
@RiaanKnoetze will be fixed in 1.9 - You can give them the code for the fix if they're desparate.

[2015-10-12 10:23] kadimi opened #1105 "gulp not running all tasks."
**`gulp`** doesn't run the tasks 'CSS' and 'JS', it only runs the task 'clean'

[code]

[2015-10-13 13:03] catalincic opened #1106 "Course status is wrong when there are lessons marked as draft"
I didn't really have the time to test the master branch here on Github to check if it's fixed, but just spotted a bug within Sensei. When there are lessons marked as draft in the backend (not published), Sensei doesn't show them on the frontend to the user, but when computing the overall course progress, it takes the draft lesson in consideration in the total lessons count.

The method WooThemes_S

[2015-10-15 00:37] dwainm opened #1107 "Double 'quiz' in title for legacy data"
Implement this fix as part of Sensei, so users don't open support tickets:
https://docs.woothemes.com/document/158579-2/

I've changed a lot of how templates load in so this must be added after the 743-templates branch is merged to master.

[2015-10-20 19:18] dwainm opened #1108 "Question type API"
How can developers easily add new question types and specify admin and frontend ouput, also to add autograding ability to it?

Look at post_type api for inspiration

[2015-10-21 21:12] danjjohnson commented on #1106
Thanks @catalincic

I'm not able to replicate this issue. Are you seeing it in the course progress bar on the single course page, or somewhere else?

[2015-10-22 06:08] johnsimonambat commented on #584
I am using sensei, product vendors and woocommerce.What I really need is to add products by the teacher role? How to do that please help

[2015-10-22 07:56] catalincic commented on #1106
Hey @danjjohnson - the course progress bar was showing 100% (as the course was completed) but the course wasn't being moved to the page/tab "completed courses" on the frontend.

Also, in the admin area, on the Sensei activity page, if I was looking at the user stats, the status percentage for that course was not 100%, but if you looked at the lessons for that user, it was saying that all lessons w

[2015-10-22 08:15] dwainm commented on #1022
Pesky bug it seems. I'll run some test but this should be included with the bugs that need fixing before 1.9 goes out.

[2015-10-22 12:39] mahangu opened #1109 "Add Learner to Course search box only searches login and display name"
Currently, when adding a user to a course, the `Add Learner to Course` search box only searches logins and display names. First names and last names are not searched.

**Steps to reproduce**
1) Create a user with a login name (_admin_) and a first name (_Mahangu_) and last name (_Weerasinghe_)

2) Search for the user using their first name or last name

<img width="1269" alt="screen shot 2015-10-2

[2015-10-22 19:00] dwainm commented on #1103
Hi @kkarpieszuk

I wouldn't want to add something this specific to the codebase as I'd like to keep Sensei hooks as generic as possible

Is there any way we can meet halfway by using functionality already in WP Core? I don't mind calling that.

There is also the option for building a small extension that holds all the WPML integration code so that we can recommend it only to people using the plugi

[2015-10-22 19:53] webifish commented on #1103
I'll let @kkarpieszuk reply but I am afraid WP core does not have anything we can use for that - we have already looked :( as for an extra add-on I am not sure it's possible.

[2015-10-23 00:19] dwainm commented on #1103
@kkarpieszuk is there no way to hook into wp_mail to achieve the translation results? I have had a quick browse and though there are no action you can use the filters and still trigger functionality and simply return the values as passed in.

[2015-10-23 06:32] kkarpieszuk commented on #1103
we considered this. For some strings it could be doable, but we had to prepare api, which will be avaialble for every theme and plugin author.

Please look at this example:

[code]

now, when you are using our api, that you switch language with this `do_action` just before any string, we can translate them: `__()` will pass `"You purchased %d bottles of %s"` to our functions and we will compare it

[2015-10-23 08:26] danjjohnson commented on #1108
Need to consider whether the value of this would justify the amount of work involved (at this stage).

[2015-10-23 09:07] danjjohnson commented on #584
@johnsimonambat please submit a support ticket for this kind of question, via https://www.woothemes.com/my-account/create-a-ticket/

[2015-10-23 14:34] danjjohnson commented on #1106
Thanks. I'm still not able to replicate in v1.8.8

If you get time to test with v1.8.8 and still see this issue, please let me know.

[2015-10-23 16:02] andyadams commented on #1108
For what it's worth, I _think_ that a few well-placed hooks could handle the bulk of use cases. For example, a hook before outputting the admin HTML for a question [here](https://github.com/woothemes/sensei/blob/28fca8468708524a564da686a4f2d419c5fc2d88/includes/class-woothemes-sensei-lesson.php#L1380) would allow developers to write their own HTML output.

I'm still delving into the details of Sen

[2015-10-23 16:03] andyadams commented on #1108
(And for the record, I'm trying to add a custom question type for a client)

[2015-10-23 18:05] claudiosmweb commented on #988
Can be changed by i18n filters... Anyway I honestly don't see this filter as a useful thing... Since "Mark as Complete" still will be used to "Mark as Complete", you can change the text, but the button will do the samething :p

[2015-10-23 18:29] dwainm commented on #1108
@danjjohnson totaly, it is a valualbe feature, but not urgent. I placeed it here so we can get a discussion going. Will remove it from 2.0 for now.

[2015-10-23 18:31] dwainm commented on #1108
@andyadams I few well place hooks will be the quickest solution to allow this for developers. If you want to submit a PR with the action hooks so I can take a look at them?  As long as the hooks are very generic and they don't really have names that points specifically to the quistion api it could help with a few other things as well.

[2015-10-23 18:33] dwainm commented on #988
+1 @claudiosmweb

[2015-10-26 18:20] dwainm commented on #1103
@kkarpieszuk  I see your point. Although I wouldn't like to do actions for another plugin within Sensei I understand that WP  doesn't allow much flexibility here. If you can submit the PR for this I'll look into it for you (I don't have time to include this currently as we're rolling out 1.9 and there's still a lot of work left todo).

When doing the PR :
- Please keep all WPML functionality in it

[2015-10-26 18:34] #749 closed

[2015-10-26 18:53] dwainm commented on #1087
@mahangu, thanks for this. I'll test this and include it with 1.9. I don't mind hooking in earlier but just want to ensure that nothing breaks as I'm sure there was a reason for wp_loaded and not init but can't get to it now . Love all the PR's wish I had more time to review and give feedback, but more on that soon :)

[2015-10-27 13:34] kkarpieszuk commented on #1103
Hi @dwainm and @danjjohnson

After consultations, we are going to do this :) Please expect PR in few days i think

[2015-10-27 20:41] andyadams commented on #1108
Hey Dwain, I will have some hooks for you shortly and will send a PR!

On Fri, Oct 23, 2015 at 11:31 AM, Dwain Maralack <notifications@github.com>
wrote:

[2015-10-28 05:42] #1032 closed

[2015-10-28 14:31] PareshRadadiya opened #1110 "View lesson quiz button constantly apearing after remove quiz question from lesson"
I'd to trash quiz post from _/wp-admin/edit.php?post_type=quiz_ to remove **View lesson quiz** button from lesson

[2015-10-28 17:33] andyadams opened #1111 "Add some hooks to make modifying quizzes & questions easier"
I am working on a specific problem - I need to add some fields to questions and modify the way answers are displayed on the front & backend. I have a feeling this will be a common occurrence for developers extending Sensei, so I added a few generic hooks in places where I needed them.

This is slightly related to #1108, but I've only included the very basic hooks that I would need for my particula

[2015-10-28 17:35] andyadams commented on #1108
So for my particular use case, I opted to extend multiple-choice questions instead of adding a new type. To do so, it would be handy to have some hooks, which I've added in PR #1112.

Question Type API is still something I'd be willing to help with, but I figured I'd get started with the basic hooks to modify questions as they currently stand.

[2015-10-28 17:55] dwainm opened #1113 "Translation string issues: markup should not be translatable."
![image](https://cloud.githubusercontent.com/assets/1713474/10797969/64dbfb8e-7d62-11e5-87da-1255b04e1eba.png)

[2015-10-28 18:22] dwainm commented on #1110
@mahangu seems like the issue we were talkin about. If there are no quiz questions the button should not show up.

[2015-10-28 19:50] dwainm opened #1114 "Tracking"
I think it would benefit us to have some very basic tracking/analytics within Sensei. It would help us make better decisions in future.

@warrendholmes @mattyza do we have existing infrastructure that we can utilize for this or would we need to build it up from scratch?

cc @danjjohnson @kloon

[2015-10-29 04:44] mahangu commented on #1087
Thanks for having a look! Everything looked OK to me, but I will test it further. :+1:

[2015-10-29 06:44] #1085 closed

[2015-10-29 06:53] #1087 closed

[2015-10-29 07:14] mattyza commented on #1114
@dwainm AFAIK, we have existing structure to pull in this data. We'd need to run it into it's own database though, to ensure it's tracked separately from the WooCommerce tracker.

As for the code inside Sensei itself, this can by copy/paste/modify from WooCommerce core.

What kind of info would you like to track? It may be worth keeping a checklist on this issue, for reference when integrating the

[2015-10-29 07:21] dwainm commented on #1114
Things I'd like to track is:
- how many active installs
- which admin pages the installs use
- how many people override templates
- extensions installed alongside Sensei
- Which thems do users run with Sensei
- How many active students per site.

[2015-10-29 07:43] RiaanKnoetze opened #1115 "Update visual look & feel of install / compatibility notifications in admin"
When installing Sensei for the first time, the notifications seem a bit dated and of touch when compared to that of WooCommerce.

Screenshot: http://cld.wthms.co/LsgZ/4flqiBLu

[2015-10-29 08:06] RiaanKnoetze commented on #1115
Proposed: http://cld.wthms.co/18DTl/49kbdfry

[2015-10-29 09:08] warrendholmes commented on #1114
@dwainm  We don't really have the infrastructure in place at the moment (we do but it doesn't scale at all!) We're moving WC tracking to an A8C system - I think once we've done that and understand how the system works we'll be able to easily add in tracking for some other products. In the meantime, you could work on the code which actually collects the data.

( @kloon should we consider doing this

[2015-10-29 09:36] kloon commented on #1114
As Warren said, we have the infrastructure, but the reporting part of it does not scale very well at present.

I would definitely say this is perfect for Nosara Tracks, pretty sure we wont have the need for coupons for Sensei, and if you track certain things you could possibly get away with it without asking permissions, best would be to ask the legal team on that.

I do believe Jetpack also runs

[2015-10-29 15:18] danjjohnson commented on #1115
Agreed. I thought we already had an issue for this, but apparently not. Make it so @RiaanKnoetze :)

[2015-10-29 19:02] dwainm commented on #1114
Suggested option: https://fieldguide.automattic.com/nosara-tracks/

[2015-10-29 19:24] dwainm commented on #1115
I like the new notices. It’s cleaner and more WP like.

[2015-10-29 20:01] #1115 closed

[2015-10-29 20:15] dwainm opened #1118 "Notify users about old shortcodes"
In 1.9 we introduced new shortcodes but kept the old shortcodes running smoothly. We should notify users about this if they are still using them.

[2015-10-29 20:15] dwainm commented on #1118
After this is completed or close to completion please create a new issue for 2.1 to remove the shortcodes.

[2015-10-30 09:54] mahangu commented on #1100
On 1.9-alpha / the `743-templates` branch, access to both Lessons and Courses are being denied, despite `Users must be logged in to view Course and Lesson content.` being unticked.

![screen shot 2015-10-30 at 3 21 35 pm](https://cloud.githubusercontent.com/assets/10125810/10842749/051978ac-7f1a-11e5-9e4b-d934613f35f9.png)

![screen shot 2015-10-30 at 3 22 06 pm](https://cloud.githubusercontent.co

[2015-10-30 11:02] RiaanKnoetze opened #1120 "Update frontend notifications with a more modern design"
At the moment, the default styles of Sensei is pretty dated.

As an example: http://cld.wthms.co/1c8Q7/4MrfAbhD

I propose replacing that with something that is more generic looking: http://cld.wthms.co/164FX/3roYsOOS

[2015-10-30 12:34] danjjohnson commented on #1120
I agree, and I think we should address this all at once, looking at the default styles for all Sensei elements and coming up with a nice clean design across the board.

[2015-10-30 12:37] RiaanKnoetze commented on #1120
@danjjohnson - My thoughts exactly; I've done the bulk of the legwork on this already, just need to move it into core.

In terms of keeping things modular, I thought it best to open separate GH issues for each element. e.g.

* Notices
* Courses
* Modules
* Lessons
* Quizes
* Dashboard
* Buttons

[2015-10-30 14:43] RiaanKnoetze opened #1122 "Add Wrappers for selected themes to Sensei"
Following a chat with @dwainm, we feel it's it prudent to add a single wrappers file for selected themes directly within Sensei. The two most obvious ones at present include Twenty Fifteen and Storefront, although I'd like to eventually expand that list to the themes mentioned here (based purely on market share) - https://support.woothemes.com/hc/en-us/sections/200664019-Sensei-Theme-Integration-

[2015-10-30 16:15] danjjohnson commented on #1122
I agree all default themes should work without any extra coding. I also think Storefront makes sense. I'd prefer not to add code for other themes in core, but we can consider it, or maybe look into somehow downloading theme support packs, in a similar way to how the language packs are handled.

[2015-10-30 19:46] RiaanKnoetze commented on #1122
@dwainm - waiting for your input here before I get cracking :)

[2015-10-30 19:48] dwainm commented on #1122
@danjjohnson @RiaanKnoetze jus for the the record here. I've take the time to add support to 1.9 for Storefront, Twenty Fifteen and Twenty Sixteen already.

I'm keen on adding the wrappers for other popular themes as well. This can go out with 1.9 as it doesn't take that long to create wrappers.

Let me know which themes should be in here and we can get cracking :)

[2015-10-30 19:50] dwainm commented on #1122
ok I see this list actually represents all the top themes I know about:
https://support.woothemes.com/hc/en-us/sections/200664019-Sensei-Theme-Integration-

@danjjohnson @RiaanKnoetze  any other theme you'd like to see ?

[2015-10-30 23:27] dwainm commented on #1120
@RiaanKnoetze I'd like to see this a part of the sensei overall frontend design revamp. The styles currently also include fonts which I think should be deducted from the currently installed theme and not specified by Sensei. Maybe this can be changed overall all Sensei general styles? You will note that in 743-templates the styles is now within sensei.scss which is under assets/frontend/ .

If the

[2015-10-30 23:39] dwainm commented on #803
This issue has been fixed. Questions asked is now saved before the quiz questions are printed out for the user to see.

The problem that still exists though is that when we save the submitted answers we still use the questions_asked frontend form fields which means the loop is note closed: https://github.com/woothemes/sensei/blob/master/includes/class-woothemes-sensei-quiz.php#L582

I feel this ch

[2015-10-31 22:09] dwainm commented on #1103
Thanks @kkarpieszuk  :) look forward to it.

[2015-10-31 22:50] dwainm commented on #1055
@danjjohnson after inspecting this I couldn't replicate it. I've asked the user to test ona clean install and also chekout out version 1.9 alpha to see if the issue still exists.

If he helps me with replicating this I'll open and fix this issue.

[2015-10-31 22:50] #1055 closed

[2015-10-31 23:39] dwainm commented on #1019
@danjjohnson @davidpagepsycle something we should look into going forward is to add more infomation for better reporting. Lesson end and start should be different.

#803 proposes the eradicate the issue where they can refresh the quiz to get the question they want issue. It will be set in stone when loaded.

In the same way as we do above I suggest we store the lesson start time on the first time

[2015-11-01 00:06] dwainm commented on #1007
I've narrowed down th reason for this issues and have pushed a fix which will be in version 1.9. @jakecaputo if you have a chance please confirm this in the 743-templates branch. If you'd like to wait for a zip this will be part of the beta testing version wich you'll find here shortly: https://github.com/woothemes/sensei/releases

[2015-11-01 00:10] dwainm commented on #676
@danjjohnson It wouldn't hurt to have a link on both views. The purpose is simply to help the user find their way to the course if they are interested in viewing it now.

[2015-11-01 00:17] dwainm commented on #977
You can actually filter the query pre_get_posts filter for this. You should then check for the right screen and if you are in admin and then make sure the query includes courses with the draft status. This sould output the draft course on the learner management screen. For further support on this you will have to open a ticket as we don't handle any support or customization assistance via Github.

[2015-11-01 00:17] #977 closed

[2015-11-02 03:04] mahangu opened #1123 "Courses page shortcodes do not link to courses"
In **Sensei 1.9-alpha** (and _743-templates_), the default _Courses_ page shortcodes ( `[newcourses][featuredcourses][freecourses][paidcourses]` ) output lists of courses, but do not link to them.

This is what the output HTML looks like -

![screen shot 2015-11-02 at 8 30 43 am](https://cloud.githubusercontent.com/assets/10125810/10873531/108d34e8-813c-11e5-9232-f8b474a130bc.png)

Current layout

[2015-11-02 08:04] mahangu opened #1126 "Only the first shortcode on a page outputs correctly"
In _743-templates_ , only the first legacy shortcode on a page outputs correctly.

For example,

1) On a page with `[newcourses][featuredcourses]` -

The `[featuredcourses]` shortcode outputs the title `<h3>Featured Courses</h3>` even if no courses on the site are set as Featured.

![screen shot 2015-11-02 at 1 31 13 pm](https://cloud.githubusercontent.com/assets/10125810/10876836/603de530-8166-11

[2015-11-02 12:28] danjjohnson commented on #1122
Do we really want to add wrappers in core for a bunch of third-party themes? @mattyza curious if you have any thoughts on this?

I understand that it's better if we support more themes, but it does add a bunch of redundant code to the plugin for most users.

[2015-11-02 12:38] mattyza commented on #1122
@danjjohnson I'd stick to core themes and Storefront in terms of wrappers in core.

Needing wrappers for other themes is also a sign that we can improve the overall structure of those wrappers to make it a) friendlier to existing themes and b) easier to customise, should we need to. I believe 1.9 addresses this well.

[2015-11-02 13:41] RiaanKnoetze commented on #1122
One of the main reasons for refunds, after a conversation with @zwiesman31 is that "Sensei looks crap and doesn't work on my theme".

3rd party authors aren't rushing to include Sensei wrappers in their theme and in the process we're losing out on revenue and eyeballs.

I understand that from a technical perspective this is far from ideal, however from an economical perspective I would say this is

[2015-11-02 15:28] danjjohnson commented on #676
Thanks @dwainm - the reason I asked is currently it doesn't seem to display on either. Can you confirm?

[2015-11-02 18:00] dwainm commented on #1122
I'm completely against adding any theme wrappers as part of Sensei (except core and storefront), but I understand that there are a few themes which we simply need it to work with out of the box. Even if we target just a few it is better than our current offering.

The incentive for theme authors to add wrappers is not great at all becuase Sensei is not widely used: the question of freemium comes u

[2015-11-02 22:59] jakecaputo commented on #1007
@dwainm Great. I'll check this out when I get a chance this week. I just coming back from a month off, so my plate is a little stacked. ;)

[2015-11-03 19:21] DustinHartzler commented on #1123
Came to report the same thing :)

[2015-11-03 20:44] DustinHartzler opened #1128 "[sensei_featured_courses] Formatting"
## Sensei 1.8.8
The `[sensei_featured_courses]` shortcode looks like this in twentyfifteen:
<img width="699" alt="screen shot 2015-11-03 at 3 37 36 pm" src="https://cloud.githubusercontent.com/assets/2293077/10920974/0619eeb0-8241-11e5-9e8f-ed88d82fe164.png">

## Sensei 1.9
The `[sensei_featured_courses]` in the Hub theme looks like this:
<img width="769" alt="screen shot 2015-11-03 at 3 37 54 pm"

[2015-11-03 20:47] #1072 closed

[2015-11-03 20:59] DustinHartzler commented on #1128
Looks like the code that's causing the issue can be found at
`sensei/templates/loop-course.php` on line 28.

`<ul class="course-container columns-<?php echo  WooThemes_Sensei_Course::get_loop_number_of_columns(); ?>" >`

[2015-11-03 21:14] #958 closed

[2015-11-03 21:20] #1083 closed

[2015-11-04 06:24] dwainm commented on #1128
@DustinHartzler The updated code intends to places courses in a grid hence the number of columns. I think we need to look at the styling here but not sure it is the code cuasing the issue.

[2015-11-04 15:01] #1105 closed

[2015-11-04 16:19] davidpagepsycle commented on #803
@dwainm With the current code the easiest solution is simply when a quiz is first viewed to trigger WooThemes_Sensei_Utils::sensei_start_lesson() which creates the lesson_status entry. If that occurs before lesson_quiz_questions() is run then https://github.com/woothemes/sensei/blob/master/includes/class-woothemes-sensei-lesson.php#L2756-L2775 will handle saving those question ids. It's effectivel

[2015-11-04 16:19] davidpagepsycle commented on #1019
@dwainm I'm very much for triggering a lesson_status upon first viewing any lesson. It would effectively make for a lot of lesson_status entries that say 'in-progress'. Easy to see who has looked but otherwise done nothing to "complete" the lesson.

However it might be wise to have a separate quiz start time compared to re-using lesson start time. I've seen suggestions on the Sensei Ideas forum wh

[2015-11-04 16:51] danjjohnson commented on #1019
Agreed. There is already a plugin offering timed lessons, and they plan to build in timed quizzes too, so I guess we would need to keep the start times separate for that.
https://wordpress.org/plugins/sensei-lesson-timer/

[2015-11-04 17:49] danjjohnson commented on #605
@RiaanKnoetze could you investigate this as part of your styling overhaul?

[2015-11-04 18:30] #924 closed

[2015-11-04 18:38] danjjohnson commented on #969
@RiaanKnoetze another one for you I reckon :)

[2015-11-04 18:50] danjjohnson commented on #1048
@danieldudzic would the problems be solved by just adding `.entry-content` to the second div:

[code]

or would the second `.entry` have to be removed also?

[2015-11-04 19:05] danjjohnson commented on #714
@dwainm this is working for me now :)

[2015-11-04 19:05] #714 closed

[2015-11-04 19:13] danjjohnson commented on #742
@dwainm did this make it into the new templates?

[2015-11-04 19:17] dwainm commented on #742
@danjjohnson no

[2015-11-04 19:28] dwainm commented on #1019
Thanks for your feedback @davidpagepsycle . In the short term adding more lesson and quiz meta, in the form of seperate start and end times, will be a great foundation for people doing things going forward.

The pre-fetching will mess with our code for sure, didn't even consider that, thanks.

[2015-11-05 09:03] dwainm commented on #533
Current state:
------------------------------------------------
<img width="714" alt="screen shot 2015-11-05 at 12 59 30 am" src="https://cloud.githubusercontent.com/assets/1713474/10963925/ada07e34-8358-11e5-8063-2b5b06758722.png">

Proposed combined metaboxes for 2.0
----------------------------------------------------------------
![a8c sensei metabox revamp](https://cloud.githubusercontent.com/

[2015-11-05 09:50] danjjohnson commented on #742
@RiaanKnoetze maybe something you could take a look at also?

To summarize:
`lesson-meta` and `course-meta` are being used on single lesson and single course pages to wrap content that isn't really meta data.

We should add more appropriate class names, and eventually remove the misleading classes.

Let me know if you need any guidance here.

[2015-11-05 12:35] RiaanKnoetze opened #1130 "1.9-Alpha: Welcome Screen Outdated"
The 1.9 welcome screen upon first installation seems to be that of the old one as it mentioned features that were implemented in 1.8 (screenshot at: http://cld.wthms.co/poMa/2YYy2DTs)

[2015-11-05 12:37] RiaanKnoetze opened #1131 "1.9-Alpha: Admin Notifications"
The 1.9-alpha release does not include the new admin notifications styles commit. Screenshot at: http://cld.wthms.co/16EvO/3VCELdDi

[2015-11-05 12:42] RiaanKnoetze opened #1132 "1.9-Alpha - Course Thumbnail Output in Scholar"
When viewing "My Courses" in Scholar, the thumbnails seems to be detached from the courses themselves and are instead displayed above the tabs.

Screenshot at: http://cld.wthms.co/1fJN9/3HrUwInJ

[2015-11-05 12:44] RiaanKnoetze opened #1133 "1.9-Alpha - Sensei Breadcrumb on Scholar"
When viewing a lesson using Scholar, the breadcrumb is displayed at the top of the lesson with some layout issues. Screenshot at: http://cld.wthms.co/168Rb/1wLRPJ1x

[2015-11-05 12:46] RiaanKnoetze opened #1134 "1.9-Alpha - Missing correct answers on multiple choice"
When viewing a completed lesson, the answers from multiple choice is not showing up. Screenshot at: http://cld.wthms.co/1gqBv/2L8v3Zy9

When resetting the lesson, the options are still now showing up: http://cld.wthms.co/18Ufe/22x8PW27

[2015-11-05 12:55] RiaanKnoetze opened #1135 "1.9-Alpha - New course archive page"
One of the testing parameters in trello is to test the following:

When settings a random page as my course archive page, it does not transfer into a list of courses. in Scholar

Screenshots:

* http://cld.wthms.co/pgKF/ndjPm2CQ
* http://cld.wthms.co/1crV0/4eucuUbN

[2015-11-05 12:58] RiaanKnoetze opened #1136 "1.9-Alpha - Message history layout in Scholar"
When viewing the message history in scholar, there seems to be some layout issues. Screenshot at: http://cld.wthms.co/15hXZ/4FVEaqPQ

[2015-11-05 13:10] mattyza commented on #1122
@RiaanKnoetze I see those commits are in the templates branch. :)

Could those commits be moved to a new branch, please? They're not directly template related and should be in a branch which reflects this issue instead of #743. :)

Great opportunity to use `git cherry-pick` as well. :)

cc @dwainm @danjjohnson

[2015-11-05 16:31] RiaanKnoetze opened #1137 "1.9-Alpha - Course overview breaks In Scholar"
The layout and design is quite dissimilar in Scholar with the new template system and will need some work.

Screenshot at: http://cld.wthms.co/1cV2q/b7zCgTa9

[2015-11-05 16:35] RiaanKnoetze opened #1138 "1.9-Alpha - Course title link issue [Scholar]"
In the course overview page, the title of the course is no longer linking through to the single course view. Screenshot at: http://cld.wthms.co/1lKw3/4DwA0oI2

[2015-11-05 16:41] RiaanKnoetze opened #1139 "1.9-Alpha Category layout / element issue [Scholar]"
When selecting a course category, the following issues crop up:

* Course types (e.g. all, free, paid, featured) are displayed without styles;
* The course order-by dropdown doesn't seem to work at all
* Courses are missing featured images

Screenshot at: http://cld.wthms.co/11BhS/3rBVQnh1

[2015-11-05 16:49] RiaanKnoetze opened #1140 "1.9-Alpha - Learner Profile layout breaks [Scholar]"
Screnshot at: http://cld.wthms.co/1iaUx/4tcntqrP

[2015-11-05 16:58] RiaanKnoetze opened #1141 "1.9-Alpha - New [sensei_user_courses] only outputs 1 course [Scholar]"
When using ```[sensei_user_courses number=”3” orderby=”name” order=”asc” type=”active”]``` , sensei only outputs one course.

When changing the ```active``` to ```completed```, that same course is displayed.

Screenshots:

-- Actual active courses: http://cld.wthms.co/1ex5W/1YGw6srI
-- When using new shortcode: http://cld.wthms.co/1dnw9/1HIWoBgF

[2015-11-05 17:00] RiaanKnoetze opened #1142 "1.9-Alpha - Missing title in new [sensei_user_courses] shortcode [Scholar]"
When using ```[sensei_user_courses number=”3” orderby=”name” order=”asc” type=”active”]```, the title of that course is not being shown on the front end.

Screenshot at: http://cld.wthms.co/1avTK/1jOakZ5j

[2015-11-05 17:07] RiaanKnoetze opened #1143 "1.9-Alpha Courses shortcode "IDS" parameter not working [Scholar]"
When using ```[sensei_courses ids="7707"]```, it still displays ALL courses instead of only showing that specific course (in this instance: How to Play the Piano).

Screenshot: http://cld.wthms.co/HdLU/61QGSAaW

[2015-11-05 17:12] RiaanKnoetze opened #1144 "1.9-Alpha - Messages shortcode works despite settings"
When disabling messages in the sensei settings panel, it still shows up when using the shortcode```[sensei_user_messages]```

Settings screenshot: http://cld.wthms.co/13idy/3UY6X7ot
With Shortcode: http://cld.wthms.co/1ffLc/Apuv3fkI

[2015-11-05 17:14] RiaanKnoetze opened #1145 "1.9-Alpha Ambiguous [sensei_course_page id=””] shortcode"
I tried testing the shortcode ```[sensei_course_page id=””]``` but I'm not sure what it's supposed to do; The front end only shows "No posts found." What ID parameter is it look for?

[2015-11-05 17:22] RiaanKnoetze opened #1146 "1.9-Alpha [sensei_unpurchased_courses] Not working"
When testing ```[sensei_unpurchased_courses]```, it shows all of the course available, despite already having completed some of them or being busy with others.

Screenshot at: http://cld.wthms.co/5ahc/5nRq4abN
Dashboard: http://cld.wthms.co/1eHna/OI6T5KRB

[2015-11-05 17:30] RiaanKnoetze commented on #1122
@mattyza - @dwainm added the theme wrapper through the #743 templates branch which is why this was added there as well :)

@dwainm - perhaps create a separate branch just for theme wrappers then?

[2015-11-05 18:28] dwainm commented on #1122
@mattyza @RiaanKnoetze  agreed. I'll revert those changes and cherry pick them into a seperate branch.

[2015-11-05 18:55] dwainm commented on #1122
@mattyza The commit was mixed with twenty fifteen support so a cherry pick will not work. I have left in support for twenty fifteen and storefront.

@RiaanKnoetze  we'll keep the support for third party themes out untill we've decided on the direction.

Here is the third party theme code for reference:

[code]

[2015-11-05 19:47] DustinHartzler commented on #1141
When using `[sensei_user_courses number=”3” orderby=”name” order=”asc” type=”active”]` on a page it displays all active courses.

Also when changing the 'active' to 'completed', that same three courses are displayed.

[2015-11-05 19:54] DustinHartzler commented on #1146
I found this shortcode didn't display anything when I was viewing as a logged out user.

[2015-11-05 19:55] DustinHartzler commented on #1128
And now I cannot get it to display like that anymore. Marking closed.

[2015-11-05 19:55] #1128 closed

[2015-11-05 20:06] DustinHartzler commented on #1143
This shortcode worked in TwentyFifteen and Hub and only displayed the appropriate course.

<img width="1417" alt="screen shot 2015-11-05 at 3 04 03 pm" src="https://cloud.githubusercontent.com/assets/2293077/10980193/bdf3ae98-83ce-11e5-8adb-bde6926f564b.png">
<img width="782" alt="screen shot 2015-11-05 at 3 05 16 pm" src="https://cloud.githubusercontent.com/assets/2293077/10980194/be01e170-83ce-1

[2015-11-05 20:32] DustinHartzler opened #1147 "1.9-Alpha - New course archive page styling"
The Archive Course page could use some style love. Here's TwentyFifteen and Hub:

<img width="1355" alt="screen shot 2015-11-05 at 3 30 50 pm" src="https://cloud.githubusercontent.com/assets/2293077/10980883/574d12fc-83d2-11e5-9456-772fb2277ff2.png">
<img width="831" alt="courses___sensei" src="https://cloud.githubusercontent.com/assets/2293077/10980884/58415e2a-83d2-11e5-9ad5-1b4f99aaa5fe.png">

[2015-11-05 20:33] DustinHartzler opened #1148 "1.9-Alpha - Course Filtering Issues"
### General
- [x] The 'Free' and 'Paid' filters should only display if there is at least 1 paid course AND at least 1 free course. If all courses are paid, or all are free, then it doesn't make sense to show them.

### Free
- [x] Only displays courses linked to free WC products. Courses not linked to a product are not shown.

### Paid
- [x] If there are no paid courses on the site, all courses are

[2015-11-05 20:39] DustinHartzler opened #1149 "1.9-Alpha - Single Course Page"
After the description of the course, the heading reads **Other Lessons.** In 1.8 the heading reads **Lessons.** The phrase other makes me think that there are lessons similar that aren't part of this course:

<img width="756" alt="create_an_online_course___sensei" src="https://cloud.githubusercontent.com/assets/2293077/10981060/51aa74ba-83d3-11e5-8e21-80ed4316920e.png">

[2015-11-05 20:44] DustinHartzler opened #1150 "1.9-Alpha - Single Course Page Layout"
I feel that the **Start Course** button should be under the title of the course:

<img width="441" alt="create_an_online_course___sensei" src="https://cloud.githubusercontent.com/assets/2293077/10981155/00f2157c-83d4-11e5-826d-d071d684b12f.png">

[2015-11-05 20:45] DustinHartzler opened #1151 "1.9-Alpha - Single Course Page Title Tags"
The title of a course on the single course page should be wrapped in an `<h1>` tag. (It's this way in 1.8)

<img width="441" alt="create_an_online_course___sensei" src="https://cloud.githubusercontent.com/assets/2293077/10981190/4229bcc0-83d4-11e5-8fad-aed3aa18d2af.png">

[2015-11-05 22:07] RiaanKnoetze commented on #1146
I was logged in as admin; that might change things...

[2015-11-06 02:53] dwainm opened #1152 "Notify users who are still overriding outdated templates."
If users are still using the wrong templates in 2.0 notify them via a php error notice, but still allow the templates to work.  Add an issue to remove support for these outdated templates in a future version.

[2015-11-06 11:33] danjjohnson commented on #1147
Some of our themes remove all default Sensei styles and add their own, so these new elements will need to be styled within those themes. Please open an issue for each of those themes, referencing this issue. Thanks :)

- Hub
- Canvas
- Mystile
- Superstore
- The One Pager

[2015-11-06 11:35] danjjohnson commented on #1150
Agreed

[2015-11-06 13:15] davidpagepsycle opened #1153 "Question Lessons panel is inaccurate"
![screen shot 2015-11-06 at 13 07 02](https://cloud.githubusercontent.com/assets/8223525/10997721/4c38a222-8487-11e5-919f-52ae4ccfe0dd.png)
The "Quizzes" meta box that shows when editing a singular question is only correct when the question is directly connected to a quiz. If the question exists within a category and the category has been included in a quiz then it shows the same message. It shoul

[2015-11-06 13:56] davidpagepsycle opened #1154 "Deletion of lesson doesn't delete the corresponding quiz"
Steps to reproduce:
1. Create a lesson then publish.
2. Trash the lesson, then delete it permanently.
3. Create a new lesson, giving it the same name as the first lesson, and publish.
4. Note that the new quiz slug will not match it's parent lesson as the old quiz is still there.

[2015-11-06 16:34] davidpagepsycle opened #1156 "Duplication of lesson causes issues with attached 'multiple_question' entries"
When duplicating a lesson the questions within the quiz are not duplicated, instead they have new '_quiz_id' post meta added. This is good. When deleting a question from a quiz the corresponding '_quiz_id' post meta is [searched for and removed](https://github.com/woothemes/sensei/blob/master/includes/class-woothemes-sensei-lesson.php#L2471-L2491), also good. But if the question is a category base

[2015-11-07 09:00] #743 closed

[2015-11-07 09:00] #1107 closed

[2015-11-07 09:00] #1007 closed

[2015-11-07 09:00] #1123 closed

[2015-11-08 04:52] dwainm commented on #915
Templates system has been overhaualed.

[2015-11-08 04:52] #915 closed

[2015-11-08 05:06] dwainm commented on #964
PR merged

[2015-11-08 05:06] #964 closed

[2015-11-08 06:52] #902 closed

[2015-11-09 04:45] danieldudzic commented on #1048
@danjjohnson Hey, I'm not 100% sure. But I think we'd have to remove the duplicate `.entry`.

[2015-11-09 05:01] danieldudzic commented on #1132
Bump: http://cld.wthms.co/16mpU/RsuS0zME - this indeed seems like an odd bug.

[2015-11-09 05:06] danieldudzic commented on #1151
Bump: http://cld.wthms.co/11XZU/4OL1dThx

[2015-11-09 05:17] danieldudzic opened #1158 "1.9-Alpha - [New Course Archive page] Course titles missing"
Testing with Scholar, the new Course Archive page doesn't display Course titles:

<img width="1279" alt="courses___canvas" src="https://cloud.githubusercontent.com/assets/905781/11026387/6fbb57b6-86a9-11e5-9983-5106a2fefe0c.png">

[2015-11-09 05:29] danieldudzic commented on #1138
This is also happening for the "old" shortcodes ( `[newcourses][featuredcourses][freecourses][paidcourses]` ). The titles are missing the `<h1>` tags and are not linked to single course pages:

<img width="1008" alt="courses___canvas" src="https://cloud.githubusercontent.com/assets/905781/11026499/1b8a42ea-86ab-11e5-968d-a921a0b0b89d.png">

[2015-11-09 05:32] danieldudzic commented on #1158
Same issue on the Course Category archive pages:

<img width="1271" alt="music___course_categories___canvas_and_music___course_categories___canvas" src="https://cloud.githubusercontent.com/assets/905781/11026531/9ab792c0-86ab-11e5-8d0d-d0ff2558074a.png">

[2015-11-09 05:38] danieldudzic commented on #1133
Bump:
<img width="1044" alt="code_the_feature_section___canvas" src="https://cloud.githubusercontent.com/assets/905781/11026586/7d8c14f4-86ac-11e5-924a-df2d7fe7c250.png">

[2015-11-09 05:57] danieldudzic opened #1159 "1.9-Alpha - [Quiz page] The Course wrong link"
The Course link links to the current ( quiz ) page instead of the Course page:

<img width="1027" alt="sign_up_and_how_to_play_guitar___canvas_and_otwieranie_scholar_wordpress_2015-11-09_xml" src="https://cloud.githubusercontent.com/assets/905781/11026806/f6a88938-86ae-11e5-8764-59c098575e36.png">

[2015-11-09 06:04] danieldudzic commented on #1134
The Multiple Choice questions result in a Warning for me:

<img width="521" alt="how_to_play_guitar___canvas" src="https://cloud.githubusercontent.com/assets/905781/11026892/0900f2cc-86b0-11e5-9574-6e32762ab84d.png">

[2015-11-09 06:09] danieldudzic commented on #1136
Bump:
<img width="759" alt="hello__this_is_a_test_message____cheers__danny ___canvas" src="https://cloud.githubusercontent.com/assets/905781/11026960/d0f6dfbc-86b0-11e5-9a80-1343b7dd7907.png">

[2015-11-09 06:20] danieldudzic opened #1160 "1.9-Alpha - sensei_featured_courses shortcode only outputs 1 course"
No matter what parameters I try to set, the `[sensei_featured_courses]` shortcode always outputs only 1 featured course:

<img width="851" alt="featured_courses___canvas" src="https://cloud.githubusercontent.com/assets/905781/11027110/4f90259e-86b2-11e5-99aa-77b3466194cb.png">

Also, the title of the Course is missing.

[2015-11-09 06:25] danieldudzic commented on #1160
Same result for the `[sensei_user_courses]` shortcode:

<img width="480" alt="user_courses___canvas" src="https://cloud.githubusercontent.com/assets/905781/11027168/e6e300ba-86b2-11e5-99bd-aca2556745c0.png">

[2015-11-09 06:27] danieldudzic commented on #1160
Same result for the `[sensei_courses]` shortcode:

<img width="481" alt="sensei_courses___canvas" src="https://cloud.githubusercontent.com/assets/905781/11027215/5bfdda8c-86b3-11e5-9ef8-7eea5375f4a0.png">

[2015-11-09 06:42] danieldudzic opened #1161 "1.9-Alpha - sensei_course_page shortcode broken output"
The only 2 results that I can produce with the `[sensei_course_page id=””]` are:

<img width="496" alt="sensei_course_page___canvas" src="https://cloud.githubusercontent.com/assets/905781/11027411/4be58f58-86b5-11e5-913d-06219c28788c.png">

and:

<img width="528" alt="sensei_course_page___canvas" src="https://cloud.githubusercontent.com/assets/905781/11027415/599f6c68-86b5-11e5-862c-7cdfbe4223fa.p

[2015-11-09 08:33] #803 closed

[2015-11-09 14:33] DustinHartzler opened #1163 "1.9-Alpha - Author Archive Layout / Display Information"
When viewing the Archive Author page (http://sensei.dev/author/teacher), with four different themes, four different piece of information / layouts.

While I know that every theme is different is it possible to control what information is shown on the Author page?

## Hub Theme
<img width="1255" alt="screen shot 2015-11-09 at 9 22 23 am" src="https://cloud.githubusercontent.com/assets/2293077/11035

[2015-11-09 14:42] danjjohnson commented on #1114
@dwainm I'd also like to start tracking usage of individual features, e.g. when we added the question bank, would be good to have a way to see how many people actually use that feature, to help gauge its success.

This is easy for features that are extensions, but would be good to identify a way to track certain features in core too.

cc: @mattyza

[2015-11-09 14:45] DustinHartzler commented on #1147
I agree, and I'll open up an issue for each theme, but what about the themes on the WordPress repository / theme marketplaces?

This is the layout for a free theme on the WordPress repository:
<img width="1426" alt="courses___sensei" src="https://cloud.githubusercontent.com/assets/2293077/11036405/689069e6-86c6-11e5-861f-c0b635e5b4cd.png">

instead of looking like this:
<img width="1176" alt="scre

[2015-11-09 14:52] DustinHartzler opened #1164 "1.9-Alpha - [sensei_user_messages]"
If there are no messages, could we display some generic text like **No messages found.** vs just a blank page?

<img width="833" alt="screen shot 2015-11-09 at 9 51 26 am" src="https://cloud.githubusercontent.com/assets/2293077/11036591/7c3e0452-86c7-11e5-82e8-daeaad153ba6.png">

[2015-11-09 15:07] mattyza commented on #1114
@danjjohnson @dwainm I'd say a good rule of thumb for feature tracking could be "if it's optional and I can enable the feature, the feature should be tracked".

eg: a setting in the settings tabs.

Another way of inferring similar results could be to also track numbers of X, Y, Z. For example, the average number of questions per quiz, the average number of types of questions per quiz, etc.

Perhap

[2015-11-09 17:08] stuartduff opened #1165 "1.9-Alpha Default shortcodes do not link the titles of courses"
The default shortcodes below do not link the title of the courses and only the course image is linked.

* [newcourses]
* [featuredcourses]
* [paidcourses]
* [freecourses]
* [usercourses]

[2015-11-09 17:30] stuartduff commented on #1160
When I tested this on Twenty Twelve I could add a parameter to theshortcode for the number of courses.

Screenshot: http://cld.wthms.co/1h8FW/31eCSXTA

[code]

Adding the shortcode with no parameters also displays more that a single course.

[code]

Screenshot: http://cld.wthms.co/1dNrr/4wDRrIi4

[2015-11-09 17:44] danjjohnson commented on #1165
Duplicate of https://github.com/woothemes/sensei/issues/1138 :)

[2015-11-09 17:44] #1165 closed

[2015-11-09 18:01] dwainm commented on #1114
@mattyza @danjjohnson  I'v been reading up on our internal tracking tool and it seems one can just start sending data with a unique identifier to it, for example: sensei_plugin_install_page_read . This will then get logged on the system and we can do data manipulation/extraction at a later stage when we have enough data.

I think for now we an start deciding on which identifiers we'd like to based

[2015-11-09 19:20] #1153 closed

[2015-11-09 20:16] dwainm commented on #1145
@RiaanKnoetze it needs the course id. Which you can get when you edit the course. Let em know if that works. Please re-open if it is still broken  and mark this issue as a bug. We'll have to documente all the hooks properly on docs.woo

[2015-11-09 20:26] dwainm commented on #1114
Update- Feedback from data team:

Most of this isn't a good fit for our internal tracking tool, which is more meant for measuring what individual users are doing on our hosted services.

I think the main issue is where you're going to store the data and the granularity of that data. If all you care about are counts you could use something as simple as sending a gif request to bump a MC stat. Howev

[2015-11-09 20:32] DustinHartzler opened #1167 "1.9-Alpha - Single Message"
When viewing a single message, the text of the message only displayed in TwentyFifteen (here's the URL of the page: http://sensei.dev/messages/heres-a-new-message/):

<img width="1298" alt="screen shot 2015-11-09 at 2 21 44 pm" src="https://cloud.githubusercontent.com/assets/2293077/11043986/51731b2e-86ed-11e5-88f7-d346825d21d9.png">

<img width="1248" alt="screen shot 2015-11-09 at 2 20 24 pm" sr

[2015-11-09 20:43] DustinHartzler commented on #1151
I'm going to tackle this one tomorrow :)

[2015-11-10 00:31] dwainm commented on #940
Fixed in 1.9

[2015-11-10 01:44] #921 closed

[2015-11-10 02:59] dwainm commented on #1110
Fixed in 1.9. When removing all quiz questions from a lesson and updating the lesson the "view lesson quiz" button no longer shows up.

[2015-11-10 02:59] #1110 closed

[2015-11-10 03:00] #1050 closed

[2015-11-10 03:00] #1113 closed

[2015-11-10 05:11] dwainm commented on #674
@danjjohnson please check this out in master, but do not use scholar, it overrides Sensei styles so the button styles doesn't show up there, but it should show up up after the completion message to the right.

[2015-11-10 05:12] dwainm commented on #1050
@RiaanKnoetze I'm not able to replicate this in the current master. Please check if you can still replicate it and re-open if it still an issue.

[2015-11-10 11:53] danjjohnson opened #1168 "1.9-Alpha - Deprecation notices in single course page"
`
Notice: SENSEI: The hook 'sensei_course_meta', has been deprecated since '1.9.0'.Please use 'sensei_single_course_content_inside_before' instead. in /srv/www/sensei-master/htdocs/wp-content/plugins/woothemes-sensei/includes/sensei-functions.php on line 198
`

`
Notice: SENSEI: The hook 'sensei_single_course_modules_content', has been deprecated since '1.9.0'.Please use 'sensei_single_course_modu

[2015-11-10 12:26] danjjohnson opened #1169 "1.9-Alpha - Deprecation notices in new course archive"
`Notice: sensei_course_archive_course_title was called incorrectly. This action has been retired: . Please use sensei_course_content_before instead. Please see Debugging in WordPress for more information. (This message was added in version 1.9.) in /srv/www/sensei-master/htdocs/wp-includes/functions.php on line 3622`

http://cld.wthms.co/11xPN/41vo6Qb7

[2015-11-10 13:16] danjjohnson opened #1170 "1.9-Alpha - Remove course grid?"
@dwainm The grid layout for courses isn't looking great:

http://cld.wthms.co/5n6I/227opJ5i

http://cld.wthms.co/1k6j4/fct3zecc

I think we should remove it until we have time to design and implement a proper solution.

[2015-11-10 14:02] DustinHartzler opened #1171 "1.9-Alpha - Quizzes Display Answer Feedback"
The answer feedback is being displayed when viewing the quiz:

<img width="570" alt="screen shot 2015-11-10 at 9 01 43 am" src="https://cloud.githubusercontent.com/assets/2293077/11064203/b2c5e860-8789-11e5-8e4e-2cdc74472991.png">

<img width="565" alt="screen shot 2015-11-10 at 8 54 10 am" src="https://cloud.githubusercontent.com/assets/2293077/11064187/91c3e2a2-8789-11e5-9bee-1383ab201779.png">

[2015-11-10 15:54] danjjohnson commented on #1171
Confirmed

[2015-11-10 16:02] danjjohnson opened #1172 "1.9-Alpha - Quiz added to various titles on quiz page"
When viewing a single quiz page, the word "Quiz" is being appended onto various titles around the page, but the actual title of the current quiz is missing:

http://cld.wthms.co/1fD2T/339GLbNo

[2015-11-10 16:09] danjjohnson commented on #1167
I can't replicate this one @DustinHartzler . Message content displays for me in any theme, including Twenty Fifteen and Hub.

[2015-11-10 16:12] danjjohnson commented on #1164
Agreed. I suggest:

[2015-11-10 16:14] danjjohnson commented on #1164
Actually, for consitency with the current My Messages page, make that:

[2015-11-10 16:19] danjjohnson commented on #1163
We'd need to include a custom author archive template in Sensei, which is definitely a good idea, but not a priority for this release. Related to https://github.com/woothemes/sensei/issues/862

[2015-11-10 16:30] danjjohnson commented on #1145
@dwainm it's not working for me.

If I just use `[sensei_course_page]` I get "Please supply a course ID for this shortcode." (Not sure if we should display that on the frontend?)

And if I use an id of an existing course, e.g.`[sensei_course_page id="146"]` I get nothing output on the frontend.

[2015-11-10 16:30] danjjohnson commented on #1161
Duplicate of https://github.com/woothemes/sensei/issues/1145

[2015-11-10 16:30] #1161 closed

[2015-11-10 16:37] danjjohnson commented on #1160
Also unable to replicate this using Scholar / Twenty Twelve.

[2015-11-10 16:40] danjjohnson commented on #1159
Unable to replicate this one. @stuartduff can you double-check?

[2015-11-10 16:43] danjjohnson commented on #1158
Confirmed. May be a Scholar issue.

[2015-11-10 16:45] danjjohnson commented on #1149
@dwainm "Other Lessons" should only be used if there are some lessons within modules, and then some "other lessons" below, which are not in modules.

[2015-11-10 17:07] stuartduff commented on #1159
@danjjohnson I cannot replicate this issue either and It's displaying the correct link for me and taking me back to the course.

I grabbed a quick screenie so you can see the link it's showing when hovering over this in my browser http://cld.wthms.co/1g534/4u43vGMS

[2015-11-10 19:37] danjjohnson commented on #674
The basics are there @dwainm :)

We should remove the js that makes it jump down the page when the lesson is completed. That was only there so you could easily find the lesson navigation, and isn't needed any more.

I'll take a look at the button styling.

For now, we can just leave the button out of the last lesson, but in future we should add a course completion screen/overlay. That can be a sep

[2015-11-10 19:58] dwainm commented on #552
Moving this on to the next version. Anothe option we could consider here is parent child post type relationships.

[2015-11-10 20:13] dwainm commented on #1048
No longer an issue 1.9

[2015-11-10 20:13] #1048 closed

[2015-11-11 06:56] dwainm opened #1173 "Pre-Requisite course causes user course progress to be removed"
If a user is added to a course or if they have been taking a course and admin / teacher adds a pre-requisite before that course. The moment the user tries to acces that course he is removed from the course he has already been taking.

This could better be managed with no permissions and and appropriate message.
includes/class-sensei.php:667

[2015-11-11 07:11] dwainm commented on #891
Fixed in 1.9:
To turn on case sensitive filtering simply add this to your functions.php:

[code]

[2015-11-11 07:11] #676 closed

[2015-11-11 07:11] #742 closed

[2015-11-11 07:11] #891 closed

[2015-11-11 07:14] dwainm commented on #1131
@RiaanKnoetze  the styles you added worked but there were still some other styles for it in the settings.scss. I removed this as well and it looks absolutely stunning :)

[2015-11-11 07:18] dwainm commented on #676
@danjjohnson, I think the order received page is the best place for the notic. There was no other hooks above the table so I had to use the WooCommerce notice system which look good on most themes.  It's not perfect but it's an improvement on the hidden message we previously had.

<img width="810" alt="screen shot 2015-11-10 at 11 16 27 pm" src="https://cloud.githubusercontent.com/assets/1713474/1

[2015-11-11 07:22] dwainm commented on #893
Fixed: https://github.com/woothemes/sensei/pull/1039

[2015-11-11 07:22] #893 closed

[2015-11-11 07:26] dwainm commented on #1147
@dustin the sidebar will show at the bottom if the theme doesn't have the correct wrappers. This has to do with our main discustion on our internal tool regarding including wrappers for popular themes.

[2015-11-11 07:28] dwainm commented on #1147
Also @DustinHartzler FYI we'll be removing the gridd css temporarily untill we can create a better looking grid : #1170

I'll give twenty fifteen some more general theme css love and close this issue with that commit.

Thanks for your feedback so far!

[2015-11-11 08:05] RiaanKnoetze commented on #1131
Legend! I didn't see those - thanks for taking care of that :)

[2015-11-11 09:07] #1170 closed

[2015-11-11 09:07] #1172 closed

[2015-11-11 09:10] dwainm commented on #1170
@danjjohnson I've set the number of columsn to 1 so it will just display as a list of course. User cans still change this back to any number via filter but I didn't want to remove the structure for the grid at this stage. It will simply be invisible for now.

The styling especially 2015 needs some love, but structuraly I don't see any issues there.

[2015-11-11 09:30] davidpagepsycle commented on #891
@dwainm Quick check on this. Enabling the filter will mean that though plain text is now case sensitive, it is then no longer possible to have gap fill questions with regular expression answers.

Oh, and shouldn't the filter name be 'sensei_gap_fill_case_sensitive_grading'?

[2015-11-11 10:21] danjjohnson commented on #1131
@RiaanKnoetze I'm being super picky here, but the padding on our Sensei notifications doesn't match the padding on other notifications, and makes it look kinda messy. Reckon you can fix that up?

http://cld.wthms.co/13D6T/4Ya135iG

[2015-11-11 10:36] danjjohnson commented on #940
@dwainm there is now no pagination at all for me when using the old shortcodes e.g. [newcourses]

[2015-11-11 15:11] danjjohnson opened #1174 "1.9-Alpha Template differences"
Documenting all visual differences in templates from v1.8.8 compared to v1.9-alpha.

All screenshots taken from Twenty Twelve theme, which uses default Sensei styles and no overrides.

(If I add more to this list I will comment below to point it out).

### Course Archive (using old shortcodes)
http://cld.wthms.co/1lrpt/3rIRm8lW

- [x] 1. Border styling differences
- [x] 2. ~~Course Participants co

[2015-11-11 15:36] danjjohnson commented on #1171
Moved to https://github.com/woothemes/sensei/issues/1174

[2015-11-11 15:36] #1171 closed

[2015-11-11 17:35] danjjohnson commented on #1131
Done :)

[2015-11-11 17:55] dwainm commented on #891
@davidpagepsycle I'll addt he regext to the case sensitive part as well. The filter name should be `sensei_gap_fil_case_sensitive_grading `  thanks for spotting that!!

[2015-11-12 08:43] #1159 closed

[2015-11-12 08:46] danjjohnson commented on #1151
Moved to https://github.com/woothemes/sensei/issues/1174

[2015-11-12 08:46] #1151 closed

[2015-11-12 08:47] danjjohnson commented on #1150
Moved to https://github.com/woothemes/sensei/issues/1174

[2015-11-12 08:47] #1150 closed

[2015-11-12 08:47] danjjohnson commented on #1149
Moved to https://github.com/woothemes/sensei/issues/1174

[2015-11-12 08:47] #1149 closed

[2015-11-12 08:57] danjjohnson commented on #996
Moved to https://github.com/woothemes/sensei/issues/1174

[2015-11-12 08:57] #996 closed

[2015-11-12 09:05] danjjohnson commented on #1144
Confirmed. Not a huge issue as people who have messaging disabled are unlikely to use that shortcode, but we should account for it anyway.

[2015-11-12 09:17] danjjohnson commented on #1135
I got the same thing, but when I saved the settings a second time, the page changed to the list of courses.

You should not have to save the settings twice.

[2015-11-12 09:25] #1122 closed

[2015-11-12 15:01] danjjohnson commented on #1148
Renamed this issue as a place to keep track of all issues with the new course filters. Added a few above.

[2015-11-12 15:05] #1160 closed

[2015-11-12 15:47] danjjohnson commented on #1174
@dwainm you checked off

But I'm now seeing no pagination for any of the old shortcodes.

Also:
- [ ] 5. If there are no paid courses, the [paidcourses] shortcode displays free courses.

[2015-11-12 16:46] RiaanKnoetze opened #1177 "Use updated FontAwesome Library"
For the upcoming style changes, we could do with using an updated FontAwesome library.

[2015-11-12 17:06] RiaanKnoetze commented on #1131
Super quick @danjjohnson - as always :)

[2015-11-12 18:11] RiaanKnoetze commented on #1131
The button classes for "Hide this notice" and "Skip setup" are still using the ```button-primary``` class. These buttons should only use the ```button``` class.

[2015-11-12 18:21] #1131 closed

[2015-11-12 21:10] #802 closed

[2015-11-12 21:11] dwainm commented on #802
Taken care off by new templates

[2015-11-13 01:08] dwainm commented on #1174
@danjjohnson the latest commits fixes all the issues for the first block.

[2015-11-13 01:43] dwainm opened #1181 "WooCommerce functionality separated from Sensei Code"
All WooCommerce code should be moved to the Sensei_WC and then hooked into Sensei.

We want tight integration but we also need to be able to clean up the Senei code from is WooCommerce active checks.

[2015-11-13 08:54] danjjohnson commented on #1147
Filter styling has been added to the above themes.

[2015-11-13 10:33] danjjohnson commented on #1174
@dwainm this is still happening for me:

[2015-11-13 10:34] danjjohnson commented on #940
Fixed via https://github.com/woothemes/sensei/commit/947ed9178d06d993e6a0da98410013d24785111d

Uses the new course archive template to display subsequent pages.

[2015-11-13 10:34] #940 closed

[2015-11-13 12:46] danjjohnson commented on #1174
@dwainm

I'm still seeing no comments on lessons in 1.9, but the comments are there in 1.8.8

[2015-11-13 16:37] dwainm commented on #1174
@danjjohnson please be sure to update master. I can see comments on  the lesson(also check your settings):
<img width="973" alt="screen shot 2015-11-13 at 8 33 37 am" src="https://cloud.githubusercontent.com/assets/1713474/11151322/51525eb0-89e1-11e5-9b1c-89be491bf15d.png">

------------

Also Paid course working on my side, let me know if there's something I'm missing maybe:

<img width="952" alt

[2015-11-14 03:07] dwainm commented on #1174
@danjjohnson
 5. No headings for Active/Completed courses

My idea with this shortcode was to give users more control by allowing them to specify what they want to see: active , complete or all(default) and also to specify how much they want to see. This will allow people to have a seperate menu itemes for active and complete courses.

I realise though that people will want the same toggle functio

[2015-11-14 09:44] dwainm commented on #1174
@danjjohnson I've update all the code for my course shortcode, which should work now. I'll be looking at this in the morning before moving on to the other issues:

[2015-11-14 09:52] dwainm commented on #1174
@danjjohnson I can't replicate the paid courses issue. Could you try adding the products back to the courses and then throwing those courses with products into the trash? See if it still shows free courses.

[2015-11-14 17:19] dwainm commented on #1126
Fixed as part of #1174

[2015-11-14 17:19] #1126 closed

[2015-11-14 17:21] dwainm commented on #1126
Also note that as part of the algorithm courses that are already included in the previous shortcode will not be shown again. I'ts a little confusing but this is how it currently works. The new shortcodes doesn't respect this as shortcodes should be independant.

[2015-11-14 17:40] dwainm opened #1182 "Clean up Sensei settings"
We currently have multiple pages of settings. Som of these settings need to be filters in the code, others must simply be removed.

We have to look through settings with a critical eye and make some decissions for our  users and Sensei. "Decissions not options"

[2015-11-14 19:41] dwainm commented on #1151
Fixed as part of #1174

[2015-11-14 19:42] dwainm commented on #1150
Fixed as part of #1174

[2015-11-14 19:47] #1089 closed

[2015-11-15 07:07] dwainm opened #1183 "Individualise the course meta function to allow for removing and adding more pieces"
The course meta doesn't allow much customizability. Alter it in a way that allows pieces to be added and removed.

[2015-11-15 16:18] #1066 closed

[2015-11-15 16:18] dwainm commented on #862
- I've create a template for this
- The title is update to reflect "All courses by [Teacher name]"
- The course meta is completely removed. The course meta is one function but it doesn't allow you to remove only parts of it. I've created an issue for this ( #1183 ) . After individualising the piecies that make up the course meta we can again add the meta.

We can't add anymore for functionality to

[2015-11-16 04:59] #1134 closed

[2015-11-16 04:59] #1145 closed

[2015-11-16 07:03] #1135 closed

[2015-11-16 10:21] danjjohnson commented on #1141
Sorry guys, the `type` parameter was changed to `status` in a later commit. Forgot to update that in the testing info.

[2015-11-16 10:21] #1141 closed

[2015-11-16 12:55] danjjohnson commented on #1143
Scholar issue. Moved to https://github.com/woothemes/scholar/issues/48

[2015-11-16 12:55] #1143 closed

[2015-11-16 12:55] danjjohnson commented on #1142
Scholar issue. Moved to https://github.com/woothemes/scholar/issues/48

[2015-11-16 12:55] #1142 closed

[2015-11-16 12:56] danjjohnson commented on #1139
Scholar issue. Moved to https://github.com/woothemes/scholar/issues/48

[2015-11-16 12:56] #1139 closed

[2015-11-16 12:56] danjjohnson commented on #1138
Scholar issue. Moved to https://github.com/woothemes/scholar/issues/48

[2015-11-16 12:56] #1138 closed

[2015-11-16 12:56] danjjohnson commented on #1137
Scholar issue. Moved to https://github.com/woothemes/scholar/issues/48

[2015-11-16 12:56] #1137 closed

[2015-11-16 12:57] danjjohnson commented on #1136
This looks ok for me in current master branch: http://cld.wthms.co/1ibn3/CyYS5bwq

Please confirm @RiaanKnoetze @danieldudzic and reopen in https://github.com/woothemes/scholar/issues/48 if you still see the issue.

[2015-11-16 12:57] #1136 closed

[2015-11-16 12:57] danjjohnson commented on #1133
This is working for me now in master. Please confirm and reopen in https://github.com/woothemes/scholar/issues/48 if the issue persists.

[2015-11-16 12:57] #1133 closed

[2015-11-16 12:57] danjjohnson commented on #1132
Not seeing this in current master branch. Please reopen in https://github.com/woothemes/scholar/issues/48 if the issue persists for you in current master branch.

[2015-11-16 12:57] #1132 closed

[2015-11-16 15:03] RiaanKnoetze opened #1184 "Support for WooCommerce Product Add-ons Plugin"
Link to ticket: https://woothemes.zendesk.com/agent/tickets/352624

Customer reports that the link to buy a course doesn't work when that product has an add-on associated with it (i.e. a custom required field).

On front end: http://cld.wthms.co/Ysow/1KFtjrGu
Backend product setup: http://cld.wthms.co/WTF7/3uyG0C4I

[2015-11-16 17:07] RiaanKnoetze opened #1185 "Subscription renewal resets course progress"
Link to ticket: https://woothemes.zendesk.com/agent/tickets/351356

When a subscription renewal occurs, the status of completed courses is reset to 0%

Screenshot: http://cld.wthms.co/1drSt/9ZamgIwp

[2015-11-16 19:50] danjjohnson commented on #1168
@dwainm still getting that deprecation notice on single course page: http://cld.wthms.co/18rDp/Hc5Z6BTB

[2015-11-17 00:31] dwainm commented on #1140
This issues happend because the images were echoed and not returned by the function we called.

Fixed the same issue on seperate pages in these 2 commits:
- c3e4a854
- eca8d239

[2015-11-17 00:31] #1140 closed

[2015-11-17 01:37] dwainm commented on #1143
Moved to scholar: https://github.com/woothemes/scholar/issues/48