[2015-11-17 07:45] #1144 closed

[2015-11-17 07:50] dwainm commented on #605
@danjjohnson seeing that we've created a new mycourses page shortcode that doesn't work like the old version does in terms of CSS classes, is this stil something we should fix?

[2015-11-17 08:45] kkarpieszuk commented on #1103
Hi @dwainm small update.

I am working on this, but we hit a wall here. I found that language switching does not work for email which are sent during any action taken in wp-admin. So email about new course assigment goes in wrong language.

This is totally bug in WPML, not Sensei, so don't worry. We will handle it. But I want to just inform you how things are going.

Other emails which are sent fr

[2015-11-17 09:31] danjjohnson commented on #1174
@dwainm
- Comments are showing on lessons now
- Still getting the issue with [paidcourses] when there are no paid courses. Asked Stu to double check this.
- My Courses - as discussed we will change this to display all courses in tabs (no pagination)

Everything else seems ok now :)

[2015-11-17 12:41] danjjohnson opened #1186 "i18n issues"
After compiling the .pot file recently I discovered several strings that need attention:

- [x] `$suffix`
https://github.com/woothemes/sensei/blob/master/includes/class-sensei-admin.php#L612

Suggested fix:
[code]

- [x] `%s .$post_type->labels->name`
https://github.com/woothemes/sensei/blob/master/includes/class-sensei-admin.php#L747

- [x] Split sentence
https://github.com/woothemes/sensei/blob/

[2015-11-17 13:01] danjjohnson commented on #1148
@dwainm

Now I have both paid and free courses, and the Paid/Free filters are not showing up: If there are no paid courses on the site, all courses are diplayed.

[2015-11-17 13:18] danjjohnson commented on #605
@dwainm No, since we're not using jquery ui for the new shortcode, this won't be an issue. If people using `[usercourses]` complain about this, we should encourage them to switch to `[sensei_user_courses]` anyway, since `[usercourses]` will be removed eventually.

[2015-11-17 13:18] #605 closed

[2015-11-17 19:29] #1148 closed

[2015-11-17 20:27] dwainm opened #1187 "1.9 Alpha Course delete button not working"
On my courses shortcode page the delete button doesn't work.

[2015-11-17 20:29] dwainm opened #1188 "1.9 Alph - my courses pagination still showing up"
The Settings > Reading can override the posts per page for my courese and still force pagniation to show up. We've decided to no show pagination when all course (active and completed) will be shown.

[2015-11-17 23:53] #988 closed

[2015-11-18 00:05] dwainm opened #1189 "Learner management complete not working"
when adding user already on course to a course and completing it while the course has no lessons doesn't complete thecourse for the user

[2015-11-18 15:20] danjjohnson commented on #1002
@SiR-DanieL language packs are now included in Sensei 1.9-beta :)

[2015-11-18 15:20] #1002 closed

[2015-11-18 15:32] SiR-DanieL commented on #1002
:dancer: :dancer: :dancer: :dancer:

[2015-11-19 10:31] danjjohnson opened #1190 "1.9-beta: Error on adding a paid course to the cart"
When adding a paid course to the cart, I see this:

http://cld.wthms.co/1gk5P/5lms6MRT+

[2015-11-19 10:35] danjjohnson opened #1191 "1.9-beta: Can't buy a course when logged out"
If you're logged out, you don't get the option to purchase a course, just a message saying you must be logged in:

http://cld.wthms.co/wtwF/5TdoFne6

[2015-11-19 10:57] danjjohnson commented on #910
@dwainm I'm concerned that cancelling the order may be too destructive. Their order may contain other purchases/subscriptions etc. that could be affected by this.

Is there any other way to remove course access without cancelling the order? If not I think we may need to look into an alternative solution for this.

[2015-11-19 12:07] jobthomas opened #1192 "UI: Change menu order for "Lessons""
It would make more sense to have both lessons and courses in the same order than what they are now: ![http://cld.wthms.co/1kOWf/3Qgkrs6j](http://cld.wthms.co/1kOWf/3Qgkrs6j+)

Suggested menu order:

**Lessons/Courses**
* All Lessons
* Add New Lesson
* Order Lessons
* Lesson Tags
* All Courses
* Add New Course
* Order Courses
* Course Categories

[2015-11-19 12:58] danjjohnson commented on #1192
@jobthomas looks like you're using an old version of Sensei here.

The current order is as shown:
![screen shot 2015-11-19 at 12 56 58](https://cloud.githubusercontent.com/assets/1990037/11271334/1d077dda-8ebd-11e5-9b09-e4f81f66876a.png)
![screen shot 2015-11-19 at 12 57 50](https://cloud.githubusercontent.com/assets/1990037/11271345/2d3ee4c2-8ebd-11e5-8cf3-6c2b3e7a5529.png)

[2015-11-19 13:09] jobthomas commented on #1192
Wow, bad creds for me @danjjohnson

[2015-11-19 13:10] #1192 closed

[2015-11-19 16:04] danjjohnson opened #1193 "1.9-beta: Language pack notification for unavailable languages"
When switching to a language for which there is no Sensei language pack available, it still shows the notification to install the language pack.

e.g. `cy (Welsh)`:
![screen shot 2015-11-19 at 16 02 35](https://cloud.githubusercontent.com/assets/1990037/11275734/ff5dd094-8ed6-11e5-8635-9b08c54fa78c.png)

After clicking install, the failure notice displays, but the install notice is still displayed

[2015-11-20 00:38] claudiosmweb commented on #1193
We need to check: https://github.com/woothemes/sensei/blob/master/includes/class-sensei-language-pack-manager.php#L92

[2015-11-20 18:59] dwainm opened #1194 "Admin Menu Order"
We need to bring admin menu items closer to each other. I've seen other plugins use a decimal system range. For example 55.20 - 55.50 .

[2015-11-20 22:24] danjjohnson commented on #1194
Which ones specifically? They're all grouped together for me.

[2015-11-20 22:57] dwainm commented on #1194
It is not a specific one but grouping them closer together will result in fewer plugins inserting itemes in between Sensei admin menu items. For example currently:

Sensei -  50
Course - 51
Lesson - 52

If another plugin also sets 51 as the menu position it will be wedged in between our menus.

If we choose the below positions there is less of a chance for other plugin menu items to end up in betw

[2015-11-21 15:15] DanielJLewis commented on #1048
I'm the one who reported this issue. Yes, using `entry-content` would be more standard and fix the problem.

[2015-11-23 06:17] RiaanKnoetze opened #1195 "Saving quiz causes uses to be stuck in "In Progress""
Link to ticket: https://woothemes.zendesk.com/agent/tickets/357488

Customer reports the following:

---

This student filled in a quizz after a lesson. Before submitting it, the quizz was saved. After finalizing it the quizz had been submitted. Unfortunatelly, this quizz now appears in 2 queues: "in progress" and "submitted". We cannot do anything with the "in progress" item, neither can the stud

[2015-11-23 09:44] danjjohnson commented on #1194
:+1:

[2015-11-23 12:09] danjjohnson commented on #1100
There is still an issue with this in 1.9-beta.

Access Permissions is diabled, but when logged out and viewing a lesson, although the lesson content is displayed, there is still a notice telling you to sign up for the course: http://cld.wthms.co/15Apb/5EOUiJSL

[2015-11-23 16:29] dwainm commented on #1195
Hi @RiaanKnoetze have you confirmed this locally? Not sure if the last sentence is from you or the customer.

[2015-11-24 13:13] RiaanKnoetze opened #1196 "Sensei Adds "Course Details" to non-Course Order Emails in WooCommerce"
Link to ticket:

When Sensei is installed, it adds "Course Details" to the Order Confirmation email to the customer, even when no course was bought.

In this screenshot, you can see the "Course Details" heading added to the body content, even though the customer bought a simple product that was not connected to a course: http://cld.wthms.co/18NOx/56blnZTj

This is powered by line 1096 in classes/c

[2015-11-24 17:16] dwainm opened #1198 "Move WP and Woo internal theme support functionality out of the wrappers."
The problem with having theme integration within the wrappers is that adding css and js to the integrations will make the wrapper files more difficult to understand and read.

The wrappers in the templates should only target the _s theme. The reason for this is that all our themes going forward will use this as base, even storefront uses this.

All other themes currently within the wrappers files

[2015-11-25 15:40] RiaanKnoetze commented on #1195
@dwainm -- yes, have confirmed locally. The last sentence was from me :) (I've updated the ticket for better formatting

[2015-11-26 04:37] RiaanKnoetze opened #1199 "Ambiguous use of [1] after the question"
This has come a few times in support, and also in discussions with a11n's in their first exposure to Sensei: "what is the [1] in brackets after each question?"

Jen Mylo made an interesting obeservation: "I think it has more to do with context. [1] is ambiguous, [1 point] is clear what it is. that said, putting the point value after the question regardless of whether they got the point or not is k

[2015-11-26 09:17] danjjohnson commented on #1199
I think this is supposed to be like exam papers, where the points available for each question are shown in brackets e.g. http://cld.wthms.co/1i6oj/2BHc3y5l

However, it probably only makes sense for open-ended questions where there is likely to be more than one point awarded for a question.

May be worth hiding it by default and having an option to display it. I’d also vote for using regular brack

[2015-11-28 08:13] tubiz opened #1200 "Issues With WooCommerce Subscriptions Integration"
Sensei integrates with the WooCommerce Subscriptions using some hooks that are triggered when a subscription is activated, renewed, cancelled, expired, put on hold, reached end of prepaid term and reactivated but there seems to be some bugs with the way the WooCommerce Subscriptions integration with Sensei.

If a subscription is put on hold the subscription_put_on-hold hook is triggered which call

[2015-11-28 18:20] dwainm commented on #674
@danwoo, we should probably wrap this up before RC 1. I couldn't see any JS but will look again. Could you update the styling?

[2015-11-29 01:39] dwainm commented on #898
The same issue occurs within WC. With the new udpate method WordPress does a slient update and none of the update hooks fire, with this you can click and update multiple plugins. Force redirecting while in slient mode may have negative affects on other plugins. For now it is safe to assume that the screen we show will be for new user installing the plugin and not exising users upgrading. Especiall

[2015-11-29 01:39] #898 closed

[2015-11-30 08:14] danjjohnson commented on #898
ok thanks for clarifying :)

[2015-11-30 09:43] danjjohnson commented on #674
@dwainm you're right, it doesn't seem to be jumping down to the bottom of the lesson any more, that must have been removed already.

However, now the issue is that the page refreshes, but the lesson complete message is at the bottom of the lesson, so you don't see it unless you scroll down. I think we need to move it to the top of the lesson, so as soon as the page is refreshed, you can see the me

[2015-11-30 11:12] danjjohnson commented on #674
Added basic styling for now:

![Next Lesson styles](http://cld.wthms.co/14rni/5gJqTFiG+)

We can revisit this with the frontend style changes in 2.0

Just need to move the message to top of page now @dwainm

[2015-11-30 12:11] danjjohnson commented on #674
I've also removed the `.button` class from the link, as it's not really a button, and applying all the button styles to it makes it more difficult to style in themes.

[2015-11-30 12:48] danjjohnson commented on #674
Finally I added a space before the link, so that it will look reasonable even in themes that remove all default Sensei styles, e.g:

![Superstore](http://cld.wthms.co/11YHE/1AR2na0p+)

[2015-12-01 13:32] danjjohnson opened #1202 "Registration process"
When registering via My Courses, the registration process is different from the default WordPress process. You enter your chosen password on the page, and no confirmation email is sent.

We should use the default WordPress registration process here, where only the email address and username are entered, and an email is sent with a link to set your password.

[2015-12-01 14:36] sbangnielsen opened #1203 "1.9-beta: PHP Warnings"
I get following errors from wp_debug

( ! ) Warning: Missing argument 2 for Sensei_Quiz::single_quiz_title() in /Users/steffen/Documents/Websites/medbrief.dev/wp-content/plugins/woothemes-sensei/includes/class-sensei-quiz.php on line 1096

( ! ) Notice: Undefined variable: post_id in /Users/steffen/Documents/Websites/medbrief.dev/wp-content/plugins/woothemes-sensei/includes/class-sensei-quiz.php o

[2015-12-01 21:52] andyadams commented on #1156
+1 for this fix - this is a fairly major issue, as (in my case) every single question was removed from the "original" quiz after it was duplicated. When the duplicated quiz was edited to remove questions, the originals were suddenly blank.

I know this is slated for 1.9.1, but I just wanted to give it a "bump" as this was a major source of pain on the implementation I'm working on.

[2015-12-01 23:37] dwainm commented on #953
Related ticket: https://woothemes.zendesk.com/agent/tickets/351704

[2015-12-01 23:38] dwainm commented on #953
@davidpagepsycle sorry for not getting back to you. 1.9 is swallowing my time atm. This ticket will be looked at when we start working towards the version after 1.9.

[2015-12-03 01:22] sbangnielsen opened #1205 "1.9-beta: Preview doesn’t work"
User cannot preview lesson if the setting ’Users must be logged in to view Course and Lesson content’ is ticked, even though the setting ’Allow this lesson to be viewed without purchase/login’ is also is also ticked.
![preview](https://cloud.githubusercontent.com/assets/11867622/11549234/99e6c7e6-9964-11e5-8d10-caea79b91864.png)

[2015-12-03 01:33] sbangnielsen opened #1206 "1.9-beta: No featured image on lessons and courses"
Featured images are not present on single-lesson even though the setting ’Output the Lesson Image on the Single Lesson Page’ has been ticked.
The lesson image is present on the single-course, while the featured image for courses are not present on single-course.
Featured images for courses seems to be present on archive pages.

[2015-12-03 01:40] #1130 closed

[2015-12-03 03:39] #674 closed

[2015-12-03 12:50] danjjohnson commented on #1200
Related:
https://github.com/woothemes/sensei/issues/1081
https://github.com/woothemes/sensei/issues/825

[2015-12-03 15:24] RiaanKnoetze opened #1207 "Missing button class on some buttons"
Link to ticket: https://woothemes.zendesk.com/agent/tickets/357515

With some buttons on Sensei, it is missing the ```.button``` class which will allow theme settings (e.g. Canvas) to style those buttons. A prime example of this is the course register button that only has the ```status register``` classes.

[2015-12-03 15:41] LogoLogics2 commented on #1207
Great Riaan, thanks for this item!

[2015-12-03 16:24] dwainm commented on #910
This functionality should be reverted as existing order must not be canclled.

[2015-12-03 20:25] #1177 closed

[2015-12-04 05:43] #1191 closed

[2015-12-04 05:45] dwainm commented on #1188
Fixed in a previous commit for https://github.com/woothemes/sensei/issues/1174

[2015-12-04 05:45] #1188 closed

[2015-12-04 11:10] danjjohnson commented on #862
The problem I see now is that this template only applies for the teacher role (as far as I can tell). If the teacher is an administrator, they still get the default author archive.

Also, a user could be an admin who writes blog posts, and teaches courses, so may want both posts and courses on their archive page. Need to give this some more thought.

[2015-12-04 11:15] danjjohnson commented on #1206
Confirmed testing in Twenty Twelve theme.

[2015-12-04 11:23] danjjohnson commented on #1190
I still get this blank message when adding a paid course to the cart from the course page:

![Blank message](http://cld.wthms.co/gAGD/5yNxmE8q+)

[2015-12-04 11:41] danjjohnson commented on #1205
Confirmed. Preview lessons should be viewable by anyone, including logged out visitors, for both paid and unpaid course.

[2015-12-04 12:04] danjjohnson commented on #1196
Not seeing this in 1.9-beta on current master branch. Can you confirm @RiaanKnoetze ?

[2015-12-04 12:12] danjjohnson opened #1208 "1.9-beta: PHP Notice in course modules metabox"
![notice](http://cld.wthms.co/191b7/3GvKYrgA+)

With WP_DEBUG switched on.

[2015-12-04 12:15] danjjohnson commented on #1195
I was unable to replicate this in testing.

[2015-12-04 12:16] danjjohnson commented on #1193
@claudiosmweb would you mind taking a look at this when you get chance?

[2015-12-04 12:18] danjjohnson opened #1209 "Debug notices on My Courses page"
Using [sensei_user_courses]

`Notice: array_zip_merge requires both arrays to be indexed arrays in /srv/www/sensei-master/htdocs/wp-content/plugins/woothemes-sensei/includes/class-sensei-utils.php on line 2196`

`Notice: sensei_course_archive_course_title was called incorrectly. This action has been retired: . Please use sensei_course_content_inside_before instead. Please see Debugging in WordPres

[2015-12-04 12:51] danjjohnson opened #1210 "1.9-beta: Filter pagination"
If you are viewing say page 5 of all courses on the new course archive page, then you click one of the other filters, e.g. "Paid", if there aren't 5 pages of paid courses you get a 404. I think clicking any filter should return you to the first page.

[2015-12-04 12:54] danjjohnson opened #1211 "1.9-beta: Lesson progress displayed for unpurchased courses."
On the new course archive page, every course displays the "lesson progress" info in the course meta, e.g. "0 of 5 lessons completed", even courses which you are not taking or have not been purchased.

THis should only be displayed for currently active/completed courses.

[2015-12-04 12:56] danjjohnson commented on #1146
This seems to work fine for me. It doesn't display anything when logged out, but I'd imagine it is only intended for registered users, to show which courses they have yet to purchase.

[2015-12-04 15:11] danjjohnson commented on #1196
Hmm, seeing it in some orders but not others. Not sure why, but needs looking into.

[2015-12-04 17:21] ArchitectforBusiness opened #1212 "Multiple Choice Question Issues"
Hi there,

There are a few issues with adding questions to Sensei quizzes, specifically multiple choice questions:

1. On the lesson page in the section where you can add questions to the lesson's quiz, after adding so many lessons (about 5 I think) it seems it will not let me add multiple choice questions to any lessons. I have to go to Questions > Add New.

2. In both the question box under the

[2015-12-04 17:24] andyadams commented on #1212
I wanted to chime in that this might be due to PHP's `max_input_vars` - the question-adding form on the Edit Lesson screen adds a lot of input fields to the form, and I've encountered situations on longer quizzes where we've gone over the `max_input_vars`, resulting in the questions being lost.

Just wanted to chime in with that "hint"!

[2015-12-04 17:26] ArchtitectforBusiness commented on #1212
Possibly. What's puzzling is that Issue 2 exists on the Questions > Add New page as well. Any suggestions?

[2015-12-04 17:28] ArchtitectforBusiness commented on #1212
The other puzzling thing is that Issue 1 happens even when there is only one question in the quiz so far. Does the size of the Question Bank have something to do with it? I have about 123 questions as of right this second and counting.

[2015-12-04 20:26] dwainm commented on #1174
@danjjohnson see my comments on the last two issues above.

[2015-12-04 20:26] #1174 closed

[2015-12-05 03:33] #1187 closed

[2015-12-05 18:08] dwainm commented on #1169
Extension issue: https://github.com/woothemes/sensei-course-participants/issues/14

[2015-12-05 18:08] #1169 closed

[2015-12-05 18:13] dwainm commented on #1168
Extension issue: https://github.com/woothemes/sensei-course-participants/issues/14#issuecomment-162231979

[2015-12-05 18:15] dwainm commented on #1168
@danjjohnson The second notice is for  Module colaps extension. Please send this to them to update it for 1.9:

[code]

[2015-12-05 18:15] #1168 closed

[2015-12-06 01:46] #1164 closed

[2015-12-06 03:21] mahangu commented on #1208
@danjjohnson I've not been able to reproduce this on a fresh install of 1.9 beta, even with `dummy_data.xml` imported. Can you detail the steps to reproduce a little more so I can look into it?

Line `1973` is in `append_teacher_name_to_module()`, but I've been unable to get it to break, even with `WP_DEBUG` turned on. Teacher names are appended to course module names in the 'Course Modules' box w

[2015-12-06 06:07] #1147 closed

[2015-12-06 18:19] dwainm commented on #1146
This is intended for logged in users only. I will update it to notify the logged out users that they must log in.

For any text updates feel free to submit a PR.

[2015-12-07 00:29] dwainm commented on #910
Changes previously made reverted, moving this on to the next version where we'll patch up WooCommerce support.

[2015-12-07 00:31] #1146 closed

[2015-12-07 00:31] #1100 closed

[2015-12-07 00:36] dwainm commented on #1203
Fixed in master, the issues was that we didn't tell the filter how many arguments we're expecting. The fitler the function hooks into : `the_title` does supply two arguments, a $post_id as the second one.

[2015-12-07 00:36] #1203 closed

[2015-12-07 00:51] dwainm commented on #1209
The first issue fixe in master, the second issue is from an the course participants extension which will be updated before 1.9 is out.

[2015-12-07 00:51] #1209 closed

[2015-12-07 01:20] #1210 closed

[2015-12-07 01:33] dwainm commented on #1200
Will be dealt with in 1.9.1 where we'll polish the WooCommerce and WC extenstions integrations.

[2015-12-07 02:01] dwainm commented on #1207
This is not a critical bug as we already compensate for those items within css, even targeting them and styling them as buttons. @RiaanKnoetze could you add this to your todo list on the updated frontend styling?  You wil lhave to add the button class and update the styling to target those buttons.

Closing this issue as it should form part of the frontend style updates.

[2015-12-07 02:01] #1207 closed

[2015-12-07 02:38] dwainm commented on #1195
@RiaanKnoetze this may be fixed in 1.9. Could you give the client a coopy fo 1.9-RC1, which wil be out soon, and ask them to test it on a staging site with the same data? If you could also test with this copy and then  confirm if the issues still exists. Please open if you still find the issues and I'll do some more digging.

[2015-12-07 02:38] #1195 closed

[2015-12-07 03:12] #1190 closed

[2015-12-07 03:12] #1193 closed

[2015-12-07 03:12] #1196 closed

[2015-12-07 03:12] #1205 closed

[2015-12-07 03:12] #1208 closed

[2015-12-07 03:12] #1211 closed

[2015-12-07 05:04] #1206 closed

[2015-12-07 12:28] danjjohnson opened #1214 "Lesson quick edit resets Lesson Preview setting"
If you have a lesson with the Lesson Preview setting enabled:

![screen shot 2015-12-07 at 12 27 05](https://cloud.githubusercontent.com/assets/1990037/11626840/e3754ed8-9cdd-11e5-8821-58ce02c5b08d.png)

If you quick-edit that lesson and click "Update" (with or without changing anything), then the Lesson Preview setting will be disabled.

[2015-12-07 15:29] RiaanKnoetze opened #1215 "Use module term meta to assign modules to teachers instead of the module slug"
See [enhancement description](https://github.com/Automattic/sensei/issues/1215#issuecomment-209346449)
**Original bug:**
Link to ticket: https://woothemes.zendesk.com/agent/tickets/362333
**Usernames appended after Module / Category name in Admin**
When looking at Modules in the admin, there's a username that gets appended to the title.

Customer Screenshot: http://cld.wthms.co/1az8t/1Kk8Dz5d
Loca

[2015-12-07 17:31] dwainm commented on #1215
@RiaanKnoetze the reason for this work around was that modules can only belong to one author and admin can see all of them. Adding the user name to it helps admin see which module belongs to which user (this because courses and lesson and modules should not be seen by other teachers.)

The bug fix will only be to remove it from the categories, but I'll leave it on the Modules untill we get a bette

[2015-12-09 11:58] danjjohnson opened #1216 "1.9-rc1: Answer order is not correct"
In a multiple choice question, if you disable the "Randomise answer order" setting, the answers should display on the front-end in the same order as the back end, but they are not doing so. It seems the correct answers are being displayed after the incorrect ones:

![screen shot 2015-12-09 at 11 56 47](https://cloud.githubusercontent.com/assets/1990037/11684790/fffde120-9e6b-11e5-9ec3-2fac95039474

[2015-12-09 19:39] danjjohnson opened #1217 "More checks required before sending emails"
In a small number of cases, completion emails are being sent to learners and admins before they complete the course/lesson. e.g:

![screen shot 2015-12-09 at 19 33 50](https://cloud.githubusercontent.com/assets/1990037/11696379/dec8c142-9eab-11e5-972f-54970860dae2.png)

But this lesson is actually listed as "Not started" for this user in Analysis.

https://woothemes.zendesk.com/agent/tickets/35847

[2015-12-09 19:46] danjjohnson opened #1218 "1.9-rc1: Analysis table not displaying for learners"
When I go to Analysis and click on a learner name, I get the following message:

`function WP_List_Table::prepare_items() must be over-ridden in a sub-class.`

and the table is not displayed:

![screen shot 2015-12-09 at 19 45 46](https://cloud.githubusercontent.com/assets/1990037/11696681/7a24e714-9ead-11e5-98ab-3833d9ea6a9e.png)

[2015-12-09 19:51] danjjohnson opened #1219 "Some styling tweaks required for WP4.4"
WordPress 4.4 has changed the styling of certain elements in the Dashboard.

See:

Analysis
![screen shot 2015-12-09 at 19 49 46](https://cloud.githubusercontent.com/assets/1990037/11696792/08973ae2-9eae-11e5-8d32-b74a66975442.png)

Welcome Page
![screen shot 2015-12-09 at 19 50 52](https://cloud.githubusercontent.com/assets/1990037/11696826/3268d416-9eae-11e5-8bf8-a34855bf0e7f.png)

[2015-12-09 19:59] dwainm commented on #1219
@danjjohnson as this is not urgent, we can have it as part of 1.9 or 1.9.1.

[2015-12-10 12:32] danjjohnson opened #1220 "1.9-rc1: No login on My Courses page"
Using the new [sensei_user_courses] shortcode displays nothing for logged out users.

This should display a login form (and registration form, if enabled), like the old [usercourses] shortcode does.

Related to https://github.com/woothemes/sensei/issues/1202

[2015-12-10 15:12] danjjohnson opened #1221 "1.9-rc1: Other Lessons on Course page"
On a single course page, if the course has lessons which are all within modules, then below those it displays the "Other Lessons" heading and "Sorry, this course has no lessons yet":

![screen shot 2015-12-10 at 15 11 30](https://cloud.githubusercontent.com/assets/1990037/11718950/59ad48e8-9f50-11e5-9eef-9c27e77da7b0.png)

If a course's lessons are all within modules, the Other Lessons heading is

[2015-12-10 15:15] danjjohnson commented on #1219
Yeah, I can handle this for 1.9 :)

[2015-12-11 14:11] lisaleague commented on #1182
Perhaps this should be a separate issue, but the multiple "pages" of settings do not work with WP 4.4, all are accessible on All, but General, Courses, etc. no longer open.
![sensei_settings_ _qpractice_ _wordpress](https://cloud.githubusercontent.com/assets/3607365/11745564/0f3df57c-9fe7-11e5-8b82-9b1137d41b26.jpg)

[2015-12-11 14:18] ArchitectforBusiness opened #1222 "End of lesson scroll vs. end of quiz scroll"
I noticed that when a lesson is completed, it scrolls to the bottom of the content and puts the "next lesson" button right up front. However, when a quiz is completed, it gives the "congratulation" (or other) notice at the top of the page, but it's not obvious to scroll down to the bottom of the page to go to the next lesson. Any suggestions on this?

[2015-12-12 21:35] meaganhanes opened #1223 "WooCommerce not detected correctly"
On a fresh install of WP 4.4, WooCommerce 2.4.12, and Sensei Beta 1.9, the three WooCommerce settings in Sensei -> Settings (Enable WooCommerce Courses, Free Courses Panel, and Paid Courses Panel) fail to show.

Workaround: In sensei-master/includes/class-sensei-wc.php, line 31, function is_woocommerce_active(), return true.  The three checkboxes will now appear in Sensei -> Settings.

Seems to be

[2015-12-14 19:17] ArchtitectforBusiness opened #1224 "Remove users saved answer data when they are removed from a lesson."
Hi there,

It seems that if I have gone through a lesson quiz once, Sensei "remembers" the quiz answers I put in and auto-fills the quiz form with it. Is there any way to disable this behavior? I'm in a use case where a student may have to take the quiz more than once if they do not pass it the first time. Also, if I change a question's answer per my client's direction or to fix a mistake I made,

[2015-12-15 09:03] danjjohnson opened #1225 "1.9-rc1: Error when ordering lessons"
If a course has modules assigned to it, but none of its lessons are assigned to modules, I see this error when saving the lesson order:

`Notice: Undefined index: lesson-order-module-11 in /srv/www/sensei-master/htdocs/wp-content/plugins/woothemes-sensei/includes/class-sensei-admin.php on line 1271`

![screen shot 2015-12-15 at 09 02 37](https://cloud.githubusercontent.com/assets/1990037/11806400/

[2015-12-15 09:13] danjjohnson opened #1226 "1.9-rc1: Lesson ordering doesn't work outside of modules"
When you go to Lessons > Order Lessons and try to reorder the lessons in a course, it only works for lessons within modules.

If the lessons are not in a module they are not controlled by the order set here.

[2015-12-15 15:54] danjjohnson commented on #1182
Thanks @lisaleague

@dwainm as an interim measure for 1.9, we should switch to a tabbed settings page so that it will work with WP 4.4. We can refine the individual settings later.

[2015-12-15 16:15] danjjohnson commented on #1222
@ArchtitectforBusiness have you tested this in 1.9-rc1?

https://github.com/woothemes/sensei/releases/tag/version%2F1.9-rc1

Now both quiz and lesson should remain at the top when completed, and the notice is also displayed at the top of the page, with a Next Lesson button:

![screen shot 2015-12-15 at 16 14 12](https://cloud.githubusercontent.com/assets/1990037/11816123/f04bf08e-a346-11e5-9064-5e

[2015-12-15 16:55] danjjohnson commented on #1223
@meaganhanes I don't see this issue testing with Sensei 1.9-rc1 - have you tried that?

Does it make a difference if you activate Sensei or WC first?

[2015-12-15 20:35] ArchtitectforBusiness commented on #1222
Hi Dan,

I'm working with the current public version, so no I have not. Good to hear it will be fixed in the next release.

Steven Walsh
Architect for Business
architectforbusiness.com
steve@architectforbusiness.com
860-510-9328

[2015-12-17 09:20] RiaanKnoetze opened #1227 "1.9-rc1Editing course sends New Course Created email."
Link to ticket: https://woothemes.zendesk.com/agent/tickets/366010

When editing an existing course, the "New course created" email is sent to admin. I have confirmed this on my local Vagrant installation with Email Log plugin, WP 4.4, Sensei 1.8.8 and WooCommerce 2.4.12

(Screenshot at http://cld.wthms.co/1fxwM/8UyyNZwX and http://cld.wthms.co/11jvc/cqSoUGlC)

[2015-12-17 11:00] danjjohnson commented on #1227
Confirmed, also happening in 1.9-rc1

[2015-12-17 11:47] danjjohnson opened #1228 "1.9-rc1: Fatal Error when completing a course"
When I complete a course by clicking the Mark as Complete button, I get a fatal error:

`Fatal error: Cannot use object of type WP_Error as array in /srv/www/sensei-master/htdocs/wp-content/plugins/woothemes-sensei/includes/class-sensei-modules.php on line 1172`

[2015-12-17 11:49] danjjohnson opened #1229 "1.9-rc1: New My Courses page has no "Mark as Complete" button"
Using the new [sensei_user_courses] shortcode, the active courses do not display a "Mark as Complete" button, even when the option is set in Sensei > Settings.

[2015-12-17 12:24] danjjohnson commented on #1229
There is also no "View Results" button for completed courses.

[2015-12-17 14:54] ArchtitectforBusiness commented on #1224
After thinking about it, the behavior may not be that bad. The cases I'm dealing with are:
1. Testing: client would prefer to start from scratch after changing quizzes
2. Reoccurring continuing education: the students in this case are taking safety training that will need to be repeated at least once a year. Does the quiz "memory" expire after so many days or months or does it last "forever"?

[2015-12-17 15:08] danjjohnson opened #1230 "1.9-rc1: Complete/Reset lesson doesn't take effect until page is refreshed"
If you complete a lesson, the page refreshes but doesn't display a success message:

![screen capture on 2015-12-17 at 15-04-22](https://cloud.githubusercontent.com/assets/1990037/11872863/8b009f9c-a4cf-11e5-801f-46f692c2f0ca.gif)

Then if you click Reset, the page refreshes again and the success message is shown:

![screen capture on 2015-12-17 at 15-06-26](https://cloud.githubusercontent.com/ass

[2015-12-17 16:21] RiaanKnoetze commented on #1230
When I complete a lesson, the button still says "Complete Lesson", despite also getting the Successful Completion message. When click that "Complete Lesson" a second time, the page is then refreshed and shows the "Reset Lesson" button.

Screenshot at: http://cld.wthms.co/1hIqc/DQBr3jPS

I tested Sensei 1.9 RC1 on both Canvas and TwentyFifteen.

[2015-12-17 16:24] RiaanKnoetze commented on #1230
Also, when the lesson is completed and I do a hard normal refresh of the page, I get the last state of the button.

In other words, if the button was "Complete" it will again show the "Complete" button even when the lesson has been reset. Equally, if the state of the button was "Reset", it will show that same state again.

It almost seems as of the button doesn't actually test for the status of th

[2015-12-17 16:46] danjjohnson opened #1231 "1.9-rc1: Course Results issues"
On the course results page:

1) The order of elements has changed:

![screen shot 2015-12-17 at 16 45 02](https://cloud.githubusercontent.com/assets/1990037/11875641/9392b6f0-a4dd-11e5-84c4-42c27a47a9f6.png)

2) The course image is not displayed in 1.9

3) There's an extra `'` after the lesson grade: https://github.com/woothemes/sensei/blob/master/templates/course-results/lessons.php#L124

[2015-12-17 18:47] meaganhanes commented on #1223
I wasn't using RC1, but am now.

I've just re-replicated this issue as follows:
1. Install WP 4.4. As English US.
2. Install WC 2.4.12
3. Complete WC's default configuration setup, installing pages, etc. Set country as US, California.
4. Install Sensei 1.9RC1
5. Complete Sensei's configuration (new pages).
6. View Sensei -> Settings.
 * WooCommerce section title shows, as does the "Optional Settin

[2015-12-18 04:49] unfulvio commented on #911
Hey there,

SkyVerge developer here working at an issue with Sensei and WooCommerce Memberships: https://woothemes.zendesk.com/agent/tickets/362744

I'm not 100% sure but it seems that Sensei Lessons may trigger save post multiple times resulting in duplicated meta being sent to Memberships restriction rules set in the attached post meta box.

The issue with Memberships only happens with Sensei co

[2015-12-18 08:48] danjjohnson commented on #911
Hey @unfulvio

My guess would be that because lessons and quizzes are closely linked, when saving a lesson it may trigger save post for both the lesson and quiz simultaneously, which could be causing issues for Memberships.

@dwainm (lead Sensei developer) is on leave until January, but I'll see if there's anyone else available to look into this.

[2015-12-18 11:24] danjjohnson commented on #1223
@meaganhanes thanks for that.

My suspicion is that it may be the folder name for the Sensei plugin. If you downloaded the 1.9-rc1 zip and installed directly, the plugin folder name will be /sensei-version-1.9-rc1/ which I think WC won't recognize.

Can you check that and try changing the fodler name to /woothemes-sensei/

Let me know if that resolves the issue.

(We are aware of the issue with th

[2015-12-18 14:25] unfulvio commented on #911
Thanks @danjjohnson, at the moment the issue doesn't really seem to break things (creates 2-3 rules for the same thing and can be removed from the Membership post type edit screen), but of course it's not optimal and doesn't look good for end users. Will look in the direction you pointed at.

Cheers

[2015-12-21 12:32] danjjohnson commented on #1224
Hi @ArchtitectforBusiness

Once a learner has completed a quiz, the answers they gave are saved, so that they can be graded/auto-graded, and the learner can see what grade they achieved.

If they need to take the quiz again, you'd have to either enable the reset quiz button, or the teacher would have to reset the lesson for them manually.

There is currently no provision for editing an answer afte

[2015-12-21 12:34] danjjohnson commented on #1223
@meaganhanes closing this for now. If the issue remains please leave a comment and I'll reopen this issue. Thanks!

[2015-12-21 12:35] danjjohnson commented on #1222
Needs testing once https://github.com/woothemes/sensei/issues/1230 is fixed.

[2015-12-21 12:50] danjjohnson commented on #1167
@DustinHartzler any more info on this? Have you tested with 1.9-rc1?

[2015-12-21 12:52] danjjohnson commented on #1158
Fixed in next Scholar release with Sensei 1.9-rc1

https://github.com/woothemes/scholar/issues/48

[2015-12-21 12:52] #1158 closed

[2015-12-21 12:57] danjjohnson commented on #1106
@catalincic I'm still unable to replicate this issue so I'm closing it for now.

If you still have this issue please comment here or open a new issue with further details. Thanks!

[2015-12-21 12:57] #1106 closed

[2015-12-21 12:58] danjjohnson commented on #1103
@kkarpieszuk can we get an update on this when you have time? Thanks!

[2015-12-21 13:05] danjjohnson commented on #1021
The strings in question can be customized by translating, but we should really move that markup into the email template so it can be overridden if desired.

[2015-12-21 13:07] danjjohnson commented on #962
This has been added to v1.9

@Rakhmanov please test if you get chance :)

[2015-12-21 13:07] #962 closed

[2015-12-22 09:48] RiaanKnoetze opened #1232 "1.9-rc1 - Analysis page shows 0% under average grade column"
Link to ticket: https://woothemes.zendesk.com/agent/tickets/368227

With 1.9 RC 1 and 1.8.8, when viewing the analysis page under **Sensei > Analysis > Learners / Courses / Lessons**, the "Average Grade" column reads 0% throughout, irrespective of the amount of courses that's complete / incomplete.

@danjjohnson and I was able to replicate this on local: http://cld.wthms.co/15rGh/2conzbZv and http

[2015-12-23 00:07] meaganhanes commented on #1223
Hi Dan, I changed the folder name to /woothemes-sensei/ and the issue persisted.
I then nuked the environment and started it up again from scratch just in case any legacy old filepath existed, but still no dice!

I'm glad to try another dev environment tomorrow to troubleshoot further, but as it is I'm still not getting any WooCommerce options in the Sensei settings panel.

[2015-12-24 07:52] RiaanKnoetze opened #1234 "Access Permissions should override lesson preview setting"
Link to ticket:

When Access Permissions checkbox is deselected under **Sensei > Settings > Access Permission** (screenshot at: http://cld.wthms.co/1jL6x/2L2vdYAi), the user should be able to see the content of ALL lessons, irrespective of the per-lesson settings of "Free Preview"

Currently with the Access Permissions deactivated, and Free Preview removed from a lesson, the user is presented with

[2015-12-24 10:09] RiaanKnoetze opened #1235 "Course components widget contains untranslateable "Complete" and "Active" strings."
Link to ticket: https://woothemes.zendesk.com/agent/tickets/367985

When the *Sensei Course Component* widget is set to use the "My Completed Courses" or "My Active Courses" options, the terms "active" or "incomplete" cannot be translated.

Screenshot (Customer) - https://www.dropbox.com/s/a9y8bwuxz54wag1/Lucrando_Com_Comida___P%C3%A1gina_Inicial.png?dl=0
Screenshot (Local) - http://cld.wthms.co/1

[2015-12-27 03:12] robconway commented on #1057
Having exactly the same issue. No idea why - did you get a relsoution on this @BurlesonBrad ?

[2015-12-28 08:47] kkarpieszuk commented on #1103
Hi @danjjohnson , status is same as in my previous comment. To sum up:

1. I integrated our mail API into your plugin (in my fork)
2. I tested, but I found that API does not work, when action wp_mail is triggered in wp-admin. For front end everything is ok.
3. I found that this is a bug in WPML, not in Sensei
4. WPML developers are working on this

So from Sensei user point of view:
1. If email is

[2015-12-29 04:01] RiaanKnoetze opened #1236 "1.9-rc1: Subsettings for Sensei only displaying titles while hiding content"
Link to ticket: https://woothemes.zendesk.com/agent/tickets/369266

When viewing Sensei > Settings > All, the options show up as expected. When selecting the sub-menu items (e.g. Sensei > Settings > Courses), only the menu items show up, the "content" for each section is hidden.

Screenshot: https://monosnap.com/file/BPGHcIbPamSmd7fuxwsTDcBzHjy0yT and http://cld.wthms.co/1bDfE/48uieU95

I was able

[2015-12-29 11:30] RiaanKnoetze opened #1237 "Sensei modules appending random usernames to title in admin"
Link to ticket: https://woothemes.zendesk.com/agent/tickets/362333

User reports that when in WP Admin, random usernames are appended to the title of each module. These usernames are not associated with administrators or teachers and instead seems to be random learners.

Screenshot: http://cld.wthms.co/ZE4v/iiXTPLxO

When testing things in local, I'm also seeing a username being appended to the mo

[2015-12-30 04:29] RiaanKnoetze commented on #1227
Another ticket at: https://woothemes.zendesk.com/agent/tickets/369672

[2015-12-30 13:40] RiaanKnoetze opened #1238 "Sensei Styling Changes"
Changes for the default styles revamp include:
- [ ] New course overview layout (used on the `/courses` page);
- [ ] Fontawesome icons for all course / lesson / quiz meta
  - [ ] Courses
  - [ ] Lessons
- [ ] New notification designs
  - [ ] Alerts
  - [ ] Downloads + Ticks
  - [ ] Info + Info Special
  - [ ] Notes
- [ ] New single course layout + design (used in single course overview page)
  - [

[2015-12-30 16:02] ArchtitectforBusiness commented on #1224
Can I do a mass reset of all lessons for all students? This is a much-needed feature.

[2015-12-30 16:05] ArchtitectforBusiness commented on #1224
How do I do a "reset" per student, even?

[2015-12-31 13:11] RiaanKnoetze opened #1239 "Use oEmbed for Video Embed Code"
Link to ticket: https://woothemes.zendesk.com/agent/tickets/369259

Customer states that embed code used in the input field is not responsive and when simply adding the video URL to the input field, the video doesn't show up on the front end at all.

Given WordPress take on using oEmbed for videos, I believe it makes more sense for Sensei to stop using Embed code and switch to oEmbed instead.

A f

[2015-12-31 20:01] RiaanKnoetze opened #1240 "1.9-rc1: Radio button labels are using the same ID"
Clicking on a label in order to trigger the input for a radio input, only the first radio item can be selected.

This is because all the input ```ID``` attributes are the same, and all the ```for``` attributes for the ```label``` tag are linking to the same ```ID```.

Screenshot: http://cld.wthms.co/18lcx/1dOwmGCV

I couldn't replicate this in 1.8.8.

[2015-12-31 20:50] RiaanKnoetze opened #1241 "1.9-rc1: Resetting / Saving quiz does not trigger notification"
While working through the CSS for the Sensei notification, I noticed there was a style written for a ```sensei-message note``` notification.

Upon further investigation, it seems that this notification should trigger whenever a quiz is either saved successfully or when reset successfully. In my tests with 1.9, none of these notifications show up at all.

In addition, I would also suggest using the

[2015-12-31 21:30] RiaanKnoetze commented on #1238
This branch can be followed at: https://github.com/woothemes/sensei/tree/1238-sensei-styling-changes

[2016-01-02 07:39] EfficientWP opened #1242 "Module descriptions do not process shortcodes"
I'm not looking to be a regular contributor, but I would really like to see this fixed. Thanks!

In /classes/class-sensei-modules.php, line 634:

change

echo '' . apply_filters('sensei_module_archive_description', nl2br($module->description), $module->term_id) . '';

to

echo do_shortcode( '' . apply_filters('sensei_module_archive_description', nl2br($module->description), $module->term_id) . ''

[2016-01-04 10:04] danjjohnson commented on #1154
Related issue: if you edit the slug of a lesson, the corresponding quiz slug is not updated, so the slugs do not match.

[2016-01-04 15:46] danjjohnson commented on #1182
The bug now has its own issue :)

https://github.com/woothemes/sensei/issues/1236

[2016-01-04 17:07] danjjohnson commented on #1239
I agree it seems to make sense to simply add the video URL in the post content (so it can be placed anywhere), rather than having a custom field for the embed code, which is restricted to a specific location.

However, there will be many people using this field for their videos, and I think removing it may cause confusion that outweighs any benefit. Open to discussion.

[2016-01-04 17:38] ArchtitectforBusiness commented on #1224
Just bumping question

[2016-01-04 18:42] danjjohnson commented on #1057
@robconway changing the plugin folder name to /woothemes-sensei/ should fix it.

[2016-01-04 19:52] BurlesonBrad commented on #1057
right answer, wrong question @danjjohnson  :-)
@robconway was asking about the certificates that weren't showing up in the sidebar on the admin side.  When entering a course, the sidebar is missing the ...."block"... to add the certificate.

[2016-01-05 17:41] RiaanKnoetze commented on #1239
Having a field that duplicates functionality provided by native oEmbed doesn't make sense to me.

I'd suggest adding a **Deprecating Soon** notice to that field to highlight that support for this will soon be dropped. Then, 2 versions on from that notice, we should remove it from Sensei core entirely and perhaps write a snippet in the docs in case users want it back.

[2016-01-06 17:04] RiaanKnoetze opened #1243 "Sensei's next arrows to be after text in navigation"
The lesson / quiz navigation sections at the bottom contain arrows. These arrows need to be *before* and *after* the text respectively.

E.g. in Twenty Sixteen, you currently see the following: http://cld.wthms.co/1dUKt/4IsAr9XM

[2016-01-07 00:41] lisaleague commented on #1243
I have not checked this with 1.9, but on version before 1.8.8 should have been similar to this:
frontend.css
is:

.nav-next .meta-nav:before {
    content: "\2192"
}

should be
.meta-nav:after

and in
/wp-content/plugins/woothemes-sensei/templates/wrappers/pagination-lesson.php

Line 20

esc_url( get_permalink( $next_lesson_id ) ); ?>" rel="prev"><span class="meta-nav"></span> <?

Should be:
esc_u

[2016-01-07 03:47] RiaanKnoetze commented on #1243
@danjjohnson - Any input on the CSS vss HTML routes? My commit failed earlier (and I subsequently removed that branch) because it was looped into the Style Changes branch (Ugh!).

[2016-01-07 10:55] danjjohnson opened #1244 "Course not activated when order is processing"
Tested in v1.8.8 and 1.9

Sensei should activate a course for a user when the order containing that course product is 'processing' or 'complete'

However, if an order is 'processing', the course is not activated (listed as active in Analysis) until the user visits the course page or my courses page.

If the order is 'complete' then the course is immediately listed as active in Analysis.

More deta

[2016-01-07 10:57] danjjohnson opened #1245 "1.9-rc1: Clicking Sensei opens Messages"
Clicking on the top-level Sensei menu item used to take you to Sensei > Analysis. Now it takes you to Sensei > Messages.

[2016-01-07 12:52] danjjohnson commented on #1243
@RiaanKnoetze I don't like that we're using an empty span tag there. A better solution would be to just target the link itself, e.g.

`.nav-next a:after`

and

`.nav-prev a:before`

I actually don't like those arrows at all. I think we should remove/change them as part of the default style changes, but for now, moving the span tag should suffice.

As @lisaleague suggested, we should also change `r

[2016-01-07 15:29] danjjohnson commented on #1223
Hi @meaganhanes

Still unable to replicate this. Did you manage to test it on a new dev environment?

Do you have it on a live server where we could log in to take a look?

[2016-01-07 15:59] danjjohnson commented on #1234
@RiaanKnoetze is this in 1.8.8 or 1.9 (or both)?

[2016-01-07 16:05] danjjohnson commented on #1103
@kkarpieszuk could you submit a pull request for your changes, and I'll ask @dwainm to review it when he's back from vacation next week?

Thanks

[2016-01-07 16:10] danjjohnson commented on #1237
@RiaanKnoetze I believe that username (WooThemes) is the original author of the courses from the demo content.

Not sure about that ticket though, since the usernames all seem random. Have they imported any content?

[2016-01-07 16:19] danjjohnson commented on #1241
@RiaanKnoetze just to clarify, these notifications show up in 1.8.8, but not 1.9?

[2016-01-07 16:24] danjjohnson commented on #1238
@RiaanKnoetze while you're doing this, it would be useful if you could create a "Sensei Style Guide", as described here: https://trello.com/c/qLxRLUE1/29-sensei-style-guide

Basically, a static page containing all possible Sensei elements in all variations, with class names, so that theme authors etc. have a complete guide on what styles they would need to include in their themes.

[2016-01-07 16:29] RiaanKnoetze commented on #1238
@danjjohnson I suspect that might be a bit premature.

As I'm working through this, I realise that the classnames are an absolute mess as there's just no consistency.

From 2.1 onwards, I'd like to work through all of the templates and get a standardised version of classnames and their corresponding elements. In my mind, that change is big enough to warrant a separate point release.

[2016-01-07 16:41] danjjohnson commented on #1224
Hi @ArchtitectforBusiness this seems to be a bug. The chosen answers should not be saved if the user is removed from the course/lesson.

[2016-01-07 16:46] danjjohnson commented on #1057
@BurlesonBrad sorry, I thought that issue had been resolved by correctly naming the Sensei plugin folder? Are you still experiencing the original issue?

[2016-01-07 16:50] danjjohnson commented on #1238
@RiaanKnoetze depending on what else we decide to include, we could add it to 2.0. Since it's effectively a "major" release it would make more sense to add it there if we have time. If not, we can add it in 2.1

[2016-01-07 16:53] danjjohnson commented on #1239
The problem I envisage is a user who has an estblished course, and doesn't add any new courses/lessons. They are unlikely to see that the field is being deprecated, so one day they will suddenly find that their videos have been removed.

We could potentially keep the custom field there for people already using it, and just remove the input field so that new users can't use it.

[2016-01-07 17:44] RiaanKnoetze opened #1246 "1.9-rc1: Course category archive HTML structure different from shortcodes"
When looking a course category, it is evident that the HTML structure varies from what you'd find for a shortcode powered page.

As an example, I compared http://local.wordpress.dev/courses-overview/ (powered with regular shortcodes like ```[newcourses]```) and a course category page like http://local.wordpress.dev/course-category/piano/ and noticed the following structural changes:

* Shortcode p

[2016-01-07 19:43] BurlesonBrad commented on #1057
I didn't figure revisiting the problem would be a good resource of time until I saw a response here.
But, Dan, apparently @robconway *is* indeed still experiencing the issue.
@danjjohnson , I think a good way to test this would be for you to open your instance of Sensei and look for the certificates to see if you can 'un' replicate the problem :+1:  If you don't see the certificate meta box on the

[2016-01-08 00:24] lisaleague commented on #1238
+1 for a Sensei Style Guide @RiaanKnoetze @danjjohnson

[2016-01-08 09:03] danjjohnson opened #1247 "Fatal error on course activation if product returns non-object"
Suggested fix. Change line 1770 from

`if( $product->is_type('bundle') ){`

to

`if( is_object($product) && $product->is_type('bundle') ){`

https://woothemes.zendesk.com/agent/tickets/370887

[2016-01-08 09:10] danjjohnson opened #1248 "Replace 'new WC_Order' with wc_get_order() function."
https://github.com/woothemes/sensei/search?utf8=✓&q=WC_Order

[2016-01-08 09:27] 16nsk commented on #552
+1

[2016-01-08 10:41] danjjohnson opened #1249 "Learner null search results are confusing"
In Learner Management, when viewing a course, if you search for a non-existent user, the result is confusing.

It should say "No learners found", but instead it shows a blank entry, with an "in progress" label and a "Remove from Course" button:

![screen shot 2016-01-08 at 10 37 49](https://cloud.githubusercontent.com/assets/1990037/12196124/13579028-b5f4-11e5-8b27-0665cda0a38b.png)

[2016-01-09 07:34] RiaanKnoetze commented on #1237
@danjjohnson Have asked user for some feedback on that :)

[2016-01-09 07:40] RiaanKnoetze commented on #1239
At some stage though we do need get users to the new system and I reckon that keeping an deprecated field around forever should be avoided.

@mattyza - Any advice on how to "smoothly" deprecate features? Would a snippet suffice or should there be a separate plugin? Alternatively, should we just do an *IFTTT* check to see if the field is being used at the moment and then ti display that for the use

[2016-01-09 18:42] lisaleague commented on #1237
When this first happened to me, it was another admin user being added with the (username) I deleted that user and attributed all content to me and now it is empty.

[2016-01-11 01:04] rothschild86 opened #1250 "Admin view: Add "Assigned to module" and "Featured image" columns to the list of lessons"
Both will greatly help in managing the lessons.

[2016-01-11 04:51] mattyza commented on #1239
In this instance, I'd keep the custom field, and add oEmbed support to that
field.

The field has other uses here, beyond simply outputting the video (for
example, access restriction). It's also a "more obvious" way of inputting a
video code, when a teacher is adding a course.

If we want this field gone, I'd say we need to make a big fuss and let
folks know it's going away (not ideal, given we ha

[2016-01-11 07:22] #1219 closed

[2016-01-11 09:00] danjjohnson commented on #1239
I don't think the field applies any special access restriction beyond that of the general post content.

This is a valid point. Many users aren't aware of oEmbed, and if there isn't an obvious place to add their video, they will get stuck and contact support.

I would agree, the benefit does not outweigh the effort and potential support increase.

That sounds like a decent solution. Make it easier

[2016-01-11 14:33] RiaanKnoetze opened #1251 "1.9-rc1: Missing lesson status classname for modules"
Looking at https://github.com/woothemes/sensei/blob/master/templates/single-course/modules.php#L84

This will just render ```' . $status . '``` in the HTML, and won't actually show the course status classname.

Screenshot at: http://cld.wthms.co/1lDeN/4eq6llhw

[2016-01-11 15:13] dwainm commented on #1167
@DustinHartzler I've done some testing with this as well on another theme and had no issues. Please feel free to open if you're able to replicate it. It may have been fixed since this issue was reported.

[2016-01-11 15:13] #1167 closed

[2016-01-11 15:26] #1227 closed

[2016-01-11 15:28] dwainm commented on #1182
bumping this issues, bug #1236 will be fixed for 1.9, but this issues is not critical and can be tackled in a future version.

[2016-01-11 15:36] dwainm commented on #1236
@RiaanKnoetze could you replicate this within 1.9 RC 1?

[2016-01-11 15:41] #1247 closed

[2016-01-11 16:11] danjjohnson commented on #1251
Good spot! Don't know how that one got past us! :)

[2016-01-11 16:41] danjjohnson commented on #1236
@dwainm yes, this is happening in 1.9, I believe due to changes in WP4.4

[2016-01-11 17:03] danjjohnson commented on #1228
@dwainm no more fatal error, but now a blank screen after clicking "Mark as Complete"

[2016-01-11 19:01] meaganhanes commented on #1223
Hi @danjjohnson. I'll PM you with the credentials where y'all can poke around.

[2016-01-11 21:15] ArchtitectforBusiness opened #1252 "Lesson quiz buttons missing"
Hi Dan,

It seems that quiz buttons are randomly disappearing on the site whenever changes (such as whether to use the reset quiz button, changing the passmark, etc.) are made. If I go in and re-save the lessons one by one, the quiz buttons reappear. I have removed all customizations, etc. and no better. I installed a plugin that MIGHT have had something to do with it (Sensei Lesson Timer: https:/

[2016-01-11 21:17] ArchtitectforBusiness commented on #1252
Missing buttons:

<img width="893" alt="screen shot 2016-01-11 at 4 16 14 pm" src="https://cloud.githubusercontent.com/assets/6232275/12246828/b849231c-b87e-11e5-892f-cbafa1f8efad.png">

[2016-01-11 21:18] ArchtitectforBusiness commented on #1252
It can't go on like this because I can't afford to save each lesson twice after the smallest little change, or after a bulk change.

[2016-01-11 21:57] ArchtitectforBusiness commented on #1252
The issue MAY be leftover settings from the Sensei Lesson Timer plugin: https://wordpress.org/plugins/sensei-lesson-timer/ but then the question is: since the settings are serialized, how do I remove the settings?

[2016-01-11 22:17] ArchtitectforBusiness commented on #1252
Well, this is odd. If I make changes (whether per-post or bulk) there seems to be no issue at the moment. If my client does (and he does it the standard way, as I do), however, all these issues show up.

[2016-01-12 07:01] #1245 closed

[2016-01-12 08:18] hoangdavis opened #1253 "Enable WooCommerce Courses not show"
Hi, I'm using Sensei 1.9 beta. I actived Woocommerce but in Sensei Settings > WooCommerce not show Enable WooCommerce Courses.

[2016-01-12 08:49] dwainm commented on #1240
Nicely spotted @RiaanKnoetze

[2016-01-12 08:51] #1240 closed

[2016-01-12 08:59] kkarpieszuk commented on #1103
Hello @danjjohnson and @dwainm , here is a request https://github.com/woothemes/sensei/pull/1254

[2016-01-12 09:01] dwainm commented on #1228
Thanks @danjjohnson will inspect.

[2016-01-12 09:05] danjjohnson commented on #1223
Thanks @meaganhanes I think we've found the issue and will get it fixed asap.

[2016-01-12 09:19] danjjohnson commented on #1223
@dwainm the settings are checking for `is_woocommerce_active()`

https://github.com/woothemes/sensei/blob/master/includes/class-sensei-settings.php#L558

Should be checking for `is_woocommerce_present()` as in 1.8.8

[2016-01-12 09:31] danjjohnson commented on #1253
Thanks @hoangdavis

We have identified the cause of this here, and will be fixing it for 1.9:

https://github.com/woothemes/sensei/issues/1223

[2016-01-12 09:31] #1253 closed

[2016-01-12 13:56] RiaanKnoetze commented on #1236
@dwainm Ditto on what @danjjohnson said - I see this happening in 1.9 as well. @danjjohnson I believe this is important enough to tag it as 1.9, although I'll let decide on that :)

[2016-01-12 14:03] danjjohnson commented on #1236
Yep, already added to 1.9 milestone @RiaanKnoetze :)

[2016-01-12 14:10] #1230 closed

[2016-01-12 14:54] RiaanKnoetze opened #1255 "Missing "Free Preview" label in Modules"
When a course is set to use Modules, the "Free Preview" label is not appearing next to the lesson.

1.9 Screenshot: http://cld.wthms.co/13bcv/3FRIIX5t
1.8 Screenshot: http://cld.wthms.co/HOVh/3UP4owjD

To clarify:

1.8 - Label only shows up when logged out
1.9 - Nothing shows whether you're logged in / out

[2016-01-12 15:09] #1216 closed

[2016-01-12 15:09] #1228 closed

[2016-01-13 03:47] meaganhanes opened #1256 "1.9rc1 - Lesson Archive page allows non-logged visitors to view lesson contents"
On a default install, with an incognito window, accessing website.com/lesson/ shows the Lesson Archive page, where the lesson title, excerpt, and content are shown. This occurs even if "Users must be logged in to view Course and Lesson content." is checked in the Settings menu.

[2016-01-13 09:46] dwainm commented on #1244
Quick fix attached for users running 1.8.x. This issue is fixed in version 1.9.0.
[woothemes-sensei_wc_order_patch.zip](https://github.com/woothemes/sensei/files/88645/woothemes-sensei_wc_order_patch.zip)

[2016-01-13 09:46] #1244 closed

[2016-01-13 15:25] #1218 closed

[2016-01-14 08:26] #1221 closed

[2016-01-14 08:26] #1223 closed

[2016-01-14 08:26] #1226 closed

[2016-01-14 12:56] dwainm commented on #1231
@danjjohnson share your grades issue created: https://github.com/woothemes/sensei-share-your-grade/issues/12

[2016-01-14 13:20] #1231 closed

[2016-01-14 13:26] dwainm commented on #1241
@RiaanKnoetze @danjjohnson there was no notice in 1.8.8 to tell the user when the quiz is completed. I'll mark this as an enhancment for 1.9.1.

[2016-01-14 14:53] danjjohnson commented on #1252
Hi @ArchtitectforBusiness this should probably be submitted as a support ticket, as I'm not sure there's a bug here.

Do you and your client have the same user role?

If you need further help, please submit a support ticket and provide temporary login details so we can investigate.

[2016-01-14 14:57] ArchtitectforBusiness commented on #1252
Actually, we’re still investigating, but it appears to have been some poorly set up user roles/capabilities. I did a fresh start and gave him full admin access and the issue seems to have been resolved so far. Apologies for the trouble.

Steven Walsh
Architect for Business

architectforbusiness.com
steve@architectforbusiness.com
(860) 510-9328

[2016-01-14 14:59] danjjohnson commented on #1220
@dwainm I still don't see a register form, although "Anyone can register" is enabled in Settings > General

[2016-01-14 15:10] #1220 closed

[2016-01-14 15:10] dwainm commented on #1220
@danjjohnson fixed :)

[2016-01-14 15:19] danjjohnson commented on #1229
@dwainm now view results button is showing, but the Mark as Complete button is displaying for Completed Courses, instead of Active Courses: http://cld.wthms.co/92Ff/49I2fvqD

[2016-01-14 15:29] #1229 closed

[2016-01-14 15:30] danjjohnson commented on #1252
No problem! I'll close this now, please submit a support ticket if the issue remains, or open a new issue for anything else.

[2016-01-14 15:30] #1252 closed

[2016-01-14 16:12] danjjohnson opened #1258 "Course results lesson links"
On the course results page, the lesson titles are links, but they just link back to the current page not to the lesson page.

[2016-01-15 09:45] dwainm commented on #1234
@RiaanKnoetze @danjjohnson
The message the user sees is just to tell them that they must sign up to interact with the course, but they can view the full lesson / course content without signing up. We may have to change the messaging but this is an enhacment.

Feel free to open it again if you tink we need to change the messaging.

[2016-01-15 09:45] #1234 closed

[2016-01-15 10:33] danjjohnson commented on #1234
I'm not seeing that message when access permissions is disabled. I just see the lesson content.

[2016-01-15 11:30] #1256 closed

[2016-01-15 12:57] danjjohnson commented on #1251
@dwainm this still isn't working for me. Now it just says `<li class>` and the lesson and module status is not indicated:

![screen shot 2016-01-15 at 12 56 54](https://cloud.githubusercontent.com/assets/1990037/12353479/7e7e452a-bb87-11e5-846b-ec77530cb495.png)

[2016-01-15 13:15] danjjohnson commented on #1236
@dwainm after clicking a sublink, the "All" link no longer displays all settings.

[2016-01-15 13:42] danjjohnson opened #1259 "1.9-rc1: Update Sensei default pages"
When new users install Sensei pages after installation, we currently add the old shortcodes to those pages:

Courses page:
`[newcourses][featuredcourses][paidcourses][freecourses]`

and

My Courses page:
`[usercourses]`

We should replace these so the Courses page uses the new course archive template, and the My Courses page uses the `[sensei_user_courses]` shortcode.

[2016-01-15 14:17] dwainm commented on #1236
@danjjohnson Forgot to update the sow all call. Fixed in the next push.

[2016-01-15 16:06] #1236 closed

[2016-01-15 16:06] #1251 closed

[2016-01-15 16:06] #1259 closed

[2016-01-15 19:33] andrewmunsell opened #1260 "Wrapper End Template Incorrectly Closes "main""
Wrapper start is defined as:

[code]

However, the wrapper end template is defined as:

[code]

This is incorrect since the `wrapper-start` has two `div` tags, and the `wrapper-end` file closes one `main` and one `div`. The fix is to change the end wrapper file to close the two `div` tags properly.

The problem is, since my theme used a `main` tag as a wrapper somewhere, Sensei was causing the lay

[2016-01-18 14:55] danjjohnson commented on #1260
Thanks for the PR @andrewmunsell :)

[2016-01-18 15:14] danjjohnson opened #1262 "1.9-rc2: Wrapper template changes break layout"
@dwainm in 1.9-rc2 you changed the default wrapper-start from:

[code]

to

[code]

This completely breaks the layout when using Definition theme (and I would guess many other themes that now depend on this structure.)

You also removed `<?php get_sidebar(); ?>` from the default wrapper-end, so the sidebar doesn't show up for most themes.

[2016-01-18 17:46] dwainm commented on #1262
@danjjohnson correct. This change was made much earlier along with the new template structure. I agree that this change is not good at this point due to the themes depending on it. I've moved get_sidebar to another function which is hooked in but the new hook may not work in older themes that overwrite some of the files. Great catch!

[2016-01-18 17:49] #1260 closed

[2016-01-20 05:08] RiaanKnoetze commented on #1232
@danjjohnson @dwainm: I've been saying to customers that this should be fixed in the next version of Sensei as it's fairly important for reports IMO. Why has this been shifted to 1.9.1 ?

[2016-01-20 08:52] danjjohnson commented on #1232
@RiaanKnoetze agreed, I've moved it back to 1.9 now that we have a bit more time.

[2016-01-20 08:55] dwainm commented on #1232
@RiaanKnoetze @danjjohnson the main reason for moving it was time, but this can no be looked at.

[2016-01-22 05:30] dwainm opened #1263 "Using user_login to store the user will not work if the user login is updated"
There might an issue with using $sender->user_login and $receiver->user_login when saving post metadata (for _sender and _receiver respectively) as the messages may be lost if a user changes their username. Will look into it some more, but perhaps we could be storing the user ID instead. Reproted by @vortfu.

[2016-01-22 12:36] danjjohnson opened #1264 "inputs all use same id"
When adding a multiple choice question, the answer inputs and labels all use the same id, so when clicking on the last answer field, it selects the first one:

![screen shot 2016-01-22 at 12 33 29](https://cloud.githubusercontent.com/assets/1990037/12510802/622aedba-c104-11e5-8181-53c3663079ac.png)
![screen capture on 2016-01-22 at 12-34-33](https://cloud.githubusercontent.com/assets/1990037/12510

[2016-01-25 12:52] danjjohnson opened #1265 "Added course is not shown in dropdown"
When you add a new course from the Lesson edit screen, the course you added is not shown in the course dropdown after clicking Add Course:

![screen capture on 2016-01-25 at 12-49-33](https://cloud.githubusercontent.com/assets/1990037/12551447/682aa18c-c362-11e5-8133-09987856bf3e.gif)

(Although it does appear there once the lesson is saved.)

[2016-01-26 10:23] #1232 closed

[2016-01-26 10:23] #1262 closed

[2016-01-26 10:23] #1265 closed

[2016-01-29 14:34] SiR-DanieL opened #1267 "Using deprecated methods from WooCommerce Subscriptions"
I get this error on the page My Courses:

[code]

[2016-01-29 14:46] dwainm commented on #1267
Thank @SiR-DanieL. I'm working on the subscriptions issues now and will look at this as part of it: #1200 #1081 #825

[2016-01-29 22:38] #825 closed

[2016-01-29 22:38] #1200 closed

[2016-01-29 22:38] #1267 closed

[2016-02-02 11:19] danjjohnson opened #1268 "PHP warning on Analysis page"

[2016-02-02 17:11] danjjohnson opened #1269 "New My Courses page looks bad in Canvas"
<img width="652" alt="screen shot 2016-02-02 at 17 09 13" src="https://cloud.githubusercontent.com/assets/1990037/12757420/e3267ce4-c9cf-11e5-9773-db65c5455ecf.png">

We can probably tighten up the CSS to remove the bullet points, and add some basic styling to the "tabs"

[2016-02-02 21:41] rothschild86 commented on #1255
this one is def important... not updating from 1.8.8 until fixed

[2016-02-03 05:31] dwainm opened #1271 "WooCommerce body class should only be on no-permissions template."
Adding the WooCommerce body class to all body tags is not good:

https://github.com/woothemes/woocommerce/issues/10250#issuecomment-179010022

[2016-02-03 05:32] dwainm commented on #1271
Code in Class Sensei_WC: add_woocommerce_body_class (926)

[2016-02-03 09:17] dwainm commented on #1268
fixed: https://github.com/woothemes/sensei/commit/6f85a9bf46f7d328f031bc69377e2692b7865fd4

[2016-02-03 09:17] #1268 closed

[2016-02-03 09:19] #1068 closed

[2016-02-03 09:25] dwainm commented on #1081
This issue was fixed in the version 1.9.0
  https://github.com/woothemes/sensei/commit/7ffacd4f3354553dd797423b885755db14efaef3

https://github.com/woothemes/sensei/commit/200564550c0827cdb097665b54002c700d81a3b5

[2016-02-03 09:29] dwainm commented on #1185
Fixed in :
https://github.com/woothemes/sensei/commit/7ffacd4f3354553dd797423b885755db14efaef3  https://github.com/woothemes/sensei/commit/200564550c0827cdb097665b54002c700d81a3b5

We do not respond to renewals any longer, we simply check the subscription status when the user want's to access the resource. We only repond to new subscriptions the goes from pending to active.

[2016-02-03 09:29] #1185 closed

[2016-02-03 09:59] dwainm commented on #1246
@RiaanKnoetze This change was intentional and inline with the trend for themes and WC. Using lists when the content is not a list  is misleading. I'd say we should instad move towards styling it in this way as well. @danjjohnson what is your take here?

[2016-02-03 19:42] ArchtitectforBusiness commented on #1224
Hi there, issue back, but more acute. It seems that on certain random questions, the lesson's quiz either "remembers" old incorrect answers or says that a learner answered a question wrong even when they chose the correct answer. Please investigate.

[2016-02-04 09:43] danjjohnson opened #1272 "Can't view course when not logged in"
When logged out, every course page says "You must be logged in to view this course" and doesn't list the course lessons.

(Access Permissions enabled)

[2016-02-04 09:52] danjjohnson opened #1273 "Preview Lesson message doesn't show when logged out"
When viewing a preview lesson, you should see a message telling you to sign up for the course to access all lessons:

<img width="826" alt="screen shot 2016-02-04 at 09 50 12" src="https://cloud.githubusercontent.com/assets/1990037/12811521/e64569e8-cb24-11e5-94c0-71d2000e1c5a.png">

This now only displays for logged in users. Should display for everyone not taking the course.

[2016-02-04 11:38] dwainm commented on #1225
Fixed in 0668bc3e by checking for the index before using it.

[2016-02-04 11:38] #1225 closed

[2016-02-04 11:51] lazharichir opened #1274 "single-course.php - only excerpt can be shown, not full content"
Hello there,

Just testing out 1.9 and the single course page doesn't show the full course content even when we selected the option in the Settings. It shows the Excerpt perfectly when we pick that option, or it shows no content nor excerpt when picking Show Full Course Content.

It does show title, image, take the course button, the lessons, etc. Just the_content() doesn't seem to work.

[2016-02-04 13:38] RiaanKnoetze opened #1275 "[1.9.1] User Dashboard contains untranslateable string"
For completed courses, there's a string that cannot be translated using [Loco Translate](https://wordpress.org/plugins/loco-translate/) - in fact, it doesn't get picked up at all by Loco.

Screenshot at: http://cld.wthms.co/1jQoT/R1P5e054

This happens when using either the new or old shortcode.

[2016-02-04 13:42] RiaanKnoetze opened #1276 "[1.9.1] Modules incorrectly show lesson complete"
Module headers are showing "Completed" for me, despite the user not even being assigned to the course (I did remove the user [admin] from the course via learner management).

* http://cld.wthms.co/11cZS/265fQjYg
* http://cld.wthms.co/1fIWC/5yAziWB1

[2016-02-04 13:51] RiaanKnoetze opened #1277 "[1.9.1] Module message"
When a course is in progress, the notification should say "In Progress" as opposed to "in-progress" (seems like this is more a classname than a progress notification")

Screenshot: http://cld.wthms.co/8HMB/uTLbPSMc

[2016-02-04 14:05] RiaanKnoetze opened #1278 "[1.9.1] True / False input value the same for both"
For True / False questions, on the front end, the value for both types of questions are exactly the same. Practically this means that the user will either **always** be right, or **always** be wrong depending on which answer is rendered first.

Backend: http://cld.wthms.co/193OG/2Ck2RRIt
Frontend: http://cld.wthms.co/17p4K/2MOQLdPX

[2016-02-04 14:27] dwainm commented on #1276
Fixed in another commit that will be pushed soon.

[2016-02-04 14:27] RiaanKnoetze opened #1279 "[1.9.1] Courses and Free Products"
Courses assigned to a product without a price cannot be signed up for or purchased.

**Without Price**
Product Setup: http://cld.wthms.co/12jdh/4vvwKPSN
Frontend: http://cld.wthms.co/1jPUN/4yicBGXb

**With Price**
Product Setup: http://cld.wthms.co/SRKI/4PfeX9Td
Frontend: http://cld.wthms.co/12msO/2OLABvSH

Practically this means that if the course is assigned to a free product, no one will actual

[2016-02-04 14:38] mattyza opened #1280 "Admin screen heading tags with WordPress 4.4"
According to https://twitter.com/lutrov/status/695109446020665345, Sensei's setting screens are using the incorrect heading tag after WordPress 4.4's release.

[2016-02-04 14:52] dwainm commented on #1278
Nice catch, looking through this one now @RiaanKnoetze

[2016-02-04 15:23] danjjohnson commented on #1280
Reference: https://make.wordpress.org/core/2015/10/28/headings-hierarchy-changes-in-the-admin-screens/

[2016-02-04 15:25] dwainm commented on #1275
@danjjohnson I can see this in loco translate but the string is in the POT file. Also it seems that loco translate speaks to trasifex and the string is present there as well.

Is loco translate the recommended method of translation?

[2016-02-04 15:31] danjjohnson commented on #1274
Hi @lazharichir - We're struggling to replicate this issue. Can you tell me:

- Does this issue occur for admin users? subscribers? guests?
- Is it a paid course? And has the user purchased the course?
- What theme are you using? Does the issue persist on Twenty Sixteen theme?

Thanks

[2016-02-04 16:08] lazharichir commented on #1274
See screenshots.

- Problem occurs for everybody, admin and Chrome incognito unlogged in.
- Paid course, nobody purchased the course
- I tried on Twenty Sixteen again, doesnt change a thing.

<img width="1495" alt="screen shot 2016-02-04 at 16 05 12" src="https://cloud.githubusercontent.com/assets/12215372/12821031/87acbd02-cb59-11e5-9627-8c4386f978d3.png">
<img width="941" alt="screen shot 2016-0

[2016-02-04 16:55] danjjohnson commented on #1275
@dwainm we recommend translating directly on Transifex, but if you want to translate in the WP Dashboard then yes, Loco is the way to go currently.

Loco Translate doesn't interact directly with Transifex, but it can convert .po files from Transifex into .mo files for use on your site.

Where is the string (in the code)?

[2016-02-04 17:01] dwainm commented on #1275
@danjjohnson
The places where the string is placed:
includes/class-sensei-course.php:1547
includes/shortcodes/class-sensei-shortcode-user-courses.php:215

[2016-02-04 18:27] ArchtitectforBusiness commented on #1224
Direct quote from client:

[2016-02-05 02:24] tubiz opened #1281 "single-lesson.php - only excerpt can be shown, not full content"
When a user that has just signed for a course try to view the course lesson only the excerpt of the lesson is shown.
A ticket #1274 was created for the same issue with single-course.php this is also happening in single-lesson.php

[2016-02-05 02:34] tubiz commented on #1281
The problem is from this function ```sensei_can_user_view_lesson``` that checks if the user can view the lesson.

[2016-02-05 02:45] tubiz commented on #1281
After some digging around I discovered that this filter ```sensei_can_user_view_lesson``` (code below) located in ```includes/hooks/woocommerce.php``` was restricting access to the course if an order wasn't created for it in WooCommerce

This means that if a user is added to the course by an admin he won't be able to view all lessons.

[code]

[2016-02-05 08:51] #1071 closed

[2016-02-05 08:51] #1235 closed

[2016-02-05 08:51] #1271 closed

[2016-02-05 08:51] #1273 closed

[2016-02-05 08:51] #1277 closed

[2016-02-05 08:51] #1274 closed

[2016-02-05 08:51] #1278 closed

[2016-02-05 09:43] danjjohnson opened #1283 "Course Component Widget not working"
When using the Course Component widget, no matter which component you select, it shows the same list of courses.

[2016-02-05 12:47] danjjohnson commented on #1246
Well, they are both lists of courses, right? So surely it makes sense to use the same markup and styling for both. Which to use is probably a question for the theme guys.

[2016-02-05 12:51] danjjohnson commented on #1274
@lazharichir this is fixed for 1.9.1

Please test and confirm if you have time: https://github.com/woothemes/sensei/releases/tag/version%2F1.9.1

[2016-02-05 12:57] dwainm commented on #1281
Thank you @tubiz. Great catch. I'll fix this up. Should will be fixed in version 1.9.1 going out on Monday.

[2016-02-05 13:07] danjjohnson commented on #1272
@dwainm still not working for me:

(viewing a course when logged out)
![screen shot 2016-02-05 at 13 06 03](https://cloud.githubusercontent.com/assets/1990037/12847171/49e73ff0-cc09-11e5-9f10-2c4764cb4ef6.png)

[2016-02-05 13:08] danjjohnson commented on #1272
Compare to same course in 1.8.8:

![screen shot 2016-02-05 at 13 08 23](https://cloud.githubusercontent.com/assets/1990037/12847215/95ffbcbe-cc09-11e5-8ba1-1636d5fa712a.png)

[2016-02-05 13:34] RiaanKnoetze commented on #1246
My argument is to keep it similar to what it was; The "list" item actually contains a lot of info, including meta, and in my mind this relates more to an ```<article>``` than anything else.

Also, just randomly changing the markup for courses will add a lot of pain for 3rd party theme devs.

[2016-02-05 13:36] dwainm commented on #1246
I understand the argument for keeping it the same, but there is also the argument of moving it towards a better standard. I guess we'll need the input of a theme dev as well. I know it may break some theme styles, but the intention was to move Sensei templated structure to a better state.

[2016-02-05 15:28] RiaanKnoetze commented on #1246
I think there's a difference between moving it to a better state in the sense that it's more compatible with existing 3rd party themes and changing the course "listing" html itself.

Moving forward, with Sensei going to Aurora, it would make sense to keep it inline with the existing structure rather than introduce a *new* structure.

[2016-02-05 16:42] dwainm commented on #1272
@danjjohnson the register button is part of the theme. You will not see that on a the default theme.

[2016-02-06 23:50] lutrov opened #1284 "Logic used to determine if the course has been purchased not working"
When trying to access classes for a paid course, users get "Please purchase the course before starting the lesson" error. This seems to be due to Sensei using post statuses "wc-complete" and "wc-completed" interchangeably. I believe the former is wrong.

[2016-02-07 08:29] #1281 closed

[2016-02-07 08:44] dwainm commented on #1279
HI  @RiaanKnoetze. Should the user want a product to be free they must put 0 into the amount of product.

![image](https://cloud.githubusercontent.com/assets/1713474/12871517/a03e7db2-cd87-11e5-8cb0-648c37b96318.png)

We do a check on `$product->is_purchasable()` , so we rely on WC to give us a valid purchasable product. Even if the product price is zero it is still purchasable, however if the use

[2016-02-07 08:44] #1279 closed

[2016-02-08 10:10] danjjohnson opened #1285 "Conflict with Yoast SEO"
Test case:

- Activate Yoast SEO
- Go to SEO > Titles & Meta > Taxonomies
- Under 'Modules' - select "Hide Yoast SEO meta box"
- Go to Courses > Modules and edit a module

The "Courses" select box is missing, so you can't select a course for the module:

![screen shot 2016-02-08 at 10 09 26](https://cloud.githubusercontent.com/assets/1990037/12882821/169f429c-ce4c-11e5-80cd-4b33d92c944b.png)

[2016-02-08 11:40] danjjohnson opened #1286 "Register button not shown when logged out."
When logged out and viewing a course, there should be a "Register" button at the top of the page (if "Anyone can register" is enabled).

This is missing in 1.9.1, and instead it shows "You must be logged in to view this course."

[2016-02-08 11:44] danjjohnson opened #1287 "Redirect after registering"
If a guest visits a course and clicks "Register", they are taken to the My Courses page, where they can register, but then they stay on the My Courses page, where it says they have no active courses, and it may not be easy to find the course again.

It would be better if after registering, the user is redirected back to the course page they came from (if they came from a course page.)

[2016-02-08 13:34] danjjohnson opened #1288 "Use $wpdb prefix"
@dwainm you missed one line in this commit: https://github.com/woothemes/sensei/commit/db71897515e451a46ebb0447ae47f4ac04fa4592

https://github.com/woothemes/sensei/blob/db71897515e451a46ebb0447ae47f4ac04fa4592/includes/class-sensei-grading.php#L999

[2016-02-08 14:51] danjjohnson commented on #1284
Hi @lutrov - I'm having trouble replicating this. Could you provide steps to set up a test case so we can see this issue in action?

[2016-02-08 15:08] danjjohnson commented on #1272
@dwainm here it is in Twenty Sixteen when using 1.8.8:

![screen shot 2016-02-08 at 15 06 52](https://cloud.githubusercontent.com/assets/1990037/12889194/be1065f0-ce75-11e5-8234-946e0e0d2581.png)

[2016-02-08 15:30] danjjohnson commented on #1224
@ArchtitectforBusiness

This was a bug in v1.9, but it is fixed in v1.9.1

As for the original issue: "The system does not "forget" the answers even if you remove a student from the course or lesson and they take it again." - I will ask @dwainm to investigate this one.

[2016-02-08 15:37] danjjohnson commented on #1275
The string shows for me in Loco and translates without any problem:

![screen shot 2016-02-08 at 15 36 06](https://cloud.githubusercontent.com/assets/1990037/12890038/b8aae67c-ce79-11e5-87ce-374579867d9e.png)

Note: If you search for "Start" it shows up, but if you search for "Start a" it doesn't. Possibly a bug in Loco Translate.

@RiaanKnoetze can you confirm?

[2016-02-08 15:38] danjjohnson commented on #1276
@dwainm can you link to the commit for future reference? :)

[2016-02-08 20:47] lutrov commented on #1284
Yep, see the support ticket. ALl the info is there already.

[2016-02-08 22:13] lutrov commented on #1284
Also, see my original post above about appears to me to be a post status typo.

[2016-02-09 02:04] web2feel opened #1289 "Courses archive page missing on v1.9.1"
I am developing my site based on Sensei locally. After updating to v1.9.1, the courses archive page is appearing blank. The  'courses-overview' page is set in the settings. Any pointers?

[2016-02-09 07:29] #1288 closed

[2016-02-09 07:33] dwainm commented on #1276
Fixed in:

https://github.com/woothemes/sensei/commit/b40499adff9f0b0eddef52dbdd8468f14c770343

https://github.com/woothemes/sensei/commit/2916dc72

[2016-02-09 07:36] dwainm commented on #1224
@danjjohnson I can confirm this issue.

This is a bug for 1.9.2. Also updating the title as to what must be fixed.

[2016-02-09 08:32] danjjohnson commented on #1284
Thanks @lutrov

@dwainm `wc-complete` should be `wc-completed` in these locations:

https://github.com/woothemes/sensei/blob/master/includes/class-sensei-wc.php#L898

https://github.com/woothemes/sensei/blob/master/includes/class-sensei-wc.php#L1662

[2016-02-09 09:23] #1284 closed

[2016-02-09 10:48] danjjohnson opened #1290 "Permission denied message"
When logged in as a subscriber, and viewing a course you are not taking, you see "Permission Denied" and a message: "Unfortunately you do not have permissions to access this page." and there is no way to start taking the course.

1.9.1:
![screen shot 2016-02-09 at 10 46 28](https://cloud.githubusercontent.com/assets/1990037/12914115/6bb180c8-cf1a-11e5-8642-a8b74bee1f58.png)

1.8.8:
![screen shot 2

[2016-02-09 11:13] SiR-DanieL opened #1291 "Notice when Sensei is enabled"
I get this notice on the home in the admin as soon as I enable Sensei (latest version)

[code]

[2016-02-09 11:19] SiR-DanieL commented on #1291
I also get this on a lesson page, after submitting the quiz:

[code]

[2016-02-09 12:09] dwainm commented on #1290
@danjjohnson I believe this is because of the latest wc-complete which should have been wc-completed. Could you confirm that in the latest master?

[2016-02-09 12:34] danjjohnson opened #1292 "Access Permissions issues"
Going through every screen to see what has changed and what needs fixing.
Left: 1.8.8
Right: 1.9.1
(Twenty Twelve theme)

# Access permissions enabled

## Logged out

### Single Course (Paid)
![screen shot 2016-02-09 at 11 40 25](https://cloud.githubusercontent.com/assets/1990037/12915269/06800064-cf22-11e5-90a8-b7b8a8aca804.png)

### Single Lesson (Paid course)
![screen shot 2016-02-09 at 11 45 2

[2016-02-09 13:17] #1286 closed

[2016-02-09 14:03] dwainm commented on #1022
@danieldudzic @danjjohnson for the latest version of Sensei we check if the user is taking the course before adding them again. If they are we just ignore it, also within the user_start_course function we check to see if the user has been added to a course before adding it. There is enough protection now to avoid this from happenging, but if you can still replicated it please feel free to open it

[2016-02-09 14:08] danjjohnson commented on #1290
@dwainm no, still seeing this issue in latest master.

[2016-02-09 14:11] #1290 closed

[2016-02-09 14:11] danjjohnson commented on #1290
Dealing with permissions issue in https://github.com/woothemes/sensei/issues/1292

[2016-02-09 14:19] danjjohnson commented on #1276
@dwainm I'm still seeing this in some cases:
![screen shot 2016-02-09 at 14 18 20](https://cloud.githubusercontent.com/assets/1990037/12918666/107cb6dc-cf38-11e5-8f9b-ccd95d3cda28.png)

May be because the user had previously completed the course and was then removed from it.

[2016-02-09 14:28] danjjohnson commented on #1289
Please submit a support ticket via https://www.woothemes.com/my-account/create-a-ticket/ and if you provide temporary admin login credentials we can take a look for you.

[2016-02-09 14:28] #1289 closed

[2016-02-09 15:21] rtysmith commented on #1292
Do you know when 1.9.2 will be released or is there a temp fix?

[2016-02-09 15:31] dwainm commented on #1292
@rtysmith this fix will be temporary. When it is fixed you can download the latest version here: https://github.com/woothemes/sensei/archive/master.zip

Expect this fix to be submitted and added to master in 2 days from this comment.

[2016-02-09 15:39] rtysmith commented on #1292
It seems to fix the button, but still shows the "unfortantly you don't have permission" and still cant start the course?

[2016-02-10 00:31] lutrov commented on #1284
Why has this been closed without testing to see if the fix actually works?

[2016-02-10 00:34] lutrov opened #1293 "Logic used to determine if the course has been purchased not working"
See https://github.com/woothemes/sensei/issues/1284

Why has this been closed? Have you tested the changes to see if they actually fix the problem?

[2016-02-10 00:51] lutrov commented on #1293
I have done some more debugging and I reckon you have a problem here:

`class-sensei-wc.php, function has_customer_bought_product() line845`

`'post_type' => 'shope_order'`

I reckon that's a typo because that's not how you spell shop.

I tried changing it to "shop_order" but that DOESN'T fix the problem. I think there are further prolems in the `has_customer_bought_product()` function.

[2016-02-10 05:13] lutrov commented on #1293
Please take note of the issue subject line:

__Logic used to determine if the course has been purchased not working__

When https://github.com/woothemes/sensei/issues/1284 was closed due a commit, was the problem outlined by the issue subject line solved?

[2016-02-10 07:19] gdesmedt1 opened #1294 "my-courses page broken"
Pulled the latest version on git, installed it, worked fine on 8th Feb 2016

I rebuilt on new server, and pulled latest master version on 9th Feb 2016 and the www.randomsite.com/my-courses/ page no longer works, had to go back to 7th or 8th Feb version.

[2016-02-10 07:58] gdesmedt1 opened #1295 "Styling with Storefront Theme"
The styling of the Active and Completed courses are not correct when using the recommended "storefront" theme. This can be viewed on the randomsite.com/my-courses page when using Storefront Version: 1.6.1 and version Sensei Version: 1.9.2

[2016-02-10 08:07] dwainm commented on #1294
Hi @gdesmedt1 thanks for reporting. Are you seeing any errors on the my courses page? could you let me know what you see when you turn on debugging on the latest master?

[2016-02-10 08:43] danjjohnson commented on #1272
Update: Register button now shows, but still has a "Permission Denied" heading:

![screen shot 2016-02-10 at 08 42 39](https://cloud.githubusercontent.com/assets/1990037/12942365/4c215860-cfd2-11e5-969f-4c4ccb0b3158.png)

[2016-02-10 08:46] danjjohnson opened #1296 "Logged out message"
When logged out and viewing a course, the message below the register button reads:

![screen shot 2016-02-10 at 08 45 26](https://cloud.githubusercontent.com/assets/1990037/12942393/a84d19f8-cfd2-11e5-8ed9-20828893047d.png)

Should be:

Also this string is not translation ready:
https://github.com/woothemes/sensei/blob/b89b53834d49fdc3f82266c9cf43652446eea012/includes/class-sensei-course.php#L2802

[2016-02-10 09:08] danjjohnson commented on #1293
@lutrov that typo (`shope_order`) was removed in v1.9.1 here: https://github.com/woothemes/sensei/commit/d65f5af18d54fafbde38b5e29459ab16560473e6

We are currently unable to replicate the issue in the latest version. Can you confirm you are still having this issue using v1.9.1?

[2016-02-10 09:44] lutrov commented on #1293
No, it looks to have been fixed by 1.9.1, thanks.

[2016-02-10 09:44] #1293 closed

[2016-02-10 10:12] danjjohnson opened #1297 "True false questions have false selected initially"
When viewing a quiz for the first time, any true/false questions have false selected. There should be nothing selected initially.

[2016-02-10 13:21] dwainm commented on #1292
@danjjohnson while working on this also decided to remove "Restricted" next to titles. The notice that shows up gives enough information.

[2016-02-10 14:08] danjjohnson opened #1298 "Changing module title removes it from course"
If you have a module assigned to a course, and you change the module title, the module gets removed from the course and you have to add it again.

[2016-02-10 14:25] danjjohnson commented on #1292
@dwainm agreed :)

[2016-02-10 15:32] #1291 closed

[2016-02-10 17:07] #1297 closed

[2016-02-10 17:14] danjjohnson opened #1302 "Search button label incorrect in Learner Management"
When viewing learner management the label on the search button always says "Search users", but this should only apply when viewing a list of learners.

It should say "Search courses" when viewing courses, and "Search Lessons" when viewing lessons.

[2016-02-11 01:03] gdesmedt1 commented on #1294
Eek, I've overwritten the files with a slightly earlier version, and don't have a screenshot, but basically, it' really simple... when landing on the my-courses page, only the page title would appear, and the rest of the page blank. so basically the minute it hit the main content, everything under that (including sidebar and footer calls) were not being actioned. it's as tho the page hit the very

[2016-02-11 04:58] #1292 closed

[2016-02-11 05:05] dwainm commented on #1275
@RiaanKnoetze if Start can be picked up and not the rest of the string I believe this is a bug within loco translate. We didn't do anything different with theses strings so there's nothing I can think of that would fix that.

[2016-02-11 05:05] #1275 closed

[2016-02-11 05:17] #1258 closed

[2016-02-11 05:18] dwainm commented on #1272
@danjjohnson  I belive this is fixed in #1292 ?

[2016-02-11 05:18] #1272 closed

[2016-02-11 05:33] #1224 closed

[2016-02-11 05:48] #1255 closed

[2016-02-11 08:30] danjjohnson opened #1303 "Sensei pages not selected after installation"
On a fresh install, when you install the Sensei pages, they are not selected in Sensei > Settings. You have to select them manually, which isn't obvious for new users.

[2016-02-11 09:13] danjjohnson opened #1304 "Complete lesson visible in preview lesson"
When logged in and viewing a preview lesson from a course you're not taking, the Complete Lesson button is visible:

![screen shot 2016-02-11 at 09 10 43](https://cloud.githubusercontent.com/assets/1990037/12972763/ab3670d8-d09f-11e5-8b8b-c2016807deba.png)

[2016-02-11 09:16] danjjohnson opened #1305 "Purchase button still visible after adding to cart"
When you click "Purchase this course", the purchase button is still visible after adding to the cart:

![screen shot 2016-02-11 at 09 14 55](https://cloud.githubusercontent.com/assets/1990037/12972810/10c973a0-d0a0-11e5-8a04-66e2c624033a.png)

[2016-02-11 09:18] danjjohnson opened #1306 "Free Preview label displays on in-progress courses"
The free preview label should not display if you are already taking the course:

![screen shot 2016-02-11 at 09 17 28](https://cloud.githubusercontent.com/assets/1990037/12972852/64d96ad6-d0a0-11e5-9184-9c5bf1dda870.png)

[2016-02-11 09:22] danjjohnson opened #1307 "Please complete previous course message"
On lessons in a paid course I am taking, I see "Please complete the previous course before starting the lesson." and "the previous course" just links to the current lesson page.

There is no prerequisite on this course.

![screen shot 2016-02-11 at 09 20 16](https://cloud.githubusercontent.com/assets/1990037/12972920/ec8c0614-d0a0-11e5-8625-30aad11d3950.png)

[2016-02-11 09:44] danjjohnson commented on #1292
@rtysmith this should all be fixed now. Please test the current master branch - https://github.com/woothemes/sensei/archive/master.zip

[2016-02-11 10:10] #1303 closed

[2016-02-11 12:05] #1306 closed

[2016-02-11 12:13] #1305 closed

[2016-02-11 12:14] dwainm commented on #1304
fixed in fc6da5dd7a6158049b3c6019072b4697cb8cdc38

[2016-02-11 12:14] #1304 closed

[2016-02-11 13:52] #1307 closed

[2016-02-11 14:04] danjjohnson commented on #1272
Yes, fixed :)

[2016-02-11 14:16] danjjohnson commented on #1283
@dwainm My Active Courses still not showing the same courses as the My Courses page for me.

[2016-02-11 14:18] danjjohnson commented on #1283
Sorry @dwainm it is the same courses, just a different order

[2016-02-11 14:18] #1283 closed

[2016-02-11 16:42] rothschild86 opened #1309 "New lesson: cannot assign to a module unless a draft is saved first..."
When creating a new lesson, selecting a course should enable the module drop down, but it doesn't until a full page refresh (draft save).

[2016-02-11 16:46] rothschild86 opened #1310 "Enhancement: Reuse the same lesson in two different courses"
I know this is a huge change schema-wise, but it would be super useful. Another words, when defining a lesson, Course selection should be a checkbox not a dropdown.

[2016-02-11 16:48] rothschild86 opened #1311 "Enhancement: Multiple lesson/course dependencies"
Right now, only a single dependence can be defined. This is often too limiting. Sometimes completion of a few pre-reqs is needed.

[2016-02-11 16:54] rothschild86 opened #1312 "Show time and difficulty in individual lessons (if set) and in outline when modules are enabled"
Currently, the above items are only visible when someone clicks on a module header.

I think someone with an inside knowledge could write a filter for this in 10 minutes.

This does not necessarily need to be in the core, but having a snippet of code for this would be super useful.

[2016-02-11 16:57] rothschild86 opened #1313 "Enhancement: Show a prominent label for recently added lessons (in the title)"
Such as (NEW), or even alike to that of Free Preview label that is available when not logged in.

Show it in the listings, as well as on individual lessons.

I think someone with an inside knowledge could write a filter for this in 10 minutes.

This does not necessarily need to be in the core, but having a snippet of code for this would be super useful.

[2016-02-11 16:59] danjjohnson opened #1314 "Expired subscriptions still have course access"
When a course is linked to a subscription product, if you change the subscription status to on-hold, cancelled, or expired, the user still has access to the course.

[2016-02-11 17:00] rothschild86 opened #1315 "Enhancement: Use text above WP's ---read more--- divider as excerpt text"
Do the above when explicit excerpt is not defined.

This will allow for a visible short lesson preview/summary even for lessons not tagged as Free Preview.

[2016-02-11 17:02] rothschild86 opened #1316 "Output featured image, if set, in the Category Courses and Course Component widgets"
The current text only version is simply not enticing enough.

[2016-02-11 17:07] rothschild86 commented on #1214
The course, that a lesson is assigned too gets wiped as well. Essentially, on quick edit, the lesson disappears from the course.

[2016-02-11 17:13] rothschild86 opened #1317 "Enhancement: Option for large hero-style featured images in lesson listings"
Instead of tiny thumbs that are currently shown to the left of title.

[2016-02-11 17:21] rothschild86 commented on #1298
Only happens if name was changed with a quick edit, just the same as in this one: https://github.com/woothemes/sensei/issues/1214

[2016-02-11 17:22] lazharichir opened #1318 "Show "Purchase this course" to unregistered visitors"
Just an important improvement to add for the next version.

If you use Sensei with WooCommerce, on the single course page, you don't see the purchase the course button unless you are logged in. This is definitely not ideal for all the visitors.

Instead, it shows (depending on the setting "Access Permissions" (Users must be logged in to view Course and Lesson content)):
- You must be logged in to

[2016-02-11 17:24] rothschild86 commented on #720
I think this one is fixed. Now it simply says "Register" for free courses.

[2016-02-11 17:27] dwainm commented on #720
@rothschild86 thanks, that is how it was before 1.9.0 so we thought to keep it that way until we can enhance it even further, but for this one, which Dan is referring to the courses that can be purchased via WooCommerce with a price of 0 or that has been discounted to 0.

[2016-02-12 03:13] lutrov opened #1319 "Course component widget still doesn't work"
I just installed Sensei 1.9.2, for which the changelog claims to have fixed the course component widget but it still doesn't work.

See http://tinypic.com/r/23jiaah/9 for an example.

[2016-02-12 07:48] RiaanKnoetze opened #1320 "[freecourses] shortcode showing courses assigned to wc products"
Link to ticket: https://woothemes.zendesk.com/agent/tickets/384390

When using the ```[freecourses]``` shortcode, it incorrectly lists courses that are in fact assigned to WooCommerce products that is **not** set as free.

* Backend: http://cld.wthms.co/1bBUt/3Dc3yKE7 and http://cld.wthms.co/izZQ/PunmdN6x
* Frontend: http://cld.wthms.co/OCbG/4ADsAWcg (The same happens when using Twenty Fifteen)

I

[2016-02-12 08:06] RiaanKnoetze opened #1321 "Free Courses filter in course overview showing no courses"
When selecting the "Free" tab on the course archive tab, no courses (free or otherwise) actually show up on the front end.

Notes:

* There's a course archive page set under Sensei > Settings
* The legacy shortcodes that always formed part of that page is removed.
* This install was an update from 1.8.8 to 1.9.2

Screenshots:

* Backend - Free Courses: http://cld.wthms.co/WZyy/4LYbNziD
* Backend -

[2016-02-12 10:05] dwainm commented on #1022
@danieldudzic @danjjohnson managed to replicate this yesterday, so it is still valid.

[2016-02-12 10:30] PareshRadadiya opened #1322 "The author's link does not displaying from 2nd page onward on the course archive page"
The course archive page is showing author's name instead of author's link from 2nd page onward

See here http://demo.woothemes.com/sensei/course/

[2016-02-12 10:32] PareshRadadiya commented on #1322
The course archive page is showing author's name from 2nd page instead of author's link

[2016-02-12 10:55] PareshRadadiya opened #1323 "Course archive page showing all the course on archive page"
I’m having an issue course pagination. So far I have 7 courses and if I set the reading settings to 2 but course archive page showing me the all course.

FYI
I'm using wootheme sensei v1.9.2

[2016-02-12 22:39] bryan-farris opened #1324 "the_course_action_buttons not loading on learner profile"
Hi there,

For whatever reason, the `the_course_action_buttons` function doesn't appear to be loading on the learner profile template. I can see the `entry-actions` section loading but, for example, the "course-delete" input does not display: http://cl.ly/1X2P1c2Y0U3s (TwentySixteen) using Sensei 1.9.2.

On our theme (Skillfully) using Sensei 1.8.8, the buttons appeared just fine: http://cl.ly/2E1

[2016-02-14 15:40] lazharichir commented on #1318
No reaction? I really think this would be the best practice for 90% of the people who use Sensei with WooCommerce.

[2016-02-15 10:25] RiaanKnoetze opened #1325 "Completed Courses still show "In Progress" in Lesson meta"
Link to ticket: https://woothemes.zendesk.com/agent/tickets/384334

When viewing a completed single course pages, the lesson outlined below for that course still contain the status in the lesson meta.

* Local Testing: http://cld.wthms.co/1eNUi/l1ucSzXW
* Customer site: http://cld.wthms.co/1jJCZ/4nD3u4ie

[2016-02-16 08:53] danjjohnson opened #1326 "Lesson prerequisites not working"
When logged in as a subscriber, and taking a course, lesson content is visible even when the lesson prerequisite has not been completed.

[2016-02-16 08:59] danjjohnson opened #1327 ""Free Preview" is not translation ready"
The Free Preview label on the modules list is not translation ready:

https://github.com/woothemes/sensei/blob/master/templates/single-course/modules.php#L96

[2016-02-16 09:22] danjjohnson opened #1328 "[1.9.2] Courses linked to product variation cannot be purchased"
When you link a course to a product variation, the course does not display the "Purchase Course" button, it displays a "Register" button instead, meaning the course cannot be purchased and the course content can be accessed without purchasing the course.

[2016-02-16 10:18] pacmandv opened #1329 "Don't duplicate login/register forms for multiple [sensei_user_courses] shortcodes on same page"
If add to my-courses page a few shortcodes register and login form duplicated.

I my case if I add in admin panel to my-courses page

[code]

I got login/register from twice.

I think It can be solved if make it as the singleton, But I don't know how to override it.

[2016-02-16 15:02] danjjohnson opened #1330 "Module status label overlaps module title"
![screen shot 2016-02-16 at 15 01 17](https://cloud.githubusercontent.com/assets/1990037/13079881/383c951c-d4be-11e5-8dc0-eb7d1922be44.png)

[2016-02-16 16:01] danjjohnson opened #1331 "WooCommerce settings not working"
In Sensei > Settings there are 2 WooCommerce settings:

- Output the Free Courses Panel on the Course Archive Page.
- Output the Paid Courses Panel on the Course Archive Page.

In v1.8.8 if those were disabled, the Free and Paid courses sections would be hidden from the Courses page, even if the [freecourses] and [paidcourses] shortcodes were present.

In v1.9.2 they have no effect. [freecourses]

[2016-02-17 11:50] danjjohnson opened #1332 "Possible issue with lesson excerpts"
@dwainm you pushed a change here to simplify the excerpt on lessons:
https://github.com/woothemes/sensei/commit/b0cf4d52a80ff1f5e1a753d1c854d8f08cd46bca

I believe it was done that way before so that we could display the custom excerpt if there is one, or nothing if there isn't.

As I understand it `the_excerpt` will display an auto-generated excerpt if there is no custom excerpt provided.

I have

[2016-02-17 13:50] danjjohnson opened #1333 "[1.9.2] PHP warning on blog category page"
(This was from a blog category archive page)

./woothemes-sensei/includes/hooks/template.php:add_filter( 'the_title', array( 'Sensei_Quiz' , 'single_quiz_title' ), 20 , 2 ); // append Quiz

./woothemes-sensei/includes/class-sensei-quiz.php: public static function single_quiz_title( $title, $post_id )

[2016-02-17 14:03] danjjohnson opened #1334 "[1.9.2] Module Archive display issues"
Comparing the module archive page in v1.8.8 to v1.9.2:

![screen shot 2016-02-17 at 14 02 59](https://cloud.githubusercontent.com/assets/1990037/13111713/38174ab6-d57f-11e5-91ff-42027e2e45d6.png)

- [x] The lesson image isn't displayed << lesson needs to be enabled on single page
- [x] The lesson meta is not formatted properly << part of new proposed styles
- [x] It shouldn't have the "Lessons Arc

[2016-02-17 18:04] danjjohnson opened #1335 "[1.9.2] [freecourses] displays paid courses if there are no free products"
The [freecourses] shortcode is displaying paid courses on some users' sites.

I discovered that if I added a new product with a prize of 0 then it fixed the issue and only displayed free courses.

So if there are no products with a price of 0, then [freecourses] will also display paid courses.

[2016-02-17 18:16] danjjohnson opened #1336 "Sensei affecting blog archive pages"
Sensei is somehow affecting the exceprt displayed on blog archive pages.

Here is a category archive page in 2012 without Sensei activated:
![screen shot 2016-02-17 at 18 14 42](https://cloud.githubusercontent.com/assets/1990037/13119693/624220fe-d5a2-11e5-9ce0-a48dd8b1dd61.png)

And here is the same page after activating Sensei:
![screen shot 2016-02-17 at 18 15 43](https://cloud.githubuserconten

[2016-02-17 18:25] danjjohnson commented on #1319
Confirmed. It's the "My Active Courses" component that isn't working, it just lists the current page repeatedly.

[2016-02-18 02:39] sanya-kuzovlev commented on #1318
I have this problem to! Any suggestions?

[2016-02-18 03:36] sanya-kuzovlev opened #1337 "[1.9.2] Course twicely add to cart"
After click the purchase course button on the course page, it is added to the cart twice!

[2016-02-18 11:14] danjjohnson commented on #1337
@sanya-kuzovlev I can't replicate this in testing. Can you provide any more details/screenshots of the issue?

[2016-02-18 11:21] danjjohnson commented on #1318
This is a single course page on my test site, when logged out:
![screen shot 2016-02-18 at 11 18 51](https://cloud.githubusercontent.com/assets/1990037/13141875/8375020c-d631-11e5-887b-40397b082882.png)

It's the same regardless of the Access Permissions setting.

Are you using v1.9.2?

Is the course linked to a product variation? There's currently an issue with that: https://github.com/woothemes/

[2016-02-18 11:41] danjjohnson commented on #1329
Yes, the [sensei_user_courses] shortcode will display the login/register forms if not logged in, so if you use the shortcode twice on one page, it will display them twice.

Ideally you should just use the shortcode without the status parameter and it will display active and completed courses.

However, there may be cases where you don't want the shortcode to display the login/register forms. Perha

[2016-02-18 14:09] sanya-kuzovlev commented on #1318
Versions: Wordpress 4.4.2, WooCommerce  2.5.2, Sensei 1.9.2
Check [demo video](https://vimeo.com/155824744), sorry for russian localization.

I can give an access for test.

[2016-02-18 14:21] sanya-kuzovlev commented on #1337
Versions: Wordpress 4.4.2, WooCommerce 2.5.2, Sensei 1.9.2
Check [this example](https://vimeo.com/155827157), sorry for russian localization.

I can give an access for test.

[2016-02-18 14:38] lazharichir commented on #1318
No, no product variation, a regular simple virtual product. It has the same behaviour has the video of the other person facing the same problem.

[2016-02-18 15:25] danjjohnson opened #1338 "Problem when adding subset of questions."
Test case: Add category questions to a quiz (e.g. 10 questions from the Algebra category), and then set the "Number of questions to show" to a lower number (e.g. 5)

The first time you take the quiz, after submitting the quiz, the questions displayed are not the same ones that were submitted, and some of them show as incorrect although they weren't even displayed originally.

If you then reset the

[2016-02-18 16:26] danjjohnson commented on #1318
I still can't replicate the issue. @sanya-kuzovlev could you submit a support ticket at https://www.woothemes.com/my-account/create-a-ticket/ and provide a temporary admin login so we can investigate?

[2016-02-19 02:02] lutrov opened #1339 "Non-standard Sensei admin screen headings"
Sensei admin screens don't comply with Wordpress 4.4, both in terms of heading levels and unnecessairy clickability. For instance, if you look at "Learner Management", the page heading is H2 when it should be H1 and the heading is actually a hyperlink pointing to exactly the same page, which is redundant and (more importantly) confusing.

Another example is "Analysis > Learners", which has "Analys

[2016-02-19 06:09] danjjohnson commented on #1280
Additional comment from #1339 :

[2016-02-19 06:10] danjjohnson commented on #1339
Thanks @lutrov - we had already opened an issue for this: #1280

Added your comments there, and closing this issue.

[2016-02-19 06:10] #1339 closed

[2016-02-19 07:32] pacmandv commented on #1329
Thanks, @danjjohnson. Your recommendation help me.

[2016-02-19 07:34] dwainm commented on #1329
@danjjohnson Agreed ( low hanging fruit )

[2016-02-19 07:56] dwainm commented on #658
Fixed as part of 1.9.0

[2016-02-19 07:56] #658 closed

[2016-02-19 08:08] dwainm commented on #1070
Testing improvements should be done as code is added. TDD

[2016-02-19 08:08] #1070 closed

[2016-02-19 08:10] #1114 closed

[2016-02-19 08:11] #1118 closed

[2016-02-19 08:21] danjjohnson opened #1340 "Course archive page doesn't work if set as home page"
If you set your course archive page as a static front page, then it doesn't display any courses.

Some users want to display their course list on their home page.

[2016-02-19 09:12] danjjohnson opened #1341 "Multisite: Courses page not working correctly on multisite install"
Test case:

I have a site using the old default Courses page (/courses-overview/) and containing the four old shortcodes `[newcourses][featuredcourses][paidcourses][freecourses]`

If I remove those shortcodes, I'd expect to see the new Course Archive page instead, but it just gives me a blank page with Courses as the heading.

[2016-02-19 11:02] danjjohnson commented on #1118
Did you mean to close this @dwainm ? Is it done?

[2016-02-19 11:14] sanya-kuzovlev commented on #1318
The cause of the problem is that I have the **virtual goods** associated with the course! If you untick the virtual item, the button to purchase the course shown to the guests!

[2016-02-19 11:20] sanya-kuzovlev commented on #1337
The cause of the problem is the virtual goods associated with the course! Also this the cause of #1318  issue

[2016-02-19 11:42] danjjohnson commented on #1337
Do you mean this setting?
![screen shot 2016-02-19 at 11 39 31](https://cloud.githubusercontent.com/assets/1990037/13174767/ceac16d0-d6fd-11e5-973b-703d125b37b7.png)

I have that enabled on the product and still not seeing this issue.

[2016-02-19 13:11] danjjohnson commented on #1314
User comment: Any fix that is developed must include a way to retroactively remove access privileges to any user that has a subscription that is marked "Cancelled."

[2016-02-19 15:48] danjjohnson commented on #1332
I was able to replicate this issue when using Canvas, Hub, Mystile, or Superstore (the themes with Sensei integration.)

I assume those themes will need some template updates, but I wanted to add it here too for reference.

[2016-02-19 15:52] rothschild86 commented on #1329
showforms="false" would be useful for sure.

[2016-02-19 18:59] danjjohnson commented on #1294
Hi @gdesmedt1 we can't replicate this. If you can set up a test site that would be helpful.

[2016-02-19 19:03] danjjohnson commented on #1320
In testing, I discovered that if I added a new product with a prize of 0 then it fixed the issue and only displayed free courses.

So if there are no products with a price of 0, then [freecourses] will also display paid courses.

[2016-02-19 19:03] danjjohnson commented on #1335
Duplicate of https://github.com/woothemes/sensei/issues/1320

[2016-02-19 19:03] #1335 closed

[2016-02-19 19:08] danjjohnson commented on #1322
This is fixed in 1.9.2 (the demo has not been updated yet.)

Please reopen if you still have trouble.

[2016-02-19 19:08] #1322 closed

[2016-02-19 19:25] danjjohnson commented on #1324
@bryan-farris we removed the delete course button, as people complained that their learners were accidentally deleting courses they had purchased and had no way to recover them. We couldn't see a valid reason for learners to be able to delete courses they had started taking, but we added the filter you mentioned so that you can restore it if you want to.

@dwainm please correct me if I'm wrong her

[2016-02-19 19:44] bryan-farris commented on #1324
Thanks Dan, must have missed that one. When you say you added the filter, is that already in the latest release? Or is it slated for the next one?

[2016-02-20 01:36] dwainm commented on #1324
@bryan-farris this is the filter to use if you'd like to show the button:

add_filter( 'sensei_show_delete_course_button', '__return_true' );

If you inspect the code you'll see that only the delete course button is hidden behind that filter:  https://github.com/woothemes/sensei/blob/master/includes/class-sensei-course.php#L2080

The other buttons and functionality are added after it.

All this co

[2016-02-20 01:36] #1324 closed

[2016-02-20 01:37] dwainm commented on #1324
@bryan-farris if you think this is a bug, please log a support ticket for us to inspect it on your site, but we are not able to replicate this at the moment.

[2016-02-22 11:06] danjjohnson opened #1345 "[1.9.2] Message links not working"
On the My Messages page, the message headings should link to the individual messages, but instead they just link back to the Messages page.

[2016-02-23 08:07] danjjohnson opened #1346 "PHP notice on single course page"
Notice: sensei_get_template is deprecated since version 1.9.0! Use Sensei_Templates::get_template instead. in /var/www/web33/htdocs/test/wp-includes/functions.php on line 3573

[2016-02-23 13:58] RiaanKnoetze opened #1347 "Add new plugin action links"
Add **Configure | Docs | Support** plugins action links.

For reference: http://cld.wthms.co/3vnK/djbBRl2d

[2016-02-25 07:23] #1347 closed

[2016-02-25 08:01] #1327 closed

[2016-02-25 08:05] danjjohnson commented on #1320
Moved to 1.9.4 as we have the workaround of adding a product with a price of zero.

[2016-02-25 09:21] danjjohnson commented on #460
Closing as this is likely to cause data issues.

[2016-02-25 09:21] #460 closed

[2016-02-25 09:24] danjjohnson commented on #498
Reccomend using Say What plugin instead.

[2016-02-25 09:24] #498 closed

[2016-02-25 09:26] #505 closed

[2016-02-25 09:28] danjjohnson commented on #518
Not a priority for now.

[2016-02-25 09:28] #518 closed

[2016-02-25 09:31] danjjohnson commented on #519
Not a priority for now.

[2016-02-25 09:31] #519 closed

[2016-02-25 09:33] danjjohnson commented on #533
Not a priority for now.

[2016-02-25 09:33] #533 closed

[2016-02-25 09:39] danjjohnson commented on #543
Not a priority for now.

[2016-02-25 09:39] #543 closed

[2016-02-25 09:40] danjjohnson commented on #552
Not a priority for now.

[2016-02-25 09:40] #552 closed

[2016-02-25 09:41] danjjohnson commented on #612
Not a priority for now.

[2016-02-25 09:42] danjjohnson commented on #604
No longer required

[2016-02-25 09:42] #604 closed

[2016-02-25 09:46] danjjohnson commented on #573
This isn't a priority for us right now, but feel free to submit a PR for it if you want to.

[2016-02-25 09:47] danjjohnson commented on #568
Closing, as we haven't had any reports of this issue recently.

[2016-02-25 09:47] #568 closed

[2016-02-25 09:54] #623 closed

[2016-02-25 09:55] danjjohnson commented on #665
Not a priority for now.

[2016-02-25 09:55] #665 closed

[2016-02-25 09:57] danjjohnson commented on #715
Fixed in #694

[2016-02-25 09:57] #715 closed

[2016-02-25 09:58] danjjohnson commented on #720
Not a priority for now.

[2016-02-25 10:02] danjjohnson commented on #734
Not a priority for now.

[2016-02-25 10:02] #734 closed

[2016-02-25 10:03] danjjohnson commented on #736
Not a priority for now.

[2016-02-25 10:03] #736 closed

[2016-02-25 10:05] danjjohnson commented on #766
Not a priority for now.

[2016-02-25 10:05] #766 closed

[2016-02-25 10:05] danjjohnson commented on #771
Done in 1.9

[2016-02-25 10:05] #771 closed

[2016-02-25 10:07] danjjohnson commented on #848
Not a priority for now.

[2016-02-25 10:07] #848 closed

[2016-02-25 10:08] danjjohnson commented on #733
Not a priority for now.

[2016-02-25 10:08] #733 closed

[2016-02-25 10:09] #905 closed

[2016-02-25 10:11] danjjohnson commented on #966
Not a priority for now.

[2016-02-25 10:12] danjjohnson commented on #960
Not a priority for now.

[2016-02-25 10:12] #960 closed

[2016-02-25 10:16] danjjohnson commented on #953
Not an issue for users currently.

[2016-02-25 10:16] #953 closed

[2016-02-25 10:18] #935 closed

[2016-02-25 10:24] danjjohnson commented on #910
We won't change this for now. The admin must cancel the order to remove the learner from the course.

[2016-02-25 10:25] #916 closed

[2016-02-25 16:05] danjjohnson commented on #1044
Not a priority currently.

[2016-02-25 16:05] #1044 closed

[2016-02-25 16:06] danjjohnson commented on #1021
Not a priority currently.

[2016-02-25 16:06] #1021 closed

[2016-02-25 16:08] danjjohnson commented on #973
Not a priority currently.

[2016-02-25 16:08] #973 closed

[2016-02-25 16:08] danjjohnson commented on #970
Not a priority currently.

[2016-02-25 16:10] danjjohnson commented on #1075
Not a priority currently.

[2016-02-25 16:10] #1075 closed

[2016-02-25 16:23] danjjohnson commented on #1163
Not a priority currently.

[2016-02-25 16:23] #1163 closed

[2016-02-25 16:26] danjjohnson commented on #1182
Not a priority currently.

[2016-02-25 16:26] #1182 closed

[2016-02-25 16:28] danjjohnson commented on #1183
Not a priority currently.

[2016-02-25 16:28] #1183 closed

[2016-02-25 16:30] danjjohnson commented on #1194
@dwainm quick win?

[2016-02-25 16:31] danjjohnson commented on #1198
Done in 1.9

[2016-02-25 16:31] #1198 closed

[2016-02-25 16:39] #1111 closed

[2016-02-25 16:39] #1108 closed

[2016-02-25 16:41] #1152 closed

[2016-02-25 16:42] #1181 closed

[2016-02-25 16:45] danjjohnson commented on #1199
Not a priority currently. For now I'd suggest hiding it with CSS.

[2016-02-25 16:45] #1199 closed

[2016-02-25 16:55] #1241 closed

[2016-02-25 16:58] danjjohnson commented on #1242
This is not a common use case.

[2016-02-25 16:58] #1242 closed

[2016-02-25 17:03] danjjohnson commented on #1311
In this case, you should set the prerequisites in series.

[2016-02-25 17:03] #1311 closed

[2016-02-25 17:04] danjjohnson commented on #1310
This is a huge change, and not something we're planning to explore any time soon.

[2016-02-25 17:04] #1310 closed

[2016-02-25 17:05] danjjohnson commented on #1287
Not a priority currently.

[2016-02-25 17:05] #1287 closed

[2016-02-25 17:10] danjjohnson commented on #1312
Labelled this as OSS. It's not a priority for us, but if someone else wants to write the code for it, we'd be happy to merge it or add it to our docs.

[2016-02-25 17:14] danjjohnson commented on #1317
This is more of a theme feature and not something we will add to core.

[2016-02-25 17:14] #1317 closed

[2016-02-25 17:25] danjjohnson commented on #1189
@dwainm why would you have a course with no lessons?

[2016-02-25 17:26] #1328 closed

[2016-02-25 17:28] danjjohnson commented on #1222
Notifications are at the top now and there is no scrolling.

[2016-02-25 17:28] #1222 closed

[2016-02-26 05:40] dwainm commented on #1189
Good point @danjjohnson no need for this.

[2016-02-26 05:40] #1189 closed

[2016-02-26 08:14] #1319 closed

[2016-02-26 08:17] dwainm commented on #1294
Feel free to open it up if you can replicate it.

[2016-02-26 08:17] #1294 closed

[2016-02-26 08:26] danjjohnson commented on #1319
@lutrov Active Courses and Completed Courses are now fixed for v1.9.3

[2016-02-27 07:34] sanya-kuzovlev commented on #1337
I found a solution to this problem. It was in the Storefront Footer Bar plugin. By default in css .sfb-footer-bar is background-image: url(); what leads to conflict "Double add to cart issues" which is described [here](https://docs.woothemes.com/document/known-conflicts/#double-add-to-cart-issues)

[2016-02-27 07:34] #1337 closed

[2016-02-27 08:21] danjjohnson commented on #1337
Thanks for the update @sanya-kuzovlev :)

[2016-02-27 09:53] danjjohnson opened #1352 "Random users not being assigned to courses after purchase"
A user has experienced an issue where in some cases (around 10 - 15% of orders), the learner is not assigned to the course they have purchased.

There seems to be nothing specific in common between the affected orders, but it mainly happens during busy periods so it could be related to server load.

So far we have not been able to identify the cause of the issue.

If anyone else experiences this i

[2016-02-27 10:42] sanya-kuzovlev opened #1354 "[1.9.2] Uncaught ReferenceError: orderId is not defined"
An error occurs when deleting the student from the course. Details can be found [here](https://vimeo.com/156944546).

[2016-02-27 13:30] dwainm commented on #1069
Fixed in version 1.9.0

[2016-02-27 13:30] #1069 closed

[2016-02-27 16:40] danjjohnson commented on #1194
Not a priority

[2016-02-27 16:40] #1194 closed

[2016-02-27 16:45] danjjohnson commented on #909
Not a priority

[2016-02-27 16:45] #909 closed

[2016-02-27 16:45] danjjohnson commented on #808
Not a priority

[2016-02-27 16:45] #808 closed

[2016-02-27 16:46] danjjohnson commented on #615
Not a priority

[2016-02-27 16:46] danjjohnson commented on #602
Not a priority

[2016-02-27 16:46] #602 closed

[2016-02-27 16:52] danjjohnson commented on #542
Not a priority

[2016-02-27 16:52] #542 closed

[2016-02-27 16:55] #969 closed

[2016-02-27 16:59] danjjohnson commented on #573
@davidpagepsycle I'm closing this, but feel free to reopen if you want to submit a PR.

[2016-02-27 16:59] #573 closed

[2016-02-27 17:02] danjjohnson commented on #1019
Again, closing this for now, but feel free to reopen if you want to submit a PR.

[2016-02-27 17:02] #1019 closed

[2016-02-27 17:03] danjjohnson commented on #1035
Not a priority

[2016-02-27 17:03] #1035 closed

[2016-02-27 17:05] danjjohnson commented on #1054
Not a current priority

[2016-02-27 17:05] #1054 closed

[2016-02-27 17:06] danjjohnson commented on #1184
Not a current priority

[2016-02-27 17:06] #1184 closed

[2016-02-27 17:13] dwainm commented on #1276
Unable to replication it in the later version 1.9.3.

[2016-02-27 17:13] #1276 closed

[2016-02-27 17:14] danjjohnson commented on #1295
Fixed by https://github.com/Automattic/sensei/pull/1355

[2016-02-27 17:14] #1295 closed

[2016-02-27 17:16] danjjohnson commented on #961
Edge case

[2016-02-27 17:16] #961 closed

[2016-02-27 17:17] danjjohnson commented on #1022
@dwainm This is an edge case we can deal with in support.

[2016-02-27 17:17] #1022 closed

[2016-02-27 17:18] danjjohnson commented on #1109
@mahangu closing this as it's not a current priority, but feel free to reopen if you want to submit a PR :)

[2016-02-27 17:18] #1109 closed

[2016-02-27 17:19] danjjohnson commented on #1173
@dwainm seems like an edge case?

[2016-02-27 17:19] #1173 closed

[2016-02-27 17:22] danjjohnson commented on #1212
Unable to replicate this. Please submit a support ticket if you still have this issue: https://www.woothemes.com/my-account/create-a-ticket/

[2016-02-27 17:22] #1212 closed

[2016-02-27 17:26] danjjohnson commented on #1285
Not a priority. Added to known conflicts list here: https://support.woothemes.com/hc/en-us/articles/203107857

[2016-02-27 17:26] #1285 closed

[2016-02-27 17:57] dwainm commented on #1341
can't replicate this one, feel free top open if possible. The issue here is mainly caching locally and ensuring that the permalinks are refreshed.

[2016-02-27 17:59] #1345 closed

[2016-02-27 17:59] #1346 closed

[2016-02-27 20:27] #1334 closed

[2016-02-27 20:27] #1336 closed

[2016-02-28 05:50] #1325 closed

[2016-02-28 05:50] #1333 closed

[2016-02-28 20:15] Cskyleryoung opened #1356 "Typo in template.php, line 85"
Typo in 'includes/hooks/template.php', line 85, column 39: 'titile' should be 'title'.

[2016-02-28 20:36] Cskyleryoung opened #1357 "Typo in lesson-metadata.js, line 230"
Type in 'assets/js/lesson-metadata.js', row 230, column 11. 'rnadom' should be 'random'.

[2016-02-29 09:00] sanya-kuzovlev commented on #1318
So, problem solved! It was the fact that Woocommerce was set up so that Guests could register to make purchases. This led to the fact that the associated with course the product was repeatedly purchased by guests! Why not display the purchase button. In my situation I had to handle 2303 orders (:

[2016-02-29 15:04] sanya-kuzovlev opened #1358 "Lessons archive page template not being used"
If you navigate to the lessons archive page, the system uses the standard archive.php theme template. Probably need to add a couple of lines in the class-sensei-templates.php file ;)

[2016-03-01 11:29] #1357 closed

[2016-03-01 11:35] #1356 closed

[2016-03-01 16:08] RiaanKnoetze opened #1360 "Modules archive template: Missing components + bugs"
Link to ticket: https://woothemes.zendesk.com/agent/tickets/390262

When clicking the module title, it should present the user with an archive view of all the lessons assigned to that view. The issue is that the layout and content for that archive page varies significantly between 1.8.8 and 1.9.2

The following screenshot highlights the issue perfectly:

![image](https://cloud.githubusercontent.co

[2016-03-01 16:21] RiaanKnoetze opened #1361 "Results page doesn't link to single lesson on 1.9.2"
Link to ticket: https://woothemes.zendesk.com/agent/tickets/390317

When on the results page, there's a difference in behaviour between 1.8.8 and 1.9.2.

With 1.8.8, when clicking on the lesson itself, it would take you through to *that* single lesson page. With 1.9.2, it simply refreshes the search results page itself.

Just to make sure we're referring to the same thing, I'm talking about the fo

[2016-03-01 19:15] danjjohnson commented on #1334
@dwainm it was the module archive page, not the lesson archive :smiley:

Riaan has opened a new issue for it: https://github.com/Automattic/sensei/issues/1360

[2016-03-01 19:17] dwainm commented on #1360
@danjjohnson copy that

[2016-03-03 08:57] danjjohnson opened #1362 "Compatibility with Product Vendors 2.0"
Sensei is not currently compatible with Product Vendors v2.0

Ref: https://docs.woothemes.com/document/how-to-set-up-a-course-marketplace-using-sensei/

When a teacher is assigned as a vendor admin, they should be able to add products, but they are unable to see the Products tab in wp-admin.

The teacher role should be adapted to allow some more privileges specifically relating to vendors.

[2016-03-03 13:16] WillBrubaker opened #1363 "text domain missing"
`includes/shortcodes/class-sensei-shortcode-user-courses.php` "Active Courses" and "Completed Courses" are lacking the text domain so not translatable. PR to follow

[2016-03-03 14:40] #1363 closed

[2016-03-03 15:46] danjjohnson opened #1365 "When you submit a quiz for manual grading it doesn't show the right notification."
In 1.9.3, if a quiz is set to manual grading, when it is submitted, it still shows "You require xx% to pass this quiz."

It should show: "You have completed this quiz and it will be graded soon. You require 50% to pass."

[2016-03-03 16:03] danjjohnson opened #1366 "Add answer feedback to Gap Fill questions"
Now that gap fill questions can be auto-graded, it makes sense to add an "Answer feedback" field to those questions so users can get feedback on them as soon as they are graded.

[2016-03-04 13:41] danjjohnson opened #1367 "Problem with variable subscriptions"
When assigning a course to a WC product, any variable subscription products are available to select, both the variations AND the parent product:
![image](https://cloud.githubusercontent.com/assets/1990037/13528341/3e0b0f3a-e20d-11e5-84cd-e508a34dc511.png)

~~As with regular variable products, you should only be able to select a product variation, NOT the parent product.~~

**Update: in v1.8.6 it w

[2016-03-04 14:26] danjjohnson opened #1368 "Add a link to explain Sensei pages"
After installing Sensei, there is a prompt to install Sensei pages, but it's not clear what these are for new customers.

![image](https://cloud.githubusercontent.com/assets/1990037/13529605/0fa2763a-e215-11e5-99e0-513ef83d9b8f.png)

Suggest adding a link somewhere to https://docs.woothemes.com/document/sensei-pages/

[2016-03-07 04:54] RiaanKnoetze opened #1369 "[sensei_courses category="xxx"] has broken title"
Ticket: 393225-zd-woothemes

When using ```[sensei_courses category="17"]```, Sensei incorrectly display the title of the course as: **Category Course Category**

Screenshot:

![image](https://cloud.githubusercontent.com/assets/13743465/13561102/71636db6-e431-11e5-97b1-1657ae46bdfb.png)

[2016-03-07 07:44] danjjohnson commented on #1369
@RiaanKnoetze I think you pasted the ticket link in there by mistake :)

[2016-03-07 08:37] RiaanKnoetze commented on #1369
Ugh. Fixed. Thanks :)

[2016-03-07 09:20] danjjohnson commented on #1318
Hi @sanya-kuzovlev I'm not sure how that happened, as Sensei prevents checking out as a guest if there is a course product in the cart.

[2016-03-08 12:39] danjjohnson opened #1370 "Incorrect answers not displayed"
Added by @dwainm:
- [x] If pass is not required it and reset enabled it should show the right and wrong ones
- [ ] Feedback should always show if passed. If failed, it should only show when reset is disabled.

According the the quiz logic flowchart, when a learner completes a quiz, it should show them which answers are correct and incorrect, provided:

1. They pass the quiz, or
2. The 'reset quiz'

[2016-03-08 14:03] danjjohnson commented on #1370
Update: Answer feedback is also not displayed if the learner scores 0 on the quiz.

Additional comments from a customer:

394098-zd-woothemes

[2016-03-08 16:23] Hamsterkacke opened #1371 "Dont show Modules and Lessons when "not viewable" is ticked"
Hey Folks,

i have a Site with WooCommerce and Sensei and i dont want any unregistered User to see anything of the course. But my course page shows the modules and the lessons.
http://screencloud.net/v/l2eV

If i click the lesson, i can see the excerpt.

I dont want anything of this to happen. But the option for access_permission doesnt change anything. This seems to be a bug for me?

[2016-03-08 19:23] jeradhill commented on #1338
Any update on this fix? @danjjohnson  Looks like it was supposed to be part of the 1.9.3 release but that release has come and the problem still persists.

[2016-03-09 09:24] RiaanKnoetze opened #1372 "Reset Password issue when "My Account" = "My Courses""
Link to ticket: 391052-zd-woothemes

In **WooCommerce > Settings > Accounts** when setting the "My Account Page" to be the same as the one set for Sensei under **Sensei > Settings > My Courses Page** - the end result is that when clicking on the *Lost your password?* link on the front-end, the page only refreshes.

As soon as the WooCommerce "My Account Page" is changed to something else, the pass

[2016-03-09 14:07] danjjohnson commented on #1371
Hi @Hamsterkacke

This is not a bug. Courses always display a list of the lessons in the course, and lessons will display a custom excerpt if there is one.

Access Permissions only controls whether the full lesson content is accessible without being logged in.

[2016-03-09 14:07] #1371 closed

[2016-03-09 14:09] danjjohnson commented on #1338
Hi @jeradhill - This was moved to a future release milestone as we didn't have time to include it in 1.9.3.

I can't give a time estimate at this stage, but our developer will look into this as soon as he gets chance.

[2016-03-09 14:09] Hamsterkacke commented on #1371
Is there a way i can disable this behaviour? Or can you point me in the direction of the filter/hook that does the heavy lifting?

[2016-03-09 14:30] danjjohnson commented on #1372
@RiaanKnoetze in my opinion this is a documentation/education issue.

The My Courses page and the My Account page are not set up to share a single page. My Courses should be a single page containing [sensei_user_courses] and My Account should be a separate page containing [woocommerce_my_account].

The shortcodes should not be used on the same page, as they both contain login/register logic which

[2016-03-09 14:30] #1372 closed

[2016-03-09 15:06] danjjohnson commented on #1371
Check out `load_course_module_content_template` - this loads the template to display the modules on the course page:
https://github.com/Automattic/sensei/blob/1bc7ca2c00b7e29a85f24b4d4770a42aabf52b6f/includes/class-sensei-modules.php#L1355

And it's hooked onto `sensei_single_course_content_inside_after`:
https://github.com/Automattic/sensei/blob/1bc7ca2c00b7e29a85f24b4d4770a42aabf52b6f/includes/c

[2016-03-09 15:34] RiaanKnoetze commented on #1372
I disagree.

I think there's different issues here:

1. One page using multiple shortcodes
2. One page being assigned as the base page for multiple plugins.

In my opinion, with the former - one page should definitely be able to run multiple shortcodes (e.g. WP Job Manager, Classifieds WP, Sensei, WC etc.) as that will allow the user to have ONE central admin area, instead of x-amount of different

[2016-03-09 16:09] danjjohnson commented on #1372
Right, but not all shortcodes will work well together, and neither plugin was designed with this in mind. Both shortcodes display login and register forms when logged out for example, so it's not recommended to use both on the same page.

There is an issue open for this: https://github.com/Automattic/sensei/issues/1202

We did have an enhancement issue for this (https://github.com/Automattic/sense

[2016-03-10 12:01] danjjohnson commented on #1360
395390-zd-woothemes

[2016-03-11 09:09] danjjohnson opened #1373 "[1.9.3] Fatal Error when adding learner to a course"
Since updating WooCommerce to 2.5.4, when you try to add a learner to a course in Learner Management, it generates a fatal error in some cases:

https://github.com/Automattic/sensei/blob/master/includes/class-sensei-wc.php#L1634

Seems to be related to the subscriptions code.

395234-zd-woothemes

[2016-03-11 09:10] dwainm commented on #1373
Will fix this up asap @danjjohnson

[2016-03-11 11:38] danjjohnson opened #1374 "[1.9.3] Comments not displayed on single lessons."
If lesson comments are enabled, and comments are enabled in the Discussion section of the lesson edit page, then the single lesson page should display comments below the lesson content.

In 1.9+ no comments are displayed.

395963-zd-woothemes

[2016-03-11 12:06] danjjohnson commented on #1370
396113-zd-woothemes

[2016-03-11 15:47] danjjohnson opened #1375 "Auto-grade feature doesn't work in Manual Grading screen"
When you go to grade a quiz manually, the "Auto-grade" button should automatically grade any auto-gradable questions, but it currently does nothing.

[2016-03-12 23:57] dwainm commented on #1373
@danjjohnson seems like one of these plugins causing the issue (Nothing we can change in Sensei)
<img width="921" alt="screen shot 2016-03-13 at 3 56 05 am" src="https://cloud.githubusercontent.com/assets/1713474/13726056/98b94730-e8cf-11e5-85ee-0ee65426cec2.png">

[2016-03-13 11:05] lazharichir opened #1376 "is_sensei() returns false when viewing module archives"
Whenever viewing an archive of modules (for example when clicking on the bottom link of a lesson, in the breadcrumb's module link), it brings your the the url site.com/modules/the-module-in-question/?course_id=329444 and this page return false to is_sensei().

[2016-03-13 20:37] lazharichir opened #1377 "Remove the link on single lesson pages' thumbs"
The thumb of a lesson currently links to the lesson's page, it is ok when on the archive but not really on the lesson's single page since we are already on it therefore there is no need to link to itself again.

[2016-03-14 12:50] danjjohnson opened #1378 "Lesson image does not display on single course page"
Setting enabled: Output the Lesson Image on the Single Course Page.

No lesson image displayed on single course page:
![image](https://cloud.githubusercontent.com/assets/1990037/13744972/51876134-e9e3-11e5-8018-312fd2e42e13.png)

396053-zd-woothemes

[2016-03-14 13:11] danjjohnson opened #1379 "[1.9.3] Grading notes not displayed if failed or pass not required"
When grading a quiz manually, if you enter grading notes for a question, they are only displayed on the frontend if the quiz is passed.

If the quiz is failed, or there is no passmark required, the grading notes are not displayed. They should always be displayed.

396053-zd-woothemes

[2016-03-14 16:26] adrianisaac commented on #1375
Hi Dan,

I'm managing a software project called the Recruitment Guide (www.recruitmentguide.com) for a UK celebrity named James Caan.  We decided to use Sensei because it seems to be the best system out there.  However, we are having a couple issues (including the one above) that are really important for our system to function properly, and that I was hoping we could discuss.

Our development time

[2016-03-14 17:33] danjjohnson commented on #1373
@dwainm I replicated this with only Sensei and WC active. Doesn't happen for every course, but I can't identify the cause.

[2016-03-14 17:39] #1373 closed

[2016-03-14 17:39] dwainm commented on #1373
@danjjohnson please confirm with the latest master

[2016-03-14 17:50] aheckler commented on #1370
396732-zd-woothemes

[2016-03-15 12:37] sanya-kuzovlev opened #1380 ""Free" Course filter displays courses linked to product variations."
Issue with variative woocommerce producs. Free courses filter display paid products, and Paid filter not display them!

[2016-03-15 12:59] sanya-kuzovlev opened #1381 "Course page pagination with add to cart query in url"
[details here](https://vimeo.com/159053978), in video

[2016-03-15 13:56] danjjohnson commented on #1380
@sanya-kuzovlev would you mind providing a bit more detail please? e.g:

#### What I Expected To Happen

#### What Happened Instead

#### Steps to Reproduce the Bug

[2016-03-15 14:01] danjjohnson commented on #1381
If I understand the video correctly, the issue is that if you add a product to the cart from the Courses page (which you can't do by default), then the add-to-cart query remains in the URL when viewing page 2 etc, so the product gets added to the cart again. Is that correct?

[2016-03-15 17:34] sanya-kuzovlev commented on #1381
yes!

[2016-03-15 18:26] aheckler commented on #1373
397446-zd-woothemes

[2016-03-15 20:31] richardmtl opened #1382 "Network Activation of plugin skips "setup" wizard"
In 397431-zd-woothemes, the user was Network-activating the plugin and getting errors when viewing Courses on a subsite. I was unable to reproduce the error, *but* I noticed that network activation causes the Wizard to be skipped in the subsite, and some options to not be set in the DB, whereas activating the plugin as an admin on the subsite works as expected.

[2016-03-15 21:19] lazharichir opened #1383 "Hide the <span> tag of the progress when the course is not started or enrolled yet"
On the single course page, there is a span that has not html content in it. This is the span with css classes "progress statement course-completion-rate". It is useful to output it when the user has joined this course, otherwise it is pointless and break the layout with a blank line.

It would be great to simply not show it when the visitors isn't in this course.

[2016-03-16 08:31] sanya-kuzovlev commented on #1380
I have a set of free and paid courses. Paid courses linked to woocommerce products, some of the paid courses related to woocommerce variable products. On the courses page, by default there is a filter allowing to filter the paid, free and recommended courses. When using the filter, the courses associated with variable products displayed in Free, and do not appear in Paid! Should be the opposite!

[2016-03-16 08:57] danjjohnson commented on #1373
Thanks @dwainm - I had a customer test this and it resolved the issue for them.

[2016-03-16 08:58] dwainm commented on #1373
great!

[2016-03-16 08:58] dwainm commented on #1373
Feel free to depoy an update.

[2016-03-16 10:42] danjjohnson commented on #1382
Thanks @richardmtl

We do mention in our FAQ that it should be activated separately on each subsite:
https://www.woothemes.com/products/sensei/#multisite

But if we can get it to work when Network Activated, that would be much better.

[2016-03-16 11:38] danjjohnson commented on #1380
Thanks @sanya-kuzovlev

This is related to https://github.com/Automattic/sensei/issues/1320

As a temporary measure, if you add a new product with a price of 0, the paid courses will not appear in the Free filter (but they also won't appear in Paid, so that still needs to be fixed.)

[2016-03-16 15:10] richardmtl opened #1384 "Quiz grade not displayed"
As reported in 397799-zd-woothemes, the quiz grade is not being displayed upon quiz completion, only the percentage required for a pass mark.

![screen shot 2016-03-16 at 11 09 38 am](https://cloud.githubusercontent.com/assets/3676359/13817176/9d19cdaa-eb67-11e5-8e55-d32010c361c5.png)

[2016-03-16 17:59] aheckler commented on #1352
Maybe 372929-zd-woothemes, but it works for me. ¯\\_(ツ)_/¯

[2016-03-17 07:50] sanya-kuzovlev commented on #1380
Sorry, accidentally changed the status to closed

[2016-03-17 21:54] lazharichir commented on #1360
Plus, is_sensei() return false on module archive pages.

[2016-03-18 15:16] danjjohnson opened #1386 "Paid courses still show price in My Courses"
Using [sensei_user_courses] on the My Courses page, if you have purchased a course, then it should not display the price under "Active Courses"

![image](https://cloud.githubusercontent.com/assets/1990037/13882180/479720ba-ed1c-11e5-9f7b-f52e8a349853.png)

397076-zd-woothemes

[2016-03-18 17:54] aheckler commented on #1352
399107-zd-woothemes

[2016-03-18 18:57] richardmtl opened #1387 "Multisite: Woothemes Helper won't let you enter License key unless Sensei is network-activated"
As reported in 398712-zd-woothemes: if you install Sensei on a multisite and don't network activate it (since it's currently not recommended to network activate it, as per #1382), Sensei doesn't show in the list of products to activate in the Woothemes Helper (which can only be network-activated on a multisite, and can't be activated per subsite). Unfortunately this leaves users with 2 non-ideal c

[2016-03-21 12:45] danjjohnson commented on #1387
@mattyza would you agree that this is a bug with WooThemes Helper, or is the solution here to make sure Sensei can be network activated?

[2016-03-21 12:57] mattyza commented on #1387
This is definitely something we should talk about revising within the WooThemes Helper (cc @kloon for feedback).

@danjjohnson - I'd say it's worth making Sensei network-aware, regardless of this issue with the Helper.

[2016-03-21 13:30] aheckler commented on #1370
I think this is happening whenever a learner fails a quiz, no matter their score or number of right/wrong answers. For example:

![screen shot 2016-03-21 at 9 29 09 am](https://cloud.githubusercontent.com/assets/5512652/13920071/6c2acd64-ef47-11e5-849e-fafc88b73975.png)

If I get one right and two wrong here, I **don't** get a zero but I **do** fail the quiz. Feedback not shown.

[2016-03-21 14:44] aheckler opened #1388 "Single course page doesn't have .woocommerce body class"
If a course is linked to a WC product, then that single course page should also have `woocommerce` as a body class, so that the “Added to Cart” message will be styled by WC. Otherwise you get this:

![screen shot 2016-03-21 at 10 44 14 am](https://cloud.githubusercontent.com/assets/5512652/13922265/e296a4c8-ef51-11e5-99a3-411a3f0e60ff.png)

398682-zd-woothemes

[2016-03-21 15:53] richardmtl commented on #1384
Another report in 398828-zd-woothemes.

[2016-03-21 18:07] richardmtl opened #1389 "Lesson doesn't appear on Course archive until the ordering is resaved on Lessons > Order Lessons"
This came up in 399437-zd-woothemes, and @danjjohnson says that he's come across this before (but wasn't able to replicate).

The user's course had many lessons, but the last one refused to show up on the course archive page. I fixed it by going into Lessons -> Order Lessons, moving the affected lesson into another position, saving, and then putting it back where it was originally, then re-saving.

[2016-03-21 18:18] richardmtl commented on #1370
399914-zd-woothemes

[2016-03-21 18:36] richardmtl commented on #1384
Also 399680-zd-woothemes

[2016-03-22 08:46] #1384 closed

[2016-03-22 10:04] dwainm commented on #1352
Found one possible cause for this:

The WC is active check was performed before the plugin was loaded resulting in a false negative and with a result not loading the hooks needed to listen for a completed order. This only happened in certain cases so it was very difficult to catch. I'll leave this open until we can confirm this as the cause or dig some more to find the actual cause.

[2016-03-22 10:53] danjjohnson commented on #1352
Thanks @dwainm - I'll do some testing with customers to see if this helps.

[2016-03-22 14:43] #1338 closed

[2016-03-22 14:43] dwainm commented on #1338
@danjjohnson please test the latest master to confirm this fix.

[2016-03-22 15:01] richardmtl commented on #1384
A user implemented the change in the plugin and it worked for them, yay! :100:

[2016-03-22 15:04] visionistics commented on #1384
Thank you @dwainm!  This solved the problem and helped my boss lower her blood pressure significantly.  ;-)  Thank you @richardmtl for all your help.

[2016-03-22 15:04] #1379 closed

[2016-03-22 15:05] dwainm commented on #1384
Glad we could help @visionistics

[2016-03-22 15:09] #1302 closed

[2016-03-22 15:11] dwainm commented on #1354
fixed in 5c365797b79d077813591bac60bac6a397a7cecb . Didn't see this issue open for it already. cc @danjjohnson

[2016-03-22 15:11] #1354 closed

[2016-03-22 15:12] dwainm commented on #1354
This was added in case we wanted to remove the users order as well but we decided agains it as the order may contain other information we may not want to delete. So the js gave an error as there was a variable used that should have been removed.

[2016-03-22 17:25] richardmtl commented on #1374
In 399981-zd-woothemes the user mentions the following:

[2016-03-23 11:32] cycomarcooo opened #1391 "Some hooks are no more used by the new shortcodes"
The new shortcode [sensei_user_courses] handled by class-sensei-shortcode-user-courses.php do not call anymore actions like :
- sensei_after_completed_user_courses
- sensei_before_completed_user_courses
- sensei_after_user_courses
- etc.

The former shortcode [usercourses] does. Should be great to call them again.

[2016-03-23 15:50] danjjohnson commented on #1338
@jeradhill this is fixed in the latest master branch, and will be released with v1.9.4 in the next few days.

[2016-03-23 16:11] danjjohnson commented on #1367
@dwainm this still isn't working unfortunately.

The issue remains that when you purchase a course that is linked to a variable subscription, the course does not appear in My Courses, and is not listed as active in Analysis.

[2016-03-24 02:18] mikemuller commented on #1384
Is there a timeline to get this officially released?

[2016-03-24 16:21] lazharichir opened #1393 "Quick Edit of a module removes the course it is linked to"
If you go the list of modules (taxonomy), you can do a quick edit for the name for example. When you save that quick edit, it seems to remove the course that module was linked to.

You've got to quick EDIT and re-add it.

[2016-03-24 17:41] danjjohnson commented on #1393
Thanks @lazharichir - we already have an issue open for this, so I'll close this one:
https://github.com/Automattic/sensei/issues/1298

[2016-03-24 17:41] #1393 closed

[2016-03-24 18:44] danjjohnson commented on #1384
@mikemuller it will hopefully be released next week, but depends on the progress of other critical fixes.

[2016-03-25 02:56] tnorthcutt opened #1394 "Some messages to users not filterable"
Is there any particular reason why [these](https://github.com/Automattic/sensei/blob/d7ba5296d94f8d7d686682cfcd5ace94b57ed6db/includes/class-sensei-lesson.php#L3564) [two](https://github.com/Automattic/sensei/blob/d7ba5296d94f8d7d686682cfcd5ace94b57ed6db/includes/class-sensei-lesson.php#L3568) messages to users aren't filterable?

It looks like the ones a few lines up that use `Sensei()->notices->

[2016-03-25 08:12] lazharichir opened #1395 "Link several products for a course?"
Hello,

Could it be possible to select several WooCommerce products rather than just one for a given course?

Working with packages including different things on top of the course and would be great to be able to do so without the need to get a heavy membership plugin..

[2016-03-25 13:31] danjjohnson commented on #1394
Yes, it's not practical to filter every text string, so we recommend using a [gettext filter](https://support.woothemes.com/hc/en-us/articles/203105817-Quickly-Translate-Or-Replace-WordPress-Localized-Site-Text) or a translation tool such as [Say What?](https://wordpress.org/plugins/say-what/) to change text strings.

[2016-03-25 13:31] #1394 closed

[2016-03-25 14:00] richardmtl commented on #1395
Hi! This was also requested in https://github.com/Automattic/sensei/issues/359. It is not currently possible to do this. Using Product Bundles is a work-around that could work for you: https://www.woothemes.com/products/product-bundles/

You can add the same course to multiple Product Bundles. Learner pays for a specific Product Bundle, and has access to all courses within that Bundle. I'm pretty

[2016-03-27 16:22] cycomarcooo commented on #1391
No one interested? It's important to be able to add actions before or after user_courses. It's a kind of hard functional regression to purely remove those hooks in the new version. What do you think?

[2016-03-28 00:39] Cskyleryoung opened #1396 "Incomplete comment in lessons.php"
A comment in lessons.php appears to be incomplete at line 63, col 43.

[2016-03-28 13:59] aheckler opened #1397 "Allow logged-out users to take quizzes in some cases"
Currently, only logged-in users can take quizzes. We have this restriction in place because otherwise there would be no way to save grade information for the user.

However, in some instances it'd be helpful for logged-out users to be able to take a quiz, e.g. someone's offering a free preview lesson to logged-out users and wants the quiz to be accessible to them as well.

Came up in 401865-zd-woo

[2016-03-29 14:38] danjjohnson commented on #1391
Hi @cycomarcooo - It's not that we're not interested, it just sometimes takes a few days before we get chance to review issues.

@dwainm can you confirm whether those actions were removed intentionally, or should we add them back in?

[2016-03-29 14:54] danjjohnson commented on #1396
@dwainm can you complete the comment here?

https://github.com/Automattic/sensei/blob/master/templates/single-course/lessons.php#L63

[2016-03-30 13:57] aheckler commented on #720
397088-zd-woothemes

[2016-03-30 16:28] jeradhill commented on #1338
Any updates on 1.9.4? Still waiting for it.

Thanks,
--
Jerad Hill

Web <http://jeradhill.com> | Twitter <http://twitter.com/jeradhill>| FB
<http://facebook.com/jeradhill>| Insta <http://instagram.com/jeradhill>|
Linkedin <http://linkedin.com/in/jeradhill>

[2016-03-30 19:23] krivinarius opened #1398 "Learner profile url problem for non standard WP installations"
I have WordPress installed in a separate folder and when adding a link to My Profile to the menu I get incorrect url because WordPress Address (URL) and Site Address (URL) in Settings/General are not the same in my case. I've tracked it down to this: class-sensei-learner-profiles.php, method get_permalink is using get_site_url() - maybe it can use get_home_url() instead.

[2016-03-30 20:59] aheckler opened #1399 "Improve error handling in get_subscription_user_started_course()"
On this line:

https://github.com/Automattic/sensei/blob/version/1.9.3/includes/class-sensei-wc.php#L1633

... `wc_get_product()` can sometimes return `false`:

https://docs.woothemes.com/wc-apidocs/source-function-wc_get_product.html#17-30

... as can `WC()->product_factory->get_product()`:

https://docs.woothemes.com/wc-apidocs/source-class-WC_Product_Factory.html#27-41

... but we don't test fo

[2016-03-30 21:32] krivinarius opened #1400 "Sensei_WC::get_user_product_orders() should post_status be wc-completed instead of wc-complete?"

[2016-03-31 08:18] danjjohnson commented on #1400
Thanks @krivinarius - we already have a pull request for this here: https://github.com/Automattic/sensei/pull/1392

[2016-03-31 13:29] aheckler opened #1401 "Courses > Order Courses does nothing"
If I order my courses under Courses > Order Courses, it doesn't seem to actually do anything.

Brought up in 403197-zd-woothemes and I can repro on my test site.

We should remove the course ordering options and documentation if it no longer works and we don't intend to make it work. We'll also need to make sure that there is at least one way to set the default course sorting order, whether via a

[2016-03-31 16:54] richardmtl commented on #1352
Maybe 402792-zd-woothemes

[2016-04-01 08:02] dwainm commented on #1396
Will fix this up in the 1.9.5 sprint in 2 weeks time.

[2016-04-01 08:04] dwainm commented on #1391
@danjjohnson they were removed due to the restructuring and replaced in the newer shortcodes, but should probably be added back for legacy / BC purposes.

[2016-04-01 08:17] cycomarcooo commented on #1391
Hi @dwainm, thanks for your answer. In my opinion, those actions are really useful and should not be added back only for legacy / BC purpose. As you labeled it "type: bug" I think you probably agree.

For example, before the restructuring, I used sensei_after_completed_user_courses to remind the student to rate the course. This is no more possible with the new shortcode and this is hard for my cli

[2016-04-01 09:37] danjjohnson commented on #1367
Still testing

[2016-04-01 14:43] danjjohnson commented on #1338
@jeradhill we've been working on some other important fixes, but it's ready now and will be released early next week (we try to avoid releasing just before the weekend).

If you need it urgently, you can find the release here:
https://github.com/Automattic/sensei/releases/tag/version%2F1.9.4

[2016-04-01 14:47] richardmtl commented on #1399
The user in 403304-zd-woothemes said the following:

[2016-04-01 17:59] richardmtl commented on #1399
Another report in 403895-zd-woothemes

[2016-04-05 07:03] danjjohnson opened #1407 "[sensei_course_page] doesn't output module lessons"
The [sensei_course_page] shortcode should output the content of the specified course page, including all lessons, but it only outputs lessons which are NOT within a module.

402940-zd-woothemes

[2016-04-05 11:56] danjjohnson commented on #1352
405912-zd-woothemes

[2016-04-05 18:44] dwainm commented on #1400
PR merged https://github.com/Automattic/sensei/pull/1392

[2016-04-05 18:44] #1400 closed

[2016-04-06 18:32] danjjohnson commented on #1352
@dwainm some more information from a customer which could be useful here:

406085-zd-woothemes

[2016-04-06 18:35] dwainm commented on #1352
Very interesting information @danjjohnson, this helps a lot with debugging. I'll look into this first thing Monday morning (highest priority item.)

[2016-04-06 18:36] dwainm opened #1409 "Call back error when purchasing a course."
Due to a dummy function argument that is not used nor needed.

@danjjohnson  just placing this here for the changelog sake.

[2016-04-06 18:38] dwainm commented on #1409
Fixed in https://github.com/Automattic/sensei/commit/6dace512d7a24d606841b171373ef88fffa9948f

[2016-04-06 18:38] #1409 closed

[2016-04-06 22:51] danieldudzic commented on #1352
391805-zd-woothemes

[2016-04-07 10:32] reansey commented on #1407
And can I display course by category in page?

[2016-04-10 09:40] sanya-kuzovlev commented on #1381
Nothing changes after update to 1.9.4, the problem still persists.

[2016-04-10 09:43] sanya-kuzovlev commented on #1380
Hi! The problem still persists after update to 1.9.4, but now Paid courses, related to woocommerce variable products, shown in both "Free" and "Paid" courses page filter :((

[2016-04-11 07:24] danjjohnson opened #1410 "Subscription course not added to My Courses until lesson is completed"
Test case:

- Add a simple subscription product and link a course to it.
- Log in as a subscriber and purchase the course.
- Go to My Courses. The course does not appear in Active Courses.
- Complete a lesson in the course, then the course appears in Active Courses.

Related: https://github.com/Automattic/sensei/issues/1367

407637-zd-woothemes

[2016-04-12 07:43] danjjohnson opened #1411 "Deleted Lessons still show up on Course page"
Test case:

- Create a course and assign some lessons to it (do not use modules)
- Delete one of the lessons
- View the course page: the deleted lesson still appears.

You have to remove the lesson from the course before deleting it to ensure that it no longer appears on the course page.

We should ensure that a course page does not display deleted lessons, even if they are still assigned to that

[2016-04-12 08:47] #1396 closed

[2016-04-12 09:04] #1243 closed

[2016-04-12 09:07] dwainm commented on #1237
Same origin as the reason for https://github.com/Automattic/sensei/issues/1215 . Issue will be looked at there.

[2016-04-12 09:07] #1237 closed

[2016-04-12 11:14] dwainm commented on #942
This is and enhancement as the only way arround this is creating a new screen where teachers can edit their modules.

[2016-04-12 12:00] #1154 closed

[2016-04-12 12:59] #1156 closed

[2016-04-12 13:29] dwainm commented on #1214
I found no issues with the course setting.

[2016-04-12 13:29] #1214 closed

[2016-04-12 14:39] aheckler opened #1413 "BACS orders don't grant user access when manually completed"
To repro:

1. Enable BACS payment method.
2. Create course and link it to a virtual WC product.
3. As a new user, buy course.
4. As an admin, manually set order status to completed as if they user had paid.

What should happen: User gets access to course.

What actually happens: They don't get access.

407829-zd-woothemes

[2016-04-12 15:41] danjjohnson commented on #1413
@aheckler did you say that they only get access if you first set the order status to "processing"?

(Note: This would also apply to Cheque and Cash on Delivery payments.)

[2016-04-12 16:00] aheckler commented on #1413
The user gets access when the status is set to Processing, no matter what you do after that (i.e. setting it to Completed or just leaving it on Processing).

[2016-04-12 19:47] jaksah commented on #1373
Hi, I was running WC 2.4.12 and experienced this issue after updating Sensei to 1.9.4. I now updated to WC 2.5.0 (Highest supported version currently of the theme I'm using) and it resolved the problem. Just wanted to share if anyone else experiences the same issue.

[2016-04-12 20:53] richardmtl opened #1414 "Lesson image does not respect size setting."
If I set a size for both **Image Width - Course Lessons** and **Image Width - Single** under _Lessons_, only **Image Width - Single** is respected on the Course Lessons page.

Note: to reproduce, make sure to regenerate thumbnails after changing the size settings.

This came up in 407471-zd-woothemes

[2016-04-12 20:53] richardmtl commented on #1378
I can't reproduce this. I was able to set Lesson Images on Course Pages while testing https://github.com/Automattic/sensei/issues/1414

[2016-04-13 01:28] mikebronner commented on #1318
Is this still being addressed? I have the situation where we are offering the course as a virtual product, but when we do, the purchase button on the course page disappears if the user is not logged in. (They can still purchase it through the shop as normal, but we would like to show the purchase button on the course page as well for users who might land on the course page from a search engine.)

[2016-04-13 09:47] dwainm commented on #1215
The user who created the module is stored as part of the term slug. So even those users who are not on your site the data is still stored on the term slug data. The only way around it is to recreate it.

[2016-04-13 09:54] dwainm commented on #1215
With term meta available since v 4.4 we could add the author id as a meta on the module (term). This is an enhancement.

[2016-04-13 10:20] #1367 closed

[2016-04-13 10:20] #1399 closed

[2016-04-13 10:20] #1410 closed

[2016-04-13 10:57] #1411 closed

[2016-04-13 10:59] dwainm commented on #1264
Fixed: https://github.com/Automattic/sensei/commit/af010fd9ab023599ffed2d0ed3637618edb32c30

[2016-04-13 10:59] #1264 closed

[2016-04-13 11:14] #1413 closed

[2016-04-13 12:16] danjjohnson opened #1415 "[1.9.4] Can't purchase a course if product has guest orders"
It seems that if a course is linked to a product which has previously been purchased by a guest user, then the course won't display the purchase button for logged out visitors.

@dwainm I _think_ the root of the issue lies in the `get_user_product_orders` function:
https://github.com/Automattic/sensei/blob/master/includes/class-sensei-wc.php#L1769

Seems like when the user_id is 0 (logged out visi

[2016-04-13 13:44] aheckler opened #1416 "Disabling Single Lesson Images also hides images from single course page"
To repro:
1. Create a course.
2. Add a lesson with a featured image to that course.
3. Under Sensei > Settings > Lessons, enable these: http://d.pr/i/180Gw/qgBdiOva
4. The single course and single lesson pages output the lesson images correctly.
5. Disable the Single Lesson Images setting.
6. Now, the single lesson page no longer shows the lesson image (which is correct), but neither does the sing

[2016-04-14 07:16] #1415 closed

[2016-04-14 20:24] #1298 closed

[2016-04-14 21:28] jafoca commented on #1369
I also ran into this bug. I believe the issue is because the  "course_category_title()" function in class-sensei-course.php is expecting to identify the filtered category by by slug, but the query vars has the taxonomy term by ID.

I am including my code I used to override in my theme's functions.php file as an example, however since the 'course_category_title()' call is probably used elsewhere be

[2016-04-15 09:04] dwainm commented on #1401
[sensei_courses orderby="menu_order"] will allow the user to use the course order set in admin. @danjjohnson will update the user docs with this information. The course archive page doesn't respect this. If the site owner wants this they should use shortcodes

[2016-04-15 09:04] #1401 closed

[2016-04-15 11:32] #1407 closed

[2016-04-15 11:34] dwainm commented on #1365
Not able to replicate this, Must have been solved as part of 1.9.4: https://github.com/Automattic/sensei/commit/abe227daef4c11eb7d228756345a7eb27705ce14

[2016-04-15 11:34] #1365 closed

[2016-04-15 12:31] #1370 closed

[2016-04-15 12:54] dwainm commented on #1374
This worked on Storefront. I have updated some of the logic, but a user will still need to be taking a course and be logged in.

If a user needs to complete a lesson to access the comments... I've updated the code to remove the pre-requisite requirements also this could also be due to a bug with when the user purchased the course which was fixed in the recent WooCommerce integration improvements (

[2016-04-15 12:54] #1374 closed

[2016-04-15 13:26] dwainm commented on #1382
Although it presents a bug, it forms part of #1387 in the implementation. Until the enhancement has been completed the user has to activate it seperately.

[2016-04-15 13:27] #1382 closed

[2016-04-15 13:30] dwainm commented on #1389
I remember this issue from a while ago which was fixed, but I couldn't replicate it as well. If the re-ordering fixes it then I'd say we're ok for now. If we can replicate this in future please open up this bug again.

[2016-04-15 14:14] #1321 closed

[2016-04-15 14:15] dwainm commented on #1380
Fixed in e33334223f9563e4bbd401f7ecfdce211627eeb9

[2016-04-15 14:24] aheckler commented on #1352
Maybe 407788-zd-woothemes

[2016-04-15 14:26] #1320 closed

[2016-04-15 15:48] danjjohnson commented on #1318
This is definitely fixed in 1.9.5:
https://github.com/Automattic/sensei/issues/1415

[2016-04-15 15:48] #1318 closed

[2016-04-15 19:09] #1386 closed

[2016-04-15 19:10] dwainm commented on #1331
agreed, removing those settings.

[2016-04-15 19:12] #1331 closed

[2016-04-15 19:25] dwainm commented on #1378
Not able to replicate this as well, so closing it as it is not a bug.

[2016-04-15 19:48] #1391 closed

[2016-04-15 19:49] dwainm commented on #1391
@cycomarcooo I've added more hooks her but couldn't add the older hooks because the new interface is driven by Javascript. Please see here for the new hooks: 682f8f3cdf378f04222442854ce7f46236524eb6

[2016-04-15 19:55] dwainm commented on #1362
This is not simply just a fix, Vendors now require the user to be of a specific type. For now this will have to be customization on the site owners part.

I'll mark this as an enhancement as Vendors 2.0 is totally different from the previous version.

[2016-04-15 20:04] #1249 closed

[2016-04-15 20:18] dwainm commented on #1375
Works for me. Must be a js error. I can see how it does it automatically after the page is loaded. The questions are graded.

[2016-04-15 20:44] #1280 closed

[2016-04-15 21:08] #1186 closed

[2016-04-15 21:11] #1296 closed

[2016-04-15 21:23] #1377 closed

[2016-04-15 21:23] #1383 closed

[2016-04-15 21:23] #1398 closed

[2016-04-15 21:29] #1361 closed

[2016-04-15 21:39] #1376 closed

[2016-04-15 21:52] #1369 closed

[2016-04-15 21:53] dwainm commented on #1332
Needs to be updated in themes will need updates and given the current priority internally I think we should make a note on each theme and take it from there.

[2016-04-15 21:58] dwainm commented on #1246
I no longer have time to revert this change. The new structure is in line with WP standards and the underscores theme. The aim is for the shortcodes to start using the new template structures and they were implemented before the template revamp. Closing this issue as a wont fix due to the complexity of changing the styles and structure again. Also given the current internal priorities.

[2016-04-15 21:58] #1246 closed

[2016-04-15 22:05] #1323 closed

[2016-04-16 08:39] #1217 closed

[2016-04-16 08:45] dwainm commented on #1381
HI @sanya-kuzovlev. I see the bug in your video but this is introduced after adding custom add to cart which we haven't catered for as it is not part of Sensei. This will need to be fixed as part of customization as well. We do not support customization so if you need assistance you have to contact one of our Woo experts: https://www.woothemes.com/experts/

[2016-04-16 08:45] #1381 closed

[2016-04-16 09:58] #1360 closed

[2016-04-18 12:11] danjjohnson commented on #1380
Still not working correctly.

Courses linked to paid product _variations_ still appear under the "Free" filter only.

[2016-04-18 12:17] danjjohnson commented on #1378
Still not working.

The lesson image only displays on the course page if this setting is enabled:

It should be controlled by this setting:

[2016-04-18 12:46] danjjohnson commented on #1332
Reopening just so I don't forget about it.

[2016-04-18 16:31] danjjohnson opened #1417 "Free Subscription course not added to My Courses when order status is processing"
Steps to reproduce:
1. Add a simple subscription product with a price of 0 per month.
2. Add a new course and link it to the new free subscription product.
3. Log in as a customer and purchase the new course.
4. Go to My Courses. The course is not listed.
5. As admin, go to Learner Management. The learner is not assigned to the course.
6. The order status is Processing. Set it to complete and the

[2016-04-18 19:11] richardmtl opened #1418 "Usernames with a . or @ don't work for loading user profiles"
If you create a user whose username includes a . or an @ (and thus, any username that is an email address), it fails to load if you try /learner/user-nicename/ . I tried with a dot, with an @, and with both, and in all cases, loading /learner/user-nicename/ with the relevant username gave me a "The user requested does not exist." error. I believe that this might have to do with the rewrite rules [

[2016-04-19 04:39] lutrov opened #1419 "Missing argument 2 for Sensei_WC::complete_order()"
I'm getting regular occurances of this error in my logfile:

`[07-Apr-2016 17:00:55 UTC] PHP Warning:  Missing argument 2 for Sensei_WC::complete_order() in /home/account/public_html/wp-content/plugins/woothemes-sensei/includes/class-sensei-wc.php on line 1176`

If you look at the code, you'll see this:

`public static function complete_order ( $order_id = 0, $a1 ) {`

The second argument should h

[2016-04-19 06:00] danjjohnson commented on #1419
Hi @lutrov

That argument is no longer required and has been removed for v1.9.5:
https://github.com/Automattic/sensei/blob/master/includes/class-sensei-wc.php#L1192

[2016-04-19 06:00] #1419 closed

[2016-04-20 13:21] danjjohnson opened #1421 "Pagination not working on course archive front page"
Follow-on from https://github.com/Automattic/sensei/issues/1340

If you set your course archive page as front page in Settings > Reading, the pagination doesn't work, subsequent pages are blank.

[2016-04-20 15:21] danjjohnson opened #1422 "Quiz Logic Issues"
On current master branch.

Quiz logic requirements:
https://docs.woothemes.com/document/sensei-quiz-settings-flowchart/

Issues:
1. When a pass is required, answer feedback is never displayed after completing a quiz.
2. If quiz reset is not allowed, a failed quiz should display right/wrong answers. It isn’t doing that.

[2016-04-20 18:04] richardmtl commented on #1341
I have a similar one in 392764-zd-woothemes, so re-opening. The right page is set as the Courses page, but nothing shows up if there are no shortcodes in the page; the shortcodes work as expected.

[2016-04-25 14:35] richardmtl commented on #1326
THis is happening again. I have had a couple of tickets about this, most recently 411205-zd-woothemes.

[2016-04-25 19:37] dwainm commented on #1422
[code]

[2016-04-25 21:44] dwainm commented on #1422
@danjjohnson please test https://github.com/Automattic/sensei/pull/1423 .
The only thing not there is on Pass not required Quiz. The grade doesn't show up there. I didn't add this as it is not part of this logic and also the code needed is not there. It needs to be added for the specific case. imo this is a sepereate issue as it affects a different part of the logic and page.

[2016-04-26 07:37] janneleppanen opened #1424 "Sensei and Polylang - an error at Polylang's setting page"
Hi,

I have Sensei 1.9.4 and Polylang 1.8.5 installed. If I go Polylang's setting page (settings -> languages), I get an error:
`Catchable fatal error: Object of class WP_Term could not be converted to string in /home/vagrant/code/my-project/app/plugins/polylang/admin/admin-model.php on line 397`

I don't see the error if Sensei is deactivated. I can fix the error by commenting out Sensei's filter

[2016-04-26 09:08] #1422 closed

[2016-04-27 14:58] richardmtl opened #1426 "Course prerequisite message is missing."
If a course has a prerequisite, it is supposed to show the following message:

https://github.com/Automattic/sensei/blob/743e81eef710d57475524b180da6349b46a41006/includes/class-sensei.php#L575

However, it doesn't seem to work. I was unable to get this message to show on my test site. Maybe the PR in https://github.com/Automattic/sensei/pull/1308 caused this to stop working?

This came up in 41359

[2016-04-27 15:48] georgestephanis opened #1427 "WordPress REST API Support"
What sort of functionality would be useful for inclusion in Sensei to support the REST API?

Possibilities:
Administrative tasks such as viewing student progression, quiz results, and such.
Administrators scoring open-ended responses in quizzes.
Serving up content and quizzes and options to students via the REST API and accepting submissions back likewise -- enabling courses to be taken on a Mobil

[2016-04-27 19:12] richardmtl opened #1428 "Question grades not displaying"
I have gotten several reports of grades not showing on individual questions when the quiz is corrected. I believe it's an issue with this line:

https://github.com/Automattic/sensei/blob/0d386fca30fb1abe0edf92c9b1504147466636c4/includes/class-sensei-question.php#L451

@georgestephanis had some ideas on it.

One report in 414146-zd-woothemes, I'll add more here as I get them.

[2016-04-27 19:39] georgestephanis commented on #1428
In https://github.com/Automattic/sensei/commit/0027c22f42363e27e0b1b6a6040020802d38ca21 It used to be

[code]

Which is totally fine. But when converting it over

[code]

should probably have been done as

[code]

instead -- But that doesn't even work, because neither `sensi_the_question_grade()` (note the misspelled `sensi`) nor `sensei_the_question_grade()` are functions that exist.

[2016-04-28 07:51] dwainm commented on #1428
@georgestephanis @richardmtl I've fixed the mentioned lines so that the quiz grade shows up next to the title.

The fix supplied doesn't solve the issue. The quiz grade should show as part of the completion message.

For the future reference and the person that will be looking at this bug. The place where the grade should be shown: https://github.com/Automattic/sensei/blob/version/1.9.5/includes/c

[2016-04-28 09:38] jeffikus commented on #1427
Hey George - I actually prototyped up an iOS app during WooConf in 2014 for Sensei - it was barebones but was a good example of all the key areas that you would need for a student. I'll try and find it for you. I made a video somewhere of it so will try find it and post here.

[2016-04-28 09:42] dwainm commented on #1427
It would be nice to expose the following data/actions via the API:

**Data**
Student related:
- Courses: taken, completed/in-progress
- Lesson: complete/in-progress, quiz grade
- Quiz/Question: answers submitted, answer grades, question grade

Content related:
- Course: lessons, pre-requisites, next course in category
- Lesson: quiz url, lesson settings, requirements for completion.

**Actions**
-

[2016-04-28 09:49] jeffikus commented on #1427
Found it! :) @dwainm @kevinbates and I had a hackathon team together on this.
![screen recording 2014-11-17 at 10 41 am](https://cloud.githubusercontent.com/assets/937325/14882087/2e4d0a94-0d37-11e6-9ec0-fb3fab813070.gif)

[2016-04-29 21:11] richardmtl commented on #1352
The user in 414384-zd-woothemes is facing this issue (or one similar to it). @danjjohnson has looked at her issue previously and at the moment we do not have a convincing idea as to what's causing it. Re-opening for now, until we come up with a more accurate idea behind the problem (at which time we can close this and open another issue, if warranted).

[2016-04-30 14:23] OeysteinLO opened #1430 "Date started and date completed is exactly the same for lessons"
Logging of time for lessons is buggy. Date Started and Date Completed is the same in almost every case.

Example:
![datebug](https://cloud.githubusercontent.com/assets/3885318/14936538/abffd098-0eef-11e6-814a-791cb2845a43.png)

Where exactly does the logging of this occur? I'll have a look at this if I can get some help locating where this problem may occur.

## Proposed Solution
Let's set the les

[2016-04-30 15:44] PederSongedal commented on #1427
Dwain has a good summary of what we need.

We want to get the information regarding progress and completion of the course inn to an another system. This is the same system we want to ad users and assign courses from.

I wood also like the ability to get out as much data and statistics about the course and users as possible. Just to get all this info into a log file and in to Splunk for analysing w

[2016-04-30 15:49] PederSongedal commented on #1427
Nice @jeffikus

An IOS app is something we have been wanting for a long time, but never got the time to start with. And it can be as barebone as this, and still function good for the user. Keep me informed if you are planning to work on this, we may want to contribute.

Peder

[2016-04-30 15:53] danjjohnson commented on #1430
@OeysteinLO more on this here:
https://github.com/Automattic/sensei/issues/1019

It was closed as a low priority, but feel free to submit a PR if you want to work on it.

[2016-04-30 16:54] OeysteinLO commented on #1430
Great, hadn't seen that issue. Thanks.
Do you know where the logging occurs? I can find it, but it will probably be quicker if I'm pointed in the right direction.

I am looking into it at the moment, I'll submit a PR if i figure it out.

[2016-05-01 16:56] lkraav opened #1431 "assets/js/settings.js?ver=1.9.5: SyntaxError: invalid regular expression flag #"
Something is killing the Sensei Settings page tabs.

19:52:31.889 flags argument of String.prototype.{search,match,replace} is deprecated
settings.js:28:18

19:52:31.890 SyntaxError: invalid regular expression flag #
<anonymous> settings.js:28
n.event.dispatch() jquery.js:3
n.event.add/r.handle() jquery.js:3
settings.js:28:18

Looks like it's this line breaking things:

`toShow = toShow.replace( '

[2016-05-01 17:01] lkraav commented on #1431
I think it's too much 3-parameter `str_replace()` here :)

Just doing `toShow = toShow.replace( '#', '' )` is the way to go here.

[2016-05-01 17:27] lkraav commented on #1421
`git bisect` also proves 5cd1cf371318f3efaa830c639db3f58a80db0d8d from 1.9.5 to be the guilty commit towards breaking FacetWP on `Posts Page` archive, which has been configured in `pre_get_posts` to pull a specific list of post types into a "dashboard"-like query, including `course`.

I don't have the availability to find out details about why we're broken here, but looks like I'll be holding off

[2016-05-01 19:12] OeysteinLO commented on #1430
@danjjohnson Now that I've looked a bit more into the problem, and have a better understanding of how this is set up, I am wondering whether there is a call made whenever a user specifically loads a lesson. I haven't been able to identify any such function yet.

[2016-05-03 14:06] danjjohnson commented on #1431
Thanks for the PR: https://github.com/Automattic/sensei/pull/1432

[2016-05-03 14:28] PederSongedal commented on #1427
I also hope we can get the info from Sensei Content Drip and follow up email so we can trigger actions.

[2016-05-03 15:05] danjjohnson commented on #1430
No, the time is only logged if a user saves, completes or resets a quiz.

[2016-05-03 15:09] jeherve commented on #1428
Also reported in 416190-zd-woothemes

[2016-05-03 15:42] jeherve opened #1436 "Errors when duplicating course with lessons"
Steps to reproduce:

1. Go to the Courses menu
2. Click on "Duplicate (with lessons)" for one of the courses.
3. The page reloads with the errors below.
4. A draft course and the corresponding draft lessons are created anyway.

[code]

Reported in 416535-zd-woothemes, and I was able to reproduce

[2016-05-03 15:44] jeherve commented on #1395
Also requested in 416535-zd-woothemes.

[2016-05-03 17:39] jeherve commented on #1075
Also suggested in 414832-zd-woothemes

[2016-05-03 19:58] jeffikus commented on #1427
@PederSongedal sure, it was heavy alpha, but I think it should be rebuilt in more current tech to be honest - Cordova itself has changed a lot since I built it, but yeah I guess it could be a cool community project!

[2016-05-04 17:27] kraftbj opened #1438 "1.9.5 breaks Modern Tribe's Event Calendar event pages"
1.9.5 is causing 404s for Modern Tribe's Event Calendar plugin's single CPT pages. It appears to be due to the `clone $query` added to this commit: https://github.com/Automattic/sensei/commit/5cd1cf371318f3efaa830c639db3f58a80db0d8d

I haven't dug in enough to determine what about the clone is making things go sideways yet.

[2016-05-04 19:10] kraftbj commented on #1438
We're running `get_posts` within a `pre_get_posts` execution, which causes it to be ran again. We prevent against infinite loops, but this coupled with TEC running their own pre_get_posts is running aground of each other ( [#](https://github.com/moderntribe/the-events-calendar/blob/4.1.3/src/Tribe/Query.php#L158) )

Simple PR inbound.

[2016-05-04 19:25] kraftbj opened #1440 "Course archive as get_option( 'page_on_front' ) does not return is_front_page"
When using the Courses Archive page as the static page on front, `is_front_page` returns false.

This would be helpful to be more exact for situations like #1439.

[2016-05-04 20:56] kraftbj opened #1441 "Quiz: Autograde only grades answered questions on first attempt"
On the first attempt of answering a lesson quiz with only multiple choice/auto-gradable questions, if you leave answers blank, they are not autograded and the total score is determined based on the answered questions only.

Steps to duplicate:
1. Create a course/lesson
2. Create a quiz within the lesson with multiple multiple-choice questions
3. Take the course and take the quiz. Answer only one q

[2016-05-04 21:27] kraftbj opened #1442 "Quiz: Answer leakage for quizes not autograded and not resettable by the user"
Steps to duplicate:
1. Create course/lesson
2. Create quiz, not auto-graded, not resetable by user
3. Take course and answer 1 quiz question.
4. Save the quiz (not submitted).

Expected:
Answers to save, no hints/feedback/answers revealed.

Actual:
All answers are marked as incorrect with the right answer given.

[2016-05-04 21:30] kraftbj commented on #1442
https://github.com/Automattic/sensei/blob/ed3d008734924829ff53abfceacbe951a009b0b0/includes/class-sensei-question.php#L679

We're checking if answers are submitted, not if the quiz has been submitted for grading nor if it has been graded.

[2016-05-05 14:00] #1442 closed

[2016-05-05 14:07] kraftbj opened #1444 "SASS/Gulp: Error in CSS"
[code]

[2016-05-05 17:53] jeherve opened #1446 "Quizzes: add the "Rest Quiz" button to the top of the page."
### Steps to reproduce:

1. Finish a lesson, and access a Quiz page.
2. Make a first attempt at the quiz, and fail miserably.
3. Learn some more, and access the quiz page again.
4. Enter replies to each question of the quiz again; this time, your answers are correct, you're sure of it!
5. Reach the end of the page. There is no button to submit your answers. You can only "reset" the quiz.

I think

[2016-05-06 08:18] lkraav commented on #1421
5bf2312 from 1.9.6 seems to have fixed this.

[2016-05-06 14:32] jeherve commented on #1421
@lkraav Thanks for the ping!

Fixed in #1439

[2016-05-06 17:47] kraftbj opened #1450 "Jetpack Compat: Add Beautiful Math Support"
On Lesson Quizzes, the multiple choice options already filter via the_content or a similar hook, so Jetpack takes care of it already.

For the answer feedback area, we need to conditionally add:
`add_filter( 'sensei_question_answer_notes', 'latex_markup' );` and a similar conditionally added filter once #1449 lands for the "Incorrect — Right answer: " prompt.

[2016-05-06 17:55] kraftbj commented on #538
I'm going to reopen this so I can explore it more. Found another ticket in the wild that had multiple redirects in Redirection for all lessons. Not sure if there's anything do it, but I'm planning to investigate later (if nothing else, see if Redirection has a hook that we can call to short-circuit whatever they're doing).

[2016-05-09 20:16] richardmtl opened #1453 ""Quiz saved" notice not appearing"
It seems that the "Quiz is saved successfully" message is not appearing.

https://github.com/Automattic/sensei/blob/master/includes/class-sensei-quiz.php#L203

I'm unable to get it to appear on my test site.

Originally reported in 417052-zd-woothemes

[2016-05-10 15:22] jeherve opened #1454 "Learner Management: bulk add learners to a course"
It would be nice if teachers could bulk-add learners to a course, instead of having to enter each student one at a time.

Suggested in 418518-zd-woothemes

[2016-05-11 15:45] richardmtl commented on #1387
Reported in 418998-zd-woothemes

[2016-05-12 17:44] richardmtl opened #1456 "Grade Value: make it clearer for students"
The grade value is currently being displayed as just a number after the question.

![screen shot 2016-05-12 at 11 18 28 am](https://cloud.githubusercontent.com/assets/3676359/15219862/54eb3a0c-1833-11e6-99b0-fc4392a003a4.png)

(see the 1 at the end)

I'm not sure if the behaviour has changed from what it used to be, but this is not a clear or ideal way to display this information. It would be good

[2016-05-12 18:25] richardmtl opened #1457 "Messages: Allow course Teacher to initiate message to students"
Currently, a Student can send a private message to a teacher, and a teacher can reply. However, a teacher cannot send a message to a student. There are situations where a teacher might want to do so:

* to encourage a student to keep going if they have not worked on the course in awhile
* to congratulate them for doing well on their overall grade

and so on.

Requested in 418956-zd-woothemes

[2016-05-13 18:02] richardmtl commented on #1436
Also 418436-zd-woothemes

[2016-05-16 21:22] andyadams commented on #1107
Hey @dwainm, I'm working on a site that has Lessons titled "Lesson ABC Quiz", and the "Quiz Quiz" is still being duplicated on the quiz screen.

I'm thinking it's related to this line:

https://github.com/Automattic/sensei/blob/master/includes/class-sensei-quiz.php#L1115

Shouldn't that read:

`if( 0 < substr_count( strtoupper( $title_with_no_quizzes ), 'QUIZ' ) ){`

Instead of:

`if( 1 < substr_c

[2016-05-17 05:57] danjjohnson commented on #1456
Hmm, it should be displayed off to the right if the styles are loaded:
![image](https://cloud.githubusercontent.com/assets/1990037/15312477/7053083e-1bfc-11e6-9547-88a64478ff76.png)

And it used to be displayed in square brackets, but yes, there is definitely room for improvement.

[2016-05-17 08:28] danjjohnson commented on #1107
Hey @andyadams

The quiz always appends the word "Quiz" to the title of the lesson. So if your lesson title is "Lesson ABC Quiz" then the quiz title will be "Lesson ABC Quiz Quiz".

The fix above only removes "Quiz" when it was added in the database, but it still appends it to the title when the page loads.

I'd suggest not using "Quiz" in your lesson titles, otherwise, you'll need some custom cod

[2016-05-17 21:07] andyadams commented on #1107
Thanks Dan, that makes sense. I misunderstood the reason for the filter. I
appreciate the quick response!

On Tue, May 17, 2016 at 1:28 AM, Dan Johnson <notifications@github.com>
wrote:

[2016-05-18 17:38] kraftbj opened #1460 "Quizzes: Provide method to hide title/description"
When adding media to a quiz question, sometimes the media title or description could reveal an answer. An example: Question: `Who painted this painting?` followed by an image that has `monet-nympheas` as the title would display the answer.

Could probably add as a filter for now if there hasn't been much demand previously.

[2016-05-18 19:38] kraftbj opened #1461 "WooCommerce Ver Check"
If WooCommerce is active, we should check for the version and make sure we're running a compatible version.

e.g. class-sensei-wc.php L1009 calls `$product->get_id()`, which became a method of `WC_Product` in 2.5. If someone is running WC 2.2, we should fail in a better way than a fatal.

[2016-05-18 21:01] kraftbj opened #1462 "Modern Tribe Conflict part 2"
422254-zd-woothemes

Sensei is apparently blocking [tribe_events_list] from working.

[2016-05-19 18:07] kraftbj opened #1463 "Single Course Page: Displaying "Lessons" header when there are no lessons"
We are adding the "Lessons" title via `the_course_lessons_title` on the `sensei_single_course_content_inside_after`, then later adding lessons via `course_single_lessons`.

When there are no lessons, we still displaying the title. We should be smarter about that.

[2016-05-19 20:49] conschneider commented on #911
Hello folks,

I fear I have to reopen this one: https://woothemes.zendesk.com/agent/tickets/420589 - got a bug report that I was able to reproduce both locally and on my remote test system.

Here's the basic steps I took to reproduce the bug:
1. Installed Sensei, WooCommerce, and WooCommerce Memberships
2. Created a Course and a Lesson and assigned the Lesson to the Course
3. Created a Membership

[2016-05-19 20:50] conschneider commented on #911
I have also created a slack channel: #woo-sen-sub-mem - hop in and say hi.

[2016-05-20 15:07] kraftbj opened #1464 "Improve Module taxonomy labels"
"Categories! We don't need no stinking categories."

[EDIT] Specifically, the `not_found` label when registering the modules taxonomy needs to be set since as of WP 4.2, it is used there.
![screen shot 2016-05-20 at 10 06 26](https://cloud.githubusercontent.com/assets/88897/15432145/9535e068-1e72-11e6-9575-5bf9b27d9a75.png)

[2016-05-20 15:16] danjjohnson commented on #1436
@jeherve I'm unable to replicate this. Do you know if there are certain conditions that cause it?

[2016-05-20 15:24] jeherve commented on #1436
I can't say, it seems to happen every single time for me, even in the last version. I have all Sensei extensions installed as well.

[2016-05-20 15:48] lisaleague commented on #1436
I have a similar issue quite often also, especially with quizzes - it's hit or miss as to whether the questions come along with the lesson.

[2016-05-20 18:20] kristinaplauche commented on #911
This ticket seems related as well. https://woothemes.zendesk.com/agent/tickets/420648

[2016-05-20 18:33] kraftbj commented on #1436
Should be fixed by #1459

[2016-05-20 21:33] kraftbj commented on #911
For 420589-zd-woothemes , https://github.com/Automattic/sensei/blob/master/includes/class-sensei-teacher.php#L87 is the responsible action. I can't get to it today but we need to re-engineer this to do the check without resaving the lesson.

Off the top of my head, filter the lesson save using `wp_insert_post_data'` before it gets saved to the db to update the post author to the course author.

[2016-05-23 08:54] PederSongedal commented on #1464
If you have a small course site with maybe just 30 course its possible that you don’t need categories. But if you have a large site you need them.

For me categories are a times saver and important administrative tool. So removing this and calling it stinking is just ignorance, and short-sighted.

The image you have posted are of modules not of categories. And if you remove modules, the use of Sen

[2016-05-23 09:07] danjjohnson commented on #1464
@PederSongedal I think @kraftbj was referring to the "No categories found" text, which should say "No modules found."

We're not planning to remove modules!

Sorry for the confusion! :)

[2016-05-23 09:20] PederSongedal commented on #1464
That’s good to hear @danjjohnson we do need both modules and categories. Fixing wrong text is always good.

[2016-05-23 19:27] kraftbj opened #1465 "Template Confusion"
It looks like in the code, we're expecting the archive-courses.php template to run more often (given the check in the template loader includes it if we're on the courses page.

It seems like the loop-course.php is firing more often though.

There are mix-matches, for example `course_archive_filters` only runs on archive-courses.php naturally.

[2016-05-23 19:41] kraftbj opened #1466 "Provide Student Course Completion Email"
422542-zd-woothemes

We have teacher e-mails for many student actions, but no options for an e-mail back to the student. `sensei_user_course_end` is one hook we can jump on to for this.

[2016-05-23 20:24] kraftbj commented on #1464
Sorry for the concern and confusion. Yeah, just fixing the taxonomy label to use something custom instead of the default "Categories" text.

[2016-05-24 20:15] kraftbj opened #1468 "Quiz: Lock down wp-admin access"
You can access a quiz directly via example.come/wp-admin/post.php?post=773&action=edit whereas 773 is the post ID for the quiz CPT. It loads a typical post edit page (lacking everything useful to the CPT).

We should disallow this to prevent anything unexpected down the road.

[2016-05-25 08:01] danjjohnson commented on #1468
Agree. Although /wp-admin/edit.php?post_type=quiz is still useful, for troubleshooting issues with duplicate quizzes etc.

[2016-05-26 01:47] tripflex opened #1469 "Quiz file upload type support multiple files"
Related to this:
https://github.com/Automattic/sensei/issues/75

Currently as of latest release, 1.9.6, it is only possible to upload one file per question, but **it would be very beneficial to be able to add multiple files to a single question.**

Reason being, there will be multiple instances where you will want to upload, say an example file that is completed, and a template file for the studen

[2016-05-26 16:17] kraftbj commented on #1462
Also breaks "Events List widget" with an error like

[code]

424156-zd-woothemes

[2016-05-26 16:20] kraftbj opened #1470 "Create ability for mid-lesson exercises"
An exercise would be an ungraded, immediate feedback question mid-lesson that a student could use to check understanding before the single end-of-lesson quiz.

[2016-05-27 11:13] krivinarius opened #1471 "Sensei not returning course price if the product is in the cart"
Maybe it could return the text that the course is in the cart or still print the price.

[2016-05-31 11:00] janneleppanen opened #1472 "New Message email titles not translated (Edit: If using Polylang)"
Email titles ('Your student has sent you a private message' and 'You have received a reply to your private message') are not translated, when student sends message to teacher or teacher answers to messages.

Email titles are set at class-woothemes-sensei-email-teacher-new-message.php at line 32 ja 33. Title strings use translation functions, but are not translated however.

[2016-05-31 11:13] janneleppanen opened #1473 ""Your student has sent you a private message" email contains broken link"
There's a link at sentence "You can reply to this message **here**" at the bottom of a email. But that link contains 404 page. URL seems to be something like http://domain.com/message-title when it should be like http://domain.com/messages/message-title

[2016-05-31 12:55] MikkoVirenius commented on #1397
+1 for this feature.

[2016-05-31 20:39] lschuyler opened #1474 "Add modules-frontend.css to sensei_disable_styles filter"
Should the modules-frontend.css file be added to the sensei_disable_styles filter so it is also discarded?

Reported in 416535-zd-woothemes

[2016-05-31 20:43] lkraav commented on #1474
Yes, totally agree. I had to filter this out manually.

[2016-06-01 02:20] MindyPostoff commented on #911
Hey @kraftbj :) Could you please give me an update on this issue? Any ETA on when you can have another look at it? Thanks!

[2016-06-01 03:42] Cskyleryoung opened #1475 "Save Quiz buggy with random questions"
I'm pulling questions from category for a quiz, and then showing half of them ("Number of questions to show"). In testing, when I save the quiz, the page reloads and only the questions that have been answered so far are still present. Any unanswered questions disappear. This remains persistent through logout/login etc.

[2016-06-01 06:26] danjjohnson commented on #1472
These translations are working for me. Can you show me how you've translated them?

[2016-06-01 06:30] danjjohnson commented on #1473
Confirmed: the link here is not working:
https://github.com/Automattic/sensei/blob/1a49e894600ddce3b01b9f9948cab52a1e8168d4/templates/emails/teacher-new-message.php#L40

[2016-06-02 06:59] PareshRadadiya opened #1476 "Please complete the previous course before taking this course : notice is not appearing"
I used to see a message box saying that a subscriber should have completed the prerequisite but this message is not showing up. The new no-permissions.php template contains no code.

[2016-06-02 14:31] janneleppanen commented on #1472
Here is my translation file, it's in Finnish.

[woothemes-sensei-fi.zip](https://github.com/Automattic/sensei/files/295771/woothemes-sensei-fi.zip)

It seems that all files at woothemes/sensei/includes/emails/ have some translations at constructor function and those translations are not working for me. Also I can't even make hooks with 'sensei_email_heading' or 'sensei_email_subject'. However tran