[2016-06-03 08:07] danjjohnson opened #1478 "Remove trailing spaces from translatable strings"
Use variables instead:
https://developer.wordpress.org/plugins/internationalization/how-to-internationalize-your-plugin/#best-practices-for-writing-strings
- ["Length: "](https://github.com/Automattic/sensei/blob/master/includes/class-sensei-lesson.php#L3339) (and " minutes")
- ["Author: "](https://github.com/Automattic/sensei/blob/master/includes/class-sensei-lesson.php#L3345)
- ["Complexity: "](

[2016-06-03 10:30] danjjohnson commented on #1352
425173-zd-woothemes

[2016-06-03 15:54] richardmtl commented on #1387
Another in 424236-zd-woothemes

[2016-06-03 18:26] richardmtl commented on #1465
This was originally raised in 422921-zd-woothemes

[2016-06-03 18:53] richardmtl commented on #1352
Another one in 417654-zd-woothemes. New information that might be useful this time:

[2016-06-05 13:51] 50931393 opened #1479 "Courses not displaying when logged in"
I recently updated to the latest Sensei plugin version (1.9.6) and noticed that when logged in, I can view my courses. The page is just blank where the course content should be. As soon as I log out, everything displays again. I reverted back to my old version (1.8.4) and everything was working again.

I am using WooCommerce and the WooCommerce subscriptions plugin to control access to the courses

[2016-06-06 20:57] kellychoffman opened #1480 "Secondary buttons shouldn't look disabled"
Secondary buttons shouldn't look disabled, even if we'd rather people not click on them.

Currently:
![screen shot 2016-06-06 at 2 41 26 pm](https://cloud.githubusercontent.com/assets/5835847/15837492/d272ce14-2bf6-11e6-88fe-a60f41ab2a8a.png)

Should be:
![screen shot 2016-06-06 at 2 48 52 pm](https://cloud.githubusercontent.com/assets/5835847/15837493/d2772a90-2bf6-11e6-8672-c9e6e7a0b390.png)

PR

[2016-06-06 23:37] FirstClassCode commented on #1475
To add onto that here is a similar issue I am having:
I am pulling 250 random questions, and if you answer (lets just say) 4 of them all correctly and submit the course it submits and gives you a 100% grade. So essentially someone could answer 1 question correct, press submit and pass the quiz with 100%. We are not too far from launch and this is a serious issue to have for an online school. Any h

[2016-06-07 07:59] danjjohnson commented on #1475
Confirmed issue reported by @Cskyleryoung

Test case:

1. Create a lesson within a course, and add 10 category questions, from any question category.
2. Take the quiz, select an answer for the 1st question and click "Save quiz"
3. All the unanswered questions disappear.

Note: If you reset the quiz, this no longer happens.

[2016-06-07 08:00] danjjohnson commented on #1475
@FirstClassCode I couldn't replicate your issue. Could you open a new issue (as it doesn't appear to be the same as this one), and provide more detailed steps about how to replicate your issue? Thanks.

[2016-06-07 16:04] FirstClassCode commented on #1479
Are you using the newest shortcode on the "My Courses" page?
https://docs.woothemes.com/document/sensei-shortcodes/#section-3

[2016-06-07 17:42] FirstClassCode opened #1482 "Random question quiz allows users to answer only 1 question and submit quiz."
Hello,

Here are my quiz settings:
![quiz_settings](https://cloud.githubusercontent.com/assets/5659576/15868328/439da064-2c9c-11e6-8b7c-c21496a6f5e9.png)

All questions are worth 1 point.

As a user I go to take the quiz, I only select an answer for 1 of the 250 questions showing.
I answer it correctly and press submit.
I am then given 100% on the test and did not have to answer any of the other 2

[2016-06-07 17:47] lschuyler commented on #1454
Also requested in 426511-zd-woothemes

[2016-06-07 18:47] richardmtl opened #1483 "Course not showing in My Courses if order is manually Completed"
This was reported in 426831-zd-woothemes. It is marginally similar to #1352 but might not have anything to do with it.

The user's steps to reproduce:

1) Purchase a course and pay by Bank Transfer
2) The site admin then clicks on "Complete order" on the Orders page in the admin

Expected: The user would then see the course show up on the My Courses page
Actual: The course does not show up on My C

[2016-06-07 19:15] richardmtl opened #1484 "Allow a quiz to be reset, with feedback, but without showing answers"
It can be useful for learners to get feedback on quiz questions without showing the actual answers, and allow the learner to reset the quiz so that they can take it again. Currently we don't allow learners to retake a quiz if we display feedback, because the feedback generally displays the answers to the users.

As requested in 418533-zd-woothemes.

[2016-06-07 20:43] richardmtl opened #1485 "Issue with duplicating previously-completed course"
This came up in 428083-zd-woothemes.

If a user has previously completed a course, and then the course is duplicated (with lessons), the user cannot take any lessons in the duplicated course as they are shown as being completed already.

[2016-06-08 08:50] PederSongedal commented on #1454
I do think this is second on my wishlist for Sensei! If we can just upload a CSV, its perfect.

[2016-06-09 09:40] danjjohnson commented on #1332
@dwainm can you advise on this? The issue also occurs in Definition, which does not have any specific Sensei integration, so I'm not sure that this is 100% a theme issue (although the themes with integration may also need updates).

If there is no custom excerpt on a lesson, the course page should not display an auto-excerpt for that lesson. It doesn't seem to be working like that currently (in so

[2016-06-09 09:51] dwainm commented on #1332
@danjjohnson this is not a major issue, but our template definitely generates the excerpt. Maybe the logic for showing the excerpt should be revisited. So that it show nothing by default unless the user added an excerpt.

[2016-06-09 09:51] dwainm commented on #1332
Also the logic should look at if the user is taking the course.

[2016-06-09 15:04] n4s-bill commented on #1454
+1

[2016-06-09 17:17] richardmtl commented on #1478
The user wrote back with two more:

[code]

[2016-06-09 19:42] richardmtl opened #1487 "Add message or navigation or redirection when a course is finished"
Currently when a user finishes the last lesson in a course, nothing special happens; you get a page with a link to the previous lesson. We should add some sort of message, and/or maybe a link back to the beginning of the course, or something along those lines.

[2016-06-09 19:42] richardmtl commented on #1487
Suggested in 429381-zd-woothemes

[2016-06-10 18:37] FirstClassCode commented on #1482
Can I please get someone to review this? I have tested it again today with a fresh user, just starting the course, and the issue persists. Thanks guys, your work and help is greatly appreciated!

[2016-06-10 20:46] richardmtl opened #1488 "Add the ability to set questions as optional or required"
Suggested in 427791-zd-woothemes

[2016-06-13 08:07] janneleppanen commented on #1472
Hi again,

I think translations are working fine itself, but there's a collasion when using Polylang plugin.

Email title translations have been declared before Polylang plugin have decided post language. Email titles are translated at constructor before any hooks, and that's why Polylang haven't set language yet.

I found a fix. If at class-sensei-emails.php file I change line 41 like this:

`$th

[2016-06-13 10:04] PederSongedal commented on #1487
I do think an end of course page, with a message from the teacher and the certificate is a great ide. It's best if you can’t see this page before you have finished the course.

This is good for the learner and can give the teachers an opportunity to marked other courses they do want to promote.

[2016-06-13 13:44] 50931393 commented on #1479
My Courses is working. It's when you view the actual course. I don't have a page to display the course in. The menu in my site links directly to the course itself. I saw there is a short code for inserting a course within a page with the course ID, but I cannot find the course ID anywhere.

[2016-06-13 16:09] FirstClassCode commented on #1479
When you edit the course, look in your URL bar and you will see the numerical ID there.

[2016-06-13 18:32] richardmtl commented on #862
Requested in 430480-zd-woothemes

[2016-06-14 06:52] 50931393 commented on #1479
There is a post ID which I tried, but nothing appears.

[2016-06-14 16:09] FirstClassCode commented on #1479
What shortcode are you using?

[2016-06-15 13:18] 50931393 commented on #1479
[sensei_course_page id="123"]

[2016-06-15 17:57] FirstClassCode commented on #1482
This resolved the issue if anyone else is looking for a solution:
https://github.com/Automattic/sensei/pull/1455

[2016-06-15 20:35] lschuyler commented on #1475
Another report of this in 431308-zd-woothemes that is occurring when students use the "Save Quiz" feature.

[2016-06-16 20:27] lschuyler opened #1489 "Questions displaying possible answers in wrong order when randomise isn't used"
Despite having the "Randomise answer order" unchecked, a user reports their multiple choice questions are still randomizing the order of the multiple choice options.

Randomise not selected:
![screen shot 2016-06-16 at 1 24 56 pm](https://cloud.githubusercontent.com/assets/4307088/16131937/c89682a6-33c5-11e6-857e-56e0980c9ab8.png)

Yet appearing in unexpected order:
![screen shot 2016-06-16 at 1 2

[2016-06-16 20:32] lisaleague commented on #1489
Randomize ANSWER order is different than randomize QUESTION order.

Random question: If you have 10 questions, and only show 3, you can see 7, 6, 1 or any other random combination of 3 questions.

Random answer: I use random answer order too, and provide for example, 8 answer choices for a question where only 4 answers will be displayed.

This makes the question - even if someone sees it again, a

[2016-06-17 22:13] lschuyler commented on #1489
Sorry @lisaleague I think you misunderstood me. I've edited to clarify.

Another report of this in 431954-zd-woothemes

[2016-06-18 06:33] lschuyler commented on #1326
Also in 432147-zd-woothemes

[2016-06-23 17:28] richardmtl opened #1491 "allow_course_archive_on_front_page should only run on front page"
This came in from the author of Wishlist Member, 433742-zd-woothemes

https://github.com/Automattic/sensei/pull/1439/files only checkes if not a page, instead of checking if it's the front-page. That would be better, according to the plugin author:

Setting as priority High because of conflicts with other plugins.

[2016-06-24 16:18] jeffryevans opened #1492 "Teacher role quiz grading issue"
Under the following conditions, a question is not returned to the grading panel:

http://example.com/wp-admin/admin.php?page=sensei_grading&user=5&quiz_id=115

1. A user with the role of teacher is accessing this page
2. The user grade entry was created manually through the add user to lesson, while checking the box to complete lesson for user
3. The question was created by a user who is not the s

[2016-06-27 16:11] richardmtl opened #1493 "Teachers remove WooCommerce products and Certificates for a course"
When someone with a Teacher role edits a Course, the attached WooCommerce product and Sensei certificate disappear un Update. When the Teacher edits the Course, here is what they see:

<img width="305" alt="screen shot 2016-06-27 at 12 09 43" src="https://cloud.githubusercontent.com/assets/3676359/16386808/10aef9c2-3c60-11e6-84ec-6e857a3a5dc1.png">

So that's what ends up getting saved when the Te

[2016-06-27 18:42] richardmtl opened #1494 "Can't preview draft lessons in draft course"
When setting up a course, if you save everything (course, module, lessons) as Draft, you can preview them individually, but if you preview the course, you can't see the draft lessons. You have to Publish the lessons before you see them listed in the Draft course. This is unexpected behaviour (at least for me) and so I consider it a bug.

First reported in 432821-zd-woothemes

[2016-06-28 11:42] BusinessBloomer commented on #1489
Any ETA on this?

[2016-06-28 20:00] richardmtl opened #1495 "Lesson Complexity: needs to be used more"
At the moment, if you give a lesson a Complexity (Easy, Medium, Hard), it’s only listed in the lesson list on the single course page when the lesson does not belong to a module, I believe. If this is the case, we could display it in more places, such as on the single lesson page, and maybe in the module lesson list, and maybe elsewhere.

This came up in 433823-zd-woothemes

[2016-06-28 20:39] jeichorn opened #1496 "Overly aggressive object cache flush causing performance problems [L]"
Every call to WooThemes_Sensei_Utils::user_complete_course causing a complete object cache flush.  It looks like a single item is being updated, you should be able to just delete the keys that have been changed.  This is especially painful on a multi-site.

[code]

[2016-06-29 19:05] richardmtl commented on #1395
436080-zd-woothemes

[2016-06-29 20:06] richardmtl opened #1498 "Paypal "Cancel and return" causes a fatal error"
This was reported in 436224-zd-woothemes. I was able to reproduce. If you purchase a course with Paypal, but then click the "Cancel and return to XXXXXX" link instead of actually purchasing, you get this fatal error:

[code]

The linked ticket has a bit more detail from an nginx setup but it doesn't look to be too relevant as my setup is Apache.

[2016-06-29 20:09] richardmtl commented on #1498
Also came up in 418334-zd-woothemes but the user said that the error just happened when trying to subscribe to a course, without giving more detail. Maybe this is related?

https://github.com/Automattic/sensei/commit/b89b53834d49fdc3f82266c9cf43652446eea012

[2016-06-29 21:28] lisaleague commented on #1498
Just tested and I don't get this error and I'm using the newest https://wordpress.org/plugins/woocommerce-gateway-paypal-express-checkout/

[2016-06-29 21:30] lisaleague commented on #1395
This is what WooCommerce Memberships is for.
I sell bundles of separate courses with this - but I do set an expiration date.
If you don't want your course to expire, maybe the bundles mentioned above would work for you.

[2016-06-30 00:12] peppesapienza commented on #1466
Add the option to send an email when:

-- new lesson added in course
-- lesson update

Useful in some kinds o website, like programming (my case), where the code of a lesson will change over the time.

[2016-06-30 14:16] richardmtl commented on #1498
Thanks @lisaleague ; the error happens with just WooCommerce and Sensei installed, using the Paypal functionality that is already in WooCommerce. Good to know that it doesn't happen with that extension, though!

[2016-06-30 14:23] richardmtl opened #1499 "Editing a course re-orders the lessons"
In 433174-zd-woothemes, the user has a course with several modules and about 20 lessons. The lessons were ordered on the Lessons > Order Lessons page. When updating a course (for example, by reassigning to a different Teacher and saving), the order gets jumbled up, always back to the same random order.

[2016-06-30 14:26] richardmtl opened #1500 ""Course Lessons" metabox order is random"
When editing a course, the "Course Lessons" meta box shows the lessons in a random order. It'd be better if they obeyed the order set on the Lessons > Order Lessons page.

[2016-06-30 14:45] danjjohnson opened #1501 "Memberships and courses issue"
Test case:
- Sensei > Settings - Access permissions disabled.
- create a course
- add a membership rule for the course
- view the course as a logged out user

I expected to see a message telling me I needed to purchase the membership to view the course. Instead I just see no content.

Could use a second set of eyes on this to confirm. @unfulvio maybe you could take a look?

[2016-07-01 11:56] unfulvio commented on #1501
hi @danjjohnson how is your current restriction mode setup?

https://docs.woothemes.com/document/woocommerce-memberships-settings/

[2016-07-01 17:12] rachelsquirrel commented on #966
Another request for this #436714-t

[2016-07-02 11:36] rachelsquirrel commented on #1501
This issue is being reported in #436294. Only the courses have been added to "Restrict Content". We'd like to avoid adding every lesson, quiz, and message as well because there are hundreds of them. Is it a requirement to add all the lessons for each course or should the course be sufficient?

[2016-07-03 00:15] dano23 commented on #1501
Rachel is correct. We are currently experiencing this issue. @enfulvio, we are using Woocommerce, subscriptions and memberships. We have the courses restricted at the membership level (first screenshot).

If a user is not logged in all the restrictions seem to work.

However, if a registered user -- who has NOT purchased a course --  logs IN they can view the course home page. They are presented w

[2016-07-03 17:56] dano23 commented on #1501
Hi Lisa,

Thanks for all the detail. I have a question for you. I noticed in all of your screenshots that the user is not logged in. Is that correct? Have you tried testing this with an account that’s logged in?

In our case we have reasons a user may register to create an account and log in (such as to participate in forums) but not purchase a course. This is where we’re having trouble protecting

[2016-07-04 00:04] unfulvio commented on #1501
@danjjohnson @rachelsquirrel Memberships doesn't support hierarchies outside of taxonomies - this would require a specific integration between Memberships and Sensei which we can build - content needs to be restricted individually for the time being -- I'll bring it up to my team and see if we can squeeze this into some upcoming release

quick q: can a lesson be part of different courses (A and B)

[2016-07-04 12:11] lisaleague commented on #1501
Yes, when logged in course content is still protected if I have not purchased access to it.
Logged in as anther user using User Switching.
Dropped in several protected page and lesson URLs
Get a message that I must login to the course or purchase.

![image](https://cloud.githubusercontent.com/assets/3607365/16560026/c4839166-41be-11e6-9af7-19f0eed4ea1e.jpeg)

![image](https://cloud.githubuserconte

[2016-07-04 12:16] lisaleague commented on #1501
@unfulvio to protect all the contents of a course, protect at the course level and the lessons and quizzes will be protected. If you wish to include any other content, like a standalone page, you'll have to include that separately in the rules.
If you protect content by protecting a course, you cannot create another course that is unprotected at the course level then protect just a lesson. In that

[2016-07-04 14:22] rachelsquirrel commented on #1498
Another report of this 438227-zd-woothemes

[2016-07-04 14:51] jeherve commented on #1498
Also reported in 438695-zd-woothemes

[2016-07-05 02:59] unfulvio commented on #1501
yeah thanks @lisaleague that's what I thought too -- must figure out if there's a way where this can work in different setups (those who want conveniently restrict all lessons under a course and those who have shared lessons between courses that are being restricted by different plans)

[2016-07-05 13:03] lisaleague commented on #1501
@unfulvio if I want a lesson to appear in more than one course that are sold separately, I just duplicate the lesson or quiz. This is also how it's handled in other LMS systems. I don't think shared lessons is how Sensei is designed to work.

[2016-07-05 22:00] barryhughes commented on #1438
Though things have been cleaned up nicely there are a few residual problems when running TEC/Sensei side-by-side. I've [submitted a PR](https://github.com/Automattic/sensei/pull/1502) addressing those final issues, but please let me know if you have any questions or require that a fresh issue be created, etc.

Thanks!

[2016-07-06 09:11] BoweFrankema opened #1503 "[Sensei Certificates] Hardcoded absolute path saved to template files"
Hi WooTeam,

I was doing a migration for a client and stumbled upon a pretty serious issue. The Sensei Certificates Plugin hard codes the absolute path of the installation into a php file called **dejavusanscondensed.mtx.php**

It's file content:

[code]

If a customer migrates a site/domain this will throw a fatal error on the PDF generation. This took me about 3 hours to find because I thought i

[2016-07-06 15:23] rachelsquirrel commented on #1501
@unfulvio

No. Lessons can only be added to one course.

[2016-07-08 14:11] rachelsquirrel opened #1504 "Change filter to redirect to all login links"
The following filter redirects the Sensei login form to the WordPress form:

add_filter( 'sensei_use_wp_register_link', '__return_true' );

However it doesn't apply to all login links on the site. Is there are way to change this so it works for all login links?

zd-438723

[2016-07-11 07:42] jeffryevans opened #1505 "WP_Query not getting reset on My Courses page"
When using `get_the_ID()` in a widget on the My Courses page, it returns the last post ID in the list of courses returned on the page, instead of the post ID of the My Courses page.

[2016-07-11 20:01] lupillus commented on #1498
This happens only on some products, not all, but I can not determine what can be the cause

[2016-07-11 23:25] FirstClassCode opened #1506 "Save Quiz Allows For User To Pass Quiz Answering Any Number Of Questions"
Hey there,

I am having an issue with the "save quiz" feature, which I believe to be a major bug.
I have 250 questions showing randomly from a bank of questions.
If I select an answer for 1 question and press "save quiz" I am left with only 1 question on the screen. If my answer is correct I then press "complete quiz" and get 100% on the quiz.

Using Latest Canvas theme, latest wordpress and lates

[2016-07-11 23:29] FirstClassCode commented on #1503
Thank you for this, I am currently developing a site and we plan to migrate next week and this would have been a nightmare. Cheers!

[2016-07-12 17:09] BoweFrankema commented on #1503
You're welcome!

On Tue, Jul 12, 2016 at 1:29 AM, Reece <notifications@github.com> wrote:

[2016-07-12 17:40] BurlesonBrad opened #1507 "Make sure all Sensei buttons inherit button colours from customizer if available"
On a play site: https://pressily.com check out this quick course I threw together: https://pressily.com/course/easy-digital-downloads/ so that everyone can see it.

Now, in the left sidebar, the last widget area is the "Sensei - Course Component".
![sensei-course-component-button-color](https://cloud.githubusercontent.com/assets/6208757/16776680/163fc95c-482c-11e6-93f2-485ff05b278f.png)
What are t

[2016-07-12 18:34] FirstClassCode commented on #1506
Hello,

So I continued to play around with this and I noticed something.
If I get to the quiz and the random questions are displayed I can save the quiz after answering only a single question. Then that becomes the only questions saved in the database as "questions_asked". However, if I press "reset quiz" AFTER saving the quiz then I answer another question and save the quiz it works as intended a

[2016-07-12 21:07] FirstClassCode opened #1508 "Remove Learner From Course Conflict With Processing Order Status"
Hello again,

I am not sure if this was intended but if a user purchases the course and the status of the order containing the course is still "processing" and you attempt to remove the learner from that course they are not removed, and an email is dispatched to the admin that they were added to the course.

Thanks
-Reece

[2016-07-12 21:37] dano23 commented on #1501
@danjjohnson I have an update for you on this one, though I think we've veered quite far from your initial bug report I think I have stumbled across a very specific bug. Hopefully this additional information helps.

**Test #1:**

First, I added all the lessons in a course to the Membership>restriction rules. This did block the lesson content. However, **it did not block the "Start taking this cour

[2016-07-12 22:21] FirstClassCode commented on #1506
Hello again,

I am unsure how to initiate a pull request as rarely use github. I have resolved this issue by using code from here: https://github.com/Automattic/sensei/pull/1455

Code:
`        $lesson_quiz_questions = Sensei()->lesson->lesson_quiz_questions( $post->ID );
        // Get question keys
        $quiz_questions = array_fill_keys( wp_list_pluck( $lesson_quiz_questions, 'ID' ), null);

[2016-07-13 02:04] jeffryevans commented on #1492
This was my own issue - I had the blog's info / email address set to an email address that was not tied to an admin user. Once I changed that address to match an admin user, the issue was resolved. Thank you.

[2016-07-13 02:04] #1492 closed

[2016-07-13 23:09] jeffryevans opened #1509 "Autosave answers to quizzes on a question by question basis"
How difficult is it to add the ability to autosave answers to questions as the user is answering a quiz?

So the logic might be something like, for multiple choice questions, the answer is saved when a choice is selected. For text entry answers like single line and multiline, an onblur event might be used to autosave the answer.

This feature can serve to really help students as they are taking a

[2016-07-14 14:42] AiratHalitov opened #1510 "Updated Russian language files"
I've updated *.po and *.mo files for Russian language.

- updated post type slug (course, lesson...)
- updated taxonomy archive slug
- updated "View results" button text
- updated learner page slug
- updated course results page slug

Here is zip archive: https://yadi.sk/d/tckLjYjztJN65

Can you add this files in sensei?

Thanks!

[2016-07-14 15:20] sjzurek opened #1511 "Fatal error on Sensei_WC::cancel_order"
On line 1305 of Sensei_WC::cancel_order
https://github.com/Automattic/sensei/blob/master/includes/class-sensei-wc.php#L1305
Sensei_Utils::sensei_remove_user_from_course method expects second parameter to be product_id, but course_id given instead.

[code]

[2016-07-14 15:21] sjzurek commented on #1511
Possibly related to #1508

[2016-07-15 16:25] richardmtl commented on #1352
Another similar one in 439377-zd-woothemes

When purchasing a course, the learner is not added to the course and the course does not show up in My Courses, *but* if they access the course directly they can see the lessons and they can complete the first lesson, and then they are automatically added to the course and can see it in My Courses.

The site has Advanced Access Management and bbPress, so

[2016-07-17 13:56] richardmtl commented on #1503
Hi! This is actually a known issue, in the Certificates repo:

https://github.com/woothemes/sensei-certificates/issues/96

Thanks for bringing it up here, though!

[2016-07-17 18:46] BurlesonBrad commented on #1509
@jeffryevans Here's an example using jsfiddle: http://jsfiddle.net/MadLittleMods/2LG8f/

[2016-07-18 02:27] jeffryevans commented on #1509
Thank you for taking the time to post this. I was actually hoping that automattic would program this as a feature upgrade and incorporate it in a near future release. I suspect there will be a little more to programming this within Sensei than what you showed in your jsfiddle, especially as it pertains to saving the data and preparing it for a later final submission of the entire quiz. Are you a p

[2016-07-18 05:06] BurlesonBrad commented on #1509
Honestly @jeffryevans , I've been watching Sensei for quite some time now _(at least a year)_.  I see a TON of merges that are perfectly fine _(not even **Features** ~or~ **Enhancements**)_, heck there's even some merges where @danjjohnson or @dwainm has specifically told someone exactly what they'd like to see.  Yet for some reason _(I don't assume anything, I'm just speaking **factually**)_ I ca

[2016-07-18 22:23] Warpsmith opened #1513 "Weird html in shortcodes"
Hello!
Line 50-54 of this file:  sensei/templates/content-course.php looks like this:

[code]

It seems _the_excerpt_ is with autop and its output is wrapped in Paragraph tags **inside** another Paragraph tag ( _p.course-excerpt_ ), which causes odd behaviour.

To verify the `<p>` in `<p>`, view the source code of the demo:
https://demo.woothemes.com/sensei/courses-overview/

[2016-07-18 22:34] Warpsmith commented on #1513
Replacing line 52:

`<?php the_excerpt(); ?>`

with this:

`<?php echo get_the_excerpt(); ?>`

seems to solve the problem.

[2016-07-19 06:43] cwbmuller opened #1514 "Quiz issue: If you answer 1st question correctly and complete you get 100%"
Quiz completion issue: If you answer 1st question of a quiz correctly and complete you get 100% and it only displays the question you answered. No matter how many questions were in the quiz.

Tested with current master branch and issue still exists

[2016-07-19 07:06] lkraav commented on #1514
I'm pretty sure we're seeing exactly this.

[2016-07-19 16:56] FirstClassCode commented on #1514
My previous thread about this.
https://github.com/Automattic/sensei/issues/1506

Solution:
https://github.com/Automattic/sensei/pull/1455

Check my thread as well, you will need to apply the fix in 2 places.

[2016-07-19 17:02] FirstClassCode commented on #1509
@BurlesonBrad I honestly hate to agree with you. I don't see why important fixes are not being merged for months on end. I am having to manually apply them. Which isn't a big issue, but is very concerning. Especially when we are paying yearly for the development of this plugin.

[2016-07-19 17:52] jeherve commented on #1509
@BurlesonBrad @jeffryevans @FirstClassCode We're still around! A new team is taking over and getting familiar with the plugin. It obviously takes time though, and we do indeed have some work with existing Pull Requests. But we'll get to them!

If any of you stumble across critical issues with the plugin, or would like us to take a look at a Pull Request as quickly as possible, do not hesitate to c

[2016-07-19 17:57] FirstClassCode commented on #1509
@jeherve Glad to know a team is being assembled for Sensei development. I would like to see this place being proactive when it comes to issue reports and pull requests. Like @BurlesonBrad mentioned some of these have been sitting in "Needs Dev Review" for months with absolutely no action. But, if this new team just starts working through them it would be a nice thing to see!

[2016-07-20 00:23] jeffryevans commented on #1509
@jeherve sounds good! Is the original feature request here something that automattic will consider? Thank you. @BurlesonBrad @FirstClassCode - thank you for your feedback!

[2016-07-20 10:26] cwbmuller commented on #1514
Thanks @FirstClassCode adding that fix in the two places solved the issue. Hopefully they merge your pull request soon so others don't experience the issue.

[2016-07-20 10:26] #1514 closed

[2016-07-20 13:50] jeherve commented on #1509
That seems reasonable, but it's probably not something I'd consider high priority.

If you'd like to submit a Pull Request, we'll review it 👍

[2016-07-20 15:20] georgestephanis commented on #1509
If this is merged in to core, I'd sooner see it implemented using the SessionStorage object (possibly LocalStorage) -- as it would hit potential scaling problems if it's stored server side in the database, and local storage is likely sufficient for this.

Fortunately, there are some excellent libraries out there that can already do this -- https://sisyphus-js.herokuapp.com/ for one.  However, I'm

[2016-07-22 15:21] kraftbj commented on #1438
Reopening based on previous comment.

[2016-07-22 16:26] danjjohnson commented on #1476
Duplicate of https://github.com/Automattic/sensei/issues/1426

[2016-07-22 16:26] #1476 closed

[2016-07-22 16:35] danjjohnson commented on #1510
Thanks for your efforts here!

Translations are currently managed on Transifex:
https://www.transifex.com/woothemes/sensei-by-woothemes/

Feel free to join the Russian team there to help with future updates

[2016-07-22 16:35] #1510 closed

[2016-07-23 10:40] AiratHalitov commented on #1510
Ok! I submited translations.

[2016-07-24 07:51] rachelsquirrel commented on #1491
Another report 445973-zd-woothemes

[2016-07-25 09:03] ovidiu-turean opened #1520 "the_content filter conflict with other plugins"
[code]

[2016-07-25 09:16] jeherve commented on #1520
Could you give us more details about the issues and conflicts you're experiencing?

Thanks!

[2016-07-25 10:40] ovidiu-turean commented on #1520
Hello Jeremy,

ThriveThemes has a page builder plugin (Thrive Content Builder) that can be integrated with Sensei.
Thrive Content Builder also uses the_content filter for constructing the page which causes the content ( on the course page, for example, if the course page was edited in the thrive content builder ) to show twice.

[2016-07-25 10:49] ovidiu-turean commented on #1520
Please put the code above in includes/class-sensei-course.php  -> single_course_content method
before $content = apply_filters( 'the_content', $course->post_content );
Line 2591 I think.

Thank you!

[2016-07-25 19:26] msdesign21 commented on #911
hello @kraftbj we still have an open ticket linking to this issue. Any chance we could get an update here?

[2016-07-26 12:04] jeherve commented on #1520
We could add the action you recommended, but I'm afraid that's only a work-around; you'll experience similar issues with many other plugins that filter `the_content`, as it's pretty common with WordPress plugins.

Could we look at why the content is displayed twice instead? Filtering `the_content` is only meant to apply content filters to raw unfiltered post content (like `$course->post_content` i

[2016-07-27 07:33] ovidiu-turean commented on #1520
Hello Jeremy,

So Thrive Content Builder stores the content that user built in the Thrive Content Builder Editor as post meta. When the page is rendered the TCB places the stored content before the user content (the one that the user placed in admin)

So for example if a user makes a new course page and edits it in Thrive Content Builder, your plugin comes and renders the course data -> applies th

[2016-07-28 11:15] jeherve commented on #1520
Instead of having to build work-arounds for each plugin that filters `the_content`, wouldn't it be easier to check if your TCB content was already added to `the_content`, thanks to the `$wp_current_filter` global, and to make sure that your content is only added once?

Here is some pseudo code:

[code]

[2016-07-28 11:54] scottbasgaard opened #1521 "Question: Way for a text question to always be correct?"
Does anyone know if this is currently support?

From what I understand a quiz with text inputs needs to be graded in order to be complete.

Is there a way for a single line question to be correct just by inputing something?

[2016-07-28 12:44] danjjohnson commented on #1521
@scottbasgaard if you set the question grade to 0 you should be able to have it auto-graded.

[2016-07-28 12:49] scottbasgaard commented on #1521
@danjjohnson bingo! 💥

[2016-07-28 12:49] #1521 closed

[2016-07-28 12:49] scottbasgaard commented on #1521
Thanks man :)

[2016-07-28 17:43] rachelsquirrel commented on #1352
Two related issues here - 448326-zd-woothemes

User says when a student cancels the trial period they are not removed from the course and has access to the course for free.

Another issue:

[2016-07-29 16:50] rachelsquirrel commented on #966
Another in #449018-zd-woothemes

[2016-08-01 23:37] bebaps opened #1523 "Undefined method WooThemes_Sensei_Lesson::is_pre_requisite_complete()"
In the most recent version of Sensei, calling  `sensei_has_user_completed_prerequisite_lesson()` leads to a PHP Fatal Error. The error log itself reads `PHP Fatal error:  Uncaught Error: Call to undefined method WooThemes_Sensei_Lesson::is_pre_requisite_complete() in {my-wordpress-site}/plugins/woothemes-sensei/includes/template-functions.php:384`. After digging around and examing the function in

[2016-08-07 23:43] BurlesonBrad commented on #1509
.......and the latest Chrome has now removed the backspace button from _**[drumroll]**_ ACTUALLY GOING BACK _**[/drumroll]**_ :angry:
While everyone on Google forums is apparently pretty irritated at the behavior....
@jeffryevans I can't help but wonder if other browsers will follow suit.   ¯\_(ツ)_/¯

[2016-08-07 23:54] BurlesonBrad commented on #1507
.........as I was pecking around on this, I was hoping this ```bug``` was just in the sidebars. Nope :disappointed: Sensei doesn't inherit button attributes in the body as well.
_if it's *not* clear, these two blues below are actually two different blues. I guess I could have used a more contrast like with the bright yellow example above.  But I set the menu to a
![sensei-buttons-body](https://clo

[2016-08-08 14:58] kraftbj commented on #911
Sorry for the delay @MindyPostoff, @msdesign21 -- didn't see these pings. I'd like the Guardians to confirm my theory, at least, even if they don't the bandwidth for a fix initially.

[2016-08-09 05:39] rachelsquirrel commented on #1418
Reported here - 447403-zd-woothemes

[2016-08-09 14:24] danjjohnson commented on #1507
This depends on your theme having button settings in the customizer, right? What theme are you using here?

[2016-08-09 16:03] BurlesonBrad commented on #1507
[Storefront](https://github.com/woothemes/storefront) :stuck_out_tongue_winking_eye:

[2016-08-10 14:00] rachelsquirrel opened #1525 "Improve integration between Memberships and Sensei"
When selling multiple courses using memberships it's not clear to the customer which courses they can and can't access until they click the "Start taking this course" button.

Steps to reproduce:
1. Create two courses and two different membership plans - one for each course.
2. Add a user and give them access to one of the memberships plans.
3. Sign in as the user and try to take both courses. The

[2016-08-10 14:34] lisaleague commented on #1525
This has been an ongoing problem for me when selling bundles of multiple courses with WooCommerce Memberships -

It's not obvious what to do to access the course, there are no links on the confirmation page or receipt, it's not obvious to go to My Account and then click through....I've tried multiple ways around this and end up with multiple helpscout articles, videos, am planning on doing custom

[2016-08-10 16:01] danjjohnson commented on #1507
Thanks. Updated the title to clarify.

[2016-08-10 17:12] danjjohnson commented on #1489
I'm unable to replicate this issue in v1.9.6. Can anyone provide specific steps/setup that will produce this issue?

[2016-08-10 17:23] danjjohnson commented on #1489
I'm not sure what causes the random order, but it seems if you change the order, update, then change back again, the order will stick.

[2016-08-10 17:27] danjjohnson commented on #1494
Agree. Admins/Teachers should be able to view the draft modules and lessons in a draft course.

[2016-08-11 11:57] rachelsquirrel opened #1526 "Add learners to a course in bulk"
Allow users to add hundreds of learners to a course in one go so each learner doesn't have to click "Start taking this course".

Request in 451817-zd-woothemes

[2016-08-12 00:49] BurlesonBrad commented on #1525
I was about to open a new issue, .....then I saw this thread and some familiar faces :stuck_out_tongue_winking_eye:  as well :+1:

![sensei-subscription-price](https://cloud.githubusercontent.com/assets/6208757/17607934/a2dbc83c-5fee-11e6-8030-7c65d7a5aae8.png)

At this point in the "Senei Journey" I've put things off long enough and probably shot myself out of thousands of dollars, my family out

[2016-08-12 01:39] unfulvio commented on #1525
cc'ing myself over this thread

[2016-08-12 07:20] rachelsquirrel commented on #1525
Hi @BurlesonBrad ! Thanks for your input :)
This is currently a high priority issue and we've got a team of developers looking into it. Leave it with us.

[2016-08-12 13:25] lisaleague commented on #1525
**Suggest these 2 things that will help:**

1. Automatically login in member after purchase, and redirect to the My Account Page
2. Include link to My Account page on email receipt with text saying something like "Access your memberships here"

[2016-08-12 16:09] BurlesonBrad commented on #1525
sorry @rachelsquirrel , but Github provides us a very powerful lens in which we can really clarify and focus in on the bigger picture of Sensei.
While the rhetoric of _"developers looking into it"_ is a great surface level response, let's simply **ZOOM OUT AND REFOCUS** the lens here and let Github clarify the reality of this Sensei picture _(again, no 'surface level rhetoric or blurry lines neces

[2016-08-12 16:40] danjjohnson commented on #1525
Hi @BurlesonBrad

I deleted your last comment as it is off-topic. Github is for tracking issues, not voicing frustration about our lack of development progress.

We appreciate your concern, and your feedback. All I can tell you at this point is that we didn't have anyone on it for a few months, and now we do, so I'd suggest you sit tight and wait for our developers to do their thing in the next fe

[2016-08-12 17:28] lisaleague commented on #1525
Edited my [comment above](https://github.com/Automattic/sensei/issues/1525#issuecomment-239445412) to provide a scenario that you can replicate.

[2016-08-13 11:33] rachelsquirrel opened #1527 "Quiz: questions disappear after submitting when there are single-line questions"
If you have a quiz that includes single-line questions and other questions types, then submit it without answering some of the other questions types, it will reload only the single-line questions. All the others disappear.

**Steps to reproduce:**
1. Create a quiz with two questions - one multiple choice and one single-line.
2. Submit the quiz as a learner without answering either question.
3. The

[2016-08-13 12:00] rachelsquirrel opened #1528 "Allow teachers to add products so they can sell courses"
It's not currently possible for the Teacher user role to create products and sell courses. A new user role is needed which combines the capabilities of the Teacher and the Shop Manager. A hacky solution is possible using a third-party-plugin (Capability Manager Enhanced) but this lets the teacher see and edit everyone else's products as well.

This looks related - https://github.com/Automattic/sen

[2016-08-13 13:05] rachelsquirrel commented on #1389
Another report of this 454476-zd-woothemes

[2016-08-14 11:24] scarstocea commented on #1525
There's another issue related to the Sensei+Memberships integration, raised in 452697-zd-woothemes:

The [sensei_unpurchased_courses] shortcode is supposed to display a list of all courses linked to a WooCommerce product, which the current user has not yet purchased.

However, the shortcode currently shows all courses, including courses that the user bought in a membership product.

To replicate:

[2016-08-15 11:39] rachelsquirrel commented on #1453
also reported in 453401-zd-woothemes

[2016-08-15 19:22] msdesign21 commented on #911
@danjjohnson any chance we could get an update for the customer here:  https://woothemes.zendesk.com/agent/tickets/420589

Wasn't sure if there has been any more progress looping in Guardians or if there is a better person for me to ping?

[2016-08-16 05:26] battica commented on #1352
I'm also experiencing this problem on a site. For some users, after purchasing a course, the course is not automatically assigned to their account. Yet for others, the process runs 100% smoothly. We are using the Payfast payment gateway.

Any updates on what may be causing this rather random issue?

[2016-08-17 14:54] jenhooks commented on #1352
Also in 456768-zd-woothemes - I think?

[2016-08-17 16:32] riggscreative commented on #1352
456768-zd-woothemes is my issue - In my case, not a single user can access the course without me adding them in the Admin.

[2016-08-17 20:58] n4s-bill commented on #1498
+1

[2016-08-19 12:04] pgk commented on #911
@kraftbj I can confirm your theory, there is a fix for this in https://github.com/pgk/sensei/commit/cdda5450afeb792dfb16a29c433f3764adbfc9d5 using `wp_insert_post_data` as you suggested

[2016-08-19 20:20] jenhooks commented on #1498
Also in #459005-zd-woothemes

[2016-08-20 12:27] righttheprophet opened #1529 "When sensei is activated filters for Visual Composer post grids stop working!"
I have sensei 1.9.6 and VC 4.12. When I activated sensei the post grid filters stop working for all usres except admins. For example my Library uses "library" category for showing only books but when sensei is activated all posts are shown to users. however I, as admin, keep seeing the right category.

any idea how to fix the problem?

[2016-08-21 12:57] hansschuijff commented on #1438
I'm a user of TEC and Sensei and run into this problem some months ago. Since it still wasn't solved and my error_log keeps building, I tried to look into it some days ago. I got as far as finding out that the call to get_posts in allow_course_archive_on_front_page makes the query of the TEC widget malfunction. I don't understand why it just test for ! is_page() as it's functionality seems to be f

[2016-08-21 20:35] hansschuijff commented on #1438
I've been looking some more into what happens. The problem I found was that after Sensei's  allow_course_archive_on_front_page continues processing ( when is_page() ) and remove's itself from _action  'pre_get_posts' to prevent endless loops, in some way that disturbs the active queue and prevents the next action(s) in queue to be executed.

That means that if TEC's pre_get_posts is set to be exec

[2016-08-22 10:45] danjjohnson opened #1530 "Only load Select2 where needed"
From 458134-zd-woothemes

Sensei is conflicting with the [Awesome Support](https://wordpress.org/plugins/awesome-support/) plugin as described here:
https://github.com/Awesome-Support/Awesome-Support/issues/335

[2016-08-23 01:51] jenhooks commented on #1389
Fairly sure there's another one in 459793-zd-woothemes.

[2016-08-24 08:10] pgk commented on #1453
Addressed in #1531

[2016-08-24 08:10] #1453 closed

[2016-08-24 11:51] pgk commented on #911
Fix merged in #1532

[2016-08-24 11:51] #911 closed

[2016-08-24 12:46] pgk commented on #1498
Resolved in #1533

[2016-08-24 12:46] #1498 closed

[2016-08-24 13:27] pgk commented on #1352
Fix merged in #1524

[2016-08-24 13:27] #1352 closed

[2016-08-24 13:27] pgk commented on #1417
Fix Merged in #1524

[2016-08-24 17:29] jenhooks commented on #1389
Possibly 460579-zd-woothemes

[2016-08-29 15:35] rachelsquirrel commented on #1506
Another report of this in zd-woothemes-462288

[2016-08-29 19:17] barryhughes commented on #1438
[PR 1502](https://github.com/Automattic/sensei/pull/1502) updated!

I hope that helps here, however if you prefer to solve this by some other means feel free to close that PR, no feelings will be hurt :wink:

[2016-08-31 15:58] austinfadely opened #1535 "Fatal error when returning to website after canceling order from paypal"
Checkout using Paypal standard.

Click Cancel to return to website and get following error:

Fatal error: Call to a member function get_type() on a non-object in /home/content/30/10814430/html/wp-content/plugins/woothemes-sensei/includes/class-sensei-wc.php on line 925

[2016-09-01 10:27] jenhooks commented on #1484
463844-zd-woothemes

[2016-09-01 13:01] pgk commented on #1389
Adressed in #1389

[2016-09-01 13:01] #1389 closed

[2016-09-02 03:46] MennStudio commented on #1483
Hi,

Is there any update on this?

Thank you very much.

[2016-09-02 16:54] jenhooks opened #1536 "Link course to a single variation of a variable WooCommerce product."
In 458392-zd-woothemes, the user would like to have two products; one which gives access to the online course and the other which is a live course that students can attend in-person. They are set up as variations of a product in WooCommerce:

<img width="365" alt="variable_product_course2" src="https://cloud.githubusercontent.com/assets/7585054/18211552/3b876504-710c-11e6-87e1-8845ec320a82.png">

[2016-09-05 14:04] danjjohnson commented on #1528
Not sure if we need a new role, but it definitely needs to be made compatible with Product Vendors again, which is covered here: https://github.com/Automattic/sensei/issues/1362

[2016-09-05 14:04] #1528 closed

[2016-09-05 14:20] danjjohnson commented on #911
Tested the above fix, and I can confirm that no duplicate rules are created, and the rules can be removed without any problem. cc: @MindyPostoff @msdesign21

[2016-09-05 14:26] danjjohnson commented on #1352
@battica and @riggscreative would you be able to test our [proposed fix](https://github.com/Automattic/sensei/pull/1524) for this issue, and let us know if it resolves the issue for you?

[2016-09-05 14:48] danjjohnson opened #1537 "Course results title not working"
https://github.com/Automattic/sensei/blob/master/includes/class-sensei-course-results.php#L56

The function should add "Course Results:" to the start of the page title on the course results page, but it doesn't appear to do anything.

[2016-09-05 15:22] danjjohnson commented on #1535
Thanks @austinfadely

This was reported [here](https://github.com/Automattic/sensei/issues/1498) and has been fixed for the next release.

[2016-09-05 15:22] #1535 closed

[2016-09-06 02:01] #1431 closed

[2016-09-06 02:43] #1436 closed

[2016-09-06 02:45] #1464 closed

[2016-09-06 02:47] #1474 closed

[2016-09-06 02:51] #1480 closed

[2016-09-06 04:57] battica commented on #1352
Sure! What do I need to do? Has the fix been added to the latest version of Sensei?

[2016-09-06 12:38] rachelsquirrel opened #1538 "Can re-take quiz before it has been graded"
It's possible to re-take the quiz after the student clicks "Complete Lesson" and before the quiz has been graded. The quiz settings to reproduce this are:

![quiz](https://cloud.githubusercontent.com/assets/7946521/18273745/ce671766-7436-11e6-89a6-4e320d75475b.png)
#463771-zd-woothemes

[2016-09-06 15:21] pgk commented on #1341
Closing, can be fixed by resaving Sensei settings.

[2016-09-07 01:48] dbtlr commented on #1511
This was fixed in #1512

[2016-09-07 01:48] #1511 closed

[2016-09-08 10:25] danjjohnson commented on #1352
@battica you can download the latest master branch from https://github.com/Automattic/sensei/archive/master.zip

I'd suggest doing this on a test site if possible. Thanks!

[2016-09-08 14:49] ivantedja commented on #1537
The code was using `wp_title` to modify the title which no longer being used in newer version of WordPress (>= 4.4)

Added `document_title_parts` to support newer version

It can be tested by switching between "Twenty Fourteen" theme (older version) and "Twenty Sixteen" theme (newer version) :)

[2016-09-08 16:24] jenhooks commented on #1454
466814-zd-woothemes

[2016-09-08 16:25] jenhooks commented on #1526
Duplicate of https://github.com/Automattic/sensei/issues/1454

[2016-09-08 16:25] #1526 closed

[2016-09-08 16:46] lisaleague commented on #1454
Integrate this with WooCommerce Memberships, so the hundreds of users that purchase are automatically added.

[2016-09-08 19:32] jenhooks commented on #357
This was brought up again in 465925-zd-woothemes - is it something to consider again?

[2016-09-08 21:11] lkraav commented on #357
What's been the main blocker for this moving forward?

[2016-09-09 13:48] danjjohnson commented on #1537
Thanks @ivantedja - we'll get this reviewed for the next release :)

[2016-09-09 13:51] danjjohnson commented on #357
@lkraav mainly that we need to focus on improving Sensei core before we start adding complex features like this.

[2016-09-13 08:14] jeherve opened #1542 "Post Types: prefix all post types and taxonomies to avoid conflicts"

[2016-09-13 09:19] lkraav commented on #1542
I don't know, this is a so and so thing. I tend to agree with http://justintadlock.com/archives/2014/07/25/custom-post-type-standards

[2016-09-13 18:55] bonest commented on #1542
Well I am the customer who reported this. I am also a developer and I do not agree with Justin Tadlock.

Let me try to elaborate.

First of all The name of the custom post type is really the ID of the type, and the admin of WordPress use this Id to organize the menu in the backend.

So I experienced that the menu items from the Ansipress plugin was mixed with the menu items of Sensei.

When I crea

[2016-09-20 07:43] PederSongedal commented on #942
If I can choose one thing to fix I Sensei, it’s the ability for teachers to reorder the modules!!!

Its not possible for an editor or a teacher to do this, and the result of this is that you need to give somebody admin access even if they even if they should not have it. I was told by Woo support Ticket #460235 that Sensei is “working as intended” on this point. For me this must be a result of a b

[2016-09-20 11:46] kjtolsma opened #1544 "the_content filter get's fired on non-lesson post types"
I've got some trouble where content from posts in the sidebar get's trimmed. It looks like it has to do with the limit_archive_content function:

https://github.com/Automattic/sensei/blob/master/includes/class-sensei-lesson.php#L3927

This function also trims other post types on the lesson archive. Should't there be an post type check? 'lesson' === get_post_type()

[2016-09-23 08:19] ndthanh208 commented on #1520
Hi jeherve,
How I can use filters to change the contents of TCB?
This is my code:

`add_filter( 'the_content', 'auto_add_tracking_id' );
function auto_add_tracking_id( $content ) {
code here...
}`

But it not working. Please help me!

[2016-09-23 17:33] pgk commented on #1501
@lisaleague @dano23 @rachelsquirrel and @danjjohnson thanks! "Start taking this course" should not be shown when a non-member views the course page. I added some commits that address this.

[2016-09-24 12:44] danjjohnson commented on #1501
@pgk That seems to work. It hides the "Start taking this course" button and the "Complete lesson" buttons.

However, it also seems to remove some of the styles for some reason:

![screen shot 2016-09-24 at 13 37 12](https://cloud.githubusercontent.com/assets/1990037/18808492/1b739c90-825c-11e6-8094-fddd50696868.png)

@dano23 would you be able to test [this branch](https://github.com/pgk/sensei/tre

[2016-09-24 14:29] danjjohnson commented on #1501
@pgk The other problem with this approach is that when a user buys a membership, they don't receive anything with a link to the course(s) it includes. And the course doesn't appear in My Courses until they click "Start taking this course"

So unless they can easily find the course page again, they are kind of lost.

@lisaleague @dano23 how do you get around this issue?

@pgk is there any way that

[2016-09-24 15:08] danjjohnson commented on #942
Thanks @PederSongedal - I agree and we will definitely get this added as soon as we can.

[2016-09-24 15:29] dano23 commented on #1501
@danjohnson you nailed it. We got around this by bypassing memberships entirely. (We still use memberships to protect a CPT on our site.) So we currently have the courses linked to a product using that drop-down on the course settings page. The only reason we did this was to solve for the problem you mention. We would rather use memberships to control access so we can test different prices, offers

[2016-09-26 09:59] jeherve commented on #1520
@ndthanh208 You'd need to contact the TCB team about this, they should be able to help.

[2016-09-26 11:57] lisaleague commented on #1501
@danjjohnson I set the course page as the login, but have instructions at the top for the member to activate the course through the "My Account" page first.
Many members still have trouble with this and contact customer support. In that case I usually just switch to their user and start it - not very scalable, and I don't necessarily want everyone I have working support logging into the site.
I've

[2016-09-26 12:05] danjjohnson commented on #1501
@lisaleague @dano23 thanks for the feedback! We'll work on improving this for people using Sensei and Memberships.

[2016-09-26 20:09] scottbasgaard opened #1547 "Display Correct Answer"
Working on getting the following to work:
- https://github.com/Automattic/sensei/pull/1486

I'm confused about the logic here:
- https://github.com/Automattic/sensei/blob/master/includes/class-sensei-question.php#L735

`$question_grade` will always return 0 or greater by default it seems.

Doesn't `$answer_message` always get re-written in this case?

In `get_question_grade()`:

[code]

[2016-09-26 20:19] scottbasgaard commented on #1547
Pretty sure this is where logic went wrong:
- https://github.com/Automattic/sensei/commit/fb711c65af832a53d177a89681cbd8b67cc23420#diff-7f1c0613642385bbb139ceae2a003cfb

[2016-09-27 08:43] SiR-DanieL opened #1548 "Clean code for coding standards"
We should clean the code and follow WP coding standards everywhere.

[2016-09-27 08:57] scottbasgaard commented on #1548
How do you recommend we go about this without huge changesets… it's quite a large undertaking on Sensei.

[2016-09-27 11:08] lkraav commented on #1548
One file at a time. However long it takes. Doesn't even have to be targeted for a single release. Just have to make sure no concurrent functional changes introduced in those formatting commits.

[2016-09-27 11:09] scottbasgaard commented on #1548
👍

[2016-09-28 00:12] jenhooks commented on #1506
473379-zd-woothemes

[2016-09-28 12:28] pgk commented on #1501
@danjjohnson good idea! Added in 6cd6509, hooking into `wc_memberships_user_membership_status_changed` to start courses associated with an active membership.

[2016-09-28 13:43] pgk commented on #1491
@richardmtl @rachelsquirrel  https://github.com/pgk/sensei/commit/d005d35aaf9ea28f2f5898c9e89d06422c619550

[2016-09-28 13:45] jenhooks opened #1551 "Allow admin to reset quiz for single student."
Rather than enabling quiz reset for all students in a course (by checking the "Allow user to retake the quiz" option in Quiz Settings), administrators may want to allow only a selected student to re-take a quiz. It would be nice to add this as an easy-to-use button in Learner Management.

Reference: 472791-zd-woothemes

[2016-09-28 13:50] pgk commented on #1538
@rachelsquirrel would the expected behaviour be that the user should not be allowed to retake the test if they "complete lesson" (unless the option "allow user to retake quiz" is checked)?

[2016-09-28 14:32] jenhooks commented on #1340
I think we're seeing this in 472309-zd-woothemes?

[2016-09-28 15:19] unfulvio commented on #1501
apart from status changes you might also test the following action hooks

`wc_memberships_user_membership_created` and `wc_memberships_user_membership_created` -- the first is fired when a new membership is created upon user action (e.g. purchase of product that grants access) -- the latter when a membership is saved or updated in admin

[2016-09-28 16:01] davoraltman opened #1553 "Lesson Can't be Marked Complete"
Occasionally, it happens that a certain user can't mark a couple of lessons complete. In the latest example (472290-t), @danjjohnson found that the user appeared twice inside a single lesson.

![screen shot 2016-09-28 at 16 49 31](https://cloud.githubusercontent.com/assets/10340370/18921657/edb72a18-85a5-11e6-834d-ed45ec8b6764.png)

When one learner got removed, the second one was also removed aut

[2016-09-28 19:06] jenhooks opened #1554 "Allow quizzes and correct answers to be exported to PDF."
It would be useful for students to be able to export Sensei quizzes along with correct answers, for future reference, for easy printing, or to study from later. Could we implement this somehow?

Suggested in 473595-zd-woothemes and 396212-zd-woothemes

[2016-09-28 20:27] hammaste commented on #1551
Thanks jenhooks for opening this issue.
Meanwhile I found a workaround to address this.
Go to Learner Management - Select Course - Go to Lessons (it's on the top kinda hidden) - Click on Manage Learners attached to the lesson quiz you want to reset - remove student from lesson - Inform the student to retake the lesson.

That a lot of steps but until we have a reset quiz button, this will do the jo

[2016-09-29 10:13] danjjohnson commented on #1501
@pgk just checking you saw that last comment ^ :)

[2016-09-29 19:13] lkraav commented on #1389
I just updated 1.9.6 -> 1.9.7 and we're seeing lessons not being displayed on singular course page. Playing with the Order tool fixed it, like the topic said. What is the current recommendation for getting the meta in correct shape? Manually going over everything is probably not the best idea.

[2016-09-30 07:28] pgk commented on #1389
@lkraav can you provide us with steps to reproduce this?

[2016-09-30 15:09] jenhooks commented on #1395
Closing this in favor of https://github.com/Automattic/sensei/issues/359

[2016-09-30 15:09] #1395 closed

[2016-09-30 15:09] jenhooks commented on #359
Requested in 473115-zd-woothemes

[2016-09-30 15:11] jenhooks commented on #1551
Thanks, hammaste! That will be very useful for folks coming across this issue if they're searching for a solution to this.

[2016-09-30 15:53] jenhooks commented on #359
Also 474834-zd-woothemes

[2016-09-30 16:10] danjjohnson opened #1559 "Parse error on PHP 5.2"
A user reported the following error after updating to 1.9.7

`Parse error: syntax error, unexpected T_FUNCTION, expecting ')' in .../wp-content/plugins/woothemes-sensei/includes/class-sensei-wc.php on line 334`

[The line in question](https://github.com/Automattic/sensei/blob/master/includes/class-sensei-wc.php#L334) contains an anonymous function, which apparently is only supported in PHP 5.3 and

[2016-09-30 17:10] danjjohnson opened #1560 "Video embed code changes to shortcode"
See video: http://cld.wthms.co/65mz/587NZMIJ

It only happens on some sites, but prevents the video from displaying.

475555-zd-woothemes

[2016-09-30 17:25] lisaleague commented on #1560
Is this really a "bug" or because they do not have function do_shortcode
Can this be changed to support oEmbed?

[2016-09-30 20:58] jenhooks opened #1562 "Tally length of lessons to display total time for a course."
In the Lesson edit screen, we can designate a lesson length in minutes:

<img width="390" alt="lessonlength" src="https://cloud.githubusercontent.com/assets/7585054/19006712/04d62912-872f-11e6-9e1a-aed85dfdd24d.png">

Could we tally up the length of time for all lessons in a course, then display the total for the whole course?

Reference: 474425-zd-woothemes

[2016-09-30 22:40] visionistics opened #1563 "Analysis reports need a column/field/solution for same-name learners (email address?)"
We have a few thousand learners, which means hundreds of learners have the same name (ex. John Smith).

Analysis reports (we mostly use the exported csv) need a column/field that is unique.  Email address would be PERFECT for our needs (simplifies merged email communication).

Found the code that generates it:  class-sensei-analysis.php

Unsure of a "safe way" to modify code to add the user email

[2016-10-01 11:57] rachelsquirrel commented on #1538
@pgk Yes, that's exactly right. Once they've completed the lesson they shouldn't be able to retake the quiz unless the option to allow this has been selected.

[2016-10-01 17:16] webrhyno commented on #1560
I am experiencing the same issue with video embed.  How can this be fixed?

[2016-10-02 12:38] angelopublio commented on #1560
The video embbed from Wistia in the Lesson is not displaying

[2016-10-02 13:24] SiR-DanieL commented on #1560
@danjjohnson the link to Droplr is broken.

[2016-10-03 06:00] lvnilesh opened #1564 "Please complete the previous course before starting the lesson"
https://github.com/woocommerce/sensei-content-drip/issues/101

[2016-10-03 08:00] danjjohnson commented on #1560
Also reported in 475829-zd-woothemes

[2016-10-03 09:24] danjjohnson opened #1565 "Autocomplete processing virtual orders not working"
There is a function that is supposed to check if an order is 'virtual' and if the status is 'processing' (meaning payment is received) then change the status to 'completed'

https://github.com/Automattic/sensei/blob/83ee62dfa46742989a9fd5cdcca5222799aca5c1/includes/class-sensei-wc.php#L1598

This doesn't seem to be working, as orders for virtual products remain 'processing'.

Reported in 472449-zd

[2016-10-04 14:00] danjjohnson commented on #1553
Also reported in 472783-zd-woothemes

[2016-10-04 14:02] danjjohnson commented on #1553
Note: we need to figure out under what circumstances a user can be assigned to a lesson twice, and prevent that from happening.

[2016-10-04 16:04] visionistics commented on #1563
@jenhooks

[2016-10-05 13:49] mclanecreative commented on #1554
+1 - This would be very useful in our install.

[2016-10-05 14:02] danjjohnson commented on #1564
Also in 475496-zd-woothemes

[2016-10-05 14:06] danjjohnson commented on #1564
Update to clarify the issue. Some users are seeing "Please complete the previous course before starting the lesson." on courses they have purchased, even though there are no prerequisite courses.

[2016-10-05 15:18] danjjohnson opened #1568 "Uploaded files display HTML instead of a link"
![image](https://cloud.githubusercontent.com/assets/1990037/19119285/323bad46-8b17-11e6-8a0c-c043527e4fd4.png)

See https://github.com/Automattic/sensei/commit/3d721882178ec43a4d4af59eea178e3ccae59417#commitcomment-19303945

Reported in 476408-zd-woothemes

[2016-10-05 15:46] danjjohnson commented on #1553
As a workaround, if you remove the user from the lesson, they should be able to complete the lesson again.

[2016-10-05 16:46] danjjohnson commented on #1560
We've found that this is a conflict with the Shortcode Embeds module of Jetpack. We'll work on a fix for this, but disabling that module will resolve the issue temporarily.

[2016-10-05 19:42] angelopublio commented on #1560
I don't have Jetpack but I am experiencing the same issue

[2016-10-06 09:41] scottbasgaard commented on #1547
@hlashbrooke any thoughts?

[2016-10-06 10:09] hlashbrooke commented on #1547
It appears you are correct, from what I can see, but I think @dwainm would have more feedback on how `get_question_grade()` _should_ work. IIRC he wrote that function, or at least made some significant changes to it since I last worked on this.

[2016-10-06 10:19] dwainm commented on #1547
@scottbasgaard feels like ages!

I think there is something wrong with that code. My thoughts.. the user grade is not compared to the question grade. Just because user question grade > 0 doesn't make the user right as question grade could still be more than what the user was marked for(in manual grading cases.).

Then I'm not quite sure what is actually wrong from your initial message? What issue

[2016-10-06 10:23] scottbasgaard commented on #1547
@dwainm @hlashbrooke thanks for the quick replies! With this setup `$answer_message` will never show `self::get_correct_answer( $question_id );` from what I can see…

[2016-10-06 10:28] dwainm commented on #1547
@scottbasgaard looking at this:

[code]

The answer message will show the initial value (`Incorrect - Right Answer...`) in the following conditions:
If the questions grade[set when create quiz] is more than `0` and if the user grade[created when grading] is `0`.

[2016-10-06 10:31] scottbasgaard commented on #1547
@dwainm understand but I think that the filter in https://github.com/Automattic/sensei/pull/1486 needs to suppress this logic somehow?

[2016-10-06 10:38] dwainm commented on #1547
I see you're point.  @hlashbrooke we probably need the filter to cover the output of the correct message in the `output_result_indication ` message as well. Maybe same filter applied there? @scottbasgaard you are also more than welcome send in a PR :) . Just be to ensure that correct answer is not shown if the user explicitly filtered it out using the `sensei_question_show_answers ` fitler.

[2016-10-06 10:39] scottbasgaard commented on #1547
Yea, just want to figure out the correct logic with you guys first.

[2016-10-06 10:40] dwainm commented on #1547
Thanks for catching that one @scottbasgaard!

[2016-10-06 10:44] hlashbrooke commented on #1547
Yeah - that sounds about right (in terms of what needs to be done). If you're happy to submit a PR here @scottbasgaard then that would be awesome :)

[2016-10-06 14:07] pgk commented on #1559
addressed in https://github.com/pgk/sensei/commit/1d1572492912281993be8089c35890af51522b2f

[2016-10-06 14:07] #1559 closed

[2016-10-06 14:08] #1523 closed

[2016-10-06 14:16] SiR-DanieL commented on #1341
I'm having this issue on localhost. Resaving does not fix.

In `class-sensei-templates.php` if I add `var_dump( Sensei()->get_page_id( 'courses' ) ); die;` on line 143, after the globals,  I get `int(-1)` as result, like if the page ID is not saved. I saved multiple times already.

[2016-10-06 14:36] danjjohnson opened #1573 "Conflict with Heroic Knowledge Base"
Suggested fix from developer:

In the php file woothemes-sensei/includes/class-sensei-lesson.php (at line 3903)

`if( is_archive('lesson') && Sensei()->settings->get('access_permission') ){`

should be

`if( is_post_type_archive('lesson') && Sensei()->settings->get('access_permission') ){`

They have mistakenly used is_archive (which always returns true on any archive, including the knowledge base

[2016-10-06 14:41] lkraav commented on #1573
The analysis and fix are indeed correct.

[2016-10-06 14:42] #1491 closed

[2016-10-06 16:19] danjjohnson opened #1574 "Log in message no longer contains a link"
When logged out and viewing a course page, you see register button, followed by the message:

"log in" should be a link, as defined [here](https://github.com/Automattic/sensei/blob/master/includes/class-sensei-course.php#L2858) and [here](https://github.com/Automattic/sensei/blob/master/includes/class-sensei-course.php#L2870), but it's not a link in 1.9.7

@SiR-DanieL seems like [this commit](http

[2016-10-10 10:33] danjjohnson commented on #1573
Tested by a user and confirmed that the fix works :)

[2016-10-10 14:38] danjjohnson opened #1577 "Completed lessons show as in progress"
Lessons that have been completed still display the "In progress" label instead of "completed".

This is fixed in https://github.com/Automattic/sensei/pull/1569 - just documenting here for reference.

[2016-10-10 14:38] #1573 closed

[2016-10-10 16:21] danjjohnson opened #1578 "Module description not displayed on course page"
Since v1.9.0 the module description is no longer displayed below the module title on the single course page. This was working in v1.8.8

477909-zd-woothemes

[2016-10-11 08:53] wcerfgba opened #1579 "Notice: Trying to get property of non-object in plugins\sensei\includes\class-sensei-quiz.php on line 582"
When submitting quiz answers for the first time, I get the following PHP warning:

[code]

From my understanding, on line 570 of `class-sensei-quiz.php` it is determined that there is no existing status for the lesson, as the user has just submitted their answers for the first time. Thus there is a call to `Sensei_Utils::user_start_lesson` on line 572, which sets up the comment with the lesson sta

[2016-10-11 09:21] pgk commented on #1568
Works for me and looks good

[2016-10-11 09:22] #1568 closed

[2016-10-11 10:16] danjjohnson commented on #1341
478407-zd-woothemes

[2016-10-11 11:24] pgk commented on #1577
Fixed in #1569

[2016-10-11 11:24] #1577 closed

[2016-10-11 13:49] pgk commented on #1574
addressed in a708ca1

[2016-10-11 13:49] #1574 closed

[2016-10-11 15:16] danjjohnson opened #1582 "Deleted courses appearing in Order Courses list"
It seems that when fetching the list of courses for Courses > Order Courses, it fetches all post statuses and so includes draft and deleted courses.

I can see the logic of including draft courses (although maybe we should add (Draft) to the title), but deleted courses shouldn't be included there.

476206-zd-woothemes

[2016-10-11 21:55] FirstClassCode opened #1583 "Modification to users displayed in Analysis?"
Hello,

I was wondering if it would be possible to only show users who have, or currently are, taking a course in the Analysis output. We have many users who are not going to be taking courses and this is becoming bloated very quickly.

I attempted to use the sortby feature and to my surprise it did not work. People with 0 courses are displayed above someone who has 7 courses active.
See attached.

[2016-10-12 09:54] mattalberon opened #1584 "ErrorException in admin area"
I received the following error when visiting my site's admin.php:

Missing argument 2 for Sensei_Admin::duplicate_post(), called in /home/tln2/repo/www/wp-content/plugins/woothemes-sensei/includes/class-sensei-admin.php on line 511 and defined

[2016-10-12 12:12] danjjohnson commented on #1582
Fix works for me @pgk :)

[2016-10-12 12:31] danjjohnson opened #1586 "Empty course items in order courses list"
In some cases, the order courses list can contain empty items as shown:
![image](https://cloud.githubusercontent.com/assets/1990037/19310023/000fa192-9080-11e6-8d62-cd7816a1ceea.png)

We should check for and remove "empty" course ids before saving the new order string.

[2016-10-12 13:42] #1582 closed

[2016-10-12 13:42] #1586 closed

[2016-10-12 13:43] pgk commented on #1564
Closed in #1569

[2016-10-12 13:43] #1564 closed

[2016-10-12 14:17] danjjohnson commented on #1586
Note for future reference, you have to save the course order again to remove any empty items :)

[2016-10-13 01:38] chvillanuevap commented on #1544
I'm seeing the same issue as well.

The function `limit_archive_content` in `woothemes-sensei/includes/class_sensei_lesson.php` trims the number of words used for *all* post types.

Here is the function:

[code]

The problem is that `is_archive` does not take any parameters, and it checks if any type of Archive page is being displayed. The correct function used here should be `is_post_type_archive

[2016-10-13 08:47] danjjohnson commented on #1560
https://github.com/Automattic/sensei/issues/1587 works for me :)

[2016-10-13 09:12] #1560 closed

[2016-10-13 09:37] pgk commented on #1560
The only concern is the code duplication of `wp_kses`. At least by refactoring those `wp_kses` calls to use `Sensei_Utils::wp_kses`, we can easily swap the underlying implementation with a different solution or just a proxy to `wp_kses` again.

[2016-10-13 15:31] danjjohnson opened #1588 "video tag loses controls on save"
In 1.9.7 if you add a video tag in the video embed field with the controls attribute, e.g.

[code]

The controls attribute is removed on save:

[code]

So only an image of the video is displayed.

I guess this is because we added wp_kses on the embed field, but it breaks functionality that was working in 1.9.6. Is there any way to fix that?

Related: https://github.com/Automattic/sensei/pull/1587

[2016-10-13 17:02] danjjohnson commented on #1538
480135-zd-woothemes

[2016-10-14 13:58] danjjohnson opened #1591 "1.9.8-beta - Next Lesson button outputs HTML"
If you complete a lesson (without a quiz), the next lesson button in the success message outputs html instead of displaying the link:
![image](https://cloud.githubusercontent.com/assets/1990037/19390119/a3f35e8a-921e-11e6-9bf8-cf03ef3f4bf8.png)

[2016-10-14 14:22] danjjohnson commented on #1527
@rachelsquirrel I can't replicate this in v1.9.7. Would you mind testing again when you get chance?

[2016-10-14 14:42] danjjohnson commented on #1475
In further testing, it doesn't seem to be limited to category questions. The same thing happened when I just added 2 multiple choice questions manually to a quiz.

Reminder: it only happens the first time you save the quiz, if you reset and save again it works properly.

[2016-10-14 14:43] danjjohnson commented on #1475
Seems to be the same issue as https://github.com/Automattic/sensei/issues/1506

[2016-10-14 14:45] danjjohnson commented on #1475
479616-zd-woothemes

[2016-10-14 17:57] rachelsquirrel commented on #1527
Just tested with v1.9.7 and it works!

[2016-10-17 10:11] danjjohnson commented on #1527
Thanks @rachelsquirrel closing this issue then and will follow up with the affected user :)

[2016-10-17 10:11] #1527 closed

[2016-10-17 13:50] jeherve commented on #1591
Came here to report the same thing. It appears to be caused by https://github.com/Automattic/sensei/commit/2cafa39217e6613338b3c16a4e86741ef1722f4d#diff-13aafd4aa94b68d0038331ecdc377fafR3943

cc @SiR-DanieL

[2016-10-17 17:26] annezazuu opened #1592 "Randomizing quiz questions from pool takes all questions into scoring"
Problem: for quizzes randomizing questions from a pool of questions, the scoring is thrown off because all questions from the people are taken into account rather than just the ones appearing on the quiz.

**To replicate:**
1) Set up a test lesson with a quiz that pulls in 2 questions from a category containing 3 questions

2) Select the option to randomize questions and to show 2 questions http:/

[2016-10-17 19:21] contemplate commented on #1373
I'm seeing a similar issue in the error logs:  PHP Fatal error: Call to a member function get_type() on a non-object in /wp-content/plugins/woothemes-sensei/includes/class-sensei-course.php on line 1151

I'm wondering if this line:
`if ( in_array( $product->get_type(), array( 'variable-subscription', 'variable' ) ) ) {
`
needs to be:
`if ( is_object( $product ) && in_array( $product->get_type(), a

[2016-10-18 13:23] #1591 closed

[2016-10-18 23:00] annezazuu opened #1594 "Fatal error caused by class-sensei-admin.php line 1132"
I have two reports of users indicating that the newest released caused a fatal error. The error is essentially this:

`Parse error: syntax error, unexpected '[' in /wp-content/plugins/woothemes-sensei/includes/class-sensei-admin.php on line 1132`

One user reported that commenting out the line caused the site to load once more.

[2016-10-18 23:41] contemplate opened #1595 "wc_get_product() sometimes fails on class-sensei-course.php"
For some of our customers the My Courses page shows a white screen of death.

I trace the issue to this error.
PHP Fatal error: Call to a member function get_type() on a non-object in /wp-content/plugins/woothemes-sensei/includes/class-sensei-course.php on line 1147

I added the following check above line 1147 to correct the issue:
`
if ( !is_object( $product ) ){
      return array();
}
`

[2016-10-19 01:18] PDowney opened #1596 "Quiz graded when saved at less than 50% answered"
I just had a learner encounter a strange bug I believe. I have a lesson with 60 multiple choice questions. According to the student, they hit the save button after answering 27 out of 60 questions. When they did so, Sensei graded the quiz and passed them with an 85% (they got 3 questions wrong). I'm sure it's entirely possible that they hit the submit quiz button instead of save, but the result is

[2016-10-19 03:53] lvnilesh opened #1597 "Sensei 1.9.8 lesson completion flow issue"
Here is a short video of the issue I see. https://youtu.be/_JpDT1oF9sw I am running this in a dummy test virtual machine. I am using latest master after 1.9.8 git hash 3845e660677286e52ab20d8f592583c61e0d72fb

The issue did not exist in 1.9.5.

For example, this hack does not have this issue

https://github.com/Automattic/sensei/compare/master...beacloudgenius:hack

[2016-10-19 07:33] #1594 closed

[2016-10-19 08:41] pgk opened #1599 "PHP_CodeSniffer Integration"
To ensure code quality and standards we should integrate PHP_CodeSniffer.

[2016-10-19 10:56] #1599 closed

[2016-10-19 13:01] danjjohnson commented on #1597
Thanks @lvnilesh - I can't replicate this on a test site. Can you share the settings for that lesson, and any other information that might help us replicate this?

[2016-10-19 13:27] danjjohnson commented on #1597
@lvnilesh do you have Sensei Content Drip activated? If so can you try deactivating it? I think it may be this issue, or related: https://github.com/woocommerce/sensei-content-drip/issues/92

[2016-10-19 15:30] lvnilesh commented on #1597
Yes drip activated. Let me report test findings after I deactivate drip.

[2016-10-19 15:37] lvnilesh commented on #1597
Yes I deactivate drip and this issue disappeared. So the real issue seems to be with drip https://github.com/woocommerce/sensei-content-drip/issues/92 not core sensei.

[2016-10-20 07:49] danjjohnson commented on #1588
@pgk would we be able to add the `<source>` tag to the whitelist?
http://www.w3schools.com/TAGS/tag_source.asp

472422-zd-woothemes

[2016-10-20 11:52] kjtolsma commented on #1544
That's another problem indeed. But still, shouldn't there be a conditional for checking the post type? is_post_type_archive( 'lesson' ) gets "fired" for all queries on that archive. I expect that that trim function gets applied to lessons, not for other post types on that page.

[2016-10-20 22:38] annezazuu commented on #1538
482857-zd-woothemes - user would like to use beta of the next release if this fix is included

[2016-10-21 14:45] annezazuu commented on #1592
Also reported in 482706-zd-sensei

[2016-10-22 15:08] bor0 commented on #1473
Note: To test this, you need to enable `Emails Sent to Teachers: A learner sends a private message to a teacher` under Settings, which is not enabled by default.

[2016-10-22 15:21] bor0 commented on #1473
I just tried this today, and it seems it's redirecting fine at least. The link at:
`You can reply to this message <a href="http://localhost/wordpress/index.php/2016/10/22/a-7/">here</a>` is redirecting to `http://localhost/wordpress/index.php/messages/a-7/` which doesn't throw a 404.

[2016-10-22 16:20] bor0 commented on #1584
Fixed after https://github.com/Automattic/sensei/pull/1459.

[2016-10-22 16:21] #1584 closed

[2016-10-23 14:42] bor0 commented on #1597
Based on the comments above, closing this issue.

[2016-10-23 14:42] #1597 closed

[2016-10-23 16:20] bor0 commented on #1579
Yes, this is an issue. We're passing a whole object to `get_comment` while it expects an ID, so your proposal seems correct.

[2016-10-23 16:40] bor0 commented on #1513
I was able to reproduce this.
Before proposed fix:
<img width="583" alt="screen shot 2016-10-23 at 18 39 50" src="https://cloud.githubusercontent.com/assets/1620929/19627806/22597e2a-9950-11e6-9a58-7058d2363605.png">
After proposed fix:
<img width="588" alt="screen shot 2016-10-23 at 18 40 02" src="https://cloud.githubusercontent.com/assets/1620929/19627807/225b4e44-9950-11e6-9446-6d8c7dd071c0.png

[2016-10-24 07:08] skmohammadi commented on #1595
yes. i have this issue, too.

[2016-10-24 10:17] skmohammadi opened #1608 "Removed learner from Course comeback if see course single page"
Hi. If i **remove** learner (here, me as **Administrator**) form course (is processing) and then **refresh** the course single page, i comeback as learner to the course.

While, if i delete **woocommerce** order and **then** remove learner from courses, this solve issue.
It seems, `sensei_remove_user_from_course()` function do not work correctly!

[2016-10-24 11:36] bor0 commented on #1595
Can you please provide a specific test case for this?

The parts where this function is called are:
`assign_user_to_unassigned_purchased_courses`, `activate_subscription`, `complete_order`, `cancel_order`.

This indicates that a specific action needs to be taken in order to reach `Sensei_Course::get_product_courses` so to reproduce this issue.

[2016-10-24 12:06] bor0 commented on #1505
Investigation shows that this happens right after [this](https://github.com/Automattic/sensei/blob/master/includes/shortcodes/class-sensei-shortcode-user-courses.php#L254) line, i.e. the call to `Sensei_Templates::get_template('loop-course.php');`.

[2016-10-24 12:38] bor0 commented on #1505
Test case:
1. Create a widget according to http://www.wpbeginner.com/wp-tutorials/how-to-create-a-custom-wordpress-widget/
2. Put the code under `sensei/widgets/widget-woothemes-sensei-test.php`.
3. Rename the class to `WooThemes_Sensei_Test_Widget`.
4. Echo `get_the_ID()` under `WooThemes_Sensei_Test_Widget::widget`.
5. Register the widget on the [widget_list](https://github.com/Automattic/sensei

[2016-10-24 16:34] FirstClassCode commented on #1554
+1 as well. This would be very helpful for us.

[2016-10-24 18:45] mclanecreative commented on #1554
I'd love it even if the "grading notes" would show up in the email that goes to participants letting them know their grade. Seems intuitive to be there vs. current placement.

[2016-10-24 22:07] bor0 commented on #1506
Since after applying https://github.com/Automattic/sensei/pull/1455 the issue is not reproducible, can we close this one (and https://github.com/Automattic/sensei/issues/1475) then?

[2016-10-24 22:23] bor0 commented on #1426
The only place where `Please complete the previous %1$s before taking this Quiz/course` appear is in `check_user_permissions`. However, after https://github.com/Automattic/sensei/commit/dff1ea19fa8fece815b3bbcecd789d7f7442cddb we're no longer using `check_user_permissions` in the codebase.

[code]

[2016-10-24 22:50] bor0 commented on #1426
| String | Other file |
| ------ | --------- |
| 'Or %1$s login %2$s to access your purchased courses' | `includes/class-sensei-course.php`, `includes/class-sensei-wc.php` |
| 'Please complete the previous %1$s before taking this Quiz.' |
| 'Please complete the previous %1$s before taking this course.' |
| 'Please purchase the %1$s before starting this Lesson.' |
| 'Please purchase the %1$s before

[2016-10-24 23:48] bor0 commented on #1326
While working on https://github.com/Automattic/sensei/issues/1426, I tested this on the way and I couldn't reproduce. For a lesson that has a prerequisite, this is shown:
<img width="774" alt="screen shot 2016-10-25 at 01 48 31" src="https://cloud.githubusercontent.com/assets/1620929/19668032/26916420-9a55-11e6-8e32-2fd126a3f0cb.png">

[2016-10-25 18:46] bor0 commented on #1493
I wasn't able to reproduce the `Certificate Template` part. It was working fine on latest master:
<img width="560" alt="screen shot 2016-10-25 at 20 45 50" src="https://cloud.githubusercontent.com/assets/1620929/19699560/17c00664-9af4-11e6-9b43-ced27d4799ba.png">

Before/after Update:
<img width="307" alt="screen shot 2016-10-25 at 20 45 54" src="https://cloud.githubusercontent.com/assets/1620929/

[2016-10-25 18:58] bor0 commented on #1462
I wasn't able to reproduce either of the issues on latest master.

Define a page that uses the shortcode:
<img width="395" alt="screen shot 2016-10-25 at 20 57 14" src="https://cloud.githubusercontent.com/assets/1620929/19699989/bb8cdf5a-9af5-11e6-8cb4-2d742ac9cb95.png">
It displays properly:
<img width="553" alt="screen shot 2016-10-25 at 20 57 19" src="https://cloud.githubusercontent.com/assets/

[2016-10-26 08:51] yciabaud opened #1613 "Allow usage of custom HTML in video embed code"
I am using a custom video player using a shortcode in my lessons and it outputs some advanced HTML to bring a videojs player. Since a sensei update, the code is filtered and the video is not working anymore.
Even the `source` tag is filtered!

Is there a way to allow my code in `wp_kses` ? I made a quick fix in
[class-sensei-frontend.php](https://github.com/Automattic/sensei/blob/master/includes/c

[2016-10-26 12:21] bor0 commented on #1441
I wasn't able to reproduce this on latest master.

Screenshot based for an existing user (trying the quiz multiple times by removing them and re-adding them):
<img width="311" alt="screen shot 2016-10-26 at 14 16 17" src="https://cloud.githubusercontent.com/assets/1620929/19725698/4c171d6a-9b87-11e6-8008-a6524ae677fa.png">

Screenshot based on a new user (first time doing quiz):
<img width="812" a

[2016-10-27 12:45] bor0 commented on #1444
There are a bunch of other CSS errors as well. I used this script:
[code]

And then:
`boro@bor0:~/dev/sensei$ find ./assets -name '*.css' -exec node check-css.js {} \;`

The results are as follows:
[code]

However, we can exclude the `select2` fixes, since it's a third party library. I will work on a PR to address the rest.

[2016-10-28 17:15] bor0 commented on #1248
@danjjohnson, can you please provide more information as to why this is something we want to do? Also, where is `wc_get_order` defined?

[2016-10-28 17:23] bor0 commented on #1466
We already have the class `WooThemes_Sensei_Email_Learner_Completed_Course` for this issue, or am I missing something?

[2016-10-30 14:23] lkraav commented on #1326
Wrt #1612 what is supposed to be displayed on the Lesson page about any Course level pre-requisites?

[2016-10-30 22:36] annezazuu opened #1616 "Create timer as part of quizzes"
Mentioned in zd-485500-sensei. It would be neat to have a timer for the quizzes within sensei.

[2016-10-31 12:44] bor0 commented on #1578
I tested this, it looks good.

Before patch:
<img width="347" alt="screen shot 2016-10-31 at 13 44 21" src="https://cloud.githubusercontent.com/assets/1620929/19854611/2ae5f890-9f70-11e6-8fbb-b38fdf4ba646.png">

After patch:
<img width="254" alt="screen shot 2016-10-31 at 13 44 29" src="https://cloud.githubusercontent.com/assets/1620929/19854612/2ae6a24a-9f70-11e6-9e9c-374d688279ed.png">

[2016-11-01 04:01] contemplate commented on #1595
I had to re-apply this patch to the latest upgrade as it was giving the same white screen to some users who purchased a course.

Not sure what you mean by specific use case.   A user purchases a course through WooCommerce. The purchase goes smoothly.   Then when the user navigates to their My Courses list/page there is a white screen and it produces the error above in the logs.  This is only for a

[2016-11-01 13:28] bor0 commented on #1544
Duplicate of #1573. Already offered here https://github.com/Automattic/sensei/commit/94b63dab62669f7ff719d3ebde58fee0e2785b1a.

[2016-11-01 13:32] bor0 commented on #1595
So we still don't know how to reproduce it from the UI. I understand the explanation of the part that `wc_get_product` may not return an object, but I was curious how to reproduce this before just pushing a PR to fix the issue just to provide defensive code.

[2016-11-01 13:51] contemplate commented on #1595
Yes I totally understand.  I'm not sure how to reproduce it myself.  I have only been able to observer it by switching to the user's account using this: https://wordpress.org/plugins/user-switching/  but not sure what is different about these user's order that would cause this.

[2016-11-01 13:52] bor0 commented on #1595
@contemplate, I noticed that in some places we have defensive coding around `wc_get_product`, and in some not. So if we can't reproduce it, we can at least be consistent and add defensive coding everywhere :)

PR posted here: https://github.com/Automattic/sensei/issues/1618

Thank you!

[2016-11-01 14:12] bor0 commented on #1563
Given that both `email address` and `username` are unique, I'm fine with going for `email address` since it is more user-friendly than just showing the `username`.

[2016-11-01 20:29] visionistics commented on #1563
Agreed!  ANYTHING that adds a unique field to the reports (and subsequent exports) would solve a huge problem.

[2016-11-01 22:27] annezazuu commented on #1616
Another idea along the same lines -  time spent by a user on a page

[2016-11-02 04:21] PDowney commented on #1596
This is now the second verified instance that I have of a learner taking a 60 question exam and saving the course, only to have it graded as complete. I'm looking at an exam score that reads: Grade: 23 / 28 (82.14%). Yet, this lesson has 60 multiple choice questions assigned to it.

This student is the same deal, they saved roughly halfway through the exam, only to have Sensei grade it as complete

[2016-11-02 08:14] pgk opened #1621 "Only consider published lessons when calculating completion percentages"
`Sensei_utils::user_complete_course` calculates completion percentages based on published and draft lessons. This can lead to problems when users add draft lessons *after* publishing the course and users already taking/completing it.

We should only use published lessons on those calculations.

[2016-11-03 03:37] annezazuu commented on #1506
cc @pgk  to look at this :)

[2016-11-03 09:50] pgk opened #1622 "Errors When Checking if a Course is in Cart"
Woocommerce creates the cart object only if we are not admin. We should take this into account when we are accessing it in Sensei_WC.

see also: https://github.com/woocommerce/woocommerce/blob/master/woocommerce.php#L345

[2016-11-03 09:51] pgk commented on #1622
zd-woothemes-485402

[2016-11-03 13:46] bor0 commented on #1583
The issue here is that we're first constructing the query [here](https://github.com/Automattic/sensei/blob/master/includes/class-sensei-analysis-overview-list-table.php#L178) (along with the `orderby`).

But then [here](https://github.com/Automattic/sensei/blob/master/includes/class-sensei-analysis-overview-list-table.php#L434-L439) we're appending `active_courses` after the sorting has already be

[2016-11-03 14:31] davoraltman commented on #966
One more request in 489216-zd. Reopening the issue so it can be considered for future releases.

[2016-11-03 14:41] bor0 commented on #1583
The PR I proposed will fix the issue for `Learners` only. If it gets accepted, we can apply the similar solution to `case 'courses'` and `case 'lessons'` of `Sensei_Analysis_Overview_List_Table::get_row_data`.

[2016-11-03 21:57] brianjohnsondesign opened #1625 "Wistia Script Video Embeds Broken in 1.9.9"
I suspect this became an issue in 1.9.8 but I'm seeing it in the newest version. Wistia script embeds do not work when added to the "Video Embed Code" section of a lesson. No html is generated at all.

Example of this code:

<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relativ

[2016-11-04 09:03] manlioma opened #1626 "Use same Module in different Course"
Why the Modules are not linking Lessons between different course?

I imagine to have 1 block of lessons  (Module) that I can include in 1 or different courses.

In this way I don't have to duplicate lessons, but with Module I can organize better all contents.

Is it possible?

[2016-11-04 13:30] lisaleague commented on #1626
How this currently works in Sensei (and some other LMS's I've used that track scoring and course completion)

Modules can be used across different courses. You can select which in /wp-admin/edit-tags.php?taxonomy=module then click on the module to edit and select which used in.

Lessons are unique to each course and are not shared between courses, but you can duplicate them. I believe this is nece

[2016-11-04 13:40] lisaleague commented on #1616
@annezazuu Try this customization I have and how it would work for this https://www.qpractice.com/shop/free-ncidq-practice-test/

[2016-11-04 13:44] manlioma commented on #1626
Thank you, but if Modules doesn't contain lessons not has sense to use them in other course.
Sorry I studied very well the plugin, but I think this is a big bug. And is not a good solution duplicate lessons. I hope you're solve this in future.

[2016-11-04 14:31] lisaleague commented on #1626
@manlioma I don't represent Woo/Automatic or Sensei, just letting you know how it works. I'm going to say this is by design not a bug, because if lessons were shared between courses, a user marking one as complete would be affecting more than one course in their progress/score/grade/content blocking.  Perhaps @RiaanKnoetze or @danjjohnson can weigh in.

[2016-11-05 16:14] bor0 commented on #1625
I believe this is caused by the security fixes https://github.com/Automattic/sensei/pull/1555, and probably for a good reason.

The fix for this is very simple, i.e. we need to append the following code block [here](https://github.com/Automattic/sensei/blob/master/includes/class-sensei-wp-kses.php#L34):
[code]

@pgk, any concerns regarding having this?

[2016-11-05 18:09] bor0 commented on #1613
Related to https://github.com/Automattic/sensei/issues/1625.

[2016-11-05 18:10] bor0 commented on #1625
Since there is another related issue, perhaps we can add an option in the Settings panel to skip filtering HTML in video embeds?

[2016-11-07 14:10] pgk opened #1628 "Notice when saving Quiz Answers"
` Notice: Trying to get property of non-object in /vagrant/content/plugins/woothemes-sensei/includes/class-sensei-quiz.php on line 589
Call Stack`

`update_comment_meta( $user_lesson_status->comment_ID, 'questions_asked', $questions_asked_string );` user_lesson_status is null

[2016-11-07 15:39] ValueBerry commented on #1613
We're in a similar situation; we use a block of code for our videos that includes several divs, an iframe, and a script element, and this update blew our videos out of the water.

[2016-11-07 16:11] pgk opened #1629 "Guard against division by zero when a course has 0 lessons"
When viewing learner analysis for courses that have 0 lessons, division by zero is triggered

Warning: Division by zero in /vagrant/content/plugins/woothemes-sensei/includes/class-sensei-utils.php on line 1558

[2016-11-07 19:21] bor0 commented on #1628
Looks like duplicate of https://github.com/Automattic/sensei/issues/1579. Should be addressed there.

[2016-11-08 12:00] pgk commented on #1628
Closed as duplicate

[2016-11-08 12:00] #1628 closed

[2016-11-08 12:02] #1579 closed

[2016-11-09 15:03] danjjohnson commented on #1417
Reopening this as there's still an issue here. Following the steps in the original post, steps 1-4 are the same. In step 5, when you go to Learner Management, the user is assigned to the course.

In order for the course to appear in My Courses, either the learner has to visit the course page, or the admin has to mark the order complete. Possibly related to https://github.com/Automattic/sensei/issu

[2016-11-09 15:07] danjjohnson commented on #1314
Reopening this as the issue seems to be back. Courses linked to subscriptions can still be accessed when the subscription is on-hold, cancelled, or expired.

[2016-11-09 15:39] wcerfgba opened #1632 "Check for author when setting course lessons author prevents setting lesson quiz authors"
On [line 468 of class-sensei-teacher.php](https://github.com/Automattic/sensei/blob/master/includes/class-sensei-teacher.php#L468) in `update_course_lessons_author`, there is a check to that prevents updating the lesson author if it is the same as the new author:
[code]
However, further down there is the code to update the authors of the lesson quizzes. This check assumes that the quiz authors wil

[2016-11-09 16:13] danjjohnson opened #1633 "Quiz saved message shows when completing a quiz"
If you complete a quiz, it shows the message "Quiz saved successfully":

![image](https://cloud.githubusercontent.com/assets/1990037/20145269/5ab64a9c-a697-11e6-84c5-fc2e09ae85b5.png)

That should only be shown if the quiz is saved (not completed) using the "Save quiz" button.

[2016-11-09 18:11] chaselivingston commented on #1475
489661-zd-woothemes

[2016-11-09 19:21] bor0 commented on #1608
I wasn't able to reproduce this on latest master.
Steps used:
1. Start taking a course in tab 1, and leave that tab open
2. Remove yourself from the course in tab 2
3. Go back to tab 1 and press Refresh
Expected = Actual: Not taking the course but have the option to take it.
<img width="248" alt="screen shot 2016-11-09 at 20 20 41" src="https://cloud.githubusercontent.com/assets/1620929/20151323/0

[2016-11-09 21:08] annezazuu commented on #1475
490702-zd-sensei

[2016-11-09 21:49] annezazuu commented on #1485
@pgk  any work being done on this? User is asking for an update :)

[2016-11-09 23:33] bor0 commented on #1485
I wasn't able to reproduce this on latest master.

Test case:
1. Create a course with one lesson and quiz.
2. Start taking the course, and complete the quiz (and thus the lesson and the course).
3. Duplicate the course (with lessons).
4. Publish the duplicated course and lesson.
5. Navigate to the duplicated course.
<img width="237" alt="screen shot 2016-11-10 at 00 29 33" src="https://cloud.githu

[2016-11-10 21:52] davoraltman commented on #1485
Thanks! I asked the user to update Sensei to the latest version and to let us know whether the issue has been resolved on their side, too.

[2016-11-10 22:01] jeffreyeric commented on #1626
I understand the is probably a programming logistical nightmare but, I too, would love the ability to create a single set of lessons and use them in multiple modules and courses.

I have a client at the moment who's product structure looks like this.

Each course is linked to a woosubscription product.

Depending on another criteria would determine which subscription you would sign up for. (in her

[2016-11-11 07:38] danjjohnson opened #1635 "Lesson order attribute is confusing"
Having the Order attribute in Lessons is confusing when we also have the Lessons > Order Lessons screen, and it's not clear which one has priority over the order of the lessons.

Suggest removing/hiding the Order attribute from the Lesson Edit UI, unless there's good reason for it to be there.

490215-zd-woothemes

[2016-11-11 07:54] danjjohnson commented on #1626
@lisaleague is right, this is not a bug, it is by design.

When you assign a module to more than one course, all it does is adds a module with the same name to each course. The lessons must be added independently. Each lesson currently belongs to a single course, and if we allowed lessons to be used in multiple courses, as mentioned, it would affect grading/progress in multiple courses too.

I'll

[2016-11-11 08:46] manlioma commented on #1626
I absolutely agree with @jeffreyeric, I know that this is a Design but the problem remains.
In actually design allowing lessons in multiple courses would affect grading/progress of students.
But we can imagine a new version where I don't have to duplicate a big number of lessons, as @jeffreyeric examples.

[2016-11-11 19:33] bor0 commented on #1202
@danjjohnson can we conclude the acceptance criteria for this item?

1. Enable SSO (need to investigate the possibility of this)
2. Uses should be able to register by supplying Username and Email address only (and Email is sent with a password), as opposed to providing a password as well.

[2016-11-11 19:46] bor0 commented on #1202
Actually, on a second thought, I still don't understand how we can implement this.

If we send them an e-mail with a link to reset a password, we still have the problem in #1603, i.e. we can't redirect them to `my-courses`.

What we can do is instead send them an e-mail with a link of the password generated for them, will that work?

[2016-11-12 16:16] bor0 opened #1638 "Menu collapses on Messages"
When navigating to Sensei > Messages, the Sensei menu collapses, like this:
<img width="573" alt="screen shot 2016-11-12 at 17 14 51" src="https://cloud.githubusercontent.com/assets/1620929/20239204/8f5a7a0a-a8fb-11e6-9f1a-96454e1c61c8.png">

Instead, it should behave consistently with the other items, like this:
<img width="572" alt="screen shot 2016-11-12 at 17 15 00" src="https://cloud.githubus

[2016-11-12 16:20] bor0 commented on #1638
The problem is that we're incorrectly setting `show_in_menu` to `admin.php?page=sensei` [here](https://github.com/Automattic/sensei/blob/master/includes/class-sensei-posttypes.php#L377), but that causes issues with [this](https://github.com/Automattic/sensei/blob/master/includes/class-sensei-admin.php#L155) where we set `parent_file = sensei`, and then the check at `wp-admin/menu-header.php::_wp_m

[2016-11-12 16:36] lisaleague commented on #1626
@manlioma  you can do this instead with posts, pages, or CPTs and WooCommerce Memberships. You can reused content in different memberships.

[2016-11-14 04:05] ryancastlenz commented on #1554
+1 for me please. This would be so helpful.

[2016-11-14 11:04] krivinarius commented on #1471
sensei_simple_course_price() checks if the product is not in cart to show the price.
It makes sense to have the price printed until the product has been purchased.

I will push a fix for this but I don't want to break some other functionality.
Can anyone please explain why is it like this in the first place.

[2016-11-14 13:39] bor0 commented on #1202
We discussed this with @danjjohnson internally, and here's what we decided:
1. We will be adding a Password Strength option, as is done similarly here: ![screen_shot_2016-11-14_at_12 34 49](https://cloud.githubusercontent.com/assets/1620929/20266788/0767842a-aa78-11e6-847c-1fdf419fc3cc.png)
2. We will be adding an option "Automatically generate user password"
- If enabled, when users are going thr

[2016-11-14 16:30] davoraltman commented on #1592
493521-zd-sensei

[2016-11-14 16:55] davoraltman opened #1641 "Teacher not able to see the graded quizzes"
When logged in as a teacher, the graded quizzes count just shows "0" graded quizzes (even if the quiz was graded by the same teacher).

![screen shot 2016-11-14 at 16 46 42](https://cloud.githubusercontent.com/assets/10340370/20273880/35b20128-aa93-11e6-9def-43b8ed65a2b2.png)

As an admin, the graded and ungraded quizzes count is displayed normally.

Reported in 487854-zd-woothemes

[2016-11-14 18:58] lisaleague commented on #1202
+1 for Automatically generate user password option

[2016-11-15 05:31] skmohammadi opened #1642 "Sensei Course Category 404 not found"
Hi. There is problem in Course Category page, it show 404 not found message.

[2016-11-16 12:53] danjjohnson commented on #1314
486201-zd-woothemes

[2016-11-16 12:53] danjjohnson commented on #1417
486201-zd-woothemes

[2016-11-17 17:05] bor0 commented on #1642
I wasn't able to reproduce this on latest master. Which version have you tried?

1. Course categories main page (admin)
<img width="571" alt="screen shot 2016-11-17 at 18 04 11" src="https://cloud.githubusercontent.com/assets/1620929/20399181/4f2774a8-acf0-11e6-8c75-7de51b9c6bed.png">
2. Editing course category (admin)
<img width="315" alt="screen shot 2016-11-17 at 18 04 07" src="https://cloud.gi

[2016-11-17 17:31] bor0 commented on #1641
The code at `Sensei_Teacher::limit_grading_totals` [here](https://github.com/Automattic/sensei/blob/master/includes/class-sensei-teacher.php#L741) is incorrectly using quizzes' id, instead of the lesson id.

The SQL generated afterwards by `Sensei_Grading::count_statuses` [here](https://github.com/Automattic/sensei/blob/master/includes/class-sensei-grading.php#L385) is trying to find posts in `wp_

[2016-11-18 15:20] pgk commented on #1625
should be fixed by #1631

[2016-11-18 15:20] #1625 closed

[2016-11-18 15:20] pgk commented on #1613
should be fixed in #1631

[2016-11-18 15:20] #1613 closed

[2016-11-18 16:18] brianjohnsondesign commented on #1625
Certainly looks like it will do the trick! How do I know when this feature
will be included in an official release of Sensei? I'm not expert in Github
so I'm struggling to figure that out!

On Fri, Nov 18, 2016 at 9:20 AM, Panos Kountanis <notifications@github.com>
wrote:

--
Brian Johnson
*Brian Johnson Design*
*brianjohnsondesign.com <http://brianjohnsondesign.com>*
952-457-4746
Blog <http://blo

[2016-11-18 18:09] #1621 closed

[2016-11-18 18:12] #1622 closed

[2016-11-21 14:59] danjjohnson opened #1645 "Featured course filter gives 404 on home page"
If you set your Courses page as the static front page, and then view the page and click the "Featured" filter, it gives a 404 error.

Same result whether there are featured courses or not.

494348-zd-woothemes

[2016-11-22 13:54] dougaitken commented on #1454
494916-zd-woothemes

[2016-11-22 15:40] danjjohnson opened #1647 "Answer feedback displayed when reset enabled"
According to this [flowchart](https://docs.woocommerce.com/document/sensei-quiz-settings-flowchart/), if a quiz is not passed, answer feedback should only be displayed if quiz reset is disabled.

That's not how it's working currently:

1. Create a quiz with a passmark, auto-graded, and reset enabled.
2. Take the quiz and fail it.

Answer feedback shouldn't be displayed, but it is.

495576-zd-wooth

[2016-11-22 16:17] bor0 commented on #1647
I was not able to reproduce this on latest master.

Case 1: Quiz reset disabled
<img width="725" alt="screen shot 2016-11-22 at 17 16 03" src="https://cloud.githubusercontent.com/assets/1620929/20531540/632dacac-b0d7-11e6-8b76-171c8afbab4d.png">
<img width="792" alt="screen shot 2016-11-22 at 17 16 08" src="https://cloud.githubusercontent.com/assets/1620929/20531541/63500f72-b0d7-11e6-994c-6feca63

[2016-11-22 16:46] csobiono commented on #1647
Hi guys. You're testing on "wrong message". What we're having a problem with is the Answer Feedback. The one you put right below the list of right and wrong, that one. That shouldn't appear if we enabled reset quiz, right? But it still appears. In its pretty blue box. That shouldn't be the case. If the student is not passed yet, that blue answer feedback box should not appear.

[2016-11-22 18:06] bor0 opened #1648 "Update documentation for minimum WP version supported"
We should update the `README.md`, or `woothemes-sensei.php`, or both to reflect the minimum stable WP version that Sensei and related plugins will work fine with.

If most of the testings are done using WP 4.6.1, we need to use that version as the least one in [here](https://github.com/Automattic/sensei/blob/master/woothemes-sensei.php#L10).

For example, in an older version, @danjjohnson had [thi

[2016-11-22 18:10] bor0 commented on #1647
Thanks @danjjohnson. Was able to reproduce it now.

[2016-11-22 18:20] bor0 commented on #1647
To summarize, per that flowchart the quiz answer feedback should appear:
1. If quiz is passed (regardless of reset disabled/enabled).
2. If quiz is NOT passed AND reset is disabled.

[2016-11-23 11:57] madeincosmos commented on #1501
Similar problem reported here: 497146-zd-woothemes

Protecting a course in membership plan doesn't protect all of its lessons.

[2016-11-23 11:57] madeincosmos commented on #1525
Similar problem reported here: 497146-zd-woothemes

Protecting a course in membership plan doesn't protect all of its lessons.

[2016-11-23 12:54] #1629 closed

[2016-11-23 14:08] #1426 closed

[2016-11-23 14:24] pgk commented on #1438
https://github.com/Automattic/sensei/pull/1502 has been merged, this should be resolved by that one, closing this for now but feel free to reopen if there is still a problem

[2016-11-23 14:24] #1438 closed

[2016-11-24 05:04] annezazuu commented on #1416
Also mentioned here 497018-zd-sensei

[2016-11-24 05:23] annezazuu opened #1650 "Improve Breadcrumb Links for Lessons"
Reported in 497273-zd-sensei. To replicate:

1) Create 2 courses each with 1 lesson
2) Activate/use a theme like storefront where you can see breadcrumbs
3) View one of the lessons in one of the courses
4) Click on the breadcrumb "Lesson" after viewing and you'll be taken to all of the lessons for all courses

Video replicating this on my test site:

https://cloudup.com/cS1fb-PW3Yk

[2016-11-24 05:37] annezazuu opened #1651 "Improve private messaging previews"
Right now, if a message from a learner to a teacher surpasses a certain number of words it shows as [...]  on the /messages page. This results in you being unable to see your full question:

<img width="852" alt="screen shot 2016-11-23 at 9 36 01 pm" src="https://cloud.githubusercontent.com/assets/11266471/20587752/de01eeb4-b1c4-11e6-99a4-bf2d445f9f2f.png">

It appears that might be due to this li

[2016-11-24 08:13] danjjohnson opened #1652 "Learners can't delete free courses"
On the My Courses page, under active courses, there used to be a "Delete Course" button so that learners could remove themselves from free courses. This is no longer present.

We [fixed an issue a while back](https://github.com/Automattic/sensei/issues/688) that was showing the button on paid courses too, but it should still show for free courses.

498060-zd-woothemes

[2016-11-24 11:43] lisaleague commented on #1652
I think the site admin should have an option to control this ability in settings - I had customers accidentally delete their paid courses several times where I had to go back and re add in learner management. I display:none'd the button in the past for a quick fix to save me the hassle.
If we bundle free with paid courses, I'd like to have an option to not show on free and set expires in Membershi

[2016-11-24 15:17] #1538 closed

[2016-11-24 15:31] #1633 closed

[2016-11-24 15:44] pgk commented on #1475
@danjjohnson Can reproduce too.

[2016-11-24 20:26] ntpixels commented on #1506
498645-zd-woothemes

[2016-11-25 13:10] pgk commented on #1592
@annezazuu @davoraltman I tested using #1653 and it is solved, can you verify this too?

[2016-11-28 09:23] danjjohnson commented on #1421
Pagination still not working when course archive page is set to front page.

[2016-11-28 10:32] pgk commented on #1506
@FirstClassCode #1653  this is addressed in #1653

[2016-11-28 10:51] pgk commented on #1441
I can't reproduce either with latest master.
![quiz_correctly_graded](https://cloud.githubusercontent.com/assets/500744/20665718/529341ea-b569-11e6-947d-4c99ec228122.jpg)

Marking this as closed.

[2016-11-28 10:51] #1441 closed

[2016-11-28 11:14] pgk commented on #1462
I can't reproduce either. Closing for now

[2016-11-28 11:14] #1462 closed

[2016-11-28 11:24] pgk commented on #1326
Can't reproduce either. Closing this for now

[2016-11-28 11:24] #1326 closed

[2016-11-28 13:09] pgk commented on #1314
@danjjohnson Can't reproduce. Steps taken

* Created a new WC Product with a subscription
* Created a course for that product

As a subscriber

* Subscriber: Purchased the product
* Subscriber: Verify I can access active Subscription
* Admin: Put Subscription on hold
* Subscriber: I am no longer able to access the course content
* Admin: Cancel Subscription
* Subscriber: I am still not able to acc

[2016-11-28 23:31] lamdayap commented on #359
495716-zd-woothemes

[2016-11-29 04:27] TheBankTrader commented on #1501
Having the same problem and also read about it in a review blog yesterday. Memberships ads virtually no restrictions on courses. Even when linking a course to a product that is restricted to a certain membership, the course can still be taken by any member.

[2016-11-29 04:36] lamdayap opened #1654 "Quiz - Pressing the enter key completes the quiz"
When taking a quiz and you have a question selected, hitting the enter/return key will submit your answers. This can cause users to accidentally prematurely complete the quiz.

It would be good to add an option to inhibit the enter key when pressed on a question that doesn't require multiple line responses.

[2016-11-29 04:47] lamdayap commented on #1475
497483-zd-sensei

[2016-11-29 21:47] enlightenedpie opened #1655 "Deleting Woocommerce orders tied to a course throws fatal error"
Fatal error: Call to a member function get_type() on boolean in /wp-content/plugins/woothemes-sensei/includes/class-sensei-wc.php on line 925

Could be related to #1314 as that's an issue I reported within the past couple of weeks.

[2016-11-30 10:11] nb commented on #1648
There are a lot of Sensei users on older WordPress versions, I think we should make sure the plugins works for them unless there is some crucial functionality we need from newer versions.

[2016-11-30 10:11] #1648 closed

[2016-11-30 16:03] mattalberon opened #1656 "Call to a member function get_type() on a non-object"
ErrorException

Call to a member function get_type() on a non-object

www/wp-content/plugins/woothemes-sensei/includes/class-sensei-course.php in handleFatalError at line 1129

[code]

[2016-12-01 17:31] danjjohnson opened #1657 "My Courses Pagination broken"
There is a "My Courses Pagination" setting in Sensei > Settings, which should control the number of courses output on each page of the My Courses page.

I have this set to 20:

![image](https://cloud.githubusercontent.com/assets/1990037/20804494/0b3782dc-b7eb-11e6-9af3-081f7b83f3fe.png)

I have 12 active and 7 completed courses.

![image](https://cloud.githubusercontent.com/assets/1990037/20804488

[2016-12-01 17:32] danjjohnson commented on #1657
User in 496645-zd-woothemes has the same issue, but their page shows 9 courses on each page (pagination set to 20).

[2016-12-02 09:55] jobthomas commented on #970
I can vouch for that. I've tested it several times on our internal learning tool at A8C and it leaves a bit of a strange impression when completing the final lesson/quiz that no indication is given that the course is completed.

[2016-12-05 06:40] eeppo commented on #1520
Hi, I made a hotfix for this bug for myself.
This checks if there is thrive conten in the post meta so it will return the content on that occasion. The problem here is that if there is content in the WP editor then that content wont be shown at all.
In our case this is not an issue.

`function vkk_tcb_double_content_fix($content) {
  if ( !get_post_meta( get_the_ID(), 'tve_save_post', true ) ) {

[2016-12-05 11:44] danjjohnson opened #1659 "Remove student uploads from public media library"
Currently all files uploaded by learners as quiz answers, are stored in the media library, so they are publicly accessible by the direct link.

We should come up with a way to hide these files from the media library and prevent them from being publicly accessed.

501931-zd-woothemes

[2016-12-05 14:19] #1475 closed

[2016-12-05 14:20] #1506 closed

[2016-12-05 14:21] pgk commented on #1592
Closed on #1653

[2016-12-05 14:21] #1592 closed

[2016-12-05 15:23] lkraav commented on #1578
Do we know which commit broke it?

[2016-12-05 18:40] jessepearson commented on #1655
Issue also referenced in 502666-zd-woothemes . System Status Report in ticket showed Sensei 1.9.6 was being used, I asked user to update to 1.9.9 to see if it resolves the issue.

[2016-12-05 22:21] lkraav commented on #1578
But all in all, this PR looks in line with the existing structure, so could serve as a solid hold-me-over if a bigger refactoring is planned for later.

[2016-12-05 22:35] lkraav commented on #1578
The only suggestion might be to convert the default output to a `<div>` so empty elements wouldn't affect layout (`<p>` always has default stylings), and run the description value through core term description content filtering machine.

[2016-12-05 22:37] lkraav opened #1660 "WP 4.7: `wp_kses_js_entities()` is deprecated since version 4.7.0 with no alternative available."
Call stack:

[code]

[2016-12-06 06:39] jeffmcneill commented on #359
What's the suggested work around on this? We have courses but there are variations (each is a different course start date). It can only be associated with a single variation. That is fine for the nearest upcoming course, but in the future how do I allow past attendees to have ongoing access?

[2016-12-06 10:03] AaronSoap opened #1661 "Course looses modules when saving."
Hey,

I have a whole bunch of courses set up with lessons and such. I needed to change the teacher of a collection of them but the problem is, when you do that the course looses all the modules that were selected.

The problem seem intermittent, but I am changing the teacher from an admin, to an admin and it unselects all the modules.

I discovered it on 1.9.9 and checked out master tried on there

[2016-12-06 11:11] AaronSoap commented on #1661
Hey,

So after a bunch of testing I came across the file:

https://github.com/Automattic/sensei/blob/master/includes/class-sensei-teacher.php#L426

While stepping through, $term_id is exactly the same as $term->ID.

This means when the wp_remove_object_terms is run it just straight removes the term...

I have wrapped the call as follows:

[code]

And that seems to have fixed the problem. I am goin

[2016-12-06 15:09] danjjohnson commented on #1314
@pgk seems to only apply to variable subs where the course is linked to the parent product.

[2016-12-06 18:16] pgk commented on #1493
@richardmtl able to reproduce both, will fix for WooCommerce Product here. For certificates, the fix has to be part of that plugin repo, not sensei.

[2016-12-06 18:21] pgk commented on #1493
How to test:

1. Create a Teacher user
2. Teacher: create a course
3. Admin: Create a product and assign it to the course. Save
4. Admin: On the course edit page, the product is selected
5. Teacher: edit the course and save it.
6. As Admin: Refresh, On the course edit page, the product is still assigned to the course

[2016-12-07 10:23] #1660 closed

[2016-12-07 11:29] #1493 closed

[2016-12-08 14:33] danjjohnson commented on #1314
Steps to reproduce:

- Create a variable subscription product with 2 variations at different prices
- Create a course and link it to the parent product created above (not one of the variations)

As a subscriber:
- Subscriber: Purchase the course (either variation)
- Subscriber: Verify I can access the course
- Admin: Put subscription on hold
- Subscriber: still able to access course.
- Admin: Canc

[2016-12-08 17:19] danjjohnson opened #1664 "Ensure compatibility with Twenty Seventeen theme"
Add custom wrappers if required.

[2016-12-08 17:30] danjjohnson commented on #1655
@enlightenedpie can you confirm you are using v1.9.9? Updating solved this for the other user mentioned above.

[2016-12-08 17:34] enlightenedpie commented on #1655
Just updated to 1.9.9

Issue seems to be resolved, no more fatal error on order delete.

Thank you so much!

[2016-12-09 14:41] danjjohnson opened #1665 "Fatal error with WordPress 4.7"
Steps to reproduce:

- Update to WordPress 4.7
- Create a new lesson, and assign it to a course containing modules.
- Now assign the lesson to a module and update

You will see a blank screen with:
`Catchable fatal error: Object of class WP_Term could not be converted to string in /srv/www/sensei-master/htdocs/wp-includes/taxonomy.php on line 2285`

[2016-12-09 14:58] danjjohnson commented on #1665
504952-zd-woothemes
505189-zd-woothemes
505235-zd-woothemes
505458-zd-woothemes
505507-zd-woothemes
505889-zd-woothemes

[2016-12-09 14:59] scottwyden commented on #1665
For what it's worth, this happens on WP 4.6 as well.

[2016-12-09 15:02] lisaleague commented on #1665
@scottwyden no issues with lessons/modules in 4.6.1, have you tried that?

[2016-12-09 15:02] scottwyden commented on #1665
It doesn't work with 4.6.1 either

[2016-12-09 15:14] lvnilesh commented on #1665
I repro this exact issue in wp 4.7 but master works at 4.6.1

[2016-12-09 15:17] scottwyden commented on #1665
I'm not even on 4.7 yet and still have the issue (on 4.6.1)

[2016-12-09 15:19] lvnilesh commented on #1665
try master?

[2016-12-09 15:25] scottwyden commented on #1665
If you're referring to the master from github, no I haven't tried it.

[2016-12-09 15:27] lvnilesh commented on #1665
Why worry? Try all things in a staging area first.

[2016-12-09 15:28] #1655 closed

[2016-12-09 15:29] scottwyden commented on #1665
Because staging isn't always a true sign of what will happen. There are other things in play. Many times I've updated Woo/Sensei on staging, and locally, with no problem. But once it hit a live server with caching in play, etc, things broke.  So I'll wait for an official update before seeing if the issue is fixed.

[2016-12-09 15:32] scottwyden commented on #1665
For the hell of it I just tried the master and it still doesn't work for me on 4.6.1.

[2016-12-09 15:38] lvnilesh commented on #1665
You may have other trouble makers installed not just this. Try disabling one plugin at a time and keep narrowing down to isolate.

[2016-12-12 09:42] pgk opened #1667 "Add theme wrapper for Twentyseventeen"

[2016-12-12 10:48] pgk commented on #1665
Can reproduce only for 4.7. Works fine in 4.6.1

[2016-12-12 15:53] nicolasricher opened #1670 "(WP 4.7) Unable to save a lesson once assigned to a module"
Hi there,

I tried to add new lessons to my website but I encountered Error 500 problems everytime I saved my lessons as draft once they were assigned to a module. Whatever module.

No module, no problem.

I tried to deactivate some plugins to check if there was a conflict or not. Nothing.
I rolled back to WordPress 4.6.1 and now it works!

So I guess there's a problem with Sensei 1.9.9 and WP 4.7

[2016-12-12 16:07] pgk commented on #1314
@danjjohnson still can't reproduce this. When the subscription (even a variable subscription to a course assigned to the parent subscription) is on hold, a subscriber can't access course content (although I can view the course title). I am using the latest master branches for sensei and wc-subscriptions.

[2016-12-12 16:37] allendav commented on #970
+1 Same here, and we have at least one recent ticket 504520-zd-woothemes requesting this as well.

[2016-12-12 17:08] pgk commented on #1670
duplicate of https://github.com/Automattic/sensei/issues/1665

[2016-12-12 17:08] #1670 closed

[2016-12-12 17:09] pgk commented on #1664
related to #1667

[2016-12-12 19:20] allendav commented on #1485
The user in 505139-zd-woothemes reports that Sensei 1.9.9 does NOT resolve the problem

[2016-12-12 19:59] allendav opened #1672 "Duplicate course lessons wp-admin vs front-side inconsistencies"
Observed with master. Create a course and add a lesson to it.  From Courses view in wp-admin, choose Duplicate (with lessons).  In wp-admin, the newly created (duplicate) course appears with its newly created (duplicate) lesson:

<img width="1193" alt="screen shot 2016-12-12 at 11 55 35 am" src="https://cloud.githubusercontent.com/assets/1595739/21114489/1e8ec4c4-c062-11e6-801c-4414d09c44e4.png">

[2016-12-13 12:52] Kuzovlev-Sanya opened #1673 "Very serious problem! Students added to courses accidently!"
Yesterday i noticed that on one course, which has long been withdrawn from sale, there were new students who did not purchase it! This is a very serious problem! Began to check out other courses, and it seemed like a random users adding happens with all the courses. The extra students were seen on both free and paid courses! Again, the problem is extremely unpleasant! I have nginx logs and can giv

[2016-12-13 14:13] lvnilesh commented on #1665
👍 Thanks @pgk

[2016-12-13 14:40] danbraun opened #1674 "Possible issue with Wordpress 4.7 and Sensei 1.9.9"
I have found an error that occurs in Sensei after upgrading to version 1.9.9 of the plugin and version 4.7 of Wordpress.

The error happens after updating a "lesson" post WHILE having a "module" selected for that lesson. If the "Lesson Module" drop-down is set to "None", the error will not occur. However, if a module is selected, the error occurs when the page tries to reload after clicking "Updat

[2016-12-13 15:45] lisaleague commented on #1674
Hi Dan, I believe this will be solved with the commit here, re issue https://github.com/Automattic/sensei/issues/1665 - https://github.com/pgk/sensei/commit/d86331f248ef14b3f68d8150a70c92f04bd62d3d
@pgk

[2016-12-13 16:59] danjjohnson commented on #1674
Closing as duplicate.

[2016-12-13 16:59] #1674 closed

[2016-12-13 17:37] #1417 closed

[2016-12-13 17:40] pgk commented on #1501
Closed on #1545

[2016-12-13 20:52] annezazuu commented on #1665
503978-zd-woothemes

[2016-12-13 22:01] annezazuu commented on #1665
507060-zd-woothemes

[2016-12-13 22:03] annezazuu commented on #1665
507762-zd-woothemes

[2016-12-14 01:12] lvnilesh opened #1675 "order courses"
Prev course/Next course Links do not seem to honor menu_order.

https://github.com/Automattic/sensei/issues/1401 if not menu_order, what order does the course archive page actually follow?

[2016-12-14 11:08] danjjohnson commented on #1665
@pgk possibly related error with courses:

- Edit a course
- Select (or add) some modules for the course
- Update the course

I get a blank screen with:

[2016-12-14 11:54] Kuzovlev-Sanya commented on #1673
problem apparently solved, thanks for silence

[2016-12-14 11:54] #1673 closed

[2016-12-14 11:59] #1665 closed

[2016-12-14 16:24] mattalberon opened #1676 "Catchable fatal error on lesson save"
on updating a lesson, I have the following error:

Catchable fatal error: Object of class WP_Term could not be converted to string in www/wp-includes/taxonomy.php on line 2285

Following the call stack I arrived at class-sensei-modules.php / append_teacher_name_to_module. Instead of returning $terms when $args['fields'] == tt_ids, a term object is fetched and returned.

I've removed the append_tea

[2016-12-14 20:17] lvnilesh commented on #1676
Are you using master?

[2016-12-14 20:26] jaydonovan commented on #1676
I just encountered this on a friend's site. It had been working fine.

They were getting it on pretty much any save operations (the save would happen but they'd see a 500 error) and setting a module for a lesson (no save, just error)

Version 1.9.9
Apache 2.4
PHP 5.6.x & 7.0.x - no difference

[2016-12-14 20:32] jaydonovan commented on #1676
Hmm, looks like they shouldn't have updated to 4.7.

[2016-12-14 20:32] lvnilesh commented on #1676
master here has a fix

[2016-12-14 20:33] jaydonovan commented on #1676
Thanks @lvnilesh I'll let them know their choices.

[2016-12-15 03:21] annezazuu commented on #1665
508317-zd-woothemes

[2016-12-15 03:23] annezazuu commented on #1665
508413-zd-woothemes

[2016-12-15 10:38] danjjohnson opened #1677 "Purchased course doesn't show on learner profile"
Test case:
1. In Sensei > Settings, enable learner profiles and "show learner's courses"
2. As a subscriber, purchase a paid course
3. Admin: Make sure order status is 'processing'
4. Subscriber: visit the learner profile page. The course you bought is not listed under active courses.
5. Visit the My Courses page. The course is listed here.
6. Go back to learner profile. The course is now listed.

[2016-12-15 11:01] danjjohnson commented on #1672
This is because the lessons are set to draft when they are duplicated (the assumption being that you will want to edit them before publishing).

That's actually the "previous course" link, it just happens that the original course is also the previous course.

Closing this issue. Please reopen if my assumptions are wrong.

[2016-12-15 11:01] #1672 closed

[2016-12-15 13:26] pgk commented on #1676
Duplicate of #1665

[2016-12-15 13:26] #1676 closed

[2016-12-16 10:25] Thalvik opened #1679 "get_terms filter compability in WP 4.6"
There is a hook to filter get_terms in includes/class-sensei-modules.php on line 110:

`add_filter('get_terms', array( $this, 'append_teacher_name_to_module' ), 70, 3 )`

From version 4.6. of WordPress this filter has new parameter `WP_Term_Query` object. Because of that the saving for lessons is not working, because the function in same file `save_lesson_module` that is calling `wp_set_object_ter

[2016-12-16 11:28] danjjohnson commented on #1679
@Thalvik this should be fixed by https://github.com/Automattic/sensei/pull/1668

Can you confirm?

[2016-12-16 12:56] Thalvik commented on #1679
@danjjohnson - yeap, this fixed it. Closing.

[2016-12-16 12:56] #1679 closed

[2016-12-16 16:25] danjjohnson commented on #1501
@pgk as discussed, the membership message now displays on the single course page when the course is protected by a membership, but only if "Single course page displays" is set to "Course Excerpt" in Sensei Settings:

![image](https://cloud.githubusercontent.com/assets/1990037/21269818/267577f8-c3ac-11e6-9757-0aeff345d523.png)

If it's set to "Full course content" then the message doesn't display:

[2016-12-16 16:27] danjjohnson commented on #1501
Also, the message shows under each lesson on the course page:

![image](https://cloud.githubusercontent.com/assets/1990037/21269904/7a347f74-c3ac-11e6-861e-e5bbbbca7ff9.png)

Maybe we should only display the message for lessons on the single lesson page?

[2016-12-16 16:54] danjjohnson commented on #1501
Auto-assigning a learner to a course when they buy the right membership is now working.

However, if the membership is cancelled, the course still appears in My Courses, and still shows as in progress, because the user is still enrolled in the course, even though they can't access the content.

![image](https://cloud.githubusercontent.com/assets/1990037/21270863/57bb3b0a-c3b0-11e6-9c5a-fadb5fbf9a5

[2016-12-16 17:04] danjjohnson commented on #1537
I still don't see that in the title of the course results page:

![image](https://cloud.githubusercontent.com/assets/1990037/21271146/a7873638-c3b1-11e6-8287-6c27a2657653.png)

Same in Twenty Twelve, Twenty Fourteen and Twenty Sixteen.

[2016-12-16 18:08] danjjohnson commented on #1314
@pgk I found a specific case where I can reproduce this:

- Create a monthly simple (or variable) subscription product with a price of 10 per month and a 1 day free trial.
- Assign the product to a course
- Subscriber: Purchase the course (no payment required due to free trial)
- You should see the course in My Courses
- Go to My Account > Subscriptions, then view and cancel the subscription
- Sta

[2016-12-17 12:46] lisaleague commented on #1501
@danjjohnson I think this makes sense, as their progress would still be there if they repurchase a membership and thus unlock access again.

[2016-12-18 10:18] pgk commented on #1537
@danjohnson this function is used for altering the `<title>` html tag on `<head>`. It works as expected for me.

[2016-12-18 10:18] #1537 closed

[2016-12-18 13:26] pgk commented on #1501
@danjjohnson @lisaleague thanks! With the commits above, users can **never** register for a membership-restricted course (even when "Anyone Can Register" is enabled in Settings -> General).

Additionally, the message displays when courses are set to show "Full course content".

In light of the several slightly-different-but-related issues with memberships and to avoid this becoming a huge feature

[2016-12-18 13:26] #1501 closed

[2016-12-18 18:24] danjjohnson opened #1680 "Memberships message display"
@pgk copying from https://github.com/Automattic/sensei/issues/1501

When a course and lessons are protected by a membership, the memberships message shows under each lesson on the course page:

![image](https://cloud.githubusercontent.com/assets/1990037/21269904/7a347f74-c3ac-11e6-861e-e5bbbbca7ff9.png)

Maybe we should only display the message for lessons on the single lesson page?

[2016-12-18 18:29] danjjohnson opened #1681 "Remove learner from course when membership cancelled?"
@pgk copied from https://github.com/Automattic/sensei/issues/1501

Auto-assigning a learner to a course when they buy the right membership is now working.

However, if the membership is cancelled, the course still appears in My Courses, and still shows as in progress, because the user is still enrolled in the course, even though they can't access the content.

![image](https://cloud.githubusercont

[2016-12-18 18:30] danjjohnson commented on #1537
@pgk ah sorry, I thought it was for the heading on the page :D

[2016-12-18 20:47] DanJohnson commented on #1537
I think you have the wrong danjohnson :-)

[2016-12-19 22:10] lisaleague commented on #1681
I use multiple memberships that grant access to the same course, I vote for — keep the user active in the course so they can continue if they renew their membership.

Yes on the message – telling people that they need to reactivate their membership to continue with the course?

[2016-12-19 22:16] danbraun opened #1682 "Issue related to #1665"
Per "Dan - Sensei Product Lead" I have patched our copy of Sensei with https://github.com/pgk/sensei/commit/d86331f248ef14b3f68d8150a70c92f04bd62d3d

However, the fatal error (same as the one from issue #1665) appears again when trying to save a **COURSE**.  (Catchable fatal error: Object of class WP_Term could not be converted to string in /home/hochunk/public_html/wp-includes/taxonomy.php on lin

[2016-12-19 22:45] jtsternberg opened #1683 "Fallback when `get_user_by( 'email', get_bloginfo( 'admin_email' ) )` is false."
There is a possibility that the `admin_email` setting does not actually correspond to an actual WP user (e.g. if it's an alias or group email). When that is the case, and the term slug does not contain a user, then the `$term_owner` is simply false, which causes a bunch of debug.log notices:
[code]

Either each method that uses `Sensei_Core_Modules::get_term_author()` needs a sanity check in case

[2016-12-20 15:01] chaselivingston opened #1684 "Support new user locale settings in WordPress 4.7"
Beginning in WordPress 4.7, users can specify their own language in their profile separate from the overall site language: https://make.wordpress.org/core/2016/11/07/user-admin-languages-and-locale-switching-in-4-7/

We should probably support that in Sensei.

[2016-12-20 15:24] ruancarvalho commented on #538
Got this issue with Sensei 1.9.10 and Redirection 2.5. Just confirming the previous comments. It affected new and modified lessons. Deactivating Redirection makes the problem go away.

By checking the Redirection's panel, there were a lot of redirections for lessons created for no reason. Then I found that when a lesson is added to a module, Redirection Plugin creates new 301 redirects by itself,

[2016-12-20 15:34] pgk commented on #1682
@danbraun thanks! This is addressed for both lessons and courses in release 1.9.10 (commit 	90d3666
)

[2016-12-20 15:34] #1682 closed

[2016-12-20 17:34] danjjohnson opened #1685 "Text overlap in question description"
If you have a really long question description (at least 5 lines of text), then when the incorrect answer message is shown, it overlaps the question description:

![image](https://cloud.githubusercontent.com/assets/1990037/21361096/6b45efbc-c6da-11e6-8060-3cc671cd456b.png)

503978-zd-woothemes

[2016-12-20 19:00] lisaleague commented on #1685
@danjjohnson I have a lot of these, so I put the first sentence in the question as it's the post title, then put the rest of the question in the field Question Description (optional):

[2016-12-20 19:45] lisaleague commented on #538
@ruancarvalho have you tried a filter, similar behavior happens with Yoast SEO Premium which can be disabled:
I use the filter as explained here with Yoast
- https://kb.yoast.com/kb/how-to-disable-automatic-redirects/

[2016-12-22 15:51] danbraun commented on #1326
In WP 4.7 and Sensei 1.9.10 I am seeing this issue. Lesson content is showing even without the prerequisite being completed. However, the info box displays the correct message.
![screen shot 2016-12-22 at 9 48 07 am](https://cloud.githubusercontent.com/assets/6805888/21431269/35f05a66-c82c-11e6-9f56-009283f749fe.png)

[2016-12-23 16:16] danjjohnson commented on #1416
Duplicate of https://github.com/Automattic/sensei/issues/1378

[2016-12-23 16:16] #1416 closed

[2016-12-23 20:53] thelonewolf opened #1686 "class-sensei-quiz.php trying to get property of none object line 589"
### Sensei Version 1.9.9

**Issue:**
The first time a student gets to a quiz, if they fail the error 'trying to get a property of a none object on line 589 of class-sensei-quiz.php' shows up.

**Line 589:**
`update_comment_meta( $user_lesson_status->comment_ID, 'questions_asked', $questions_asked_string );`

Offending Object: `$user_lesson_status->comment_ID`

**The Cause:**
I'm guessing that sinc

[2016-12-27 02:18] ruancarvalho commented on #538
Thanks @lisaleague. I'll try that.

[2016-12-28 15:29] danjjohnson commented on #1685
@lisaleague when the correct/incorrect answer is displayed, does it not overlap the question description text as in my screenshot above?

[2016-12-28 15:35] lisaleague commented on #1685
I don't have the overlap issue on either questions or explanations with answers display.
Will have the new version of my site ready and live on Monday and can put you in a test. I can create a new ticket or reopen this one - zd #493565 so you can check out. If it's specifically related to a customization we've done, I'll have someone do a PR for the fix.

[2016-12-28 16:16] mikkamp opened #1687 "Fatal error when viewing Sensei course in combination with the Products Bundle plugin"
Several sites have reported the following issue with a combination of the Sensei plugin and Products Bundle plugin:

[code]

This occurs because the Sensei plugin triggers the following action: `woocommerce_before_single_product`
sensei/includes/class-sensei-wc.php line 247

When WooCommerce triggers this action it has already setup the global variable $product. So any plugin that hooks into `wooc

[2016-12-28 20:32] lkraav commented on #1687
I have the same crash occurring on a site that does not have Sensei installed at all. This actually looks more like a general problem with Product Bundles 5.1.x. But I'll get to my own in-depth investigation in a few days, thanks for kicking off the analysis.

[2016-12-28 22:17] lkraav opened #1688 "Development process upgrade: rebase instead of merge?"
The criss-cross merging of `master` with feature or developer branches creates a very confusing picture of what happens where and why. Example below (mainly the bottom part):

[code]

I propose the official policy to be adjusted and start requesting `rebase` use over `merge`. Before merging any feature or developer branch, it should be cleanly rebased on top of latest everbranch `master`, whenever

[2016-12-29 12:53] franticpsyx commented on #1687
@lkraav Please share your findings. I can't think of any reason why the global `$product` variable should be empty or otherwise not properly populated while firing single-product template actions such as `woocommerce_before_single_product`.

 Perhaps I'm missing something but I find it reasonable to expect that a global variable populated in `the_post` should be there in `woocommerce_before_single

[2016-12-29 16:48] danjjohnson opened #1689 "Messaging issue on preview lessons"
Currently, when you view a preview lesson on a free course (no WC product), the message is:

This is correct, it encourages the user to sign up for the rest of the course.

But on a paid course, the message is:

This is wrong, it should be:

509961-zd-woothemes

[2016-12-31 20:28] swinterroth opened #1691 "Bug Order Lessons not working after update"
Hi The order lessons drag-and-drop editor is not working for me after the recent 1.9.10 update.  Please advise if there's something I can do to work around this issue.

[2016-12-31 22:58] lisaleague commented on #1691
I have this working with 1.9.10, both orders lessons and modules and am using pretty heavily right now with no issues, so likely a conflict with another plugin

[2017-01-02 19:27] swinterroth commented on #1691
@lisaleague Thanks Lisa. Yes, it must have been a plugin conflict.  I will try to figure out which plugin. Thanks!

[2017-01-03 09:46] danjjohnson commented on #1596
@PDowney this is fixed in https://github.com/Automattic/sensei/pull/1653

You can download the beta release here if you'd like to test it:
https://github.com/Automattic/sensei/releases/tag/version%2F1.9.10-beta-4

Closing this issue in the meantime.

[2017-01-03 09:46] #1596 closed

[2017-01-03 20:33] swinterroth opened #1692 "Answer feedback"
Hi. Sorry to ask this here but I'm having a problem with the quiz wrong answer Feedback. I'm at my last option.  Does anyone suggest how I can fix the answer feedback to not conflict with the questions?
![screen shot 2017-01-03 at 2 28 16 pm](https://cloud.githubusercontent.com/assets/955110/21622121/920c3e66-d1c1-11e6-843e-8e12f52f5585.png)

[2017-01-04 08:45] danjjohnson commented on #910
Re-opening to look into a better solution, as having to cancel an order to remove a learner from a course is not ideal.

514738-zd-woothemes

[2017-01-05 03:14] contemplate commented on #1595
@bor0 it looks like the latest update didn't include your patch and so I had to re-apply all the patches manually again. :(

[2017-01-05 04:38] bor0 commented on #1595
@contemplate that PR is still open in pending review. I see that it has conflicts so I will rebase it but I am not sure about the target version.

cc @pgk @danjjohnson

[2017-01-05 15:53] lisaleague commented on #1525
An expired membership does not remove the learner from the course, nor protect the course lessons. The user still has access to all course content.

[2017-01-05 15:58] aheckler commented on #1687
Pretty sure this is affecting the user in ZD ticket 513388.

[2017-01-05 18:32] rspublishing commented on #1687
Some more:

514381-zd-woothemes
514951-zd-woothemes
514771-zd-woothemes
512345-zd-woothemes
513127-zd-woothemes

[2017-01-05 21:49] kraftbj opened #1693 "Clean old Sensei transients"
Previous to https://github.com/Automattic/sensei/commit/998a92fc26782da4d1732ba78b8e14b9fb815cb8 , we use site_transients. After switching, older installs will still have them saved in the db (when not using object caching) until they're attempted to be accessed again, which is never in our case :)

Folks can use https://wordpress.org/plugins/artiss-transient-cleaner/, but it would be nice to clea

[2017-01-06 16:31] lkraav commented on #1688
PS one of the triggers here was the massive sudden rollback in `master`, where a whole bunch of commits suddenly just disappeared to get the 1.9.10 release out for fixing WP 4.7 crashes.

[2017-01-10 10:16] #1691 closed

[2017-01-10 13:40] pgk commented on #1688
Essentially, for Sensei, we are following https://www.atlassian.com/git/tutorials/comparing-workflows/feature-branch-workflow, with tags denoting stable release snapshots

Agree, rebasing with master before opening a pull request is **recommended** for most development work. I would not go as far as to enforce it though

Reason is, there are drawbacks to rebasing, mostly related to the commit sha

[2017-01-10 13:54] pgk commented on #1686
@thelonewolf can't reproduce with 1.9.11.

[2017-01-10 13:54] #1686 closed

[2017-01-10 14:17] pgk commented on #1595
rebased, will be merged with the next release

[2017-01-10 14:17] #1595 closed

[2017-01-10 17:38] cena opened #1695 "Login form sanitizes password"
User reports:

In the class Sensei_Frontend the function sensei_handle_login_request calls sanitize_text_field on the user's password. In my case the user's password was XXX%13YYY within which the %13 appears to be being interpreted as an encoded CR, and so is getting stripped and the password is being changed to XXXYYY before being passed for validation, which then fails in this case.

[2017-01-10 20:58] aheckler commented on #1687
517249-zd-woothemes

[2017-01-10 22:33] lschuyler commented on #1489
Reported in 516074-zd-woothemes. Tried the recommendation to drag into different order and resave and this seems to have worked. Waiting for confirmation from site owner.

[2017-01-10 23:39] lschuyler commented on #1489
More information from 516074-zd-woothemes . The re-ordering only happens when creating new questions on a new quiz and publishing it. They also report it happens only about half the time, not consistently.

[2017-01-10 23:57] lkraav commented on #1688
Sure, there is no magic bullet, since people's skill level at this varies so widely. http://endoflineblog.com/gitflow-considered-harmful was an interesting recent read + comments discussion.

Maybe a useful tip for someone, `stgit` has helped me a lot with intra-branch patch management. Makes rebase-principle operations a ton quicker to handle.

The difficult case still remains where you need >1 w

[2017-01-11 10:07] wcerfgba opened #1696 "Grading screen 'Updated' time is not updated when quiz is submitted"
The time in the 'Updated' column on the Grading screen shows the time the quiz lesson was first started, because `update_lesson_status` passes `keep_time` to `sensei_log_activity` when called from `submit_answers_for_grading`. The user expectation is that the 'Updated' time shows the last time something happened to the quiz, so the time it was submitted for grading if it is ungraded, and the time

[2017-01-11 15:28] aheckler commented on #910
517818-zd-woothemes

[2017-01-11 16:54] danjjohnson commented on #1248
@bor0 sorry, I missed the notification. I believe this is due to some changes in WooCommerce functions. @dwainm may know better as he was working on it around the time this issue was opened.

[2017-01-11 17:16] danjjohnson commented on #1692
Similar to https://github.com/Automattic/sensei/issues/1685

[2017-01-11 19:36] lisaleague commented on #1685
@danjjohnson do you want to try this one - https://www.qpractice.com/shop/free-ncidq-practice-test/

[2017-01-11 22:18] swinterroth commented on #1685
Yes, this is a real bummer. I'm having troubles with this.

[2017-01-12 19:13] jondcampbell opened #1697 "Question Categories should be clickable links"
Sensei takes over the displaying of the content for the question-category column on the question list page in admin.

In add_column_data the display of the category name is set, but it doesn't make links for the category names. Default WordPress handling of custom taxonomy columns seems to be making links for each category, and Sensei seems to be offering us reduced functionality.

It would be gre

[2017-01-12 23:09] lschuyler commented on #1687
516454-zd-woothemes

[2017-01-13 09:11] pgk opened #1698 "Error when updating course as a teacher in WP 4.7"
* as a teacher, create a course and add modules
* submit for preview
* update the course and resave
* Expected: no error Actual: fatal error

[2017-01-13 09:20] #1698 closed

[2017-01-13 12:58] #1667 closed

[2017-01-13 12:59] pgk commented on #1664
closed in #1669

[2017-01-13 13:12] #1635 closed

[2017-01-13 20:56] lkraav commented on #1687
@franticpsyx my traceback is actually from Composite Products, but it's probably the same underlying issue, if you re-architected your plugins to similar flows.

[code]

Function in question is `674 WC_CP_Display::add_edit_in_cart_notice()` I'm still not sure what's happening, investigating.

[2017-01-13 21:52] lkraav commented on #1687
@franticpsyx I'm firing my pre-loop stuff *before* the first `the_post()` call.

[2017-01-13 22:04] lkraav commented on #1687
Current workaround to revive site:

[code]

[2017-01-15 14:40] todorchrisov opened #1700 "Archive page of Lessons shows protected content to logged out users"
It appears that all users - logged in and logged out - have access to protected content if they visit the Archive page of Lessons like www.mydomain.com/lesson

I am using WordPress 4.7.1, WooCommerce 2.6.12, Sensei 1.9.10 and Storefront 2.1.6.

All my settings are done in a way that only logged in users who have ordered and paid for a course via WooCommerce Shopping cart can see the protected cont

[2017-01-16 06:38] todorchrisov commented on #1608
I have the same issue as @skmohammadi .

As Administrator I remove my test user from a course and this test user cannot be seen anymore in Learner Management admin page.

Then, in another browser, if my test user visits the course single page, he can start taking the course again from the very beginning. The progress bar is 0%.

In order to effectively remove a learner from the course, I have to s

[2017-01-16 20:29] jtsternberg opened #1701 "Cannot set Question to 'draft' status"
Is there a reason that Questions cannot be set to draft? If so, the UI should not allow for setting to the draft status (only to have it overridden).

[2017-01-17 11:00] #1450 closed

[2017-01-17 13:47] #1677 closed

[2017-01-17 21:32] aheckler commented on #1461
@pgk We're starting to see this error in Sensei support, but even when the latest stable version of WooCommerce is installed. It's happening on my test site when I have WooCommerce 2.7 beta installed. Any chance you can take a peek at this really quick?

Recent examples:

520326-zd-woothemes
518699-zd-woothemes
518428-zd-woothemes

[2017-01-17 21:54] jtsternberg opened #1704 "Add filter to get_user_question_feedback"
Please add a filter to the return of `Sensei_Quiz::get_user_question_feedback()`.

[2017-01-17 22:00] jtsternberg commented on #1704
PR submitted.

[2017-01-17 23:32] lschuyler commented on #1687
516643-zd-woothemes

[2017-01-18 00:23] lschuyler commented on #1461
Possibly 520326-zd-woothemes too

[2017-01-18 07:25] franticpsyx commented on #1687
The `$product` global is assumed to exist in WC Core at that point, so I don't see any reason why Sensei would need special treatment.

Sensei fires a front-end core hook where the presence of a vital global variable **should be taken for granted**, as with any single-product template action hook. These hooks do not pass a `$product` object as an argument exactly because in all WC single-product t

[2017-01-18 07:30] franticpsyx commented on #1687
As @mikkamp mentioned, this results in loss of functionality for PB/CP. Unhooking functionality to prevent an error instead of tracking down and fixing its cause should be used only as a last-resort approach, when the actual problem is too complex to solve otherwise.

[2017-01-18 20:23] pgk opened #1706 "WC 2.7 Compatibility"
Ensure compatibility with wc2.7

[2017-01-18 22:20] bebaps opened #1708 "All quizzes now grade 0% after updating to 1.9.11"
Hi,

We just updated Sensei to v.1.9.11 from v.1.9.6 running WordPress 4.7.1, and now every submitted quiz gets a grade of 0%. Checking error logs doesn't reveal anything, and doing basics such as clearing cache, re-saving the quizzes/lessons, etc. Has no effect. Any suggestions?

[2017-01-19 10:01] pgk commented on #1708
hi @bebaps and thanks for reaching out! Can you provide us with more detailed steps to replicate this? I can't reproduce this on my setup

[2017-01-19 14:22] aheckler commented on #1269
Related: the single course page looks kinda janky, especially if you're using modules:

<img width="699" alt="screen shot 2017-01-19 at 9 08 42 am" src="https://cloud.githubusercontent.com/assets/5512652/22109722/f0d341d0-de26-11e6-8449-a04785e0a95d.png">

The module page with images is also really bad:

<img width="838" alt="screen shot 2017-01-19 at 9 21 35 am" src="https://cloud.githubuserconte

[2017-01-19 14:41] mattalberon opened #1709 "Fatal error on order received"
I'm receiving the following error:

ErrorException
Call to a member function get_type() on a non-object

which is caused by the following line:

wp-content/plugins/woothemes-sensei/includes/class-sensei-course.php on line 1147

This code is triggered on www.example.com/checkout/order-received/{order_id}

- IE 11.0 / Windows 10
- php 5.5.22
- WordPress 4.7

[2017-01-19 15:16] aheckler opened #1710 "Single quotes in video embed HTML breaks on save"
To repro:

1. Make sure the "Disable HTML security" setting is disabled (i.e. unchecked).
1. Grab some single-quoted video embed code like this: `<iframe width='560' height='315' src='https://www.youtube.com/embed/-5Ilq3kFxek' frameborder='0' allowfullscreen></iframe>` Note that single-quoting attributes [is valid HTML](https://www.w3.org/TR/html5/syntax.html#syntax-attributes).
3. Paste it into t

[2017-01-19 16:10] jtsternberg commented on #1701
I had to do some hacky stuff to get around this limitation.

[code]

Would love to know if there is some unknown, undocumented reasoning for always setting to `publish`.

[2017-01-19 16:35] aheckler commented on #538
521244-zd-woothemes

[2017-01-19 17:55] lkraav commented on #1687
This is not about just Sensei.

As far as I could see, only calling `the_post()` in the loop causes `$product` to be first set up. `before` hooks are getting fired before entering the loop cycle.

I've never really had to find out when exactly WC core expects `global $product` to come alive. There's a couple of weeks of client pressure to relieve but I'll dig back into this at one point.

[2017-01-19 23:56] lschuyler commented on #1341
521046-zd-woothemes
Resaving didn't fix.
Site has just default data. WooCommerce not installed. Theme doesn't declare Sensei support.
Added the `[sensei_courses]` shortcode to the Courses page as a workaround.

[2017-01-20 10:56] Elnino38 commented on #1651
I'm wondering when this is going to be fixed as we have a whole website based on this messaging system on Sensei and clients are complaining.

[2017-01-20 14:07] aheckler commented on #910
521848-zd-woothemes

[2017-01-21 01:27] whitecoop opened #1711 "The `number` parameter of the sensei_user_courses doesn't work"
When I use `[sensei_user_courses number=<a number>]` the `number` parameter has no effect. The shortcode shows up to 10 courses and adds pagination for additional courses after that.

I ran into this on my main site and then recreated it on a test setup.

Is this expected behavior?

[2017-01-21 15:48] celine24 opened #1712 "Quiz has the same url as its lesson"
Quiz has the same url as its lesson when using Custom Permalinks in order to customize lesson's url. And because of that quizzes are inexistants... Help please !

[2017-01-23 15:42] aheckler commented on #1461
522650-zd-woothemes

[2017-01-23 15:47] bebaps commented on #1708
@pgk I got it figured out. After some digging my `single-quiz.php` was missing this code: `Sensei_Question::the_question_hidden_fields( $question_item->ID );` which was causing the error.

This is a project that we have taken over, and I forgot that the prior developers basically customized Sensei to their liking. However, it would be nice if Sensei had a system like WooCommerce that checks the te

[2017-01-23 18:47] aheckler commented on #1709
522989-zd-woothemes

[2017-01-24 09:49] iMazed opened #1713 "Missing fieldset in multiple choice"
The outputted multiple choice questions in a lesson quiz are not contained in a fieldset. This is an accessibility issue, and fixing it would improve the usability for those who assistive technology.

![2017-01-24 10_48_52-empty lesson woocommerce](https://cloud.githubusercontent.com/assets/3907432/22242208/c9c082e2-e222-11e6-8dc6-0aa29fc071cb.jpg)

[2017-01-25 14:37] aheckler commented on #1551
523894-zd-woothemes

[2017-01-26 13:08] #1684 closed

[2017-01-26 15:43] aheckler commented on #1461
524060-zd-woothemes

cc @pgk this seems to be getting more common

[2017-01-26 15:48] aheckler opened #1715 ""Access Permissions" setting should apply to lesson content but not course content"
The _Access Permissions_ setting should only control lesson content, but not course content. Currently, it controls both lesson and course content. Always displaying the course description is an opportunity for the course creator to promote the course and entice users to enrol.

From 524175-zd-woothemes

[2017-01-26 16:08] aheckler commented on #1711
Pretty sure this is happening because of this:

https://github.com/Automattic/sensei/blob/version/1.9.11/includes/shortcodes/class-sensei-shortcode-user-courses.php#L156-L163

cc @dwainm Is that workaround is still needed? I don't know the history behind it myself.

[2017-01-26 16:13] AiratHalitov opened #1716 "Need to minify sensei.css"
Hi!

Can you minify css file: **/assets/css/frontend/sensei.css** ?
https://github.com/Automattic/sensei/blob/master/assets/css/frontend/sensei.css

It's a PageSpeed Insights recommendation.

[2017-01-26 16:22] dwainm commented on #1711
@adambbecker I think this relates to a time when the shortcode query code and the general course query code was the same. I think, now that the shortcode is separated out this may not be needed. I would check though if we're not running a do_shortcode() to load this somewhere else.

[2017-01-27 07:55] franticpsyx commented on #1687
Looking at WC 2.7 I see that `global $product` is used in `product-image.php` which is hooked to `woocommerce_before_single_product`.

But anything hooked into a single-product template would need this. There's no other way to know which product is displayed. ¯\_(ツ)_/¯

[2017-01-27 12:13] aheckler commented on #1711
Wondering if maybe this is related to https://github.com/Automattic/sensei/issues/1657

[2017-01-27 17:46] mikeyarce commented on #1430
I had a chat today with a user with this exact issue and I could reproduce it consistently.

Whenever you complete a course, the date completed will always match the date started:
![screen shot 2017-01-27 at 9 45 35 am](https://cloud.githubusercontent.com/assets/3220162/22381167/6fa346c8-e475-11e6-9313-375d5969d70f.png)

This is form Sensei > Analysis > Learner Name

[2017-01-28 04:17] watermarkt commented on #1461
I'm using Sensei LMS with Woocommerce.  However, I am receiving this error on my staging site; Fatal error: Call to a member function get_id() on boolean in /home/content/p3pnexwpnas16_data03/14/3812314/html/wp-content/plugins/woothemes-sensei/includes/class-sensei-wc.php on line 1888

I was directed here from Sensei support.  Is this the correct thread for resolving this error?  If so, is there a

[2017-01-28 06:14] watermarkt commented on #1461
fyi..  If anyone else is experiencing the fatal error above; the error disappeared on my staging site when I deselected "Enable WooCommerce Courses -  Use WooCommerce to sell Courses by linking a Product to a Course."  Fortunately, I now use Memberships to link products and courses instead of groups.  So, this seems to have resolved the error for now.

[2017-01-28 09:26] pgk commented on #1461
Related to #1707 and #1706

[2017-01-28 09:28] pgk commented on #1709
Possibly Related to #1618

[2017-01-28 09:28] #1709 closed

[2017-01-28 09:29] pgk commented on #1709
Also related to https://github.com/Automattic/sensei/issues/1595 this will be addressed in the next sensei release

[2017-01-30 13:46] aheckler commented on #1461
524765-zd-woothemes

[2017-01-30 15:43] #1704 closed

[2017-01-30 15:45] pgk commented on #1712
@celine24 can you provide specific steps to reproduce this?

[2017-01-30 21:14] lindamork commented on #1687
525528-zd-woothemes

[2017-01-31 00:12] mlwilkerson commented on #1665
Seeing the same thing. Posted a question about it on wordpress.stackexhange.com [over here](http://wordpress.stackexchange.com/questions/254561/php-catchable-fatal-error-object-of-class-wp-term-could-not-be-converted-to-str) with some code snippets and debugging results.

[2017-01-31 12:06] pgk commented on #1665
@mlwilkerson which version of Sensei are you on? This issue was addressed in 1.9.11

[2017-01-31 12:18] pgk commented on #1665
@mlwilkerson if you are referring to #1698 specifically, the this will be fixed in the next release

[2017-01-31 18:42] mlwilkerson commented on #1665
@pgk Thank you. Yes, I did update to 1.9.11 (I should have done that in the first place, of course). It did resolve my immediate problem, which was: the error thrown when updating a lesson that was assigned to a module. #1698 looks related (WP_Term object returned when an array of ids might have been expected), but didn't happen to be the exact same usage scenario in my case.

[2017-02-02 03:51] MrFent opened #1717 "Looking for some help"
Hello, I apologize if this isn't the right place to be asking this question. I'm not exactly sure of the relation between courses and lessons. Is a course considered a taxonomy of a lesson? Here's what I'm trying to do:

Inside a single lesson, I'm trying to add some php that basically says

"If (current lesson) is part of (course-name) {
//do this
}

Could someone please steer me in the right dir

[2017-02-02 07:06] MrFent commented on #1717
Never mind figured it out!

	$course_id = intval( get_post_meta( get_the_ID(), '_lesson_course', true ) );

}

[2017-02-02 07:06] #1717 closed

[2017-02-02 17:47] whitecoop commented on #1711
what needs to happen to fix this? depending on how much needs to be done, I may be able to submit a patch

[2017-02-02 19:16] aheckler opened #1718 "Quiz can be completed without uploading a file"
To repro:
1. Create a lesson with a quiz.
2. Add a file upload question.
3. View the quiz on the frontend.
4. Click Complete Quiz.

What happens: The quiz completes without you having uploaded anything.

What I expected: Some sort of error or warning, and the quiz to not complete.

[2017-02-02 19:45] aheckler commented on #1698
526991-zd-woothemes

[2017-02-02 20:19] aheckler commented on #1461
526599-zd-woothemes

[2017-02-02 22:29] zwiesman31 commented on #359
527162-zd-woothemes

[2017-02-03 15:10] aheckler commented on #1673
@ Kuzovlev-Sanya Just ran across this while troubleshooting another ticket. Do you remember what you did to solve this? Thanks!

[2017-02-03 15:44] aheckler commented on #910
527797-zd-woothemes

[2017-02-03 17:10] #1708 closed

[2017-02-06 15:42] Kuzovlev-Sanya commented on #1673
yep, check and remove guests orders with product related to course

[2017-02-06 16:35] pgk commented on #1647
fixed in #1649

[2017-02-06 16:35] #1647 closed

[2017-02-06 16:36] #1706 closed

[2017-02-06 16:36] pgk commented on #1461
Closing as related to #1707 and #1706

[2017-02-06 16:36] #1461 closed

[2017-02-06 18:28] aheckler commented on #1656
527873-zd-woothemes

[2017-02-06 18:39] aheckler commented on #1657
528392-zd-woothemes

[2017-02-07 14:18] aheckler commented on #1647
528590-zd-woothemes

[2017-02-07 14:46] aheckler commented on #1700
521781-zd-woothemes sort of

[2017-02-07 19:04] ajinabraham opened #1719 "Bypassing Restricted access via feeds"
## EXPLANATION OF THE ISSUE

Sensei is exposing restricted pages of elearning courseware (videos) through feeds.

## STEPS TO REPRODUCE THE ISSUE

Create a Elearning course with woocommerce and sensei. Mark a module as available only after purchase. (Restricted Access)
Suppose the course module is : https://xyz.com/index.php/modules/name-of-module
Go to the feeds of a module. :  https://xyz.com/in

[2017-02-08 13:39] Elnino38 commented on #1651
no update? Nobody cares about fixing the messaging system?

[2017-02-08 15:26] andersonchagas opened #1720 "Template 'my-courses.php' not working"
Hi, I'm making changes to '\THEME_DIR\sensei\user\my-courses.php' but seems the file not being loaded.

Even changes made directly to 'PLUGIN_DIR\templates\user\my-courses.php' are not showing.

Changes to 'login-form.php' are ok.

Anyone know why, or what can I make to solve?

Thanks.

[2017-02-09 14:41] aheckler opened #1721 "Gap Fill questions with slashes don't work"
To repro:

1. Create a course with a lesson with a quiz.
2. Only question in the quiz is a gap fill, with "The Gap" set to `some|text|1.4`.
3. Take quiz, using `1.4` to fill in the gap.
4. It's graded correctly.
5. Edit "The Gap" field to be `some|text|1.4|13/4`.
6. Retake quiz.
7. No matter what you use to fill in the gap, you'll get the question wrong.

Maybe an issue with the regex we're using

[2017-02-09 16:27] aheckler commented on #1326
530433-zd-woothemes is seeing this too, if I can confirm I will re-open this issue

[2017-02-09 16:32] aheckler commented on #1326
Can't reproduce.

@danbraun Note that admins on the site will be able to see all lessons regardless of their prerequisites. Does this still happen to you even if, say, you're logged out of WordPress altogether? What about signed in, but as a test student user, not an admin?

[2017-02-10 15:09] aheckler opened #1722 "Answer feedback not shown when it should be (latest master)"
Tested this on latest master. To repro:

1. Create a course, lesson, and quiz.
2. On quiz, enable auto-grading and pass required. Disable reset quiz.
3. Leave answer feedback in the questions.
4. Notice per [this flowchart](https://docs.woocommerce.com/document/sensei-quiz-settings-flowchart/), feedback should be shown if you fail.
5. Fail the quiz. Feedback is not shown.

<img width="911" alt="sc

[2017-02-10 15:26] pgk commented on #1722
@aheckler wrt commits being 0, the commit was merged into master with a rebase 5d5e0c53164c40d6e109c02919fb0caff10c0666

[2017-02-10 15:29] pgk commented on #1722
@aheckler per the current implementation reset should be disabled for feedback to show `$quiz_graded && ( $succeeded || $failed_and_reset_not_allowed );` thinking of closing this as by design

[2017-02-10 15:34] aheckler commented on #1722
Reset is disabled when this happens. See step 2 in my testing instructions above:

[2017-02-10 15:49] danbraun commented on #1326
My apologies! I was indeed signed in as an administrator. I tested with a subscriber account and lessons are in fact hidden correctly when the prerequisite lesson/quiz was not completed. Thanks for your help.

[2017-02-10 15:52] pgk commented on #1722
@aheckler I cant repro

Passing a course but failing the question shows feedback

![course-pass-feedback](https://cloud.githubusercontent.com/assets/500744/22832917/cc48788e-efa7-11e6-8986-89d765f45689.gif)

Only one failed question

![course-pass-feedback-2](https://cloud.githubusercontent.com/assets/500744/22833048/56b0e9ac-efa8-11e6-8ca6-4dbb0064f632.gif)

With required passmark

![course-pass-

[2017-02-10 16:04] aheckler commented on #1722
The bug I was reporting is triggered if you **fail** the quiz. Feedback is not shown, even with reset quiz disabled. According to the flowchart, it should be shown.

[2017-02-10 16:06] pgk commented on #1722
@aheckler look at the final gif, it is that case you are mentioning

[2017-02-10 16:14] aheckler commented on #1378
527768-zd-woothemes

[2017-02-10 16:30] aheckler commented on #1722
Hmm, after a bunch more testing, this seems to be an issue with the Twenty Sixteen theme I was running. Switching themes shows the feedback. Interesting thing is that it's not just CSS hiding the feedback or something, it's not even showing in the source of the page at all.

[2017-02-10 16:34] pgk commented on #1722
Oh yeah, forgot to mention I tested it with Storefront.

[2017-02-10 22:06] aheckler commented on #1722
@pgk Is this something we should look into, or... ? We probably can't make Sensei compatible with every theme under the sun, but seems like something must be wrong if it doesn't work with a default theme.

[2017-02-13 15:03] aheckler opened #1723 "Placehold.it lesson image throws mixed content warning"
We're using an HTTP URL here:

https://github.com/Automattic/sensei/blob/version/1.9.11/includes/class-sensei-lesson.php#L2972

... which should ideally be HTTPS if that's how the site is configured. ¯\\_(ツ)_/¯

[2017-02-13 20:18] andrewfitz opened #1724 "Random Sensei login HTML in REST API"
On the REST API for pages, I get a bunch of Sensei HTML output messing up the JSON. Only see it for pages, not posts.

[2017-02-15 03:58] nah2015 opened #1725 "Option to disable redirect of teachers to wp-admin after login?"
This would be greatly desired - or if someone could explain what code to edit to prevent this from happening, I'd really appreciate it.

[2017-02-15 15:17] pgk opened #1726 "Add setting to show quiz feedback even when reset is enabled"
Would be great to have an option checkbox "Always display feedback" on the quiz edit view

zd-530807

[2017-02-16 19:13] aheckler commented on #1503
Closing this in favor of https://github.com/woocommerce/sensei-certificates/issues/96

[2017-02-16 19:13] #1503 closed

[2017-02-17 01:20] whitecoop commented on #1711
Hello again. I expect you guys are busy, but it has been 14 days. Did anyone see my question above? ☝️

[2017-02-18 13:13] aheckler commented on #1725
Here's a code snippet you can use to prevent that from happening:

`remove_action( 'wp_login', array( Sensei()->teacher, 'teacher_login_redirect') , 10 );`

Just insert that into a custom plugin or some such and you're good to go!

[2017-02-18 13:13] #1725 closed

[2017-02-18 13:15] aheckler commented on #1489
534662-zd-woothemes

[2017-02-20 13:57] aheckler opened #1727 "Question grades showing in some themes before quiz is taken (latest master)"
To repro:

1. Run latest master with Storefront theme (which we say is compatible with Sensei).
2. Create a course, lesson, and quiz.
3. Be sure to give each question a grade, e.g. 1.
4. Take the quiz.

What I expected: to see the question, description, and answer options.

What happened: I also saw the grade over on the side:

<img width="844" alt="screen shot 2017-02-20 at 8 54 45 am" src="https

[2017-02-20 13:59] aheckler commented on #1727
Also happens in Canvas:

<img width="349" alt="screen shot 2017-02-20 at 8 58 40 am" src="https://cloud.githubusercontent.com/assets/5512652/23127912/cf8bead0-f74a-11e6-9ab9-8b2a9aecb3bf.png">

... and Twenty Sixteen:

<img width="905" alt="screen shot 2017-02-20 at 8 59 27 am" src="https://cloud.githubusercontent.com/assets/5512652/23127931/e5d17d8c-f74a-11e6-87aa-9f8ea86ff962.png">

[2017-02-20 14:59] aheckler commented on #1352
525351-zd-woothemes sounds a lot like this, but user there is on latest stable which presumably includes all these fixes

[2017-02-23 07:39] #1314 closed

[2017-02-23 07:41] #1454 closed

[2017-02-23 07:53] pgk opened #1729 "Add WP REST API Support for Analysis Data"

[2017-02-23 07:54] pgk opened #1730 "React - Based Sensei Analysis Admin"

[2017-02-23 13:07] IndependentJo commented on #966
I need this as well.

[2017-02-24 17:24] lschuyler commented on #1687
536614-zd-woothemes

[2017-02-27 14:16] pgk opened #1731 "Do not load translations before current user object is loaded"
Some translations loading earlier than logged in user. This causes them to be translated into the site wide language instead of the user's preferred language. We should ensure all translations are defined after the current user is loaded.

[2017-02-27 14:24] pgk commented on #1683
Could this be easily resolved by creating an account for that admin_email?

[2017-02-27 14:34] jtsternberg commented on #1683
Yes, probably. This, to me, is simply an issue of awareness or documentation. The `Trying to get property of non-object` should maybe instead be a `doing_it_wrong` message or something.

[2017-02-27 14:38] aheckler commented on #1487
Closing this as a duplicate of https://github.com/Automattic/sensei/issues/970

[2017-02-27 14:38] #1487 closed

[2017-02-27 14:38] aheckler commented on #970
Some good ideas in #1487 too.

[2017-02-27 15:09] aheckler opened #1732 "Exporting one learner's data doesn't work (1.9.12-beta-2)"
To repro:

1. Have a test user complete some courses on a test site.
2. As admin, go to Sensei > Analysis.
3. Click test user's name to see the data on which courses they've started, the status of those courses, etc.
4. Click Export button.

What I expected: a CSV of the data I was seeing on the page.

What happened: I got an empty file.

[2017-03-01 15:31] aheckler commented on #1675
537603-zd-woothemes

worth noting that the current behavior is IMHO rather unintuitive

[2017-03-03 10:01] AiratHalitov opened #1734 "Trying to get property of non-object"
Log in WP_DEBUG mode:

`PHP Notice:  Trying to get property of non-object in /site_path/wp-content/plugins/woothemes-sensei/includes/class-sensei-modules.php on line 2003`

WordPress 4.7.2
BuddyPress 2.8.1
Sensei 1.9.12
PHP 7.1.2-3+deb.sury.org~xenial+1

[2017-03-03 15:43] pgk commented on #1734
Possibly related to #1683 @AiratHalitov does this happen in a similar situation?

[2017-03-03 16:56] AiratHalitov commented on #1734
@pgk
I don't know.

[2017-03-03 16:59] pgk commented on #1734
Easy to find out, does the `admin_email` setting does not actually correspond to an actual WP admin user?

[2017-03-03 17:05] AiratHalitov commented on #1734
Did you mean "From" Address email (on sensei settings) and admin email (on WP user)?
It's a different emails.

[2017-03-03 17:10] pgk commented on #1683
I agree with the awareness idea: Maybe a notice in the admin interface that highlights that would be great

[2017-03-03 17:20] pgk commented on #1734
Under Settings > General. That email should be that of an actual admin user.

[2017-03-03 18:04] #1683 closed

[2017-03-03 18:04] #1734 closed

[2017-03-03 18:12] #1444 closed

[2017-03-03 19:24] #1551 closed

[2017-03-03 20:13] pgk commented on #1732
@aheckler can you test if https://github.com/Automattic/sensei/pull/1737 works for you?

[2017-03-03 20:14] pgk commented on #1732
works for me

[2017-03-03 20:15] #1732 closed

[2017-03-06 20:24] kraftbj commented on #1687
534879-zd-woothemes

[2017-03-07 15:05] cena opened #1740 "Allow reset of course progress"
When a user has completed a module(s) of a course, allow reset of course to remove progress on completed module(s).

see: 543366-zd-woothemes

[2017-03-07 15:34] aheckler commented on #1687
541947-zd-woothemes

[2017-03-08 15:46] pgk opened #1741 "Sensei Course Admin CRUD REST API"
Endpoints:

[code]

[2017-03-08 18:29] DereckR opened #1742 "Publish Course creates a new one"
Hello,

We are having an issue where when we publish an update to a lesson with questions it creates a new url with number at the end and doesn't add the questions?

[2017-03-09 00:48] moatleymade commented on #1373
I'm getting this same error. I created the issue (from a fresh install): 1. Create a course that is free but requires registration. Register, take course, test lesson - works fine. 2. Create a course that is a paid subscription course. Checkout successfully, take course, test lesson - works fine. 3. Go back to free course, test lesson - 500 error when loading the single lesson page.

I am updated

[2017-03-09 11:53] pgk opened #1743 "Allow Memberships cache control on start_courses_associated_with_membership"

[2017-03-09 14:25] aheckler commented on #615
543767-zd-woothemes

Going to reopen this since Canvas is advertised as being compatible with Sensei. We should allow folks to choose the layout like this.

[2017-03-09 14:39] aheckler commented on #1687
542625-zd-woothemes

[2017-03-09 15:24] aheckler commented on #1687
544398-zd-woothemes

[2017-03-09 16:33] aheckler opened #1745 "Sending message with email notifs off doesn't display confirmation notice"
To repro:

1. Turn off email notifs for "A learner sends a private message to a teacher" and "They receive a reply to their private message." (Not sure if both or just one of these is necessary.)
2. Ensure "Disable Private Messages" is *not* checked.
3. On a course, click "Contact Course Teacher" button.
4. Type message.
5. Click "Send Message".
6. The page refreshes and the message is sent, but y

[2017-03-10 09:17] #1743 closed

[2017-03-10 09:24] #1463 closed

[2017-03-10 09:58] #1641 closed

[2017-03-10 14:06] #1695 closed

[2017-03-10 14:17] #1578 closed

[2017-03-10 14:30] aheckler commented on #1687
@pgk seeing this more and more in tickets. I haven't had to go through Sensei repos yet and triage bugs, but we should hit this next release.

[2017-03-10 14:53] aheckler opened #1748 "Allow video embeds in module descriptions"
We should consider allowing, for example, YouTube iframe embeds in module descriptions. Currently we don't. Video:

http://d.pr/v/zuKp/10vIxuHZ

543778-zd-woothemes

[2017-03-10 14:57] aheckler commented on #1748
538686-zd-woothemes

[2017-03-13 12:00] pgk commented on #1687
Thoughts

* The hook triggered on single posts **and** archive pages
* Even on single courses with no product associated with it.
* When viewing a single-course page with an associated product we should set the global before triggering the WC hook

The above are addressed in #1749

[2017-03-13 12:03] #1687 closed

[2017-03-13 13:06] aheckler opened #1751 "Courses page sorting dropdown problems"
To repro:

1. Create and publish a few courses.
2. Go to Courses page. Courses are sorted with newest first, like blog entries.
3. using the dropdown, switch to alphabetical order.
4. Courses are correctly sorted alphabetically, but "Sort by newest first" is still shown in the sort dropdown.
5. Open dropdown and click "Sort by newest first." Nothing happens; you can't go back to that sort order.

[2017-03-13 13:28] pgk commented on #1727
related to https://github.com/Automattic/sensei/issues/1456 and https://github.com/Automattic/sensei/issues/1428. The grades are supposed to be there, but it seems that when Sensei CSS styles are disabled, the grade appears as if it belongs to the title. Maybe what @richardmtl suggested ("Question Point Value: %s") this when styles are disabled would help with legibility [true1 becomes true (Quest

[2017-03-13 13:50] #1544 closed

[2017-03-13 13:53] pgk commented on #1340
Closing, can't reproduce, works

[2017-03-13 13:53] #1340 closed

[2017-03-13 14:05] #1642 closed

[2017-03-13 14:08] pgk commented on #1696
@wcerfgba hi! Is there a PR we can use for this?

[2017-03-13 14:30] #1724 closed

[2017-03-13 14:34] aheckler opened #1752 "Ordering courses using "menu_order" and Courses > Order Courses doesn't work"
To repro:

1. On your Courses page, use the shortcode `[sensei_courses orderby="menu_order"]`
2. In wp-admin, under Courses > Order Courses, set a custom course order.
3. Look at your Courses page on the frontend. It doesn't obey the order you set.

545758-zd-woothemes

[2017-03-13 15:10] aheckler commented on #1659
In WP Job Manager, I believe we simply tack on a random string/hash to the file slug so that it's much harder to guess the URL. But even if we somehow hid files from the Media Library, you'd still be uploading files to a webserver, so IMHO it's never going to be 100% safe.

[2017-03-14 08:51] IbnHossain opened #1753 "Unable to add Existing Questions to Quiz with Search Filter"
After the update of 1.9.12, its not possible to add Existing Questions with search filter. The search filter button does not work anymore.

[2017-03-14 08:59] IbnHossain commented on #1712
This occurs only if you use the plugin like Yoast Premium, which has a auto redirect option that messed up with lesson and quiz. The fix is to turn off the auto redirection of that plugin - https://kb.yoast.com/kb/how-to-disable-automatic-redirects/

[2017-03-14 09:39] pgk commented on #1753
Hi @IbnHossain I can't reproduce this. Steps I took:

1. Edit a lesson, go to Quiz > Existing Questions tab
2. Search
3. Expected and Actual: I can see the relevant search results

[2017-03-15 03:46] IbnHossain commented on #1753
Have you tried it with php 7.1? Still I can not search any Old Existing Questions.

[2017-03-15 13:50] nandotess opened #1754 "remove_action from sensei_course_content_inside_before and sensei_single_course_content_inside_before doesn't work"
The remove actions below doesn't work when coded in a theme:

[code]

When we debug the hooks assigned to these actions, we realize there are different `Sensei()->course` instances added to different hooks. Example of `sensei_course_content_inside_before` debug (please note the different objects **789** and **914**, they should be the same):

[code]

So when we debug the last/current `Sensei()->co

[2017-03-15 15:01] nandotess commented on #1754
I found your solution, fixed 5 days ago: https://github.com/Automattic/sensei/commit/4330928cbf76e2f8657cde17c7a8de3a01062541#diff-f9d42b69ce43995801716fc41552bf00

Closing this issue.

[2017-03-15 15:01] #1754 closed

[2017-03-15 21:26] hansschuijff commented on #1659
the 1.9.12 release is allready in production @annezazuu so this problem must be fixed in another release. I asked again, because I see no progress or movement here too. Other course plugins I have (wp-courseware, Learndash), don't save students uploads in the media library. Images in the media library are also cropped in various sizes and for student uploads that is unnecessary, so the normal medi

[2017-03-16 22:11] lschuyler opened #1755 "Messages: Fatal Error prevents messages from displaying"
A Fatal Error is being triggered on [Line 80](
https://github.com/Automattic/sensei/blob/master/templates/content-message.php#L80) of /templates/content-message.php which is preventing the messages from displaying on /messages/ in some themes, and preventing the rest of the page from loading to display the footer and sidebar(s).

Error is displayed when viewing source:
`<b>Fatal error</b>:  Call t

[2017-03-16 23:28] lschuyler commented on #1489
Reported in 548393-zd-woothemes

[2017-03-17 16:04] contemplate commented on #1742
Same issue here except it does this even without questions.  Every time we press update while editing a lesson it creates a copy/duplicate of the lesson but it isn't attached to the course. We are on WP Engine if that makes any difference.

[2017-03-17 16:09] lisaleague commented on #1742
Are you using Post Type Switcher by any chance? Deactivate that while you edit any Sensei lessons.

[2017-03-17 17:12] benbodhi commented on #1250
I would love to see this!

[2017-03-17 17:54] contemplate commented on #1742
@lisaleague Yes!  WOW I would have never figured out that conflict.

[2017-03-18 16:53] istrasoft opened #1756 "No way to take quiz without signing up"
Hello, even after checking "Allow this lesson to be viewed without purchase/login" on a Lesson that contains a quiz, a visitor can see the quiz but cannot submit it as the button to do so is missing.

Instead, there is a message displayed saying : "Please sign up for the course before taking this quiz".

This is kinda contradictory. What would be really great and would make sense, is to allow a vi

[2017-03-20 17:11] #1755 closed

[2017-03-20 19:21] aheckler commented on #1700
549754-zd-woothemes

[2017-03-20 22:19] philipedr commented on #1700
I'm facing the same problem!!  any definitive fix for that?

[2017-03-21 00:40] #1588 closed

[2017-03-21 22:31] lschuyler commented on #1700
possibly 545881-zd-woothemes

[2017-03-21 23:15] lschuyler commented on #1752
549289-zd-woothemes

[2017-03-23 02:26] pgk commented on #1456
@richardmtl @danjjohnson I have added what was suggested here on #1759

[2017-03-24 01:43] lschuyler opened #1761 "Register form asks for password that is ignored by WordPress"
When a user needs to register to take a course, they are shown a form with 3 field:
- username
- email address
- password

When they enter these, they receive an email from the WordPress installation saying "To set your password, visit the following address:" and when they click the link, they are prompted to reset the password.

Should we eliminate the first password field as it doesn't seem to s

[2017-03-24 11:20] #1456 closed

[2017-03-24 11:22] pgk commented on #1727
In #1759 I added the ability to customize the format of question points (defaults to e.g. `[Points: 1]`)

[2017-03-24 11:22] #1727 closed

[2017-03-24 14:19] pgk commented on #1428
closed in #1727

[2017-03-24 14:19] #1428 closed

[2017-03-25 03:28] contemplate opened #1763 "Scheduled Products not selectable in WooCommerce Product drop down"
We often schedule course products for particular publish dates & times.  However once they are marked as "scheduled" in Woocommerce we can not select the product from the dropdown in the Course editor.  If the product is in draft we can find it but not when it is scheduled.  This has caused confusion as  some course editors think no product is tied to the course for purchase.

Looks like the fix m

[2017-03-27 16:43] kadimi opened #1765 "Minor typo."
#1764

[2017-03-27 17:55] pgk opened #1766 "Add action/filter documentation where it's missing"
Do it peacemeal as we go, link PR's to this issue

[2017-03-28 17:33] lschuyler commented on #1700
552337-zd-woothemes

[2017-03-28 17:53] aheckler commented on #1657
553063-zd-woothemes

[2017-03-29 08:09] kadimi opened #1767 "Quiz title not localization friendly"
Hi,

This line in `Sensei_Quiz::single_quiz_title` makes quiz titles untranslatable as it will always append the word 'Quiz' to do title in any language.

[code]

[2017-03-29 08:24] pgk commented on #1722
Closing as can't reproduce. Seems to behave as expected in master.

[2017-03-29 08:24] #1722 closed

[2017-03-29 08:28] #1765 closed

[2017-03-29 13:15] balcsida commented on #1742
@lisaleague I have the same problem and I used Post Type Switcher before but it is completely removed and deactivated now and I still experience the same issue :|

[2017-03-29 16:12] lisaleague commented on #1742
@balcsida are you using anything like Duplicate Post plugin?
I deactivate Duplicate Post, Duplicate Menu and Post Type Switcher and other similar utility type plugins when I work on Sensei.

[2017-03-29 23:00] aheckler commented on #1722
WFM now as well ¯\\_(ツ)_/¯

[2017-03-30 09:03] braders opened #1769 "Compatibility issue with Safe Redirect Manager plugin"
I have recently been setting up a new Sensei/ WordPress site, and started getting an occasional Notice in my log files:

`PHP Notice:  map_meta_cap was called <strong>incorrectly</strong>. The post type sensei_message is not registered, so it may not be reliable to check the capability "edit_post" against a post of that type. Please see <a href="https://codex.wordpress.org/Debugging_in_WordPress">

[2017-03-30 12:24] cena commented on #1489
552768-zd-woothemes is same guy as 548393 with additional info.  Can't discern pattern to randomization issue.

[2017-03-30 14:48] #1741 closed

[2017-03-30 21:11] pgk commented on #1761
Which version of wordpress? Sensei? Maybe related but this notice was triggered

[code]

[2017-03-30 21:13] lschuyler commented on #1761
I was able to replicate this with WordPress 4.7.3 and Sensei 1.9.12

[2017-03-30 21:22] pgk commented on #1761
This email is sent whenever `wp_new_user_notification ` is called. It is it's default behaviour to be worded like this (prompting the user to switch password). https://developer.wordpress.org/reference/functions/wp_new_user_notification/

The initial password the user sets is working and they can use it to login.

Agree that the notification email is misleading, maybe there is value in not using `

[2017-03-31 00:04] crystalhealer1 commented on #966
So...it seems like maybe this is a function that's available in the "analysis" portion of Sensei LMS.  According to this post it can be done - http://ideas.woocommerce.com/forums/191508-sensei/suggestions/4771658-in-analysis-show-and-export-first-last-name-em but I've looked high and low for documentation about this and can't find any.  I REALLY need to be able to do this...and it seems like a rat

[2017-03-31 16:43] lschuyler opened #1771 "Multi Line Quiz responses displayed as HTML if saved and resumed"
If a user works on a quiz, saves it, and comes back to it later, any formatting they had used in a Multi-Line answer switches from the WYSIWYG formatting to HTML.

Example:

Entering my answer as a learner:
![screen shot 2017-03-31 at 9 29 34 am](https://cloud.githubusercontent.com/assets/4307088/24559717/94791a12-15f4-11e7-88a1-a70b25b2fcf0.png)

Then I save the quiz, don't submit it, and return

[2017-03-31 23:35] lschuyler commented on #966
Requested in 554633-zd-woodthemes

[2017-04-04 07:07] danjjohnson opened #1772 "Go to next module instead of next lesson"
If you complete the last lesson in a module and click the Next Lesson button, it takes you straight to the first lesson in the next module, skipping the module page.

The user would like the option to change that to "Next Module" and have it go to the single module page which contains a description of the module.

552187-zd-woothemes

[2017-04-04 10:54] gripgrip opened #1774 "Use $wpdb->users instead of $wpdb->prefix in class-sensei-db-query-learners.php"
In class-sensei-db-query-learners.php the query assumes the table names, ignoring [CUSTOM_USER_TABLE](https://codex.wordpress.org/Editing_wp-config.php#Custom_User_and_Usermeta_Tables).
Replacing them with `$wpdb->users` and `$wpdb->comments` fixes it. #1773

[2017-04-04 14:45] sgn1975 opened #1775 "Sensei plugin v1.9.6 Auto Answer Feedback - Incorrect answers not displayed"
Hi,

 currently using the Wordpress Sensei ( v1.9.6 ) plugin which has worked totally fine up until last weekend - suddenly no Incorrect - Right Answer: red text answers are displayed if any of the quiz answers were incorrect.

Even though the following settings are enabled for each quiz:

Grade quiz automatically Grades quiz and displays answer explanation immediately after completion. Only appli

[2017-04-04 15:52] mikejolley opened #1776 "Select2 Conflict with WooCommerce 3.0"
WC 3.0 updated to Select2 v4 which is not compatible with v3 used in Sensei.

Documented here https://github.com/woocommerce/woocommerce/wiki/2.6.x-to-3.0.0-Developer-Migration-Notes#select2-version-4

Reported here: https://wordpress.org/support/topic/sensei-conflic-with-3-0-0/

@dwainm

[2017-04-04 20:54] pgk commented on #1776
Going to include #1777 into Sensei v1.9.13

[2017-04-05 07:34] danjjohnson opened #1778 "Module hierarchy"
It's possible to assign a 'Parent Module' when creating a module, but this doesn't actually have any effect and the hierarchy is not used by Sensei.

Should we disable the ability to assign a parent module?

555543-zd-woothemes

[2017-04-05 13:27] dougaitken commented on #966
Requested / asked about in 556026-zd-woothemes

[2017-04-05 16:18] wyckoffsmi commented on #1776
Can you please send me this update so I can fix my site? Thanks alot.

[2017-04-06 10:09] richardmtl opened #1779 "Upload or embed images as quiz answers"
Currently, there is no way to upload an image (or embed an image URL) as a quiz **answer**. It could be useful for some quizzes to be able to have the quiz answers be images instead of text (think of an art class, for example, or a coding class with an image of a code snippet).

[2017-04-06 10:18] richardmtl opened #1780 "Don't strip line breaks in answers"
In answer text, line breaks appear to be stripped. If an answer is a code snippet, this renders the snippet much harder to read.

[2017-04-06 17:59] #1776 closed

[2017-04-07 04:37] nguyenduytu3i opened #1781 "Select2 not working in Woocommerce 3.0.1 when Sensei plugin activated."
Select2 not working in Woocommerce 3.0.1 when Sensei plugin activated.

Products -> Add Product -> Linked Products.

Up-sells and Cross-sells can't select:
http://prnt.sc/etftau
http://prnt.sc/etftn6

[2017-04-07 15:04] pgk commented on #1781
Duplicate of #1776

[2017-04-07 15:04] #1781 closed

[2017-04-08 11:02] richardmtl opened #1782 "Modules: () appearing beside module name on imported content"
On a site that had imported courses, modules and lessons, the Module names in the dropdown on the Lesson Edit screen have () beside the names. Something to do with the course not being mapped properly to a user on the new site?

[2017-04-08 11:49] pgk commented on #1779
Note to self: this is for multiple choice questions

[2017-04-08 11:51] pgk commented on #1775
Hi @sgn1975 can you test with the latest sensei version on a staging site?

[2017-04-08 16:48] pgk commented on #1752
@aheckler @lschuyler possible solution in https://github.com/Automattic/sensei/commit/968198f06e8fd145982798e57ea0aa5317efc1a5

My Courses page (not shortcode) ordering now respects any custom Course Ordering

[2017-04-08 16:50] #1767 closed

[2017-04-08 16:51] #1769 closed

[2017-04-08 16:52] pgk commented on #1645
can repro, was about to open a separate ticket for this

[2017-04-11 05:46] AiratHalitov opened #1784 "Missing png-files"
#### Missing files:
[code]

#### Referrer:
`woothemes-sensei/assets/css/ranges.css?ver=1.9.13`

#### Info:
* Sensei 1.9.13
* WordPress 4.7.3

[2017-04-12 08:31] thadroe opened #1786 "Minor syntax in course categories widget"
Duplicate closing p tag.

PR #1787

[2017-04-12 21:31] pgk commented on #1786
merged

[2017-04-12 21:31] #1786 closed

[2017-04-14 18:47] contemplate opened #1789 "Fix: Course & Lesson editor broke after WooCommerce 3.0 update"
I noticed both the Course & Lesson editor broke after WooCommerce 3.0 update.  They appear to break on old variation data in the database which is tied to a parent product which no longer exists.

To fix this I made the following defensive edits to check for the product object:

**/include/class-sensei-lessons.php around line 623 change this:**

[code]

to this:

[code]

**and then edit /include/c

[2017-04-17 08:05] rachelsquirrel commented on #1789
Similar reports in zd-560931 and zd-561152

[2017-04-17 08:55] rachelsquirrel commented on #1789
Possible also zd-562345

[2017-04-17 10:11] rachelsquirrel commented on #1789
Also zd-562677

[2017-04-17 10:13] rachelsquirrel commented on #1752
Also reported in zd-562696

[2017-04-17 12:14] rachelsquirrel commented on #1789
zd-563785

[2017-04-17 12:15] rachelsquirrel commented on #1789
zd-563804

[2017-04-18 04:01] toniburt commented on #1352
This is happening to me today.  I have a very basic setup with sensei, I am not a programmer which is why I am using this program for my classes.  I launched a new class and in 2 hours had around 20 purchase the class.  Only about half of those got added to the course, and this was completely random.  The second person to buy the class was not added, so I don't think it is any server overload.   S

[2017-04-18 08:15] aalmenar commented on #1789
This edits fixed the problem for me. I have report zd-562568.

[2017-04-18 11:15] aheckler commented on #1752
@davoraltman @bikedorkjon Can y'all test @pgk's solution above as part of the Hive?

[2017-04-18 11:23] aheckler commented on #1352
@toniburt If you filed a support ticket, we'll help you there. 😃

[2017-04-18 16:17] annezazu commented on #1789
zd-559676

[2017-04-18 16:22] annezazu commented on #1789
zd-562140 500 error: https://cloudup.com/cyAZWdbjx5U

[2017-04-18 16:27] annezazu commented on #1789
zd-563998

[2017-04-19 12:30] braders commented on #1713
The other question types also have accessibility issues; for example the file upload & gap fill fields have no labels.

I would suggest making two changes;

1. Wrap all questions in a fieldset, and change `get_the_question_title` to use a legend instead of the current span. (Fieldset's are less effective on single input questions, such as boolean, but this would keep the `get_the_question_title` l

[2017-04-19 13:44] braders opened #1790 "Allow greater access to `action_buttons()`"
It would be great if there was a bit more developer control over this function. In particular, things I would like to do, which are currently difficult are:

- Use a standard `button` class for each of the `input[type=buttons]` elements. Luckily, I have full control over my CSS and so can use the quiz-submit class, but this would not be possible if using a library like bootstrap.
- Add extra butto

[2017-04-19 13:54] danjjohnson commented on #1657
@pgk any idea where the limit is coming from, so we can advise users where to look until this is fixed?

[2017-04-19 15:57] braders opened #1791 "Inconsistant @hooked docblocks/ comments"
Sensei templates currently document what functions are hooked to actions and filters with the `@hooked` docblock tag. This matches what WooCommerce does.

However, there are multiple instances where these comments are not accurate - Specifically where `@hooked` comments are missing.

A couple of examples that I have come across today (action/ filter first, function second, template last):
 - `sens

[2017-04-19 20:53] auz1111 commented on #1042
Has the ability to use option "a" been added at this time? We are needing to use such a feature.

[2017-04-19 22:45] auz1111 commented on #1042
Also, the issue with setting the question grade to 0 is that the user can skip the question without filling in any answer at all.  We need to make sure they fill in at least one option.

[2017-04-20 13:03] rachelsquirrel opened #1792 "Can't add course when editing Module"
Go to Courses > Modules and create a new module. Try to use the "Course(s)" search field at the bottom to add a course.

![modules](https://cloud.githubusercontent.com/assets/7946521/25231925/92bfda70-25d1-11e7-8afe-8728ccaaa74a.png)

Nothing shows up in the results even when there's an existing course starting with that search term.

Reported in #564251-t

[2017-04-20 13:07] lisaleague commented on #1792
Having the same issue with Sensei + WooCommerce Memberships when trying to add member here - /wp-admin/edit.php?post_type=wc_user_membership search will not pick up any users

[2017-04-20 18:33] danjjohnson commented on #1789
565755-zd-woothemes

[2017-04-21 07:31] danjjohnson commented on #1789
Note: Seeing this error in the 'WooCommerce Product' metabox on the course edit screen:

[2017-04-21 07:34] danjjohnson commented on #1789
And on the Lesson edit screen, this is in the 'Lesson Course' metabox: